$def with (page, title)

$def render_infobox_row(label, itemprop, value):
    $if value:
        <tr>
            <td><strong>$_(label)</strong></td>
            <td><span itemprop="$itemprop">$value</span></td>
        </tr>

<div class="infobox">
    <div class="infobox-name bold">$title</div>
    <div class="illustration">
        $:render_template("covers/author_photo", page)
        $:render_template("covers/change", page, ".bookCover img")
    </div>
    <table>
        $if page.birth_date or page.death_date:
            $:render_infobox_row("Born", 'birthDate', page.birth_date)
            $:render_infobox_row("Died", 'deathDate', page.death_date)
        $elif page.date:
                $:render_infobox_row("Date", '', page.date)
    </table>
</div>
