$def with ()

$var title: Subjects

<div id="contentHead">
    <h1>Subjects</h1>
</div>


<div id="contentBody">
	<p>Browse the wonderful world of Subject Headings. It's a bit like a thesaurus, only better!
	</p>
	<form action="/search/subjects" class="olform">
	    <h2 class="collapse"><label for="searchSubjects">Subject Search</label>  <span class="sansserif grey smaller">Try a keyword.</span></h2>
	    <p>
	        <input type="text" name="q" id="searchSubjects" size="100" class="larger" value=""/>
	        <button type="submit" class="larger" name="search">Search</button>
	    </p>
	</form>
	<div class="contentQuarter">
    	<h3>Subjects</h3>
    	<ul>
    	 <li>
    	     <a href="/subjects/halley's_comet" rel="nofollow">Halley's Comet</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/steam-engines" rel="nofollow">Steam Engines</a>, <a href="/subjects/space_flight" rel="nofollow">Space flight</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/gold_discoveries" rel="nofollow">Gold discoveries</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/games" rel="nofollow">Games</a>, <a href="/subjects/athletes" rel="nofollow">Athletes</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/type_and_type-founding" rel="nofollow">Type and Type-Founding</a>, <a href="/subjects/incunabula" rel="nofollow">Incunabula</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/Lepidoptera" rel="nofollow">Lepidoptera</a>, <a href="/subjects/fishes" rel="nofollow">Fishes</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/electrons" rel="nofollow">Electrons</a>, <a href="/subjects/x-rays" rel="nofollow">X-Rays</a> &amp; <a href="/subjects/scattering" rel="nofollow">Scattering</a>
    	 </li>
    	</ul>
	</div>
	<div class="contentSpacer">
	</div>
	<div class="contentQuarter">
    	<h3>Places</h3>
    	<ul>
    	 <li>
    	     <a href="/subjects/place:borneo" rel="nofollow">Borneo</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/place:istanbul_%28turkey%29" rel="nofollow">Istanbul</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/place:new_york" rel="nofollow">New York</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/place:versailles_%28france%29" rel="nofollow">Versailles</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/place:west_indies" rel="nofollow">West Indies</a>
    	 </li>
    	</ul>
	</div>
	<div class="contentSpacer">
	</div>
	<div class="contentQuarter">
    	<h3>People</h3>
    	<ul>
    	 <li>
    	     <a href="/subjects/person:elizabeth_i_queen_of_england_%281533-1603%29" rel="nofollow">Elizabeth I</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/person:joan_mir%C3%B3_%281893-1983%29" rel="nofollow">Joan Miró</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/person:abraham_lincoln_%281809-1865%29" rel="nofollow">Abraham Lincoln</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/person:hokusai_katsushika_%281760-1849%29" rel="nofollow">Hokusai Katsushika</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/person:simone_de_beauvoir_%281908-1986%29" rel="nofollow">Simone de Beauvoir</a>
    	 </li>
    	</ul>
	</div>
	<div class="contentSpacer">
	</div>
	<div class="contentQuarter">
    	<h3>Times</h3>
    	<ul>
    	 <li>
    	     <a href="/subjects/time:1918-1945" rel="nofollow">1918-1945</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/time:third_republic_1870-1940" rel="nofollow">Third Republic, 1870-1940</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/time:medieval_500-1500" rel="nofollow">Medieval, 500-1500</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/time:conquest_1519-1540" rel="nofollow">Conquest, 1519-1540</a><br/>
    	 </li>
    	 <li>
    	     <a href="/subjects/time:cretaceous" rel="nofollow">Cretaceous</a>
    	 </li>
    	</ul>
	</div>
	<div class="clearfix">
	</div>
	<h3>Special Subjects</h3>
	<p>We also use subjects on Open Library to gather together books that you can read in some form now, like:
	</p>
	<p><img src="/images/icons/icon_ebook-avail.png" align="middle" hspace="3" alt="Read Icon: Look for this icon to indicate a free eBook"/> <a href="/subjects/accessible_book#ebooks=true" rel="nofollow">Accessible book</a> - Over 3,000,000 free eBooks, available to all in a variety of formats
	</p>
	<p><img src="/images/icons/icon_pdaisy-avail.png" align="middle" hspace="3" alt="DAISY (lock) Icon: Look for this to indicate an eBook available in DAISY format"/> <a href="/subjects/protected_daisy#ebooks=true" rel="nofollow">Protected DAISY</a> - Over 1,000,000 modern works, available for the U.S. print-disabled community
	</p>
	<p><img src="/images/icons/icon_borrow-avail.png" align="middle" hspace="3" alt="Borrow icon: Look for this to indicate a borrowable eBook"/> <a href="/subjects/in_library#ebooks=true" rel="nofollow">Lending library</a> - Over 200,000 eBooks available to anyone to borrow, 1 copy at a time, for 2 weeks
	</p>
    <!--
	<p><img src="/images/icons/icon_borrow-avail.png" align="middle" hspace="3" alt="Borrow icon: Look for this to indicate a borrowable eBook"/> <a href="/subjects/in_library#ebooks=true" rel="nofollow">In Library</a> - Find out more about <a href="/borrow" rel="nofollow">our In-Library lending program</a>. <br/> 
	</p>
    -->
    
	<h3>What's a subject heading?</h3>
	<p>As the wise Wikipedia <a href="http://en.wikipedia.org/wiki/Library_of_Congress_Subject_Headings" rel="nofollow">says</a>: "LC Subject Headings are an integral part of bibliographic control, which is the function by which libraries collect, organize and disseminate documents. LCSHs are applied to every item within a library’s collection, and facilitate a user’s access to items in the catalogue that pertain to similar subject matter."
	</p>
	<p><em>Side note:</em> Interestingly, professional library catalogers are often restricted to a limit of 3 in the number of subjects they may use. We collect general subjects, places mentioned, people mentioned, and even the time period the book is about. Feel free to imitate or enhance existing headings, or create an entirely new one. Or two. Or three. Or five.
	</p>
</div>