$def with (work_ids)

<form action="/tags/bulk_tag_works?debug=True" method="post" id="bulk-tagging-form">
    <div id="form-header">
        <p id="form-header-text">Manage Subjects</p>
        <div id="close-bulk-tagging-form">x</div>
    </div>
    <div id="search-container">
        <input type="text" id="subjects-search-input" placeholder='Filter subjects e.g. Epic'>
    </div>
    <div id="subjects-search-results">

    </div>
    <input id="tag-work-ids" name="work_ids" value="$work_ids">
    <input id="tag-subjects" name="tag_subjects" value="">
    <div id="selected-tag-subjects"></div>
    <button type="submit" id="bulk-tagging-submit">Submit</button>
</form>
