$def with(feed, feed_url, follows_others)

$# Renders the given feed in a container filled with cards.
$#
$# * feed (list)              -- List of recent bookshelf events
$# * feed_url (string)        -- `href` for the feed's source
$# * follows_others (boolean) -- `True` if the authenticated patron follows at least one person

$code:
    shelf_id_to_name = {
        1: _('Want to Read'),
        2: _('Currently Reading'),
        3: _('Already Read')
    }
    shelf_id_to_path_segment = {
        1: '/want-to-read',
        2: '/currently-reading',
        3: '/already-read'
    }

$def activity_card_header(book_title, book_key, author_name, author_key):
    <div class="activity-feed-card__header">
        <a class="activity-feed-card__header-title" href="$book_key">$book_title</a>
        $if author_key:
            <a class="activity-feed-card__header-author" href="$(author_key)">$author_name</a>
    </div>

$def activity_card_footer(username, shelf_id, show_follow=False):
    $ user_key = "/people/%s" % username
    $ avatar_url = "%s/avatar" % user_key
    $ shelf_url = "%s/books%s" % (user_key, shelf_id_to_path_segment[shelf_id])
    <div class="activity-feed-card__footer">
        <div class="activity-feed-card__user">
            <a href="$user_key/books">
                <img src="$avatar_url" alt="$_('Avatar of the owner of the list')">
            </a>
            <div class="activity-feed-card__footer-copy">
                $:_('<a class="activity-feed-card__user-link" href="%(user_key)s/books">@%(username)s</a> added to <a href="%(shelf_url)s">shelf</a>', user_key=user_key, username=username, shelf_url=shelf_url)
            </div>
            $if show_follow:
                <div>
                    $:macros.Follow(username, request_path="/account/books")
                </div>
        </div>
    </div>

$if not follows_others:
    <p>$_("Here's the latest activity around the library. Follow readers to personalize your feed.")</p>
$elif not feed:
   <p>$_("None of the people that you follow have logged books.  When they do, you'll see it here.")</p>
<div class="activity-feed">
    $for i in feed:
        $ work = i.get('work')
        $ book_title = work.get('title')
        $if i.get('edition_id'):
            $ book_key = '/books/OL%sM' % i.get('edition_id')
        $else:
            $ book_key = work.get('key')
        $if work.get('author_key', []) and work.get('author_key')[0]:
            $ author_key = '/authors/%s' % work.get('author_key')[0]
        $else:
            $ author_key = None
        $if work.get('author_name', []) and work.get('author_name')[0]:
            $ author_name = work.get('author_name')[0]
        $else:
            $ author_name = _('Unknown author')
            $ author_key = None
        $ card_header_html = activity_card_header(book_title, book_key, author_name, author_key)

        $ shelf_id = i.get('bookshelf_id')
        $ occurred_on = datestr(i.get("created"))
        $ bookcover_url = '//covers.openlibrary.org/'
        $if i.get("edition_id"):
            $ bookcover_url += "b/olid/OL%sM-M.jpg" % i.get("edition_id")
        $else:
            $ bookcover_url += "w/olid/OL%sW-M.jpg" % i.get("work_id")
        $ username = i.get('username')
        $ card_footer_html = activity_card_footer(username, shelf_id, show_follow=(not follows_others))
        $:render_template("cards/multi_image_card", image_urls=[bookcover_url], header_html=card_header_html, footer_html=card_footer_html, href=book_key)
</div>
