$def with(username)

$# Renders the given feed in a container filled with cards.
$#
$# * username (string) -- Username of a patron

$code:
    feed_url = '/people/%s/books/feed' % username
    feed, follows_others = get_activity_feed(username)
    shelf_id_to_name = {
        1: _('Want to Read'),
        2: _('Currently Reading'),
        3: _('Already Read')
    }
    shelf_id_to_path_segment = {
        1: '/want-to-read',
        2: '/currently-reading',
        3: '/already-read'
    }

$def activity_feed_card(card_header, card_footer):
    <div class="activity-feed-card">
        $:card_header
        $:card_footer
    </div>

$def activity_card_body(book_title, author_name, cover_url, subtitle=""):
    <div class="activity-feed-card__body">
        <div class="activity-feed-card__cover-image">
            <img src="$cover_url">
        </div>
        <div class="activity-feed-card__book-details">
            <span class="activity-feed-card__book-title">$book_title</span>
            <span class="activity-feed-card__author-name">$author_name</span>
            $if subtitle:
                <span class="activity-feed-card__book-subtitle">$subtitle</span>
        </div>
    </div>

$def activity_card_footer(username, shelf_id, time_occurred, show_follow=False):
    $ user_key = "/people/%s" % username
    $ avatar_url = "%s/avatar" % user_key
    $ shelf_url = "%s/books%s" % (user_key, shelf_id_to_path_segment[shelf_id])
    $ shelf_name = shelf_id_to_name[shelf_id]
    <div class="activity-feed-card__footer">
        <a class="activity-feed-card__avatar" href="$user_key/books">
            <img src="$avatar_url" alt="$_('Avatar of the owner of the list')">
        </a>
        <div class="activity-feed-card__footer-copy">
            <div>@$(username)</div>
            <div><a class="shelf-link" href="$shelf_url">$shelf_name</a> &#8226; $time_occurred</div>
        </div>
        $if show_follow:
            <div>
                $:macros.Follow(username, request_path="/account/books")
            </div>
    </div>

$if not follows_others:
    <p>$_("Here's the latest activity around the library. Follow other readers to personalize your feed.")</p>
$elif not feed:
   <p>$_("None of the people that you follow have logged books.  When they do, you'll see it here.")</p>

<div class="activity-feed">
    $for i in feed:
        $ work = i.get('work')
        $ book_title = work.get('title')
        $if work.get('author_name', []) and work.get('author_name')[0]:
            $ author_name = work.get('author_name')[0]
        $else:
            $ author_name = _('Unknown author')
        $ bookcover_url = '//covers.openlibrary.org/'
        $if i.get("edition_id"):
            $ bookcover_url += "b/olid/OL%sM-M.jpg" % i.get("edition_id")
        $else:
            $ bookcover_url += "w/olid/OL%sW-M.jpg" % i.get("work_id")
        $ card_header_html = activity_card_body(book_title, author_name, bookcover_url, subtitle=i.get('subtitle'))

        $ shelf_id = i.get('bookshelf_id')
        $ occurred_on = datestr(i.get("created"), format='compact')

        $ actor_username = i.get('username')
        $ card_footer_html = activity_card_footer(actor_username, shelf_id, occurred_on, show_follow=(not follows_others))
        $:activity_feed_card(card_header_html, card_footer_html)
</div>
