$def with (docs, key, shelf_counts, doc_count, lists=None, user=None, logged_in_user=None, public=False, sort_order='desc', owners_page=False, q="", results_per_page=25, ratings=[], checkin_year=None)

$# Displays a user's reading log
$# :param list docs:
$# :param Literal['currently-reading', 'want-to-read', 'already-read', 'sponsorships', 'loans', 'notes', 'observations'] key:
$# :param Dict[str: int] shelf_counts:
$# :param list? lists:
$# :param user:
$# :param bool public:
$# :param str q: search term.

$ component_times = {}
$ component_times['TotalTime'] = time()

$ username = user.key.split('/')[-1]

$ current_page = int(input(page=1).page)
$ total_docs = shelf_counts.get(key, None)

$ userDisplayName = user.displayname or ctx.user.displayname
$ userKey = user.key or ctx.user.key

$ header_title = ""

$ padding = ""

$if key == 'mybooks':
  $ header_title = _("My Books")
  $ padding = "no-padding"
$elif key == 'currently-reading':
  $ header_title = _("Currently Reading")
$elif key == 'want-to-read':
  $ header_title = _("Want to Read")
$elif key == 'already-read':
  $ header_title = _("Already Read")
$if not header_title:
  $if key == 'sponsorships':
    $ header_title = _("Sponsorships")
  $elif key == 'notes':
    $ header_title = _("My Notes")
  $elif key == 'observations':
    $ header_title = _("My Reviews")
  $elif key == 'loans':
    $ header_title = _("My Loans")
  $elif key == 'imports':
    $ header_title = _("Imports and Exports")
  $elif key == 'lists':
    $ header_title = _("My Lists")
  $elif key == 'list':
    $ header_title = docs.get('name', 'List')
  $else:
    $ header_title = key

$var title: $header_title

$ url_prefix = "/people/" + username
$ readlog_url = url_prefix + "/books/%s/"
$ options = [
$   (_("Want to Read (%(count)d)", count=shelf_counts['want-to-read']), readlog_url % "want-to-read"),
$   (_("Currently Reading (%(count)d)", count=shelf_counts['currently-reading']), readlog_url % "currently-reading"),
$   (_("Already Read (%(count)d)", count=shelf_counts['already-read']), readlog_url % "already-read"),
$   (_("My Lists (%(count)d)" if owners_page else "Lists (%(count)d)", count=len(lists)) , url_prefix + "/lists")
$ ]
$if owners_page:
  $ options += [
  $   (_("My Loans"), "/account/loans"),
  $   (_("My Notes"), url_prefix + "/books/notes"),
  $   (_("My Reviews"), url_prefix + "/books/observations"),
  $   (_("Imports and Exports"), "/account/import")
  $ ]

<div class="mybooks">

  $:render_template("account/sidebar", user, key=key, public=public, owners_page=owners_page, counts=shelf_counts, lists=lists, component_times=component_times)

  <div class="mybooks-details $padding">
    $if key == 'mybooks':
      $ component_times['Yearly Goal Banner'] = time()
      $ year = get_reading_goals_year()
      $ current_goal = get_reading_goals(year=year)

      $# Is date between 1 Dec and 1 Feb?
      $this_year = get_reading_goals_year()
      $next_year = year + 1
      $current_goal = get_reading_goals(year=this_year)
      $next_goal = get_reading_goals(year=next_year)
      
      $if (within_date_range(1, 1, 11, 30) and not current_goal) or (within_date_range(12, 1, 12, 31) not next_goal):
              $ cta_copy = _('Set your %(year)s Yearly Reading Goal:', year=year)
        $ btn_copy = _('Set my goal')
        $ announcement =  '%s <a class="btn primary set-reading-goal-link" data-ol-link-track="MyBooksLandingPage|SetReadingGoal"href="javascript:;">%s</a>' % (cta_copy, btn_copy)

        $ cookie_name = 'yrg'

        $:render_template('site/banner', announcement, cookie_name, cookie_duration_days=65)
      $ component_times['Yearly Goal Banner'] = time() - component_times['Yearly Goal Banner']


    $ component_times['Details header'] = time()
    <header>
      <div>
        <div class="sansserif grey account-settings-menu">
	  $# Only show breadcrumbs when we're not on mybooks
          $if key != 'mybooks':
            $if not owners_page:
	      <a href="$userKey">
	        ← <span>$userDisplayName</span></a>
            $else:
              <a href="/account/books">
                ← <span>$_("My Books")</span></a>
            &raquo;

            $if key == 'list':
	      $ list_url = "/account" if owners_page else userKey
              <a href="$(list_url)/lists"><span>$(_("%(userDisplayName)s's Lists", userDisplayName=userDisplayName) if not owners_page else _("My Lists"))</span></a>
	      &raquo;

	    $else:
              $:render_template("books/breadcrumb_select", key=key, selected=header_title, options=options)
        </div>
        <div>
          $if key in ['mybooks', 'list']:
            <h1 class="details-title">
	      $header_title
	    </h1>

          $if owners_page and (key in ['currently-reading', 'already-read', 'want-to-read'] and not checkin_year):
            <a href="$ctx.path/stats" title="$_('View stats about this shelf')">$_('Stats')</a>
        </div>

        $if owners_page:
          <p>
            $if key == 'notes':
              $_('Your book notes are private and cannot be viewed by other patrons.')
            $elif key == 'observations':
              $_('Your book reviews will be shared anonymously with other patrons.')
            $elif key in ['currently-reading', 'already-read', 'want-to-read']:
              $if public:
                $_('Your reading log is currently set to public')
                <button onclick="prompt('Copy share link to clipboard:', window.location.protocol + '//' + window.location.hostname + '/people/$(username)/books/$(key)');">Share</button> or
              $else:
                $_('Your reading log is currently set to private')
              &mdash;
              <a href="/account/privacy">$_('Manage your privacy settings')</a>
          </p>
      </div>
      $if key == 'list':
        <div>
          $:macros.databarView(docs)
        </div>
    </header>
    $ component_times['Details header'] = time() - component_times['Details header']
    $ component_times['Details content'] = time()
    <div class="details-content">
    $if key == 'mybooks':
      $:render_template('account/mybooks', logged_in_user, docs, key=key, public=public, owners_page=owners_page, counts=shelf_counts, lists=lists, component_times=component_times)
    $elif key == 'loans':
      $:render_template('account/loans', logged_in_user, docs)
    $elif key == 'notes':
      $:render_template('account/notes', docs, user, shelf_counts['notes'], page=current_page)
    $elif key == 'observations':
      $:render_template('account/observations', docs, user, shelf_counts['observations'], page=current_page)
    $elif key == 'imports':
      $:render_template('account/import')
    $elif key == 'lists':
      $:render_template('lists/lists', docs, lists, show_header=False)
    $elif key == 'already-read':
      $:render_template('account/reading_log', docs, key, shelf_counts[key], doc_count, owners_page, current_page, sort_order=sort_order, user=user, include_ratings=owners_page, q=q, results_per_page=results_per_page, ratings=ratings, checkin_year=checkin_year)
    $elif key in {'currently-reading', 'want-to-read', 'sponsorships'}:
      $:render_template('account/reading_log', docs, key, shelf_counts[key], doc_count, owners_page, current_page, sort_order=sort_order, user=user, q=q, results_per_page=results_per_page)
    $else:
      $:render_template('type/list/view', docs, check_owner=False, owns_page=True)
    </div>
    $ component_times['Details content'] = time() - component_times['Details content']
  </div>
</div>

$ component_times['TotalTime'] = time() - component_times['TotalTime']
$if query_param('debug'):
  $:macros.Profile(component_times)
