$def with (form)

$var title: $_("Sign Up to Open Library")

<div id="contentHead">
    <h1>$_("Sign Up")</h1>
    $if not ctx.user:
        <p class="instruct">$_("Complete the form below to create a new Internet Archive account.")
        <span class="attn remind">$_("Each field is required")</span></p>
</div>

<div id="contentBody">

<script type="text/javascript">
window.q.push( function(){
    \$('#username').keyup(function(){
        var value = \$(this).val();
        \$('#userUrl').addClass('darkgreen').text(value).css('font-weight','700');
    });
});
</script>

$def field(input, label, help_text='', id=None, input_attrs='', suffix=''):
    $# :param openlibrary.utils.form.Input input:
    $# :param str label: User visible label
    $# :param str help_text: User visible help text
    $# :param str id: As used in HTML
    $# :param str input_atts:
    $# :param str suffix: HTML to put at bottom of input

    $ id = id or input.name
    <div class="formElement">
        <div class="label">
            <label for="$id">$label</label>
            $if help_text:
                <span class="smaller lighter">$help_text</span>
        </div>
        <div class="input">
            <input type="text" class="required $input.name" name="$input.name" id="$id" value="$input.value" $:input_attrs/>
            $if input.note:
                <span class="invalid clearfix">$input.note</span>
            $if suffix:
                <div class="sansserif smaller lighter">$:suffix</div>
        </div>
    </div>

$if ctx.user:
    $def user_link(): <a href="$ctx.user.key">$ctx.user.displayname</a>
    <p>$:_("You are already logged into Open Library as %(user)s.", user=str(user_link()))</p>
    <p>$:_('If you\'d like to create a new, different Open Library account, you\'ll need to <a href="javascript:;" onclick="document.forms[\'logout\'].submit()">log out</a> and start the signup process afresh.')</p>
$else:
    <form class="olform create validate" name="signup" method="post" action="">
        $if form.note:
            <div class="note">$form.note</div>

        $def screenname_url(): https://openlibrary.org/people/<span id="userUrl">$_('screenname')</span>

        $:field(form.email, _("Your email address"), id="emailAddr")
        $:field(form.username, _("Choose a screen name"), help_text=_("Letters and numbers only please, and at least 3 characters."), input_attrs='autocapitalize="off"', suffix=_('Your URL: %s') % str(screenname_url()))
        $:field(form.password, _("Choose a password"))
        $:field(form.password2, _("Confirm password"))

        $if form.has_recaptcha:
            <div class="formElement">
                <div class="label smaller lighter">$_("If you have security settings or privacy blockers installed, please disable them to see the reCAPTCHA.")</div>
                <div class="g-recaptcha" data-sitekey="$form['recaptcha'].public_key"></div>
                <div class="input">
                    $if form['recaptcha'].error:
                        <span class="invalid clearfix">$_('Incorrect. Please try again.')</span>
                </div>
            </div>

        <div class="formElement">
            <div class="label">
                <input type="checkbox" id="agreement" class="required" name="agreement" value="yes"/> <label for="agreement" class="smaller">$:_("I acknowledge that my use of Open Library is subject to the Internet Archive's <a href='//archive.org/about/terms.php' target='_new' title='Read the Terms of Use in a new browser.'>Terms of Use</a>.")</label>
            </div>
            <div class="input">
            </div>
        </div>
        <div class="formElement bottom">
            <div class="input">
                <br/>
                <button type="submit" name="signup" class="larger">$_("Sign Up")</button>
                &nbsp;
                <a href="javascript:history.go(-1);" class="smaller attn">$_("Cancel")</a>
            </div>
        </div>
    </form>

</div>
