$def with (books=None, books_wo_isbns=None)

$ title = "Import and Export Options"
$var title: $_(title)

<style>
  .table-fixed   { 
    margin-top: 20px; 
    table-layout: auto; 
    width:100%; 
    overflow: scroll;
  }
  .table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }
  .error-imported {
      font-weight: bold;
      color: red;
  }
  .success-imported {
      color: green;
      font-weight: bold;
  }
  tr.table-row.selected{
    border: 2px solid green;
  }
  #myProgress {
  border-radius: 10px;
  width: 100%;
  background-color: #ddd;
  }
  #myBar {
    width: 0%;
    border-radius: 10px;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }
</style>

<div id="contentHead">
    <div class="small sansserif grey account-settings-menu">
      <a href="$ctx.user.key">$ctx.user.displayname</a>
      &raquo;
      <a href="$homepath()/account">$_("Settings")</a>
      &raquo; $title
    </div>
    <h1>$title</h1>
</div>

<div id="contentBody">
  <h3>$_("Import from Goodreads")</h3>
  $if not books:
    <form method="POST" action="/account/import/goodreads?debug=true"
          enctype="multipart/form-data" class="olform olform--decoration">
      <div>
        <input name="username" type="text">
      </div>
      <div>
        <input name="password" type="password">
      </div>
      $_("or")
      <div>
        <input type="file" name="csv" />
        <br>File size limit 10MB and .csv file type only
      </div>
      <div>
        <input class="cta-btn cta-btn--available cta-btn--small"
             type="submit" value="Load Books">
      </div>
    </form>

  $else:  
    <!-- XXX Move to js -->
    <script type="text/javascript">
      
      \$(document).on('click', 'th.toggle-all input', function(){
        var checked = \$(this).attr('checked');
        if(!checked){
          \$(this).removeAttr('checked');
          \$('input.add-book').each(function() {
          \$(this).removeAttr('checked');
          });
        }
        else{
          \$(this).attr("checked", "checked")
          \$('input.add-book').each(function() {
            \$(this).attr('checked', 'checked');
          });
        }
        var l = \$(".add-book[checked*='checked']").size();
        \$('.import-submit').attr('value', 'Import '+ l + ' Books');
      });

      \$(document).on('click', 'input.add-book', function(){
        var checked = \$(this).attr('checked');
        if(!checked){
          \$(this).removeAttr('checked');
        }
        else{
          \$(this).attr("checked", "checked");
        }
        var l = \$(".add-book[checked*='checked']").size();
        \$('.import-submit').attr('value', 'Import '+ l + ' Books');
      });

      function func1(value){
        var l = \$(".add-book[checked*='checked']").size();
        var elem = document.getElementById("myBar");
        elem.style.width = value*(100/l) + "%";
        elem.innerHTML = value  + " Books";
        if(value*(100/l) >= 100){
          elem.innerHTML = "";
          \$("#myBar").append("<a href='/account/books' style='color:white'> Go to your Reading Log </a>");
        }
        console.log(l)
      }

      function importBooks() {
        \$('#myProgress').removeClass('hidden');
        console.log("In Import Books")
        \$('input.import-submit').addClass('hidden');
        \$('th.import-status').removeClass('hidden');
        var count = 0;
        var prevPromise = Promise.resolve();
        \$('input.add-book').each(function(){
              var input = \$(this),
                  checked = input.attr('checked');
              console.log(typeof input.val());
              console.log(input.val());
              var value = JSON.parse(input.val().replace(/'/g,"\""));
              console.log(value);
              console.log(value['Exclusive Shelf']);
              console.log(value['My Rating']);
              var shelf = value['Exclusive Shelf'];
              var shelf_id = 0;
              if(shelf == 'read')
                shelf_id = 3;
              else if(shelf == 'to-read')
                shelf_id = 1;
              else if(shelf == 'currently-reading')
                shelf_id = 2;
              if(checked && shelf_id!=0){
                console.log("Yes----------");
                prevPromise = prevPromise.then(function() { // prevPromise changes in each iteration
                  \$("tr.table-row."+value['ISBN']).addClass('selected');
                  return getWork(value['ISBN']); // return a new Promise
                }).then(function(data) {
                  console.log("Yes----------")
                  \$("tr.table-row."+value['ISBN']).append('<td class="success-imported">Imported</td>')
                  var obj = JSON.parse(data)
                  \$.ajax({
                      url: obj['works'][0].key + '/bookshelves.json',
                      type: 'POST',
                      data: {
                          dont_remove: true,
                          edition_id: obj['key'],
                          bookshelf_id: shelf_id
                      },
                      datatype: 'json',
                      success: function() {
                          console.log("Book Added to the Reading Log");
                          if(value['My Rating']!='0'){
                            \$.ajax({
                              url: obj['works'][0].key + '/ratings.json',
                              type: 'POST',
                              data: {
                                  rating: parseInt(value['My Rating']),
                                  edition_id: obj['key'],
                                  bookshelf_id: shelf_id
                              },
                              datatype: 'json',
                              success: function() {
                                  console.log("Rating Added to the Book");
                                  \$("tr.table-row."+value['ISBN']).removeClass('selected');
                              },
                              fail: function(){
                                  \$("tr.table-row."+value['ISBN']).append('<td class="error-imported" title="Failed to add Rating">Error</td>')
                                  \$("tr.table-row."+value['ISBN']).removeClass('selected');
                              }
                            });
                          }
                        },
                      fail: function(){
                          \$("tr.table-row."+value['ISBN']).append('<td class="error-imported" title="Failed to add book to reading log">Error</td>')
                          \$("tr.table-row."+value['ISBN']).removeClass('selected');
                      }
                  });
                  console.log(obj['key']);
                  console.log(obj['works'][0].key);
                  func1(++count);
                }).catch(function(error) {
                  \$("tr.table-row."+value['ISBN']).append('<td class="error-imported" title="Book not in collection">Error</td>')
                  \$("tr.table-row."+value['ISBN']).removeClass('selected');
                  console.log(error);
                  func1(++count);
                });
              }
              else if(checked && shelf_id == 0){
                \$("tr.table-row."+value['ISBN']).append('<td class="error-imported" title="Book in different Shelf">Error</td>');
                func1(++count);
              }
          });
          \$('td.books-wo-isbn').each(function(){
              \$(this).removeClass("hidden");
          });
      }

      function getWork(isbn) {
        return new Promise(function(resolve, reject) {
          var request = new XMLHttpRequest();

          request.open('GET', '/isbn/' + isbn + '.json');
          request.onload = function() {
            if (request.status === 200) {
              resolve(request.response); // we get the data here, so resolve the Promise
            } else {
              reject(Error(request.statusText)); // if status is not 200 OK, reject.
            }
          };

          request.onerror = function() {
            reject(Error("Error fetching data.")); // error occurred, so reject the Promise
          };

          request.send(); // send the request
        });
      }

      function getWork(isbn) {
        return new Promise(function(resolve, reject) {
          var request = new XMLHttpRequest();

          request.open('GET', '/isbn/' + isbn + '.json');
          request.onload = function() {
            if (request.status == 200) {
              resolve(request.response); // we get the data here, so resolve the Promise
            } else {
              reject(Error(request.statusText)); // if status is not 200 OK, reject.
            }
          };

          request.onerror = function() {
            reject(Error("Error fetching data.")); // error occurred, so reject the Promise
          };

          request.send(); // send the request
        });
      }

    </script>

    <div id="myProgress" class="hidden">
      <div id="myBar"></div>
    </div>

    <form id="myForm" onsubmit="importBooks();return false">
      <input type="submit" class="import-submit cta-btn cta-btn--unavailable" value="Import $len(books) Books">
      $ keys = ['ISBN', 'Title', 'My Rating', 'Exclusive Shelf']
      <table class="import-table table-fixed" style="max-height: 360px;">
        <thead>
          <tr>
            <th class="toggle-all">
              <input type="checkbox" checked="checked">
            </th>
            $for key in keys:
              <th>$key</th>
            <th class="import-status hidden">
              Status
            </th>
        </thead>
        <tbody>
          $for isbn in books:
            <tr class="table-row $isbn">
              <td>
              $ dict = {'ISBN':'', 'Title':'', 'My Rating':'', 'Exclusive Shelf':''}
              $ k = ['ISBN', 'My Rating', 'Exclusive Shelf']
              $for key in k:
                $if books[isbn].get(key) != '=""':
                  $ dict[key] = books[isbn].get(key)
              <input class="add-book" value="$(dict)" type="checkbox" checked="checked">
              </td>
              $for key in keys:
                <td>$books[isbn].get(key)</td>
            </tr>
          $for id in books_wo_isbns:
            <tr>
              <td>
              </td>
              $for key in keys:
                <td>
                  $if books_wo_isbns[id].get(key) != '=""':
                    $books_wo_isbns[id].get(key)
                </td>
              <td class="books-wo-isbn hidden error-imported" title='No ISBN'>Error</td>
            </tr>
        </tbody>
      </table>
    </form>
</div>
