$def with (form)

<div id="contentHead">
    <div class="small sansserif grey" style="margin-bottom:5px;"><a href="$ctx.user.key">$ctx.user.displayname</a>
    /
    <a href="$homepath()/account">$_("Settings")</a>
    /</div>
    <h1>$_("Change Password")</h1>
    <p class="instruct">$_("Provide your existing password (to verify that it's you) and select a new password to replace it.")</p>
</div>

<script type="text/javascript">
\$().ready(validateForms);
\$().ready(validatePassword);
</script>

<div id="contentBody">
    <form id="register" class="password olform" name="register" method="post">
        $if form.note:
            <div class="note">$form.note</div>

        <div class="formElement">
            <div class="label"><label for="password">Current Password</label> <span class="smaller lighter"></span></div>
            <div class="input">
                <input value="$form.password.value" type="password" class="pwmask required" name="password" id="password" />
                <span class="invalid clearfix" htmlfor="password">$form.password.note</span>
            </div>
        </div>
        <div class="formElement">
            <div class="label"><label for="new_password">Choose a New Password</label> <span class="smaller lighter"></span></div>
            <div class="input">
                <input value="$form.new_password.value" type="password" class="pwmask required" name="new_password" id="new_password" />
                <span class="invalid clearfix" htmlfor="new_password">$form.new_password.note</span>
                <span class="smaller" id="masker"></span>
            </div>
        </div>

        <div class="formElement">
            <br/>
            <div class="input">
                <input value="$_('Change')" type="submit" name="change" title="$_('Change')"/>
                &nbsp;
                <a href="javascript:;" onclick="history.go(-1);" class="large attn">$_('Cancel')</a>
            </div>
        </div>
    </form>
</div>
