$def with (wishlist)

<script type="text/javascript">
<!--
    \$().ready(bookCovers);
//-->
</script>

<div id="contentHead">
  <h2>Want to Read</h2>
      <span class="mode-options">
        <input type="radio" name="mode" value="everything" id="mode-search-everything" class="search-mode">
        <label for="mode-search-everything">Everything</label>
        <input type="radio" name="mode" value="ebooks" id="mode-search-ebooks" class="search-mode" >
        <label for="mode-search-ebooks">Ebooks</label>
        <input type="radio" name="mode" value="printdisabled" id="mode-search-printdisabled" class="search-mode">
        <label for="mode-search-printdisabled">Print Disabled</label>
      </span>
  <div class="resultsContainer">
    <div id="searchResults">
      <ul id="siteSearch">
        $for work in wishlist:
          $:macros.SearchResultsWork(work, decorations=macros.LikeButton(work.key.split('/')[-1]))
      </ul>
    </div>
  </div>
</div>
