$def with (mb, template=None, header_title="", page=None)

$ mb.component_times['TotalTime'] = time()

$ header_title = header_title or mb.key

$var title: $header_title

<div class="mybooks">
  $if mb.is_my_page:
    $ goal_target = mb.current_goal.goal if mb.current_goal else None
    $:render_jinja_template("reading_goals/yearly_goal_dialog.html.jinja", year=current_year(), goal=goal_target)

  $:mb.render_sidebar()

  <div class="mybooks-details">
    $if ctx.user:
      $ pending_action_msg = mb.get_pending_action_banner()
      $if pending_action_msg:
        <ol-banner dismissible id="pending-action-container" class="pending-action-container">
          <span>$:pending_action_msg</span>
        </ol-banner>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
              var container = document.getElementById('pending-action-container');
              if (container) {
                  var link = container.querySelector('.pending-action-link');
                  if (link) {
                      link.setAttribute('data-ol-link-track', 'PreserveIntent|Continue');
                      link.addEventListener('click', function() {
                          document.cookie = 'pending_action=; path=/; max-age=0; samesite=lax';
                      });
                  }
                  container.addEventListener('ol-banner-dismiss', (e) => {
                    document.cookie = 'pending_action=; path=/; max-age=0; samesite=lax';
                  })
              }
          });
        </script>

    $ mb.component_times['Details header'] = time()
    <header>
      <!-- Todo: figure out what the year_breadcrumb-select does -->
      <!-- <div class="breadcrumb-wrapper">
        <div class="sansserif grey account-settings-menu navigation-breadcrumbs">

          $if mb.key == 'already-read' and mb.yearly_reads:
            $ url_prefix = "/people/%s/books/already-read" % mb.username
            $:render_template("books/year_breadcrumb_select", mb.yearly_reads, url_prefix, url_prefix + "/year/%d", selected=mb.selected_year)

        </div>
      </div>
 -->
      $if not mb.is_my_page and mb.is_subscribed != -1:
        $:render_template('follow/follow', mb.username, following=mb.is_subscribed, link_track='MyBooksPageHeader|Follow')
    </header>

    <div class="details-databar">
      $if page and mb.is_my_page:
        $:macros.databarView(page)
    </div>

    $ mb.component_times['Details header'] = time() - mb.component_times['Details header']
    $ mb.component_times['Details content'] = time()
    <div class="details-content">
      $if mb.is_my_page and mb.key in ['notes', 'observations']:
        <p>
          $if mb.key == 'notes':
            $_('Your book notes are private and cannot be viewed by other patrons.')
          $elif mb.key == 'observations':
            $_('Your book reviews will be shared anonymously with other patrons.')
        </p>

      $if template:
        $:template
    </div>
    $ mb.component_times['Details content'] = time() - mb.component_times['Details content']
  </div>
</div>

$ mb.component_times['TotalTime'] = time() - mb.component_times['TotalTime']
$if query_param('debug'):
  $:macros.Profile(mb.component_times)
