$def with (user)

$var title: $_("Books You've Checked Out")

<style type="text/css">
.date, .waitrank {
    margin: 5px 0px;
}
.dialog .title {
    font-weight: bold;
}

tr.expired {
    background: #ffcdcd;
}

td.status, th.status {
    padding: 15px;
    text-align: center;
}

tr.row-available .status-value {
    color: darkgreen;
}

tr.row-available {
    background: #fffdcd;
}

td.actions form + form {
    margin-top: 5px;
}

th.action {
    width: 150px;
}
th.status {
    width: 150px;
}
</style>

<div>

<h1>$_("Books You're Waiting For")</h1>
$ waitinglist = user.get_waitinglist()
$if len(waitinglist) == 0:
    <div><em>$_('You are not waiting for any books at this moment.')</em></div>
$else:
    <div id="leave-waitinglist-dialog" class="hidden dialog"
         title="$_('Leave the Waiting List')">$:_('Are you sure you want to leave the waiting list of<br/><strong>TITLE</strong>?')</div>
    <script type="text/javascript">
    window.q.push(function() {
        \$("a.leave").on('click', function() {
            var title = \$(this).parents("tr").find(".book").text();
            \$("#leave-waitinglist-dialog strong").text(title);
            \$("#leave-waitinglist-dialog")
                .data("origin", \$(this))
                .dialog("open");
        });
    });
    </script>
    <div class="borrow borrow-table collapse waitinglist">
      <table>
          <thead>
              <tr>
                  <th class="titles" colspan="2">
                  $ungettext("1 book", "%(count)d books", len(waitinglist), count=len(waitinglist))
                  </th>
                  <th class="status">$_("Status")</th>
                  <th class="actions">$_("Actions")</th>
              </tr>
          </thead>
          <tbody>
          <!-- FIXME: Not internationalized. Uses internal status string directly -->
          $for record in waitinglist:
            $ book = record.get_book()
            $ status = record['status']
            $if book:
              <tr class="row-$status">
                  <td class="cover">
                  $:render_template('covers/book_cover_small', book)
                  </td>
                  <td class="titles">
                      <span class="book">
                          <a href="$book.key" class="borrowResults"><strong>$book.title</strong></a>
                      </span>
                      <span class="author">
                          $:macros.AuthorList(book.get_authors())
                      </span>
                      <div class="date">
                          $ ndays = record.get_waiting_in_days()
                          $ungettext("Waiting for 1 day", "Waiting for %(count)d days", ndays, count=ndays)
                      </div>
                      <div class="smallest lightgreen sansserif waitrank">
                          $if status == "waiting":
                              $ wsize = book.get_waitinglist_size()
                              $ pos = record.get_position()
                              $if pos == 1:
                                  $_("You are the next person to receive this book.")
                              $else:
                                  $ungettext("There is one person ahead of you in the waiting list.", "There are %(count)d people ahead of you in the waiting list.", pos-1, count=pos-1)
                      </div>
                  </td>
                  <td class="status">
                      <span class="status-value">$record['status'].title()</span><br/>
                      $if status == "available":
                          $ delta_hours = record.get_expiry_in_hours()
                          <div class="smaller" style="padding-top: 5px;">
                              $if delta_hours == 0:
                                  $_("You have less than an hour to borrow it.")
                              $else:
                                  $ungettext("You have one more hour to borrow it.", "You have %(hours)d more hours to borrow it.", delta_hours, hours=delta_hours)
                          </div>
                  </td>
                  <td class="actions">
                      $if status == "available":
                          <form action="$book.url('/borrow')" method="post">
                              <input type="hidden" name="action" value="borrow" />
                              <input type="submit" value=$_("Borrow Now") />
                          </form>
                      <form action="$book.url('/borrow?redirect=/account/loans')"
                            method="POST" class="wlform">
                          <input type="hidden" name="action" value="leave-waitinglist"/>
                          <a href="javascript:;" class="leave">$_("Leave the waiting list?")</a>
                      </form>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
</div>
