/* RESET EVERYTHING */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}
/*SET FONT SIZES AS em, DIVIDING YOUR PIXEL SIZE by 16 (i.e. 12px = 12/16 or 0.75em)*/

/* DEFINE SOME DEFAULTS */

b,strong{font-weight:700;}
i,em{font-style:italic;}
ol{margin-left:1.5em;}
ol li{list-style:decimal!important;}
pre, code {font-family:"Lucida Console","Courier New",monospace;font-size:0.875em;}

/* SITE DEFAULTS */

body {text-align:center;font-size:100%;line-height:1.0em;}
a{color:#036daa;text-decoration:underline;}
a.on,a:hover.on,a:visited.on {color:#000;cursor:default;text-decoration:none;}
a:hover {color: #35672e;}
a:visited {color: #036;}
.small{font-size:0.75em;} /* 12px */
.smaller{font-size:0.6875em;} /* 11px */
.smallest{font-size:0.5625em;} /* 9px */
.reduce{font-size: 50%;}
.larger{font-size:1.0em;}
.largest{font-size:1.125em;}
.hidden{display:none;}
.attn,.neg{color:#e44028!important;}
.pos{color:#35672e!important;}
.black{color:#000!important;}
.highlight {background-color: #fffdcd;}
.orange {color: #ffa337;}
.brown {color: #615132;}
.teal {color: #00636a;}
.darkgreen {color: #35672e;}
.lightgreen {color: #748d36;}
.blue {color: #036daa;}
.red {color: #e44028;}
.yellow {color: #fffdcd;}
.gray {color:#999;}
a.plain {text-decoration:none!important;}
.right{float:right;margin:0 0 8px 8px;}
.left{float:left;margin:0 8px 8px 0;}
.center{text-align:center;}
.uppercase {text-transform: uppercase!important;}
.lowercase {text-transform: lowercase!important;}
.lighter {color:#666;}
.sansserif {font-family:"Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif!important;}
.serif {font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif!important;}
.clearfix{width:100%;clear:both;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.right.illustration {margin:0 0 30px 30px;text-align:center;}
.left.illustration {margin:0 30px 30px 0;}
button.plainText {border:none;font-family:"Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;font-size:0.75em;color:#e44028;background-color: #fff;cursor:pointer;}
button.plainText:hover {color:#35672e;}
tr.odd,tr.even{background-color:#ececec;}
#tooltip{position:absolute;display:none;border:1px solid #dedede;padding:4px;background-color:#fff;font-size:0.75em;opacity:0.80}
.pagination {float:left;font-family:"Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;font-size:0.75em;margin:90px 0 30px;}
.pagination a {display:block;float:left;text-decoration:none;padding:7px;border:1px solid #ddd;margin-right:10px;}
.pagination a:hover {background:#036daa;color:#fff;display:block;float:left;text-decoration:none;padding:7px;border:1px solid #ddd;margin-right:10px;}
.pagination span.this {display:block;float:left;color:#000;padding:7px;border:1px solid #ddd;margin-right:10px;}
.pagination span.ellipsis {display:block;float:left;color:#000;padding:8px;margin-right:10px;}
    
/* TYPOGRAPHY */

div.unordered {margin-top:10px;line-height:150%;}
div.head.rel {position:relative;}
h1,h2,h3,h4,h5,h6 {display:inline;font-family:"News Gothic MT","Arial Rounded MT",Geneva,Helvetica,sans-serif;color:#00636a;font-weight:600;padding-right:8px;line-height:normal;}
h1 {font-size: 1.875em;letter-spacing:-1px;} /*30px (30/16=1.875)*/
h2 {font-size: 1.375em;letter-spacing: -1px;} /*24px (24/16=1.375)*/
h2.author {color:#000;font-size:1.125em;letter-spacing:0!important;font-family:"News Gothic MT","Trebuchet MS",Helvetica,sans-serif;line-height:1.0em;font-weight:normal;}
h3 {font-size: 1.125em;} /*18px (18/16=1.125)*/
h4 {font-size: 1.0em;} /*16px (16/16=1)*/
h5 {font-size: 0.875em;font-family:"Palatino Linotype", "Book Antiqua", Palatino, Georgia,serif!important;font-weight:normal!important;} /*14px (14/16=.875)*/
h6 {font-size: 0.75em;} /*12px (12/16=.75)*/
span.link {font-size: 0.6875em;color: #929292;font-family:"Lucida Grande",Verdana,Geneva,Helvetica, sans-serif;white-space: nowrap;}
span.tools {font-size: 0.6875em;color: #333;font-weight: normal;font-family:"Lucida Grande",Verdana,Geneva,Helvetica,sans-serif;}
span.tools span.label {background-color:#ffa337;color:#fff;padding:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
span.tools span.list {padding:3px;}
span.title {font-size: 0.875em;font-family: "News Gothic MT","Arial Rounded MT",Helvetica,Geneva,sans-serif;font-weight:700;}
.titleSmall {font-family: "Lucida Grande", Verdana, Helvetica, Geneva, sans-serif;font-size: 0.6875em;font-weight: 600;}
span.tag {font-size: 0.875em;font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;color:#666;}
span.count {font-size: 0.6875em!important;font-family: "Lucida Grande",Verdana,Helvetica,Geneva,sans-serif;color: #615132;white-space: nowrap;}
h2 span.count {font-size: 0.8125em!important;}
.caption {font-size:0.5625em;font-family:"Lucida Grande",Verdana,Helvetica,Geneva,sans-serif;font-weight:normal;color:#999;text-transform:uppercase;}
span.caption {position:absolute;right:0;bottom:2px;}
a.toggle {text-decoration:none;color:#fff!important;background-color:#748d36!important;padding:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
a.toggle:hover{background-color:#036daa!important;color:#fff!important;}

a.editCTA{font-size:0.75em;font-style:italic;color:#000;text-decoration:none;padding:5px 0 5px 20px;height:18px;overflow:hidden;background-image:url("/images/icons/icon_edit-sm.png");background-position:0 0;background-repeat:no-repeat;}
a:hover.editCTA{background-position:0 -36px;}
a.editCTA strong{font-style:italic;font-weight:700;color:#036daa;text-decoration:underline;}

p{font-size:1.0em;line-height:1.375em;margin-bottom:30px;color:#333;}
body {font-family:"Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;}
body#user div#content{font-family:"Palatino Linotype", "Book Antiqua", Palatino, Georgia,"Times New Roman",serif;}
body#admin div#content,body#edit div#content{font-family:"News Gothic MT","Arial Rounded MT",Helvetica,Geneva,sans-serif;}
input[type=text],select,textarea{font-family:"Lucida Grande",Verdana,Geneva,Helvetica,sans-serif;color:#454545;}
input,select,textarea{font-size:0.75em;}
input[type=submit]{font-size:0.75em;}
input[type=text]{margin: 0 10px 5px 0;}
#contentBody input[type=submit]{font-size:1.125em!important;}
p.instruct {font-family:"Lucida Grande",Verdana,Geneva,Helvetica,sans-serif;font-size:0.875em;margin-bottom:0;}
.section {margin-bottom:25px;}


/* LAYOUT */

div#placement {width:960px;margin:0 auto;text-align:left;clear:both;}
div#position {width:960px;float:left;position:relative;}
div#content,div#footer{clear:both;float:left;position:relative;}
div#header{width:960px;clear:both;}
div#content{width:958px;min-height:580px;background-color:#fff;}
body#user div#content {border:1px solid #d3ccb0;}
body#admin div#content {border:1px solid #c1c1c1;}
div#footer{width:960px;height:150px;position:relative;}
div#bottom{width:100%;clear:both;margin-top:30px;float:left;}
div#legal{width:905px;margin:0 auto;padding:0 10px;text-align:left;}

/* PALETTE */

body#user {background-color: #e2dcc5;}
body#user div#bottom {background-color: #cbc4a7;}
body#admin {background-color: #d3d3d3;}
body#admin div#bottom {background-color: #b9b9b9;}
body#edit {background-color: #fff;}
body#edit div#bottom {background-color: #98bdbc;}

/* FORMS */
div.formElement {
    padding-bottom: 8px;
}
div.formElement.bottom {
    padding-bottom: 20px;
}
div.formElement label {
    font-size: 0.6875em;
}
div.formElement .input label {
    font-size: 1.0em;
}
div.formElement .tip {
    font-size:0.6875em;
    color:#666;
    font-family:"Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif!important;
}
div.formElement p.tip {
    border-top: 1px solid #ccc;
    padding:5px;
}
div.formElement .footnote {
    border-top: 1px solid #ccc;
    padding: 5px;
}
div.formElement blockquote {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-size: 0.875em;
    margin: 1em 40px;
    line-height: 1.5em;
}
fieldset {position:relative;padding:20px 0;margin:10px 0;}
fieldset.minor {display:block;float:left;width:400px;margin-top:40px;}
fieldset.major legend {
    padding:5px 0;font-family:"News Gothic MT","Arial Rounded MT",Geneva,Helvetica,sans-serif;color:#00636a;font-weight:600;font-size:1.375em;
}
fieldset.minor legend {
    font-family:"News Gothic MT","Arial Rounded MT",Geneva,Helvetica,sans-serif;color:#00636a;font-weight:600;font-size:1.125em;
}
.formBack {float:left;width:830px;padding:10px;background-color:#f5f5f5;}
div.formDivider {float:left;width:30px;min-height:200px;}

/* EDITING */
body#edit div#placement,body#edit div#position,body#edit div#header,body#edit div#content {width:100%;}
body#edit div#contentBody,body#edit div#contentHead {width:95%;}
body#edit div#content {border:none;border-top:1px solid #98bdbc;}
body#edit div#headerNav,body#edit div#headerSearch,body#edit div#footer {display:none;}
body#edit div#header {text-align:center;background-color:#abcdcc;margin:0;padding:5px 0;}
body#edit div#headerLogo {float:none;margin:10px auto;}
body#edit div#headerTools {position:absolute;top:0;right:10px;}
body#edit div#bottom {margin-top: 0;}
body#edit .label {
    width: 100%;
    padding: 10px 0 5px;
}
body#edit .formElement {
    font-family:"Lucida Grande",Verdana,Geneva,Helvetica,sans-serif;color:#454545;
}
body#edit .label label {
    font-size: 1.0em;
    font-family: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
body#edit .label span {
    font-size: 0.75em;
    font-family: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, Arial, sans-serif;
}
body#edit .input {
    width: 100%;
}
body#edit textarea {
    width: 100%;
    height: 500px;
    padding: 3px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.875em;
}
body#edit .formElement input[type=text] {
    width: 100%;
    font-size: 0.875em;font-family: Lucida Grande", "Trebuchet MS", Geneva, Helvetica, sans-serif;
    color:#333;
    padding:3px;
}
body#edit table.code {
    border: 1px solid #e7e7e7;
    width: 100%;
    margin-right: 10px;
}
body#edit table.code td {
    vertical-align: top;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.875em;
    padding: 5px;
}
body#edit div#databar {
    padding: 10px;
    margin: 20px 20px 0;
    background-color: #fffdcd;
}
body#edit div#databar a {
    font-size: 0.75em;
}

/* ACCOUNT FORMS */
form.olform {
  font-family: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, sans-serif;
}
form.olform .label {
    width: 838px;
    padding: 10px 0 2px;
}
form.olform .label label {
    font-size: 1.0em;
    font-family: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
form.addbook2 .label label {
    font-weight: normal!important;
}
form.olform .label span {
    font-weight: normal;
}
form.olform input[type=text],
form.olform input[type=password],
form.olform textarea {
    width: 475px;
    font-size: 1.125em;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    padding: 3px;
}
form.olform.books input[type=text],
form.olform.books input[type=password],
form.olform.books textarea {
    width: 75%!important;
    font-size: 0.875em!important;
}
form.olform .input {
    width: 838px;
}
form.olform select {
    font-size: 1.125em;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    padding: 3px;
}
form#notifications input[type=radio] {
  margin: 0 10px 0 20px;
}
div.invalid,
div.valid,
div#emailLoading,
div#emailResult,
div#usernameLoading,
div#usernameResult {
    float: left;
    font-size: 1.0em!important;
    font-family: "News Gothic MT","Trebuchet MS",Geneva,Helvetica,sans-serif;
    height: 23px;
	padding: 5px 0 0 8px;
}
.invalid {
    color: #e44028;
/*	background: url("/images/icons/icon_alert.png") 0 0 no-repeat; */
}
input.invalid {
    border: 1px solid #e44028;
    color: #333;
}
label.invalid {
    color: #e44028;
}
.valid {
    color: #35672e;
	padding: 5px 0 0 29px!important;
/*	background: url("/images/icons/icon_check.png") 0 0 no-repeat; */
}
input.highlight {
    background-color: #fffdcd;
}
form#register .formElement,
form#register .label,
form#register .input,
form#register input[type=text],
form#register input[type=password] {
    float: left;
}
div#recaptcha_image {
    margin-bottom: 5px;
}

/* SEARCH FORMS */
.optionsScript {display:none;}
div.siteSearch {
    position: absolute;
    z-index: 1000;
    right: 0;
    overflow: visible;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 285px;
}
div#headerSearch {
    top: 86px;
    padding: 9px;
}
div#footerSearch {
    bottom: 80px;
    padding: 0 9px 30px;
}
div.siteSearch input[type=submit] {
    float: right;
    vertical-align: middle;
    font-size: 0.75em;
}
div.siteSearch input[type=text] {
    width: 210px;
    padding: 2px;
}

div.siteSearch.darker {
    -moz-box-shadow: 1px 1px 10px #333;
    -webkit-box-shadow: 1px 1px 10px #333;
    box-shadow: 1px 1px 10px #333;
}
body#user div.siteSearch.darker {
    background-color: #d3ccb0;
}
body#admin div.siteSearch.darker {
    background-color: #c1c1c1;
}

div.searchPlacement {
    position: absolute;
    left: 0;
    width: 285px;
    height: 24px;
}
div#headerSearch div.searchPlacement {
    top: 34px;
}
div#footerSearch div.searchPlacement {
    bottom: 9px;
}
div.searchFilter {
    position: relative;
    width: 285px;
    height: 24px;
} 
div.searchFilter .searchOpener {
    position: absolute;
    right: -5px;
    bottom: 0;
    font-size: 0.6875em;
}
div.searchFilter .searchCheckbox {
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 0.6875em;
}
input.query {
    width: 205px;
    margin-right: 3px;
}
div.searchOptions {
    display: none;
    width: 285px;
}
div#topOptions {
    padding-top: 30px;
}
div#bottomOptions {
    padding-top: 15px;
}
div.searchOptions .formElement {
    padding: 0 2px 8px 2px;
}

div#abuse {float:right;text-align:right;margin:-20px 10px 0 0;}
div#abuse a {display:block;width:70px;overflow:visible;text-align:center;font-size:0.625em;font-family:"Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;color:#615132;text-decoration:none;white-space:nowrap;font-weight:600;}
div#abuse a span {display:block;margin:0 auto 8px;width:32px;height:32px;background-repeat:no-repeat;background-image:url(/images/icons/icons_sprite.png);background-position: -576px 0;}
div#abuse a:hover {color:#000;}
div#abuse a:hover span {background-position: -608px 0;}

div#editionBorrow, div#editionBuy {position:absolute;top:38px;right:0;padding:15px;background-color:#fff;border:1px solid #d3ccb0;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-moz-box-shadow: 1px 1px 10px #333;-webkit-box-shadow: 1px 1px 10px #333;box-shadow: 1px 1px 10px #333;}
div#editionBorrow a, div#editionBuy a {background-image:none!important;float:none!important;margin-left:0!important;width:auto!important;height:auto!important;padding-top:0;text-align:left;font-size:0.75em;line-height:150%;font-weight:normal;color:#036daa;text-decoration:underline;}

/* TOOLS ACCORDION */

div#editTools,div#editButton,div#editHistory {float:right;margin:0 0 0 20px;}
body#user div#editHistory {display: none;}
div#editTools.edit {position:absolute;right:30px;top:20px;}
div#editButton button,div#editHistory button {font-size:1.125em;}
div#editInfo {float:right;white-space:nowrap;text-align:right;}

div#Tools {float:right;width:220px;min-height:200px;margin-top:-30px;}
div#Tools h3 {display:block;float:left;font-size:100%;min-height:32px;width:220px;font-family:"Lucida Grande",Verdana,Geneva,Helvetica,Arial,sans-serif!important;font-weight:normal;outline:0;cursor:pointer;position:relative;margin-top:30px;zoom:1;}
div#Tools h3.closed {cursor:default!important;}
div#Tools h3 a {text-decoration:none;}
div#Tools h3 a:visited {color:#036daa;}
div#Tools h3 span.icon {display:block;width:32px;height:32px;float:left;background-image:url("/images/icons/icons_sprite.png");background-repeat:no-repeat;}
div#Tools h3 span.icon.list {background-position:- 0;}
div#Tools h3:hover span.icon.list {background-position:-32px 0;}
div#Tools h3 span.icon.listinact {background-position:-64px 0;}
div#Tools h3 span.icon.read {background-position:-96px 0;}
div#Tools h3:hover span.icon.read {background-position:-128px 0;}
div#Tools h3 span.icon.readinact {background-position:-160px 0;}
div#Tools h3 span.icon.download {background-position: -192px 0;}
div#Tools h3:hover span.icon.download {background-position: -224px 0;}
div#Tools h3 span.icon.downloadinact {background-position: -256px 0;}
div#Tools h3 span.icon.buy {background-position: -288px 0;}
div#Tools h3:hover span.icon.buy {background-position: -320px 0;}
div#Tools h3 span.icon.buyinact {background-position: -352px 0;}
div#Tools h3 span.icon.borrow {background-position: -384px 0;}
div#Tools h3:hover span.icon.borrow {background-position: -416px 0;}
div#Tools h3 span.icon.borrowinact {background-position: -448px 0;}
div#Tools h3 span.icon.browse {background-position: -512px 0;}
div#Tools h3:hover span.icon.browse {background-position: -544px 0;}
div#Tools h3 span.head {float:left;display:block;width:178px;padding-left:10px;font-size:1.125em;font-weight:700;color:#036daa;}
div#Tools h3:hover span.head {color:#000;}
div#Tools h3.closed span.head {color:#999;}
div#Tools h3 span.subhead {float:left;display:block;width:178px;padding-left:10px;font-size:0.6875em;color:#969696;}
div#Tools div.panel {float:left;width:220px;background-color:#fff;padding-top:10px;}
div#Tools table {width:220px;}
div#Tools table td {font-size:11px;font-family:"Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;}
div#Tools table td.vendor {padding:3px 10px 0 42px;}
div#Tools table td.price {padding:3px 0 0 0;text-align:right;}
div#Tools p {font-size:11px;font-family:"Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;padding-left:42px;margin-bottom:0!important;}


/* MESSAGING */
div.alert, div.verify {
    font: 1.25em "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
}
div.alert span, div.verify span {
    margin: 0 auto;
    min-height: 25px;
    padding: 5px 0 5px 32px;
}
div.alert span {background: url("/images/icons/icon_alert.png") no-repeat;}
div.verify span {background: url("/images/icons/icon_check.png") no-repeat;}

/* HEADER */

div#headerNav {
    position: relative;
    float: left;
    width: 370px;
    height: 150px;
}
div#headerNav ul.links {
    position: absolute;
    left: 1px;
    clear: left;
    float: left;
    width: 369px;
}
div#headerNav ul.links.first {
    bottom: 66px;
}
div#headerNav ul.links.second {
    bottom: 33px;
}
div#headerNav ul.links.third {
    bottom: 0;
}
div#headerNav ul.links li {
    display: block;
    float: left;
    width: 90px;
    color: #000;
    margin-right: 10px;
}
body#user div#headerNav ul.links li {
    border-top: 1px solid #d3ccb0;
}
body#admin div#headerNav ul.links li {
    border-top: 1px solid #c1c1c1;
}
div#headerNav ul.links li a,
div#headerNav ul.links li span {
    display: block;
    width: 80px;
    height: 22px;
    padding: 10px 0 0 10px;
    font-family: "News Gothic MT", "Trebuchet MS", Geneva, Helvetica, sans-serif;
    font-size: 0.6875em;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
div#headerNav ul.links li a:hover {
    background-color: #0e5a98;
    color: #fff;
}

div#headerLogo {
    position: relative;
    float: left;
    width: 220px;
    height: 140px;
    margin-top: 10px;
}
div#headerLogo span.title {position:absolute;top:-1000px;}
div#headerLogo p.tagline {position:absolute;left:0;top:118px;width:220px;text-align:center;font-family:"News Gothic MT","Trebuchet MS",Geneva,Helvetica,sans-serif;font-size:0.6875em;color:#333;}
div#headerLogo p.tagline a {color:#333;text-decoration:none;}

div#headerTools {
    float: left;
    width: 360px;
    padding-right: 10px;
    min-height: 150px;
}
div#headerLogin {
    text-align: right;
    font-size: 0.6875em;
    padding-top: 20px;
    color: #999;
}

/* FOOTER */

div.footerNav {
    min-width: 110px;
    float: left;
    margin-left: 1px;
    margin-right: 9px;
}
div.footerNav li {
    width: 110px;
}
body#user div.footerNav li {
    border-bottom: 1px solid #d3ccb0;
}
body#admin div.footerNav li {
    border-bottom: 1px solid #c1c1c1;
}
div.footerNav li a {
    display: block;
    width: 100px;
    height: 22px;
    padding: 10px 0 0 10px;
    font-family: "News Gothic MT", "Trebuchet MS", Geneva, Helvetica, sans-serif;
    font-size: 0.6875em;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
div.footerNav li a:hover {
    background-color: #0e5a98;
    color: #fff;
}

div#bottom div#legal {
    padding: 20px 0 100px 35px;
    background: url("/images/logo_IA-sm.png") no-repeat 0 20px;
    
}
div#bottom div#legal p {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    font-size: 0.6875em;
    color: #666;
    margin: 0 0 20px 0;
}



/* CONTENT */
div.contentWide,
div#contentMeta {
    float: left;
    width: 918px;
    padding: 10px 20px 20px;
}
div.contentHalf {
    float: left;
    width: 439px;
    margin-bottom: 20px;
}
div.contentQuarter {
    float: left;
    width: 205px;
    margin-bottom: 20px;
}
div.contentSpacer {
    float: left;
    width: 19px;
    height: 45px;
}
div.spacer {
    float: left;
    width: 30px;
    min-height: 10px;
}
div.contentLeft {
    float: left;
    clear: left;
    width: 439px;
    padding-right: 20px;
}
div.contentRight {
    float: left;
    clear: right;
    width: 439px;
    padding-left: 20px;
}

div#contentMsg {
    background-color: #fffdcd;
    padding: 12px 0;
    text-align: center;
    display: none;
}
div#contentHead {
    width: 918px;
    padding: 20px;
}
div#contentBody {
    width: 918px;
    padding: 0 20px 20px;
}
div#content div#contentLists {
    position: relative;
    border-top: 1px solid #dcdcdc;
    background: #fff url("/images/back_results.png") repeat-x;
}
div#resultsAuthors,
div#resultsHistory {
    width: 444px;
    min-height: 100px;
    margin-top: 30px;
    float: left;
}
div#resultsAbout {
    width: 918px;
    margin-top: 30px;
}
div.editThis {
    margin-left: 20px;
}

/* SEARCH RESULTS */

div#searchResults,
div#searchResults ul {
    float: left;
    width: 660px;
}
div#searchResults li {
    float: left;
    display: block;
    width: 660px;
    clear: both;
    padding-bottom: 20px;
}
div#searchResults li img {
    height: 60px;
    max-width: 75px;
}
div#searchResults.wide ul,div#searchResults wide li {
    width: 920px;
}


/* SEARCH FACETS */

div#searchFacets {
    float: left;
    width: 220px;
    padding-right: 20px;
}
div.facet {
    margin-bottom: 20px;
}
div.facetHead {
    font-family: "News Gothic MT","Trebuchet MS",Helvetica,sans-serif;
    font-size: 0.6875em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 5px;
}
div.facetEntry {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}
div.facetEntry a {
    text-decoration: none!important;
}


/* RESULTS */

div#resultsLists {
    float: left;
    margin-top: 20px;
}
div.list {
    float: left;
    width: 207px;
    padding-top: 10px;
}
div.list .cover {
    float: left;
    width: 42px;
    padding-right: 10px;
}
div.list img {
  width: 42px;
}
div.list .copy {
    float: left;
    width: 155px;
}
div.list h5 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-weight: normal;
    color: #333;
    margin-bottom: 5px;
}
div.list h5 span {
    font-family: "Lucida Grande", Arial, Geneva, Helvetica, sans-serif;
    font-size: 80%;
}
div.list .tags {
    font-family: "Lucida Grande", Arial, Geneva, Helvetica, sans-serif;
    font-size: 0.6875em;
    line-height: 1.125em;
    color: #666;
    margin-bottom: 5px;
}
div.list .owner {
    font-family: "Lucida Grande", Arial, Geneva, Helvetica, sans-serif;
    font-size: 0.6875em;
    color: #666;
    text-align: right;
}

/* BOOKS */

div#workDetails {float:left;width:680px;}
.illustration img {max-width:220px!important;}
.illustration .SRPCoverBlank {position:relative;width:178px;height:255px;padding:15px;text-align:center;background:#dedede;font-size:1.0em;display:none;}
.illustration .SRPCoverBlank .innerBorder {border:2px solid #fff;width:174px;height:251px;}
.illustration .SRPCoverBlank.author {position:relative;width:131px;height:180px;text-align:center;background:transparent url("/images/icons/avatar_author-lg.png") 0 0 no-repeat;font-size:1.0em;display:none;}
.illustration .BookTitle {position:absolute;top:50%;left:50%;width:148px;margin-left:-74px;height:100px;margin-top:-50px;color:#333;}
.illustration .author .BookTitle {position:absolute;top:90%;left:50%;width:108px;margin-left:-54px;height:80px;margin-top:-40px;color:#000;}
.illustration .Author {color:#666;font-style:italic;line-height:15px;padding:4px 4px 0;}
.illustration .edition {font-size:0.6875em;font-family:"Lucida Grande",Verdana,Geneva,Helvetica,sans-serif;margin:10px auto;}
div.books {float:left;padding-top:20px;width:818px;}
div.books .SRPCover {margin: 0 5px 20px 0;float:left;height:115px;vertical-align:middle;}
div.books .SRPCover img {height:115px;}
div.books .SRPCoverBlank {position:relative;width:84px;height:115px;margin:0 5px 20px 0;text-align:center;float:left;background:url("/images/icons/avatar_book-sm.png") 0 0 no-repeat;font-size:0.75em;cursor:pointer;display:none;}
div.books .BookTitle {position:absolute;top:50%;left:50%;width:64px;margin-left:-32px;height:96px;margin-top:-48px;vertical-align:middle;color:#333;}
div.books .Author {color:#666;font-style:italic;line-height:15px;padding:4px 4px 0;}
form.recordsAdd {margin-bottom:30px;}
form.recordsAdd input[type=text] {font-size: 0.875em;font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;color:#333;padding:3px;}
form.recordsAdd input[type=text].wide {width:500px;}
form.recordsAdd textarea {font-size:1.0em;font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;line-height:1.375em;margin:10px 0 20px;color:#333;width:500px;height:80px;padding:3px;}
button.addAnother {
    width: 32px;
    height: 32px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    background-image: url("/images/icons/icon_add.png");
    background-position: 0 0;
    background-color: transparent;
}
button.addAnother:hover {
    background-position: -32px 0;
}
div.pingList {
  background: url("/images/icons/icon_radar.gif") no-repeat;
}
div.pingList p {
    font-family: "News Gothic MT", "Trebuchet MS", Geneva, Helvetica, sans-serif;
    margin: 0 0 10px 40px;
}
div.pingList ul {
    margin-left: 40px;    
}
ul.urlList li {
    margin-bottom: 10px;    
}
ul.urlList li span.url {
    font-family: "News Gothic MT", "Trebuchet MS", Geneva, Helvetica, sans-serif;
}
ul.urlList li span.quote {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-size: 0.75em;
    color: #999;
}
ul.urlList span.date {
    font-family: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, Arial, sans-serif;
    font-size: 0.6875em;
    color: #999;
}
form.olform.books .input,
form.olform.books .label {
    width: auto!important;
}

.TitleAuthor {
	margin: 30px auto 61px;
	width: 875px;
}
.TitleAuthor input#work-title {
    font-size: 1.875em; width: 500px; margin: 10px 0 0 0;
}
.TitleAuthor input#author {
    font-size: 1.875em; width: 300px; margin: 10px 0 0 0;
}
#tabsAddbook {
    margin-bottom: 30px;
}

#cover {position:absolute;top:50px;right:20px;border:2px solid #615132;background:#fff;width:120px;height:180px;text-align:center;line-height:1.5em;}


.identifiers td {
	color: #333333;
	border-bottom: 1px solid #ddd;
	background-color: #f3f3f3;
	padding: 5px;
}
ul.booklinks li {list-style-type:disc;margin:0 0 10px 1.5em;}
ul.booklinks li span {display:block;padding-top:10px;}


/* HISTORY */

table.history {width:100%;border-top:1px solid #cbc4a7;margin-top:10px;}
table.history td {font-size:0.6875em;font-family:"Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;border-bottom:1px solid #cbc4a7;}
table.history td.timestamp {color:#615132;padding:10px;white-space: nowrap;}
table.history td.detail {padding:10px;width:100%;}
table.history tr.first {background-color:#fffdcd;}
table.history tr.reveal {background-color:#f7f7f7;}
table.history tr.reveal td {padding: 10px;}

/* CAROUSEL OF COVERS! */

/* CAROUSEL GLOBAL STYLES */
.jcarousel-container {
    position: relative;
}

.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}
.jcarousel-list-horizontal {
    padding-left: 10px;
}
.jcarousel-list-vertical {
    height: auto!important;
}
.jcarousel-list li,
.jcarousel-item {
    float: left;
    list-style: none;
}

.jcarousel-next {
    z-index: 3;
    display: none;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
}
.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
.jcarousel-toolbar {
    position: absolute;
    bottom: -5px;
    right: 35px;
}

/* CAROUSEL NAV HOVER EFFECTS */
.jcarousel-next-horizontal {
    position: absolute;
    bottom: -5px;
    right: -15px;
    width: 30px;
    height: 60px;
    cursor: pointer;
    background: transparent url("/images/carousel_next.png") no-repeat 0 0;
}
.jcarousel-prev-horizontal {
    position: absolute;
    bottom: 65px;
    right: -15px;
    width: 30px;
    height: 60px;
    cursor: pointer;
    background: transparent url("/images/carousel_prev.png") no-repeat 0 0;
}
.jcarousel-next-vertical {
    position: absolute;
    bottom: -5px;
    right: -15px;
    width: 30px;
    height: 60px;
    cursor: pointer;
    background: transparent url("/images/carousel_down.png") no-repeat 0 0;
}
.jcarousel-prev-vertical {
    position: absolute;
    bottom: 65px;
    right: -15px;
    width: 30px;
    height: 60px;
    cursor: pointer;
    background: transparent url("/images/carousel_up.png") no-repeat 0 0;
}
.jcarousel-next-horizontal:hover,
.jcarousel-prev-horizontal:hover {
    background-position: -30px 0;
}
.jcarousel-next-horizontal:active,
.jcarousel-prev-horizontal:active {
    background-position: -60px 0;
}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:active,
.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -90px 0;
}
.jcarousel-next-vertical:hover,
.jcarousel-prev-vertical:hover {
    background-position: -30px 0;
}
.jcarousel-next-vertical:active,
.jcarousel-prev-vertical:active {
    background-position: -60px 0;
}
.jcarousel-next-disabled-vertical,
.jcarousel-next-disabled-vertical:hover,
.jcarousel-next-disabled-vertical:active,
.jcarousel-prev-disabled-vertical,
.jcarousel-prev-disabled-vertical:hover,
.jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: -90px 0;
}

/* RESULTS CAROUSEL SKIN */
#resultsCovers .jcarousel-container,
#resultsList .jcarousel-container {
    width: 918px;
    padding: 20px;
}
#resultsCovers .jcarousel-clip,
#resultsList .jcarousel-clip {
    width: 918px;
    height: 402px;
}
#resultsCovers .jcarousel-item-horizontal {
    width: 918px;
    height: 402px;
    margin-right: 0;
}
#resultsList .jcarousel-item-vertical {
    width: 918px;
    height: 60px!important;
    margin-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
    border-bottom: 1px dotted #fff;
}
div#resultsCovers a {text-decoration: none;}
#contentLists.results .SRPCover {margin: 0 15px 20px 0;float:left;height:185px;vertical-align:middle;}
.SRPCover img {height:185px;}
#contentLists.results .SRPCoverBlank {position:relative;width:115px;height:165px;padding:10px;margin:0 15px 20px 0;text-align:center;float:left;background:#dedede;font-size:0.875em;cursor:pointer;display:none;}
#contentLists.results .SRPCoverBlank .innerBorder {float:left;width:113px;height:163px;border:1px solid #fff;}
.BookTitle {position:absolute;top:50%;left:50%;width:105px;margin-left:-52px;height:100px;margin-top:-50px;vertical-align:middle;color:#333;}
.Author {color:#666;font-style:italic;line-height:15px;padding:4px 4px 0;}


li span.bookcover {
    display: block;
    float: left;
    height: 60px;
    width: 75px;
    margin-right: 10px;
    text-align: right;
    overflow: hidden;
}
div#resultsList li img,
div#editionsList li img {
    height: 60px;
    max-width: 75px;
}
div.resultTitle {
    margin: 0!important;
    font-family: "News Gothic MT","Trebuchet MS",Helvetica,sans-serif;
    color: #999;
}
div.resultTitle span.booktitle {
    font-size: 1.375em;
    font-weight: 700;
}
div.resultTitle span.bookauthor {
    color: #8f8f8f;
    font-size: 0.875em;
}
div.resultPublisher {
    font-size: 0.6875em;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
    color: #8f8f8f;
}

/* RESULTS CAROUSEL SKIN */
#editionsCovers .jcarousel-container,
#editionsList .jcarousel-container {
    width: 918px;
    padding: 20px;
}
#editionsCovers .jcarousel-clip,
#editionsList .jcarousel-clip {
    width: 918px;
    height: 472px;
}
#editionsCovers .jcarousel-item-horizontal {
    width: 918px;
    height: 472px;
    margin-right: 0;
}
#editionsList .jcarousel-item-vertical {
    width: 918px;
    height: 60px!important;
    margin-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
    border-bottom: 1px dotted #fff;
}

div#editionsCovers a {text-decoration: none;}
#contentLists.editions .coverMagic {float:left;max-width:225px;min-height:245px;text-align:center;}
#contentLists.editions .SRPCover {margin: 0 20px 5px 0;vertical-align:middle;}
#contentLists.editions .SRPCoverBlank {position:relative;width:115px;height:165px;padding:10px;margin:0 20px 5px 0;text-align:center;background:#dedede;font-size:0.875em;cursor:pointer;display:none;}
#contentLists.editions .SRPCoverBlank .innerBorder {width:113px;height:163px;border:1px solid #fff;}
.bookMeta {max-width:125px;padding:0 5px;margin:0 auto;font-family:"Lucida Grande", Verdana, Helvetica, sans-serif;text-align:center;}
.Publisher{font-size:0.6875em;color:#000;line-height:100%;}
.Year{font-size:0.5em;color:#615132;line-height:100%;}



/* COLORBOX POP-UP */
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:visible;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:25px; left:25px; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#000;}

#colorBox{}
    #cboxTopLeft{width:25px; height:25px; background:url(/images/border1.png) 0 0 no-repeat;}
    #cboxTopCenter{height:25px; background:url(/images/border1.png) 0 -50px repeat-x;}
    #cboxTopRight{width:25px; height:25px; background:url(/images/border1.png) -25px 0 no-repeat;}
    #cboxBottomLeft{width:25px; height:25px; background:url(/images/border1.png) 0 -25px no-repeat;}
    #cboxBottomCenter{height:25px; background:url(/images/border1.png) 0 -75px repeat-x;}
    #cboxBottomRight{width:25px; height:25px; background:url(/images/border1.png) -25px -25px no-repeat;}
    #cboxMiddleLeft{width:25px; background:url(/images/border2.png) 0 0 repeat-y;}
    #cboxMiddleRight{width:25px; background:url(/images/border2.png) -25px 0 repeat-y;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{background:#fff;margin:0;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxClose{position:absolute;top:20px;right:20px;display:block;width:32px;height:32px;background-image:url(/images/icons/icon_close-pop.png);background-position:0 0;background-repeat:no-repeat;}
        #cboxClose:hover{background-position:0 -32px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}


div.floater {
    position: relative;
    font-family: "News Gothic MT","Arial Rounded MT",Geneva,Helvetica,sans-serif;
    width: 640px;
    height: 480px;
    background: #fff;
    text-align: left;
}
div.floaterAlert {
    position: absolute;
    width: 580px;
    height: 0;
    top: -12px;
    left: 30px;
    background: #e44028 url(/images/icons/icon_alert-pop.png) no-repeat 12px 12px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
	-moz-box-shadow: 0 -1px 5px #333;
 	-webkit-box-shadow: 0 -1px 5px #333;
 	box-shadow: 0 -1px 5px #333;
    font-size: 0.875em;
    color: #fff;
    text-align: center;
}
div.floater a#coverShut {position:absolute;top:10px;right:10px;display:block;width:32px;height:32px;background-image:url(/images/icons/icon_close-pop.png);background-position:0 0;background-repeat:no-repeat;}
div.floater a#coverShut:hover {background-position:0 -32px;}
div.floater h2 {position:absolute;top:50px;left:50px;}
div#addCover div#coverIntro {position:absolute;top:83px;left:50px;font-size:0.875em;}
div#addCover label#coverBrowse {position:absolute;top:118px;left:50px;font-weight:700;}
div#addCover input#coverFile {position:absolute;top:157px;left:78px;font-size:1.125em;}
div#addCover label#coverWeb {position:absolute;top:210px;left:50px;font-weight: 700;}
div#addCover input#coverUrl {position:absolute;top:256px;left:78px;font-size:1.0em;width:350px;padding:2px;}
div#addCover button#coverUpload {position:absolute;top:322px;left:78px;font-size:1.125em;}
div#addCover a#coverClose {position:absolute;top:327px;left:180px;font-size:1.0em;color:#e44028;}
div#addCover div#coverLegal {position:absolute;bottom:20px;left:20px;font-size:0.6875em;text-transform:uppercase;color:#615132;line-height:normal;font-weight:700;width:600px;}


/* TABS */

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav, .ui-tabs-panel {
	font-family:"News Gothic MT","Arial Rounded MT",Geneva,Helvetica,sans-serif;
}
.ui-tabs-nav {
    list-style: none;
    margin-bottom: -11px;
    padding: 0 0 0 15px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    font-weight: 600;
    background-color: #f1f1f1;
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
	font-size:.6875em;
	background:#efefef;
	padding:4px 8px 3px;
	margin:0 3px;
	text-decoration:none;
	text-transform:uppercase;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: -8px;
    padding:3px 11px;
    z-index: 2;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 0;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 3px;
}
.ui-tabs-nav .ui-tabs-selected a:link, 
.ui-tabs-nav .ui-tabs-selected a:visited, 
.ui-tabs-nav .ui-tabs-disabled a:link, 
.ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
	background:#fff;
	padding:8px 11px 3px;
	border:1px solid #efefef;
	border-bottom:3px solid #fff;
	color: #35672e;
	text-transform: capitalize!important;
	font-size: 1.125em!important;
	margin:0 3px;    
    cursor: default;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    position: relative;
    border: 3px solid #efefef;
    padding: 15px 30px 20px 30px!important;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}


/* ADMIN */
body#admin div#contentHead {
  float: left;
  padding-bottom: 30px;
}
table.records {
  width: 100%;
  margin-top: 20px;
}
table.records td {
    width: 33%;
    text-align: center;
    vertical-align: top;
}
table.records .amount {
    font-size: 1.125em;
    font-weight: 700;
}
table.records .label {
    text-transform: uppercase;
    font-size: 0.5625em;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
}
div.chartHolder {
    position: relative;
    width: 439px;
    height: 61px;
    overflow: hidden;
    background-color: #ececec;
}
div.chartDisplay {
    position: absolute;
    width: auto;
    height: 61px;
    top: 0;
    right: 0;
    white-space: nowrap;
}
.chart {
    float: left;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
table.measurements {
    width: 100%;
    margin: 10px 0 30px;
    color: #333;
}
table.measurements th {
    font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 0.6875em;
    text-align: right;
    vertical-align: bottom;
    padding: 0 8px;
}
table.measurements td {
    padding: 8px;
    text-align: right;
    vertical-align: bottom;
    font-size: 0.75em;
}
table.measurements td.type {
    font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 0.6875em;
}
table.measurements tr.major td.amount {
    font-size: 1.5em;
}
table.measurements .shift {
    text-align: left!important;
}
div#prolific span {
    font-family: "Lucida Grande", Verdana, Helvetica, Geneva, sans-serif;
    font-size: 0.6875em;
}
div#topEdits a {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
}
div#uniqueIps {
    float: left;
    width: 918px;
    margin: 20px 0 30px;
}
div.measurements, div.measurements div {
    float: left;
    width: 180px;
}
div.measurements .caption {
    padding-top: 20px;
}
div.measurements .measure {
    font-size: 0.875em;
}
div.measurements .large {
    font-size: 1.125em!important;
}
/* PAGE HISTORY */

table#pageHistory, table#changeHistory {
    width:100%;
    border-top:1px solid #cbc4a7;
    margin-top:10px;
    font-family:"Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
    margin: 40px 0 20px;
}
table#pageHistory th, table#changeHistory th {
    background-color: #fffdcd;
    border-bottom: 1px solid #cbc4a7;
    color: #615132;
    font-size: 0.8675em;
    font-weight: 700;
    padding: 10px;
}
table#pageHistory td, table#changeHistory td {
    border-bottom: 1px solid #cbc4a7;
    padding: 10px;
    font-size: 0.75em;
}
table#pageHistory td.number {
    text-align: right;
}


div#adminFlickr {width:582px;}
div#adminTwitter, div#adminTwitter div.tweet_cell{width:300px;}
div#adminTwitter div.tweet_avatar{width:35px;}
div#adminTwitter div.tweet_copy{width:265px;}

/* TWITTER FEED */
div#adminTwitter {float:left;font-size:0.75em;padding-top:45px;background:url("/images/logo_twitter-sm.png") 0 15px no-repeat;}
div.tweet_cell{float:left;padding-bottom:20px;}
span.tweet_user {font-weight:700;}
div.tweet_avatar,div.tweet_copy {float:left;}
div.tweet_date a {color:#999;text-decoration:none;}
/* FLICKR FEED */
div.flickrs {float:left;background:url("/images/logo_flickr-sm.png") no-repeat;}
div.flickrs ul {margin-top: 45px;}
div.flickrs ul li {display: block;float: left;margin: 0 10px 20px 0;}
div.flickrs ul li img {height: 100px;}

/* ABOUT */
div.moduleSide {
    width: 205px;
    padding-bottom: 20px;
}
div.moduleSide div.item {
    padding-bottom: 20px;
}
div.moduleSide h4 {
    display: block;
    font-size: 0.6875em;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 5px;
}
div.moduleSide p {
    font-family: "News Gothic MT","Trebuchet MS",Helvetica,sans-serif;
    font-size: 0.875em;
    margin: 0;
}
div.moduleSide a {
    display: block!important;
}

div#resultBlog div.item, div#resultScanned div.item {
    width: 205px;
    float: left;
    clear: both;
}
div#resultBlog div.title {
    font-family: "News Gothic MT","Trebuchet MS",Helvetica,sans-serif;
    font-size: 1.25em;
    line-height: 100%;
    font-weight: 600;
    padding-bottom: 5px;
}
div#resultBlog div.byline,
div#resultScanned div.updated {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    font-size: 0.6875em;
    color:#999;
    padding-bottom: 10px;
}
div#resultBlog div.content,
div#resultScanned div.title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia,serif;
    font-size: 0.75em;
}
div#resultScanned p {
    display: none;
}
div#resultScanned img {
    display: block;
    margin-right: 10px;
    width: 45px!important;
}
div#publicTwitter div.tweet_cell{width:205px;}
div#publicTwitter div.tweet_avatar{width:35px;}
div#publicTwitter div.tweet_copy{width:170px;}
div#publicTwitter div.tweet_cell {float:left;font-size:0.75em;}
div#publicTwitter a.tweetFeed {font-size:0.75em;}

/* WMD TEXTAREA WYSIWYG */

.wmd-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

#wmd-editor
{
	background-color: Aquamarine;
}

#wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}

#wmd-input 
{ 
	height: 500px;
	width: 100%;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
}

#wmd-preview 
{ 
	background-color: LightSkyBlue; 
}

#wmd-output 
{ 
	background-color: Pink;
}

#wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	background-image: url(images/wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block; 
	list-style: none;
}

.wmd-button > a
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	display: inline-block; 
}


/* sprite button slicing style information */
#wmd-button-bar #wmd-bold-button    {left: 0px;   background-position: 0px 0;}
#wmd-button-bar #wmd-italic-button  {left: 25px;  background-position: -20px 0;}
#wmd-button-bar #wmd-spacer1        {left: 50px;}
#wmd-button-bar #wmd-link-button    {left: 75px;  background-position: -40px 0;}
#wmd-button-bar #wmd-quote-button   {left: 100px;  background-position: -60px 0;}
#wmd-button-bar #wmd-code-button    {left: 125px;  background-position: -80px 0;}
#wmd-button-bar #wmd-image-button   {left: 150px;  background-position: -100px 0;}
#wmd-button-bar #wmd-spacer2        {left: 175px;}
#wmd-button-bar #wmd-olist-button   {left: 200px;  background-position: -120px 0;}
#wmd-button-bar #wmd-ulist-button   {left: 225px; background-position: -140px 0;}
#wmd-button-bar #wmd-heading-button {left: 250px; background-position: -160px 0;}
#wmd-button-bar #wmd-hr-button      {left: 275px; background-position: -180px 0;}
#wmd-button-bar #wmd-spacer3        {left: 300px;}
#wmd-button-bar #wmd-undo-button    {left: 325px; background-position: -200px 0;}
#wmd-button-bar #wmd-redo-button    {left: 350px; background-position: -220px 0;}
#wmd-button-bar #wmd-help-button    {right: 0px; background-position: -240px 0;}


.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

#wmd-input { background: white; }
#wmd-button-bar { background: white; }
.wmd-button {
	background-image: url(/images/wmd-buttons.png);
}