$def with (map, a, b)

$add_stylesheet('/files/core/diff.css')

$var title: $_.DIFF

<p>[<a href="$changequery(m=None, a=None, b=None)">$_.VIEW</a>][<a href="$changequery(m='edit', a=None, b=None)">$_.EDIT</a>]</p>

<div class="diff">

<table class="sidebyside" summary="$_.DIFFERENCES">
    <colgroup class="l"><col class="lineno" /><col class="content" /></colgroup>
    <colgroup class="r"><col class="lineno" /><col class="content" /></colgroup>
    <thead>
          <tr> 
              <th colspan="2">$_.REVISION $a.v.revision</th> 
              <th colspan="2">$_.REVISION $b.v.revision</th>
          </tr>
    </thead>
$for row in map:
    $ key = row[0]
    $ ai = row[1]
    $ a = row[2]
    $ bi = row[3]
    $ b = row[4]
    <tbody class="$key">
    <tr><th>$ai</th><td class='l'>$:spacesafe(a or ' ')</td><th>$bi</th><td class='r'>$:spacesafe(b or ' ')</td></tr>
    </tbody>
</table>

   <div id="legend">
    <h3>$_.LEGEND:</h3>
    <dl>
     <dt class="unmod"></dt><dd>$_.UNMODIFIED</dd>
     <dt class="add"></dt><dd>$_.ADDED</dd>
     <dt class="rem"></dt><dd>$_.REMOVED</dd>
     <dt class="mod"></dt><dd>$_.MODIFIED</dd>
    </dl>
   </div>
</div>
