$def with (changes)

$var title: $_.RECENT_CHANGES

<table>
<tr>
  <th>$_.WHEN</th>
  <th>$_.PATH</th>
  <th>$_.WHO</th>
  <th>$_.ACTIONS</th>
</tr>

$for c in changes:
    <tr>
    <td>$datestr(c.created)</td>
    <td>$c.path</td>
    <td>$(c.author or c.ip_address)</td>
    <td>
    <a href="$homepath()/$c.path?m=view&v=$c.revision">$_.VIEW</a>&nbsp;
    <a href="$homepath()/$c.path?m=edit&v=$c.revision">$_.EDIT</a>&nbsp;
    <a href="$homepath()/$c.path?m=diff&b=$c.revision">$_.DIFF</a>&nbsp;
    </td>
    </tr>

</table>
