$def with (author)

$jsdef render_lazy_author_preview(item):
    $if item:
        <div class="ac_author" title="$_('Select this author')">
            <div class="olid">$item['key']</div>
            <span class="name">
                $item['name']
                $if item['birth_date'] or item['death_date']:
                    ($(item['birth_date'] or ' ')&ndash;$(item['death_date'] or ' '))
            </span>
            $if item['work_count'] == 0:
                <span class="work">$_("No books associated with %(author)s", author=item['name'])</span>
            $elif item['work_count'] == 1:
                $:_('<span class="books">One book</span> <span class="work">titled <i>%(title)s</i></span>', title=item['top_work'])
            $else:
                $:_('<span class="books">%(count)d books</span> <span class="work">including <i>%(title)s</i></span>', count=item['work_count'], title=item['top_work'])

            $if item['subjects']:
                <span class="subject">$_("Subjects:") $(', '.join(item['subjects']))</span>
        </div>

$if author:
    $:render_lazy_author_preview(author)