$def with (author)

$jsdef render_lazy_author_preview(item):
    $if item:
        <div class="ac_author" title="$_('Select this author')">
            <div class="olid">$item['key']</div>
            <span class="name">
                $item['name']
                $if item['birth_date'] or item['death_date']:
                    ($(item['birth_date'] or ' ')&ndash;$(item['death_date'] or ' '))
            </span>
            $if item['work_count'] == 0:
                <span class="work">$_('No books associated with %(item)s', item=$item['name'])</span>
            $elif item['work_count'] == 1:
                <span class="books">$_("1 book")</span>
                <span class="work">$_("titled ") <i>$item['top_work']</i></span>
            $else:
                <span class="books">$item['work_count'] books</span>
                <span class="work">$_("including ")<i>$item['top_work']</i></span>

            $if item['subjects']:
                <span class="subject">$_('Subjects: %(subjects)s', subjects=(', '.join(item['subjects'])))</span>
        </div>

$if author:
    $:render_lazy_author_preview(author)