$def with (author)

$jsdef render_lazy_author_preview(item):
    $if item:
        <div class="ac_author" title="$_('Select this author')">
            <div class="olid">$item['key']</div>
            <span class="name">
                $item['name']
                $if item['birth_date'] or item['death_date']:
                    ($(item['birth_date'] or ' ')&ndash;$(item['death_date'] or ' '))
            </span>
            $if item['work_count'] == 0:
                $ msg_book = _("No books associated with %s")
                <span class="work">$sprintf(msg_book, item['name'])</span>
            $else:
                $ msg_book = ungettext("%s book", "%s books", item['work_count'])
                $ msg_title = ungettext("titled <i>%s</i>", "including <i>%s</i>", item['work_count'])
                <span class="books">$sprintf(msg_book, item['work_count'])</span> <span class="work">$:sprintf(msg_title, item['top_work'])</i></span>

            $if item['subjects']:
                <span class="subject">$_("Subjects:") $(', '.join(item['subjects']))</span>
        </div>

$if author:
    $:render_lazy_author_preview(author)
