$def with (author, property)

$ name = property.name

$ _t = i18n.get_namespace('/type/edition')

<input onfocus="setup_freebase_suggest(this)" id="$name" type="text" name="_name_$name" class="cloneThis" value="$author.name" ac_name="$name" freebase_suggest="true"/>
<input id="key_$name" type="hidden" name="${name}.key" value="$author.key"/>
<input id="saved_name_$name" type="hidden" name="_saved_name_$name" value="$author.name"/>

<div class="fberror" style="display: none;">
    <div>$_t.author_dropdown</div><br/>
    <span id="hideerror"></span>
</div>