$def with(work, reader_observations, key)

$if reader_observations['total_respondents']:
  $ total_reviews = reader_observations['total_respondents']
$else:
  $ total_reviews = 0

<a name="reader-observations" class="section-anchor"></a>      

<div class="tab-section">
  <h2 class="observation-title">$_('Community Reviews') ($total_reviews)</h2>
  $if total_reviews > 0:
    $for o in reader_observations['observations']:
      $ total = o['total_respondents_for_type']
      <div class="category">
        <div class="label">$o['label'] ($total)</div>
        <div class="breakdown">
          $for v in o['values']:
            $ percentage = (v['count'] / total) * 100
            <div class="pill">
              <div class="value">
                $v['value'].capitalize()
              </div>
              <div class="percentage">
                $percentage%
              </div>
            </div>
        </div>
      </div>
  $else:
    <hr>
    <div class="no-stats-message">$_('No community reviews have been submitted for this work.')</div>
    <div class="no-stats-message">$_('Click the link below to share your thoughts.')</div>
  <hr>
  $if ctx.user:
    $:macros.ObservationsModal(work, _('+ Add your community review'), 'stats', 'stats-link')
  $else:
    <a class="stats-link" href="/account/login?redirect=$key">$_('Log in to add your observations')</a>
</div>
