{# Standalone yearly-goal modal for account/view.html (Templetor).
   `goal` is the existing target for `year`, or undefined/None when unset:
   the form renders as an update (with the "enter 0 to unset" note) when a
   goal exists, otherwise as a create. Omit `goal` for a create form. #}
{% from "reading_goals/reading_goal_form.html.jinja" import goal_form %}
{% set update = true if goal else false %}
<ol-dialog id="yearly-goal-modal" label="{{ _('Yearly Reading Goal') }}" label-close="{{ _('Close') }}" width="small">
    {{ goal_form(goal or none, year, update) }}
</ol-dialog>
