[submodule "vendor/infogami"]
	path = vendor/infogami
	url = git://github.com/internetarchive/infogami.git
[submodule "vendor/js/wmd"]
	path = vendor/js/wmd
	url = git://github.com/internetarchive/wmd.git
