openlibrary/components/dev/_dev.js
*venv
*.pyc
*~
.vscode/
*.swp
*.mo
var/
usr/
static/build/
static/css/page-dev.less
build/
*.tgz
*.tar.gz
*.org
coverage/
dumps/
/*.log
openlibrary.egg-info/
pip-log.txt
supervisord.pid
openlibrary/mailserver/logs/lamson.err
openlibrary/mailserver/logs/lamson.log
openlibrary/mailserver/logs/logger.log
lamson.out
openlibrary/mailserver/run/
bad_data.json
TAGS
env/
.coverage
htmlcov
.DS_Store
.cache
node_modules/
.idea/
venv/
*.c
*.so
