[submodule "webpy"]
	path = webpy
	url = git://github.com/webpy/webpy.git
[submodule "infogami"]
	path = infogami
	url = git://github.com/infogami/infogami.git
[submodule "solrconfig"]
	path = solrconfig
	url = git://github.com/openlibrary/solrconfig.git
