*.pyc
*~
.vscode/
*.swp
*.mo
var/
usr/
static/build/
static/css/page-dev.less
build/
*.tgz
*.tar.gz
*.org
coverage/
/*.log
openlibrary.egg-info/
pip-log.txt
supervisord.pid
vendor/apache-solr-1.4.0/
vendor/solr/
solr-update.offset
openlibrary/mailserver/logs/lamson.err
openlibrary/mailserver/logs/lamson.log
openlibrary/mailserver/logs/logger.log
lamson.out
openlibrary/mailserver/run/
bad_data.json
TAGS
env/
.coverage
htmlcov
.DS_Store
.cache
node_modules/
.idea/

