# Ignore artifacts:
build
coverage

.mypy_cache
.ruff_cache
.pytest_cache
static/build
vendor

# Ignore most files:
# Right now we are starting with less/css files only
**/*.html
**/*.py
**/*.mjs
**/*.js
**/*.yml
**/*.yaml
**/*.json
**/*.md
**/*.vue
**/*.mdx
.babelrc