os: linux
dist: focal
language: python
jobs:
  include:
    - name: “Python 2.7 on xenial”
      python: "2.7"
      dist: xenial
    - name: “Python 2.7 on focal”
      python: "2.7"
    - name: “Python 2.7 on Infogami master”
      python: "2.7"
      script:
        - make i18n
        - make test
        - pip install safety
        - safety check || true
    - name: “Python 3.8 make lint and selected pytests”
      python: "3.8"
      before_script: true  # override npm install below
      script:
        # On pull requests, run all flake8 tests on modified code
        # if clause avoids `fatal: ambiguous argument 'origin/master'` on git push
        - if [ "$TRAVIS_EVENT_TYPE" == "pull_request" ]; then
            make lint-diff;
          fi
        - source scripts/test-py3.sh
    - name: “Python 3.8 on focal”
      python: "3.8"
    - name: "Integration tests"
      python: "3.8"
      services:
        - docker
        - xvfb
      addons:
        chrome: stable
      before_install:
        - google-chrome --version  # "Google Chrome 84.0.4147.105" so install matching chromedriver
        - wget http://chromedriver.storage.googleapis.com/84.0.4147.30/chromedriver_linux64.zip
        - unzip chromedriver_linux64.zip -d $HOME/bin/
        - whereis chromedriver  # chromedriver: /home/travis/bin/chromedriver
        - # https://github.com/internetarchive/openlibrary/tree/master/docker
        - docker build -t olbase:latest -f docker/Dockerfile.olbase .  # 8+ minutes on Travis CI
        - docker-compose build web   # 50 seconds on Travis CI
        - docker-compose build solr  # 32 seconds on Travis CI
        - pushd vendor/infogami && git pull origin master && popd
        - INFOGAMI=local PYENV_VERSION=3.8.5 docker-compose up -d
        - google-chrome-stable --headless --no-sandbox --disable-gpu http://localhost:8080 &
      install:
        - pip install --upgrade pip wheel
        - pip install --upgrade splinter pytest pyyaml
      before_script: true  # Override the main before_script
      script:
        - pytest tests/integration
  allow_failures:
    - name: “Python 2.7 on Infogami master”
    - name: “Python 3.8 on focal”
    - name: "Integration tests"
# Ubuntu may have an old version of node, so make sure Node 12 is installed
# and used instead. Should match Dockerfile.
before_install:
  - nvm install 12
  - nvm use 12
install:
  - pip install -r requirements_test.txt
  # refresh the git submodule ./vendor/infogami on some jobs
  - if [ "$TRAVIS_PYTHON_VERSION" == "3.8" ] || [ "$TRAVIS_JOB_NAME" == "Python 2.7 on Infogami master" ]; then
      pushd vendor/infogami && git pull origin master && popd;
    fi
  - make lint  # TODO: Move this to script: section after #2951 lands
before_script: npm install
script:
  - make i18n
  - make test
