Babel==2.5.3
BeautifulSoup==3.2.0
CouchDB==0.8
DBUtils==1.1
Fabric==1.10.1
Genshi==0.6
Jinja2==2.6
LEPL==5.1.3
OL-GeoIP==1.2.4
PIL==1.1.7
PyYAML==3.10
Pygments==1.4
SQLAlchemy==0.7.4
Sixpack-client==1.1.0
Sphinx==1.1.2
amqplib==1.0.2
anyjson==0.3.1
argparse==1.2.1
args==0.1.0
backports.shutil-get-terminal-size==1.0.0
bottlenose==1.1.2
celery==2.4.5
clint==0.5.1
decorator==4.0.10
docopt==0.6.2
docutils==0.8.1
ecdsa==0.11
enum34==1.1.6
eventer==0.1.1
gunicorn==0.13.4
internetarchive==1.7.6
ipdb==0.10.1
iptools==0.4.0
ipython==5.1.0
ipython-genutils==0.1.0
jsonpatch==0.4
kombu==1.5.1
lxml==2.3.2
meld3==0.6.7
mockcache==1.0.1
ndg-httpsclient==0.4.2
-e git+git@github.com:internetarchive/openlibrary.git@997a268222a2256876c1bd3296c96f982c29fd37#egg=openlibrary-origin/HEAD
ordereddict==1.1
paramiko==1.15.2
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
psycopg2==2.7.3.2
ptyprocess==0.5.1
py==1.4.5
pyOpenSSL==16.2.0
pyasn1==0.1.9
pycrypto==2.6.1
pymarc==2.8.4
pystatsd==0.1.6
pytest==2.2.0
python-amazon-simple-product-api==2.2.11
python-dateutil==1.5
python-memcached==1.48
requests==2.12.3
schema==0.5.0
simplegeneric==0.8.1
simplejson==2.3.0
six==1.11.0
supervisor==3.0a12
traitlets==4.3.1
wcwidth==0.1.7
web.py==0.33
wsgiref==0.1.2
