amightygirl.paapi5-python-sdk==1.0.0
Babel==2.7.0
beautifulsoup4==4.6.3
DBUtils==1.3
Deprecated==1.2.11
eventer==0.1.1
flup-py3==1.0.3
Genshi==0.7.1
gunicorn==20.0.4
internetarchive==1.9.6
isbnlib==3.9.3
lxml==4.6.2
Pillow==8.1.2
psycopg2==2.8.4
Pygments==2.4.2
pymarc==4.0.0
python-memcached==1.59
PyYAML==5.4.1
sentry-sdk==0.20.3
simplejson==3.16.0
six==1.15.0
sixpack-client==1.2.0
statsd==3.3.0
validate_email==1.3
web.py==0.62
