Babel==0.9.6
PIL==1.1.7
argparse==1.2.1
BeautifulSoup==3.2.0
CouchDB==0.8
DBUtils==1.1
Genshi==0.6
gunicorn==0.13.4
iptools==0.4.0
lxml==2.3.2
psycopg2==2.4.3
pymarc==2.8.4
pytest==2.2.0
python-memcached==1.48
PyYAML==3.10
simplejson==2.3.0
Sphinx==1.1.2
supervisor==3.0a12
web.py==0.33
pystatsd==0.1.6
celery==2.4.5
eventer==0.1.1
SQLAlchemy==0.7.4
Pygments==1.4
OL-GeoIP==1.2.4
## The following requirements were added by pip --freeze:
Jinja2==2.6
amqplib==1.0.2
anyjson==0.3.1
docutils==0.8.1
importlib==1.0.2
kombu==1.5.1
meld3==0.6.7
ordereddict==1.1
py==1.4.5
python-dateutil==1.5
wsgiref==0.1.2
mockcache==1.0.1
sixpack-client==1.1.0
