# Requirements for running tests and non-production Docker build.
# Expects some apt packages are already installed.
# see .github/workflows/python_tests.yml for more details.

-r requirements.txt
debugpy>=1.6.0
flake8==4.0.1
mypy==0.960
pymemcache==3.5.2
pytest==7.1.2
pytest-asyncio==0.18.3
safety==1.10.3
