Babel==2.5.3
beautifulsoup4==4.6.3
DBUtils==1.3
flake8==3.6.0
Genshi==0.7.1
gunicorn==19.9.0
iptools==0.6.1; python_version < '3.0'
internetarchive==1.8.1
lxml==4.2.5
pyflakes==2.0.0
pymarc==3.1.11
python-memcached==1.59
simplejson==3.16.0
supervisor==3.0a12; python_version < '3.0'
web.py==0.33; python_version < '3.0'
web.py==0.40-dev1; python_version >= '3.0'
pystatsd==0.1.6
PyYAML==3.10
eventer==0.1.1
lepl==5.1.3
six==1.12.0
sixpack-client==1.1.0
psycopg2==2.7.3.2
OL-GeoIP==1.2.4; python_version < '3.0'
Pygments==1.4
python-amazon-simple-product-api==2.2.11
isbnlib==3.9.3
