aiofiles==23.1.0
amightygirl.paapi5-python-sdk==1.0.0
APScheduler==3.11.0
Babel==2.12.1
beautifulsoup4==4.12.2
eventer==0.1.1
feedparser==6.0.11
flup-py3==1.0.3
Genshi==0.7.7
git+https://github.com/webpy/webpy.git@d3649322b85777b291ac2b7b3699fb6fc839e382
gunicorn==23.0.0
httpx==0.24.1
ijson==3.2.3
internetarchive==3.5.0
isbnlib==3.10.14
luqum==0.11.0
lxml==4.9.4
multipart==0.2.4
Pillow==10.4.0
psycopg2==2.9.10
pydantic==2.4.0
pymarc==5.1.0
python-dateutil==2.8.2
python-memcached==1.59
PyYAML==6.0.1
qrcode==7.4.2
requests==2.32.2
sentry-sdk==2.19.2
simplejson==3.19.1
statsd==4.0.1
validate_email==1.3
