# Requirements for running tests and non-production Docker build.
# Expects some apt packages are already installed.
# see .github/workflows/python_tests.yml for more details.

-r requirements.txt
debugpy>=1.6.4
mypy==2.3.0
pymemcache==4.0.0
pytest==9.1.1
pytest-asyncio==1.4.0
pytest-httpx==0.36.2
ruff==0.15.22
WebTest==3.0.7
