amightygirl.paapi5-python-sdk==1.0.0
Babel==2.7.0
beautifulsoup4==4.6.3
DBUtils==1.3
Deprecated==1.2.7
eventer==0.1.1
Genshi==0.7.1
gunicorn==19.9.0; python_version < '3.0'
gunicorn==20.0.4; python_version >= '3.0'
internetarchive==1.8.5
isbnlib==3.9.3
lxml==4.4.1
Pillow==6.2.2; python_version < '3.0'
Pillow==8.0.1; python_version >= '3.0'
psycopg2==2.8.4
Pygments==2.4.2
pymarc==3.2.0; python_version < '3.6'
pymarc==4.0.0; python_version >= '3.6'
python-memcached==1.59
PyYAML==5.3.1
sentry-sdk==0.19.1
simplejson==3.16.0
six==1.15.0
sixpack-client==1.2.0
validate_email==1.3
web.py==0.39; python_version < '3.5'
web.py==0.61; python_version >= '3.5'
# statsd...
pystatsd==0.1.6; python_version < '3.0'
statsd==3.3.0; python_version >= '3.0'
