/**
 * Border Primitives
 * ======================
 * Rarely used, directly in components - use semantic tokens instead
 */
@border-width-none: 0;
@border-width-thin: 1px;
@border-width: 1px;
@border-width-thick: 2px;
@border-width-heavy: 3px;

/**
 * Border Semantic Tokens
 * ====================
 * Semantic tokens for borders.
 * Reference these throughout the app for consistent border styling
 *
 * You should be able to use the complete border style variables in most cases,
 * instead of the border width variables.
 */

/* === BORDER WIDTHS === */
@border-width-control: @border-width; // inputs, buttons
@border-width-media: @border-width; // images, media objects
@border-width-table: @border-width;
@border-width-divider: @border-width;
@focus-width: @border-width-thick;

/* === COMPLETE BORDER STYLES === */
@border-card: @border-width solid @color-border-subtle;
@border-divider: @border-width solid @color-border-subtle;
@border-table: @border-width solid @color-border-subtle;

@border-input: @border-width solid @color-border-subtle;
@border-input-hovered: @border-width solid @color-border-focused;
@border-input-focused: @border-width solid @color-border-focused;

/* === FOCUS RING === */
@box-shadow-focus: 0 0 0 @focus-width @color-focus-ring; // accessible focus indicator
