@arial_sans_serif: "Arial","Helvetica",sans-serif;

@georgia_serif-1: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
@georgia_serif-2: "Georgia","Times New Roman",serif;

@news_gothic_sans_serif: "News Gothic MT","Arial Rounded MT",Geneva,Helvetica,sans-serif;
@news_gothic_sans_serif-2: "News Gothic MT","Trebuchet MS",Geneva,Helvetica,sans-serif;

@lucida_sans_serif-1: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
@lucida_sans_serif-2: "Lucida Grande",Verdana,Geneva,Helvetica,sans-serif;
@lucida_sans_serif-3: "Lucida Grande","Arial","Helvetica",sans-serif;
@lucida_sans_serif-4: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, sans-serif;
@lucida_sans_serif-5: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, Arial, sans-serif;
@lucida_sans_serif-6: "Lucida Grande", Verdana, Geneva, Helvetica, sans-serif;
@lucida_sans_serif-7: "Lucida Grande","Arial",sans-serif;

@lucida_console_monospace: "Lucida Console","Courier New", monospace;

@monospace: monospace;
@verdana: verdana, sans-serif;
@ichonochive: "Iconochive-Regular", sans-serif;
@bahnschrift: Bahnschrift, sans-serif;

@font-size-display-large: 57px;
@font-size-display-medium: 45px;
@font-size-display-small: 36px;

@font-size-headline-large: 32px;
@font-size-headline-medium: 28px;
@font-size-headline-small: 24px;

@font-size-title-large: 22px;
@font-size-title-medium: 16px;
@font-size-title-small: 14px;

@font-size-label-large: 14px;
@font-size-label-medium: 12px;
@font-size-label-small: 11px;

@font-size-body-large: 16px;
@font-size-body-medium: 14px;
