// stylelint-disable declaration-block-no-duplicate-properties
.display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.shell-btn--active() {
  background-color: @white;
  border: 2px solid @primary-blue;
  color: @primary-blue;
}
// stylelint-enable declaration-block-no-duplicate-properties

.line-clamp(@lines) {
  display: -webkit-box;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
