// stylelint-disable declaration-block-no-duplicate-properties
.display-flex() {

 
  
  display: flex;
}
.shell-btn--active() {
  background-color: @white;
  border: 2px solid @primary-blue;
  color: @primary-blue;
}
// stylelint-enable declaration-block-no-duplicate-properties
