$def with (work_key, read_status, edition_key=None, last_read_date=None, event_id=None)

$# work_key : str : The work key
$# read_status : int | None : Number representing which shelf this work is on.
$#    Possible Values:
$#    1 : Want to Read
$#    2 : Currently Reading
$#    3 : Already Read
$#    None : Work is not on the patron's shelf
$# edition_key : str | None : The edition key
$# last_read_date : str | None : Date that the patron last read the book
$# event_id : str | None : ID of record for this event

$code:
  work_olid = work_key.split('/')[-1]
  modal_id = 'modal-content-%s' % work_olid
  prompt_id = 'prompt-%s' % work_olid
  config = {
    "workOlid": work_olid
  }
  if edition_key:
    config["editionKey"] = edition_key
  if last_read_date:
    config["lastReadDate"] = last_read_date
  if event_id:
    config["eventId"] = event_id

<div id="check-in-container-$(work_olid)" class="check-in-container" data-config="$json_encode(config)">
    <div id="check-in-display-$(work_olid)" class="last-read-date $cond(last_read_date, '', 'hidden')">
      <span class="date-display">
        $:_('Read <time class="check-in-date">%(date)s</time>', date=last_read_date)
        <a class="prompt-edit-date check-in-trigger dialog--open" href="javascript:;" aria-controls="$modal_id" data-ol-link-track="CheckInPrompt|EditDate">$_("Edit")</a>
      </span>
    </div>

    $ display_prompt = read_status == 3
    <div id="$(prompt_id)" class="check-in-prompt $cond((display_prompt and not last_read_date), '', 'hidden')" data-work-olid="$(work_olid)">
      <span class="prompt-copy">$_("When did you finish this book?")</span>
      <span class="prompt-options">
        $ year = current_year()
        <a class="prompt-current-year use-local-year" href="javascript:;" data-ol-link-track="CheckInPrompt|SetDateCurrentYear" data-server-year="$year">$year</a>
        <a class="prompt-today" href="javascript:;" data-ol-link-track="CheckInPrompt|SetDateToday">$_("Today")</a>
        <a class="prompt-custom check-in-trigger dialog--open" href="javascript:;" aria-controls="$modal_id" data-ol-link-track="CheckInPrompt|SetDateCustom">$_("Other")</a>
      </span>
    </div>
    $if render_once("check-in-form-template"):
      <div class="hidden">
        <div id="check-in-form-modal" class="floaterAdd">
          <div class="floaterHead">
            <h2>$_("Check-In")</h2>
            <a class="dialog--close">&times;<span class="shift">$_("Close")</span></a>
          </div>
          $:render_template('my_books/check_ins/check_in_form')
        </div>
      </div>
</div>
