$def with (action, url_status, source_name)

<form class="ol-cover-form ol-cover-form--external" method="post" enctype="multipart/form-data" action="$action">
    <div class="label">
        <label>$_("Or, use a cover from %s", source_name)</label>
    </div>
    <div class="input-container">
        $for url, status in url_status.items():
            $if url:
                    <div class="input">
                        <a href="$url" target="_blank">
                            <img class="ol-cover-form--external_image" src="$url" style="height: 200px" alt="" />
                        </a>
                        $if not status:
                            <button type="submit" class="cta-btn cta-btn--vanilla" name="url" value="$url">$_("Upload Image")</button>
                        $else:
                            <button type="submit" class="cta-btn cta-btn--vanilla" disabled>$_("Uploaded")</button>
                    </div>
    </div>
</form>
