$def with (action, img_url_cover, img_url_title, source_name)

<form class="ol-cover-form ol-cover-form--external" method="post" enctype="multipart/form-data" action="$action">
    <div class="label">
        <label>$_("Or, use a cover from %s", source_name)</label>
    </div>
    <div style="display: flex; flex-direction: row; gap: 5px;">
        $for url in [img_url_cover, img_url_title]:
            $if url:
                <div class="input" style="align-items: center;">
                    <a href="$url" target="_blank" style="flex-direction: column;">
                        <img class="ol-cover-form--external_image" src="$url" style="height: 200px" alt="" />
                    </a>
                    <button type="submit" class="cta-btn cta-btn--vanilla" name="url" style="flex-direction: column;" value="$url">$_("Upload Image")</button>
                </div>
    </div>
</form>
