#test-body-mobile {
  box-sizing: border-box;
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--dark-beige);
  z-index: var(--z-index-level-1);
  position: relative;
}

/* stylelint-disable-next-line no-descending-specificity */
body.full-width #test-body-mobile {
  max-width: initial;
  border: 0;
  border-radius: 0;
}

/* The border-box padding model is much more friendly for responsive layouts
   so we adopt it in all pages
   https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  box-sizing: border-box;
}

/* Desktop: min-width: 960px */
@media all and (min-width: 960px) {
  .contentQuarter {
    float: left;
    width: 25%;
    padding-right: 19px;
  }
}
