$def with (page, h, page_num=1, total_pages=1)

$putctx("robots", "noindex,nofollow")

$# show book title/author name instead of key
$if page.type.key in ['/type/edition', '/type/work', '/type/page']:
    $ name = page.title or 'Title unknown'
$elif page.type.key == '/type/author':
    $ name = page.name or 'Author name unknown'
$else:
    $ name = page.key

$var title: $name

$ rev = page.latest_revision or page.revision

<div id="contentHead">
    $:macros.databarHistory(page)
    <span class="lightgreen smallest sansserif">$_("History of edits to")</span>
    <h1><a href="$page.key">$name</a></h1>
</div>
<div id="contentBody">
        $:macros.OlPagination(page_num, total_pages)

        <form action="">
        <table id="pageHistory">
        <thead>
            <tr>
                <th class="numberhead" style="text-align:center;">$_("Rev")</th>
                <th class="historyheader">$_("Edit")</th>
                <th class="historyheader" style="text-align:center;">$_("Diff")</th>
                <th class="historyheader" style="text-align:center;">$_("Pick (A/B)")</th>
            </tr>
        </thead>
        <tbody>
            $for v in h:
                $ row_class = "history-current-row" if v.revision == rev else ""
                <tr class="$row_class">
                    <td class="number">
                        <div>$v.revision</div>
                        $if v.revision == rev:
                            <div class="history-current-badge">$_("Current")</div>
                    </td>
                    <td class="edit">
                        <div>
                            $if v.comment:
                                $:render_template("history/comment", v)
                            $else:
                                <span class="history-no-comment">$_("no comment")</span>
                        </div>
                        <div>
                            $if v.author:
                                <a href="$homepath()$v.author.key">$v.author.displayname</a>
                            $elif v.ip and v.ip != '127.0.0.1':
                                <a href="/recentchanges?ip=$v.ip">$v.ip</a>
                            $else:
                                $v.ip
                            <span class="edit-date">· $datestr(v.created)</span>
                        </div>
                    </td>
                    <td class="compare-against" style="text-align:center;">
                        <a href="$page.key?m=diff&b=$v.revision">$_("See changes")</a>
                        $if v.revision != rev:
                            &nbsp;
                            <a href="$page.key?m=diff&b=$rev&a=$v.revision">$_("Compare against latest")</a>
                    </td>
                    <td class="pick-ab">
                        <fieldset>
                            <legend class="shift">
                                $_("Pick revision %s as A or B for comparison", v.revision)
                            </legend>
                            <label><input type="radio" name="a" value="$v.revision"
                                $if v.revision == rev - 1:
                                    checked
                                $elif v.revision == rev:
                                    checked
                            /> A</label>
                            <label><input type="radio" name="b" value="$v.revision"
                                $if v.revision == rev:
                                    checked
                            /> B</label>
                        </fieldset>
                    </td>
                </tr>
        </tbody>
        </table>
        <input type="hidden" name="m" value="diff"/>

        </form>

        $:macros.OlPagination(page_num, total_pages)

</div>
