$def with (md_provider_factory, req, result=None)

<div id="contentHead">
    <h1>$_("Import Preview")</h1>
</div>

<div id="contentBody">
    <form method="POST" action="/import/preview">
        <select aria-label="select provider" name="provider" required>
            $for prefix, provider in md_provider_factory.metadata_providers.items():
                <option
                    value="$prefix"
                    $:cond(req and req.metadata_provider == provider, 'selected')
                >$provider.full_name</option>
        </select>
        <input
            aria-label="input provider identifier"
            type="text"
            name="identifier"
            required
            value="$(req.identifier if req else '')"
        >
        <button type="submit">$_("Preview Import")</button>
    </form>


    $if result:
        <h2>$_("Preview")</h2>
        <details $cond(not result.get('edits'), 'open')>
            <summary>$_("Show Raw Import Data")</summary>
            <textarea readonly aria-label="json preview of import record" style="width: 100%; height: 300px;">$json_encode(result, indent=2)</textarea>
        </details>
        $if 'edits' in result and result['edits']:
            <hr>
            $for edit in result['edits']:
                $if not edit.get('revision'):
                    <h3>$_("New %(thing_type)s record will be created", thing_type=edit['type']['key'])</h3>
                    <textarea readonly aria-label="json preview of new record" style="width: 100%; height: 200px;">$json_encode(edit, indent=2)</textarea>
                $else:
                    <h3>$_("Changes to %(key)s", key=edit['key'])</h3>
                    $ prev = get_document(edit['key'])
                    $ edit = create_thing(edit)
                    $:render_template('diff.html', prev, edit, show_header=False)
                <hr>

        <form method="POST" action="/import/preview">
            <input type="hidden" name="provider" value="$req.metadata_provider.id_name">
            <input type="hidden" name="identifier" value="$req.identifier">
            <input type="hidden" name="save" value="true">
            <button type="submit">$_("Import")</button>
        </form>
</div>