$def with (name, etype=None, evalue=None)

$var title: $_("Internal Error")

<div id="contentHead">
    <h1>$_("A Problem Occurred")</h1>
</div>

<div id="contentBody">
    <p>$_("We're sorry, a problem occurred wil responding to your request:")</p>
    <code>
        $etype
        $evalue
    </code>
    <p>$:_("The reference code %s has been created to track this error and we will investigate as we're able.", name)</p>
    <p>$:_('Return to the <a href="javascript:history.back()">previous page</a>?')</p>
</div>