$def with (name_webpy_error, sentry_event_id=None, etype=None, evalue=None)

$var title: $_("Internal Error")

<div id="contentHead">
    <h1>$_("A Problem Occurred")</h1>
</div>

<div id="contentBody">
    <p>$_("We're sorry, a problem occurred while responding to your request:")</p>
    <code>
        $etype
        $evalue
    </code>
    $if sentry_event_id:
        <p>$:_("The reference code %s and Sentry error ID %s have been created to track this error and we will investigate as we're able.", name_webpy_error, sentry_event_id)</p>
    $else:
        <p>$:_("The reference code %s has been created to track this error and we will investigate as we're able.", name_webpy_error)</p>
    <p>$:_('Return to the <a class="go-back-link" href="javascript:;">previous page</a>?')</p>
</div>
