$def with(merge_requests=None, selected="open")

$def format_comment(comment):
  <div title="$comment['timestamp']">
    <span>$comment['username']</span>: <span>$comment['message']</span>
  </div>

<h1>Community Edit Requests</h1>

$ show_open = query_param('open', True) in [True, 'true']
$ show_closed = query_param('closed', False) in [True, 'true']

<ul class="nav-bar">
  <li class="$('selected' if show_open and not show_closed else '')"><a href="/merges">$_('Open')</a></li>
  <li class="$('selected' if show_closed and not show_open else '')"><a href="/merges?closed=true&open=false">$_('Closed')</a></li>
  <li class="$('selected' if show_open and show_closed else '')"><a href="/merges?closed=true">$_('All')</a></li>
</ul>

$if merge_requests:
  <table style="padding-top:5px;">
    <tr>
      <th>url</th>
      <th>submitter</th>
      <th>reviewer</th>
      <th>status</th>
      <th>comments</th>
    </tr>
    $for r in merge_requests:
      $ status = get_status_for_view(r['status'])
      $ comments = r['comments'] and r['comments']['comments']
      <tr id="mrid-$(r['id'])" title="$r">
        $ url = "%s&mrid=%s" % (r['url'], r['id'])
        <td><a href="$url">$url</a></td>
        <td>$r['submitter']</td>
        <td>$r['reviewer']</td>
        <td>$status</td>
        <td>
          $if comments:
            <details>
              <summary>$:format_comment(comments[-1])</summary>
              $for c in comments[:-1]:
                  $:format_comment(c)
            </details>
        </td>
      </tr>
  </table>
