$def with(merge_requests=None, submitter=None)

$def format_comment(comment):
  <span class="comment-username" title="$comment['timestamp']">$comment['username']:</span> <span>$comment['message']</span>

$code:
  def url_to_olids(url):
    query_str = url.split('?')[1]
    split_params = query_str.split('&')
    params = {}
    for p in split_params:
      kv = p.split('=')
      params[kv[0]] = kv[1]
    return params['records'].split(',')


$ username = ctx.user and ctx.user.key.split('/')[-1]
$ can_merge = ctx.user and (ctx.user.is_usergroup_member('/usergroup/librarian-work-merge'))

$ show_open = query_param('open', True) in [True, 'true']
$ show_closed = query_param('closed', False) in [True, 'true']

<h1 class="title">Community Edit Requests</h1>

$if submitter:
  $ desc = _("Showing %(username)s's requests only.", username=submitter)
  $ link_text = _('Show all requests')
  $ href = changequery(submitter=None)
$else:
  $ desc = _('Showing all requests.')
  $ link_text = _('Show my requests') if username else ''
  $ href = changequery(submitter=username) if username else changequery(submitter=None)

<div class="description">
  $desc <a href="$href">$link_text</a>
</div>

<ul class="nav-bar mr-nav-bar">
  <li class="$('selected' if show_open and not show_closed else '')"><a href="/merges$('?submitter=%s' % submitter if submitter else '')">$_('Open')</a></li>
  <li class="$('selected' if show_closed and not show_open else '')"><a href="/merges?closed=true&open=false$('&submitter=%s' % submitter if submitter else '')">$_('Closed')</a></li>
  <li class="$('selected' if show_open and show_closed else '')"><a href="/merges?closed=true$('&submitter=%s' % submitter if submitter else '')">$_('All')</a></li>
</ul>

<div class="table-wrapper">
  $if merge_requests:
    <table class="mr-table">
      <thead>
        <tr>
          <th class="mr-table__header submitter-header">Submitter</th>
          <th class="mr-table__header status-header">Status</th>
          <th class="mr-table__header olids-header">OLIDs</th>
          <th class="mr-table__header comments-header">Comments</th>
          <th class="mr-table__header reviewer-header">Reviewer</th>
          <th class="mr-table__header link-header">Resolve</th>
        </tr>
      </thead>
      <tbody>
      $for r in merge_requests:
        $ status = get_status_for_view(r['status'])
        $ comments = r['comments'] and r['comments']['comments']
        $ url = "%s&mrid=%s" % (r['url'], r['id'])
        $ is_submitter = username == r['submitter']
        <tr id="mrid-$(r['id'])">
          <td>$r['submitter']</td>
          <td>$status</td>
          <td title="$r">
            <div class="olid-container">
            $for olid in url_to_olids(url):
              <div>$olid</div>
            </div>
          </td>
          <td>
            $if comments:
              $ comment_link = ' <a href="javascript:;" class="mr-comment-link" data-mrid="%s">Respond</a>' % r['id'] if is_submitter or can_merge else ''
              <details class="comments">
                <summary>$:format_comment(comments[-1])$:comment_link</summary>
                $for c in comments[:-1]:
                  <div class="hidden-comment">
                    $:format_comment(c)
                  </div>
              </details>
          </td>
          <td>$r['reviewer']</td>
          <td>
            $if status == 'Pending':
              $if can_merge:
                <a href="$url">Merge</a>
              $elif is_submitter:
                <a class="mr-close-link" data-mrid="$r['id']" href="javascript:;">Close</a>
          </td>
        </tr>
      </tbody>
    </table>
$else:
  <p>No entries here!</p>
</div>