$def with ()    

$# Per 2d479495 this is being used after the /edit page success to render
$# a banner after creating or editing a new book
$# e.g. https://dev.openlibrary.org/books/OL26730692M/Test/edit?mode=add-work
$# TODO: This file should be renamed to be more descriptive.
$ comment_new_author = _("Created new author record.")    
$ comment_new_edition = _("Created new edition record.")    
$ comment_new_work = _("Created new work record.")    
$ comment_add_book = _("Added new book.")    

$ flash_book_added = _("Thank you very much for adding that new book!")    
$ flash_book_updated = _("Thank you very much for improving that record!")    
$ flash_work_updated = _("Thank you very much for improving that record!")    

$var messages = locals()
