$def with(public_key, error, invisible=False)

$if not invisible:
    <div class="formElement">
        <div class="label smaller lighter">
            $_("Please satisfy the reCAPTCHA below. If you have security settings or privacy blockers installed, please disable them to see the reCAPTCHA.")
        </div>
        <div class="g-recaptcha" data-sitekey="$public_key"></div>
        <div class="input">
            $if error:
                <span class="invalid clearfix">$_('Incorrect. Please try again.')</span>
        </div>
    </div>

$if render_once('recaptcha'):
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
