<style>
    #interactive.viewport {
        position: relative;
    }
    #interactive.viewport canvas {
        position: absolute;
        top: 0;
        left:0;
    }


    #result-strip img { width:100px; }
    #result-strip { height: 200px ; overflow:auto; }
    #result-strip a { display:flex; align-items: center; }
    #result-strip a:hover { background: rgba(0,0,255, 0.1); }
    #result-strip .caption { padding:1em; }

    /* <li><div class="thumbnail"><div class="imgWrapper"><img /></div><div class="caption"><h4 class="code"></h4></div></div></li> */
</style>
<div id="page-scan">
<h2></h2>$_('Scan a barcode')</h2>
  <div id="result-strip"><ul class="thumbnails"></ul></div>
  <div id="interactive" class="viewport"></div>

</div>

