$def with (book='')

<h1>Top Book Sponsors</h1>
<hr>    
<h1>This Month's Top Sponsors</h1>
<div>
    <table style="width:100%;margin-left:20px">
        <tr>
            $for i in range(5):
            <th>
            <img src="/static/images/pantheon.png">
            <p>
                @Username
                <br>
                15 Books
            </p>
            </th>
        </tr>
        <tr>
            $for i in range(5):
            <th>
            <img src="/static/images/pantheon.png">
            <p>
                @Username
                <br>
                15 Books
            </p>
            </th>
        </tr>
    </table>   
</div>
<hr>
<h1>All Time Top Sponsors</h1>
<div>
    <table style="width:100%;margin-left:20px">
        <tr>
            $for i in range(5):
            <th>
            <img src="/static/images/pantheon.png">
            <p>
                @Username
                <br>
                15 Books
            </p>
            </th>
        </tr>
        <tr>
            $for i in range(5):
            <th>
            <img src="/static/images/pantheon.png">
            <p>
                @Username
                <br>
                15 Books
            </p>
            </th>
        </tr>
    </table>   
</div>