$def with (random_books=[], random_users= [])

<h1>Top Book Sponsors</h1>
<hr>    
<h1>This Month's Top Sponsors</h1>
<div>
    <table style="width:100%;margin-left:20px">
        <tr>
            $for i in range(5):
            <th>
            <img src="/static/images/pantheon.png">
            <p>
                $str(random_users['username'])
                <br>
                $(random_books[i]) Books
            </p>
            </th>
        </tr>
        <tr>
            $for i in range(5,10):
            <th>
            <img src="/static/images/pantheon.png">
            <p>
                $str(random_users['username'])
                <br>
                $(random_books[i]) Books
            </p>
            </th>
        </tr>
    </table>   
</div>
<hr>
<h1>All Time Top Sponsors</h1>
<div>
    <table style="width:100%;margin-left:20px">
        <tr>
            $for i in range(10,15):
            <th>
            <img src="/static/images/pantheon.png">
            <p>
                $str(random_users['username'])
                <br>
                $(random_books[i]) Books
            </p>
            </th>
        </tr>
        <tr>
            $for i in range(15,20):
            <th>
            <img src="/static/images/pantheon.png">
            <p>
                $str(random_users['username'])
                <br>
                $(random_books[i]) Books
            </p>
            </th>
        </tr>
    </table>   
</div>