$def with (email=None, url=None, done=False, recaptcha=True)
$# Template entry point for /contact page
$var title: How can we help?

<div id="contentHead">
 <h1>$_("How can we help?")</h1>
</div>

<div id="contentBody">

 $if done:
   <em>Your question has been sent to our support team. We'll get back to you shortly. You can also <a href="https://twitter.com/openlibrary">contact us on Twitter</a>.</em>

 <form action="" method="post" name="spamForm" class="olform validate">
<p>Please check our <a href="/help/">Help Pages</a> and <a href="/help/faq">Frequently Asked Questions</a> (FAQ)
to see if your question is answered there. Thank you.</p>

 <div class="formElement">
 <div class="label"><label for="email">$_("Your Email Address")</label></div>
 <div class="input"><input type="text" class = "email" name="email" id="email" value="$email"/> (We'll need this if you want a reply)</div>
 </div>

 <div class="formElement">
   <div class="label"><label for="topic">$_("Topic")</label></div>
   <div class="input">
     <select class = "required" name="topic" id="topic">
       <option value="">Select...</option>
       <option value="Borrowing Books">Borrowing Help</option>
       <option value="Developer/Code">Developer/Code Question</option>
       <option value="Editing Problem">Editing Issue</option>
       <option value="Login Trouble">Login Trouble</option>
       <option value="Spam Report">Spam Report</option>
       <option value="Waiting List Issue">Waiting List</option>
       <option value="Other">Other Question</option>
     </select>
   </div>
 </div>

 <div class="formElement">
   <div class="label"><label for="question">$_("Your question")</label></div>
   <div class="input">
     <textarea id="question" name="question" class = "required" cols="40" rows="5"></textarea>
   </div>
   <p>If you encounter an error message, please include it. For questions about our books, please provide the title/author or Open Library ID.</p>
 </div>


 <!-- <div class="formElement"> -->
 <!-- <div class="label"><label for="url">$_("Which page were you looking at?")</label></div> -->
 <div class="input"><input type="hidden" name="url" id="url" value="$url"/></div>
<!-- </div> -->

 $if recaptcha:
   <div class="formElement">
      <div class="label smaller lighter">If you have ad blockers enabled, please disable them and refresh the page to see the reCAPTCHA.</div>
      <div class="g-recaptcha" data-sitekey="6LeM2kcUAAAAAOT3o2Mmllf0NN_8LgWZC6oFCXSA">
        <div style="width: 304px; height: 78px;">
          <div>
            <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeM2kcUAAAAAOT3o2Mmllf0NN_8LgWZC6oFCXSA&amp;co=aHR0cHM6Ly9vcGVubGlicmFyeS5vcmc6NDQz&amp;hl=en&amp;v=T9w1ROdplctW2nVKvNJYXH8o&amp;size=normal&amp;cb=u1d8hfyhs1mh" width="304" height="78" role="presentation" name="a-2l8junlzaka0" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation">
            </iframe>
          </div>
          <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
        </div>
        <iframe style="display: none;"></iframe>
      </div>
      <div class="input">
      </div>
    </div>

 <div class="formElement bottom">
 <div class="input">
 <input type="submit" class="largest" value="Send" name="send" title="Send"/>
 &nbsp; &nbsp;
 <a href="javascript:history.go(-1);" class="red">Cancel</a>
 </div>
 </div>
 </form>
</div>
