$def with (username, email, link)

$var subject: Please verify your new email address

Hello $username!

You have requested us to change the email address associated with your Open Library account to $email.
In order to update the email address we need to verify your email address. You can do this by clicking the link below:

$:link

(If that doesn't work, please try copying and pasting the link into your browser address bar.)

Enjoy!

Regards,
The Open Library Team

P.S. If you need help using the site, you can find it here: https://openlibrary.org/help
P.P.S. Have you seen our blog? https://blog.openlibrary.org/
