$def with (change)

<div id="contentHead">
    $:render_template("recentchanges/header", change, label=_("Work Merge"))
</div>

$ master = change.get_master()

<div id="contentBody">
    $if change.get_undo_changeset():
        <p class="alert">
            $_('This merge has been undone.')
            <a href="$change.get_undo_changeset().url()">$_('Details here')</a>
        </p>

    <div id="mergeHead" class="sansserif">
        <div class="smallest lightgreen">$_('Master')</div>

        <div id="recordMaster">
            <span id="recordMasterTitle" class="larger">
                $if master.key:
                    <strong><a href="$master.key">$master.title</a></strong>
                $else:
                    <strong>$master.title</strong>

            </span>

        </div>

        <div class="smallest lightgreen">$_('Duplicates')</div>
        <div id="recordDuplicates">
            <p class="small collapse">
                $for dup in change.get_duplicates():
                    $dup.title;
            </p>
        </div>

        <div class="smallest lightgreen">$_('Editions Moved')</div>
        <div id="recordEditions">
            <p class="small collapse">
                $for edition in change.get_editions():
                    $dup.title;
            </p>
        </div>

        <p class="smallest gray sansserif">
            $ungettext("1 record modified.", "%(count)d records modified.", len(change.changes), count=len(change.changes))
        </p>
    </div>

    <h3>$_('Updated Records')</h3>
    $:render_template("recentchanges/updated_records", change)
</div>
