$def with(cita_press_id)

<div class="cta-button-group">
  <a
      href="https://citapress.org/$cita_press_id"
      title="$_('Read eBook from Cita Press')"
      class="cta-btn cta-btn--available cta-btn--read cta-btn--external cta-btn--cita-press"
      target="_blank"
       aria-haspopup="true"
       aria-controls="cita-press-toast"
  >$_('Read')</a>
</div>

$if render_once('cita-press-toast'):
  <div class="toast toast--book-provider" data-toast-trigger=".cta-btn--openstax" id="cita-press-toast" style="display:none">
    <div class="toast__body">
      $:_('This book is available from <a href="https://citapress.org/">Cita Press</a>. TODO')
      <a href="https://citapress.org/about/">$_('Learn more')</a>
    </div>
    <a class="toast__close">&times;<span class="shift">$_("Close")</span></a>
  </div>
