$def with(url)

<hr>
<div class="cta-section">
<p class="cta-section-title">$_('Download Options')</p>
<ul class="ebook-download-options">
  $# FIXME: Currently only supports pressbooks
  <li><a href="$(url)open/download?type=epub" title="$_('Download as an ePub')">$_('ePub')</a></li>
  <li><a href="$(url)open/download?type=pdf" title="$_('Download as a PDF')">$_('PDF')</a></li>
  <li><a href="$(url)open/download?type=mobi" title="$_('Download as a Kindle MOBI')">$_('MOBI')</a></li>
  <li><a href="$url">$_('More options')</a></li>
</ul>
</div>
