$def with(edition_key, acquisition, domain)
$# :param edition_key str:
$# :param Acquisition acquisition:
$# :param domain str:
$ clean_domain = domain.replace(".", "")

$if acquisition.access == 'open-access':
  <div class="cta-button-group">
    <a href="/books/${edition_key}/-/borrow?action=read"
        title="$_('Read free online')"
        class="cta-btn cta-btn--available cta-btn--read cta-btn--external cta-btn--direct"
        target="_blank"
        aria-haspopup="true"
        aria-controls="direct-provider-toast-$(clean_domain)"
    >$_('Read')</a>
  </div>

$elif acquisition.access == 'sample':
  <div class="cta-button-group">
    <a href="http://openlibrary.org/books/${edition_key}/-/borrow?action=read"
      class="cta-btn cta-btn--shell cta-btn--external"
      data-ol-link-track="CTAClick|Preview"
      target="_blank"
    >$_('Preview')</a>
  </div>
