$def with(gutenberg_id)

<div class="cta-button-group">
  <a
      href="https://www.gutenberg.org/ebooks/$gutenberg_id"
      title="$_('Read eBook from Project Gutenberg')"
      class="cta-btn cta-btn--available cta-btn--read cta-btn--external cta-btn--gutenberg"
      target="_blank"
       aria-haspopup="true"
       aria-controls="gutenberg-toast"
  >$_('Read')</a>
</div>

$if render_once('gutenberg-toast'):
  <div class="toast toast--book-provider" data-toast-trigger=".cta-btn--gutenberg" id="gutenberg-toast" style="display:none">
    <div class="toast__body">
      $:_('This book is available from <a href="https://www.gutenberg.org/">Project Gutenberg</a>. Project Gutenberg is a trusted book provider of classic ebooks, supporting thousands of volunteers in the creation and distribution of over 60,000 free eBooks.')
      <a href="https://www.gutenberg.org/about/">$_("Learn more")</a>
    </div>
    <a class="toast__close">&times;<span class="shift">$_("Close")</span></a>
  </div>