$def with(librivox_id)

<div class="cta-button-group">
<a href="https://librivox.org/$librivox_id"
   title="$_('Listen to a reading from LibriVox')"
   data-ol-link-track="CTAClick|Listen"
   class="cta-btn cta-btn--available cta-btn--w-icon cta-btn--external cta-btn--librivox"
   target="_blank"
   aria-haspopup="true"
   aria-controls="librivox-toast"
>
  <span class="btn-icon read-aloud"></span>
  <span class="btn-label">$_("Audiobook")</span>
</a>
</div>

$if render_once('librivox-toast'):
  <div class="toast toast--book-provider" data-toast-trigger=".cta-btn--librivox" id="librivox-toast" style="display:none">
    <div class="toast__body">
      $:_('This book is available from <a href="https://librivox.org/">LibriVox</a>. LibriVox is a trusted book provider of public domain audiobooks, narrated by volunteers, distributed for free on the internet.')
      <a href="https://librivox.org/pages/about-librivox/">$_("Learn more")</a>
    </div>
    <a class="toast__close">&times;<span class="shift">$_("Close")</span></a>
  </div>
