$def with(runeberg_id)

<hr>
<div class="cta-section">
<p class="cta-section-title">$_("Download Options")</p>
<ul class="ebook-download-options">
  <li><a href="https://runeberg.org/$(runeberg_id).zip" title="$_('Download all scanned images from Project Runeberg')">$_("Scanned images")</a></li>
  <li><a href="https://runeberg.org/download.pl?mode=jpgzip&work=$runeberg_id" title="$_('Download all color images from Project Runeberg')">$_("Color images")</a></li>
  <li><a href="https://runeberg.org/download.pl?mode=html&work=$runeberg_id" title="$_('Download all HTML files from Project Runeberg')">$_("HTML")</a></li>
  <li><a href="https://runeberg.org/download.pl?mode=txtzip&work=$runeberg_id" title="$_('Download all text and index files from Project Runeberg')">$_("Text and index files")</a></li>
  <li><a href="https://runeberg.org/download.pl?mode=ocrtext&work=$runeberg_id" title="$_('Download all OCR text from Project Runeberg')">$_("OCR text")</a></li>
  <li><a href="https://runeberg.org/download.pl?mode=work&work=$runeberg_id">$_("More at Project Runeberg")</a></li>
</ul>
</div>
