$def with(standard_ebooks_id)

<div class="cta-button-group">
  <a
      href="https://standardebooks.org/ebooks/$standard_ebooks_id/text/single-page"
      title="$_('Read eBook from Standard eBooks')"
      class="cta-btn cta-btn--available cta-btn--read cta-btn--external cta-btn--standard-ebooks"
      target="_blank"
      aria-haspopup="true"
      aria-controls="standard-ebooks-toast"
  >$_('Read')</a>
</div>

$if render_once('standard-ebooks-toast'):
  <div class="toast toast--book-provider" data-toast-trigger=".cta-btn--standard-ebooks" id="standard-ebooks-toast" style="display:none">
    <div class="toast__body">
      $:_('This book is available from <a href="https://standardebooks.org/">Standard Ebooks</a>. Standard Ebooks is a trusted book provider and a volunteer-driven project that produces new editions of public domain ebooks that are lovingly formatted, open source, free of copyright restrictions, and free of cost.')
      <a href="https://standardebooks.org/about">$_("Learn more")</a>
    </div>
    <a class="toast__close">&times;<span class="shift">$_("Close")</span></a>
  </div>
