$def with (form)

$var title: $_("Username/Password Reminder")

<div id="contentHead">
    <h1>$_("Username/Password Reminder")</h1>
    <p class="instruct">$_("Please enter the email address associated with your Open Library account. We'll send you an email to help you remember your username and/or reset your Open Library password.")</p>
</div>
            
<div id="contentBody">
    <form id="register" class="reminder olform" name="register" method="post">
        
        $:form.render()

        <div class="formElement">
            <div class="input">
                <br/>
                <button type="submit" class="larger" name="sendit" title="$_('Send It')">$_("Send It")</button>
                &nbsp;
                <a href="javascript:;" onclick="history.go(-1);" class="large attn">$_("Cancel")</a>
            </div>
        </div>
    </form>
</div>