<div id="contentBody">
  <h1>$_('Advanced Search')</h1>
  <form method="get" action="/search" class="siteSearch">
    <fieldset class="home">
      <legend>$_('Advanced Search')</legend>
      <input type="hidden" name="q" id="qtop">
    </fieldset>
    <fieldset class="home">
      <legend>$_('Advanced Search')</legend>
      <div class="formElement">
        <label for="qtop-title">$_('Title')</label><br>
        <input type="text" name="title" id="qtop-title" placeholder="" size="35">
      </div>
      <div class="formElement">
        <label for="qtop-author">$_('Author')</label><br>
        <input type="text" name="author" id="qtop-author" placeholder="" size="35">
      </div>
      <div class="formElement">
        <label for="qtop-isbn">$_('ISBN')</label><br>
        <input type="text" name="isbn" id="qtop-isbn" placeholder="" size="35">
      </div>
      <div class="formElement">
        <label for="qtop-subject">$_('Subject')</label><br>
        <input type="text" name="subject" id="qtop-subject" placeholder="" size="35">
      </div>
      <div class="formElement">
        <label for="qtop-place">$_('Place')</label><br>
        <input type="text" name="place" id="qtop-place" placeholder="" size="35">
      </div>
      <div class="formElement">
        <label for="qtop-person">$_('Person')</label><br>
        <input type="text" name="person" id="qtop-person" placeholder="" size="35">
      </div>
      <div class="formElement">
        <label for="qtop-publisher">$_('Publisher')</label><br>
        <input type="text" name="publisher" id="qtop-publisher" placeholder="" size="35">
      </div>
    </fieldset>
    <input type="submit" class="generic-button generic-button-primary" value="$_('Search')">
    <div class="searchPlus">
      <a href="/search/inside">$_('Full Text Search')</a>?
    </div>
  </form>
</div>
