$def with (get_results)

$ q = query_param('q')
$ results_per_page = 100
$ page = query_param('page')
$if page:
    $ page = int(page)
$else:
    $ page = 1
$ offset = (page - 1) * results_per_page

$var title: Search Open Library for "$q"

<div id="contentHead">
    <h1>$_("Search Authors")</h1>
</div>

<div id="contentBody">
  $:macros.SearchNavigation()

  <form class="siteSearch olform" action="">
    <input type="text" class="larger" name="q" size="100" value="$q"/>
    <input type="submit"  class="large" value="$_('Search')"/>
  </form>
</div>

<div id="contentMeta">
    $ results = get_results(q, offset=offset, limit=results_per_page)

    $if q and 'error' in results:
        <strong>
            $for line in results['error'].splitlines():
                $line
                $if not loop.last:
                    <br>
        </strong>

    $if q and 'error' not in results:
	$ response = results['response']
        $ num_found = int(response['numFound'])

        $if num_found:
            <div class="search-results-stats">$ungettext('1 hit', '%(count)s hits', response['numFound'], count=commify(response['numFound']))
              $if num_found >= 2 and ctx.user and ("merge-authors" in ctx.features or ctx.user.is_admin()):
                $ keys = '&'.join('key=%s' % doc['key'] for doc in response['docs'])
                <div class="mergeThis">$_('Is the same author listed twice?') <a class="large sansserif" href="/authors/merge?$keys">$_('Merge authors')</a></div>
            </div>
        $else:
            <p class="sansserif red collapse">$_('No hits')</p>

        <ul class="authorList list-books">
        $for doc in response['docs']:
            $ n = doc['name']
            $ num = doc['work_count']
            $ wc = ungettext("1 book", "%(count)d books", num, count=num)
            $ date = ''
            $if 'birth_date' in doc or 'death_date' in doc:
                $ date = doc.get('birth_date', '') + ' - ' + doc.get('death_date', '')
            $elif 'date' in doc:
                $ date = doc['date']
            <li class="searchResultItem">
	      <img src="$get_coverstore_public_url()/a/olid/$(doc['key'])-M.jpg" itemprop="image" class="cover author" alt="Photo of $n">
	      <div>
		<a href="/authors/$doc['key']" class="larger">$n</a>&nbsp;<span class="brown small">$date</span><br />
		<span class="small grey"><b>$wc</b>
                $if 'top_subjects' in doc:
                  $_('about %(subjects)s', subjects=', '.join(doc['top_subjects'])),
                $:_('including <i>%(topwork)s</i>', topwork=doc.get('top_work', ''))</span>
	      </div>
            </li>
        </ul>

        $:macros.Pager(page, num_found, results_per_page)
  </div>
  <div class="clearfix"></div>
</div>
