$def with (selected_sort, exclude=None, default_sort='relevance', search_scheme='works')

<span class="sort">
$code:
     selected_sort = selected_sort or default_sort

     def get_selected_sort_option(sort_options, selected_sort):
        for option in sort_options:
            selected = option['sort'] == selected_sort or option.get('selected')
            if selected:
              return option

            sub_sorts = option.get('sub_sorts', [])
            if sub_sorts:
              selected_sub_sort = get_selected_sort_option(sub_sorts, selected_sort)
              if selected_sub_sort:
                return selected_sub_sort

     if search_scheme == 'authors':
        sort_options = [
          { 'sort': 'relevance', 'name': _("Relevance"), 'ga_key': 'Relevance' },
          { 'sort': 'work_count desc', 'name': _("Work Count"), 'ga_key': 'WorkCountDesc' },
          { 'sort': 'random', 'name': _("Random"), 'ga_key': 'Random', 'selected': selected_sort and selected_sort.startswith('random') },
        ]
        if selected_sort in ('name', 'birth_timestamp asc', 'birth_timestamp desc') or (ctx.user and (ctx.user.is_admin() or ctx.user.is_librarian())):
          sort_options.append({ 'sort': 'name', 'name': _("Name (beta: Librarian only)"), 'ga_key': 'Name' })
          sort_options.append({ 'sort': 'birth_timestamp asc', 'name': _("Birth Date (oldest) (beta: Librarian only)"), 'ga_key': 'BirthDateOldest' })
          sort_options.append({ 'sort': 'birth_timestamp desc', 'name': _("Birth Date (youngest) (beta: Librarian only)"), 'ga_key': 'BirthDateYoungest' })

     elif search_scheme == 'lists_seeds':
       sort_options = [
         { 'sort': 'index', 'name': _("List Order"), 'ga_key': 'ListOrder' },
         { 'sort': 'last_modified', 'name': _("Last Modified"), 'ga_key': 'LastModified' },
       ]
     elif search_scheme == 'languages':
       sort_options = [
         { 'sort': 'count', 'name': _("Work Count"), 'ga_key': 'WorkCount' },
         { 'sort': 'name', 'name': _("Language Name"), 'ga_key': 'LanguageName' },
         { 'sort': 'ebook_edition_count', 'name': _("Ebook Edition Count"), 'ga_key': 'EbookEditionCount' },
       ]
     elif search_scheme == 'reading_log':
       sort_options = [
         { 'sort': 'desc', 'name': _('Date Added (newest)'), 'ga_key': 'DateAddedNewest' },
         { 'sort': 'asc', 'name': _('Date Added (oldest)'), 'ga_key': 'DateAddedOldest' },
       ]
     else:
       sort_options = [
         { 'sort': 'relevance', 'name': _("Relevance"), 'ga_key': 'Relevance' },
         { 'sort': 'editions', 'name': _("Most Editions"), 'ga_key': 'Editions' },
         { 'sort': 'old', 'name': _("First Published"), 'ga_key': 'Old' },
         { 'sort': 'new', 'name': _("Most Recent"), 'ga_key': 'New' },
         { 'sort': 'rating', 'name': _("Top Rated"), 'ga_key': 'Rating' },
         {
            'sort': 'readinglog',
            'name': _("Reading Log"),
            'ga_key': 'ReadingLog',
            'sub_sorts': [
              { 'sort': 'readinglog', 'name': _("Any"), 'ga_key': 'ReadingLogAny' },
              { 'sort': 'want_to_read', 'name': _("Want to Read"), 'ga_key': 'ReadingLogWantToRead' },
              { 'sort': 'currently_reading', 'name': _("Currently Reading"), 'ga_key': 'ReadingLogCurrentlyReading' },
              { 'sort': 'already_read', 'name': _("Already Read"), 'ga_key': 'ReadingLogAlreadyRead' },
            ]
          },
         { 'sort': 'trending', 'name': _("Trending"), 'ga_key': 'Trending' },
         { 'sort': 'random', 'name': _("Random"), 'ga_key': 'Random', 'selected': selected_sort and selected_sort.startswith('random') },
       ]
       if selected_sort == 'title' or (ctx.user and (ctx.user.is_admin() or ctx.user.is_librarian())):
         sort_options.append({ 'sort': 'title', 'name': _("Work Title (beta: Librarian only)"), 'ga_key': 'Title' })

     selected_sort_option = get_selected_sort_option(sort_options, selected_sort) or get_selected_sort_option(sort_options, default_sort)
    <details class="sort-dropper">
      <summary class="tool-button">
        <img src="/images/icons/icon_sort.png" alt="$_('Sorting by')" width="9" height="11" />
        $selected_sort_option['name']
      </summary>
      <span class="sort-content">
        <span class="sort-content-inner">
          $for sort_option in sort_options:
            $if exclude and sort_option['sort'] in exclude:
              $continue
            $ is_selected = sort_option.get('selected') or sort_option['sort'] == selected_sort
            $ sub_sorts = sort_option.get('sub_sorts', [])
            $ sub_sort_selected = any(sub_sort.get('selected') or sub_sort['sort'] == selected_sort for sub_sort in sub_sorts)
            $if is_selected:
              <a class="sort-selected">$sort_option['name']</a>
            $else:
              <a href="$changequery(page=None, sort=cond(sort_option['sort'] == default_sort, None, sort_option['sort']))"
                  data-ol-link-track="SearchSort|$sort_option['ga_key']"
                  rel="nofollow"
              >
                $sort_option['name']
              </a>
            $if sub_sorts and (is_selected or sub_sort_selected):
              $for sub_sort in sort_option['sub_sorts']:
                $ is_selected = sub_sort.get('selected') or sub_sort['sort'] == selected_sort
                $if is_selected:
                  <a class="sort-subsort-selected">$sub_sort['name']</a>
                $else:
                  <a class="sort-subsort"
                      href="$changequery(page=None, sort=cond(sub_sort['sort'] == default_sort, None, sub_sort['sort']))"
                      data-ol-link-track="SearchSort|$sort_option['ga_key']SubSort"
                  >
                    $sub_sort['name']
                  </a>
        </span>
      </span>
    </details>
    $if selected_sort and selected_sort.startswith('random') and not is_bot():
          <a class="sort-random-shuffle"
             href="$changequery(page=None, sort='random_%s' % today().timestamp())"
             data-ol-link-track="SearchSort|RandomShuffle"
             rel="nofollow"
          >
            $_('Shuffle')
          </a>
</span>
