$def with (get_results)

$ q = query_param('q')
$ results_per_page = 100
$ page = query_param('page')
$if page:
    $ page = int(page)
$else:
    $ page = 1
$ offset = (page - 1) * results_per_page
$ url_map = { 'person': 'person:', 'place': 'place:', 'time': 'time:' }

<div id="contentHead">
    <h1>
        $_("Search Subjects")
    </h1>
</div>

<div id="contentBody">
  $:macros.SearchNavigation()
    <div class="section">
        <form class="siteSearch olform" action="">
            <input type="text" class="larger" name="q" size="100" value="$q"/>
            <input type="submit" class="larger" value="$_('Search')"/>
        </form>
    </div>

$if q:
    $ response = get_results(q, offset=offset, limit=results_per_page)
    $if not response.error:
        <p class="search-results-stats">$ungettext('1 hit', '%(count)s hits', response.num_found, count=commify(response.num_found))</p>

$if q and response.error:
    <strong>
        $for line in response.error.splitlines():
            $line
            $if not loop.last:
                <br>
    </strong>

$if q and not response.error:
    <ul class="subjectList">
    $for doc in response.docs:
        $ n = doc['name']
        $ key = '/subjects/' + url_map.get(doc['subject_type'], '') + n.lower().replace(' ', '_').replace('?', '').replace(',', '').replace('/', '')

        <li>
            <a href="$key">$n</a>
            $code:
                def find_type():
                    if doc['subject_type'] == 'time':
                        return "type_time"
                    elif doc['subject_type'] == 'subject':
                        return "type_subject"
                    elif doc['subject_type'] == 'place':
                        return "type_place"
                    elif doc['subject_type'] == 'org':
                        return "type_org"
                    elif doc['subject_type'] == 'event':
                        return "type_event"
                    elif doc['subject_type'] == 'person':
                        return "type_person"
                    elif doc['subject_type'] == 'work':
                        return "type_work"
                    else:
                        return "other"
                type = find_type()
                if type == "type_time":
                    note = '<span class="teal">' + _("time") + '</span>'
                elif type == "type_subject":
                    note = '<span class="darkgreen">' + _("subject") + '</span>'
                elif type == "type_place":
                    note = '<span class="orange">' + _("place") + '</span>'
                elif type == "type_org":
                    note = '<span class="blue">' + _("org") + '</span>'
                elif type == "type_event":
                    note = '<span class="grey">' + _("event") + '</span>'
                elif type == "type_person":
                    note = '<span class="red">' + _("person") + '</span>'
                elif type == "type_work":
                    note = '<span class="black">' + _("work") + '</span>'
                else:
                    note = doc['subject_type']
            <span class="count">&nbsp;&nbsp;<b>$ungettext('1 book', '%(count)d books', doc['work_count'], count=doc['work_count'])</b>, $:note</span>
        </li>
    </ul>
    $:macros.Pager(page, response.num_found, results_per_page)

</div>
