$def with (username, email, password, link)

$var subject: Welcome to Open Library

Hello $username!

Thanks for creating a new account on Open Library, and welcome.

Here is a summary of the account you've asked us to create. You might want to pop this somewhere you won't lose it:

Email address: $email
Username: $username

The final step to create your account is to verify your email address. You can do this by clicking the link below:

$:link

(If that doesn't work, please try copying and pasting the link into your browser address bar.)

Once that's done, you're all set. Free to roam the Open Library, discovering treasures, making connections, correcting errors, or sprinkling tidbits you know about books across the catalog. Naturally, you're also welcome to simply explore. Apart from over 20 million bibliographic records, we also have over 1 million free, readable books available for you to read, right now.

Enjoy!

Regards,
The Open Library Team

P.S. If you need help using the site, you can find it here: http://openlibrary.org/help
P.P.S. Have you seen our blog? http://blog.openlibrary.org