/**
 * Colors
 * ======
 */
:root {
  /* Blues */
  --primary-blue: hsl(202, 96%, 37%);
  --link-blue: hsl(202, 96%, 28%);
  --mid-blue: hsl(204, 70%, 53%);
  --dark-blue: hsl(210, 100%, 20%);
  --darker-brand-blue: hsl(198, 100%, 36%);
  --header-nav-hover-color: hsl(207, 83%, 33%);
  --blue-b0bed9: hsl(220, 35%, 77%);
  --count-blue-grey: hsl(211, 28%, 41%);
  --grey-blue: hsl(211, 37%, 89%);
  --teal: hsl(184, 100%, 21%);
  --button-hover-blue: hsl(202, 57%, 61%);
  --dark-baby-blue: hsl(240, 100%, 75%);
  --mid-baby-blue: hsl(240, 100%, 88%);
  --baby-blue: hsl(240, 100%, 93%);
  --blue-9fafd1: hsl(221, 35%, 72%);
  --blue-3366ff: hsl(225, 100%, 60%);
  --blue-5e88B9: hsl(212, 39%, 55%);

  /* Greens */
  --green: hsl(130, 61%, 33%);
  --mid-baby-green: hsl(120, 100%, 88%);
  --baby-green: hsl(120, 100%, 93%);
  --dark-green: hsl(113, 38%, 29%);
  --soft-green: hsl(97, 51%, 77%);
  --soft-green-two: hsl(97, 40%, 70%);
  --olive: hsl(81, 39%, 35%);
  --light-olive-2: hsl(78, 34%, 63%);
  --lime-green: hsl(75, 100%, 85%);
  --check-green: hsl(126, 100%, 36%);

  /* Oranges */
  --orange: hsl(32, 100%, 61%);
  --orange-three: hsl(32, 100%, 78%);
  --orange-four: hsl(23, 51%, 77%);
  --orange-five: hsl(23, 100%, 50%);
  --burnt-sienna: hsl(19, 95%, 40%);

  /* Reds */
  --red: hsl(8, 78%, 49%);
  --dark-red: hsl(8, 70%, 44%);
  --red-two: hsl(4, 90%, 58%);
  --red-three: hsl(0, 100%, 50%);

  /* Pinks */
  --mid-baby-pink: hsl(0, 100%, 88%);
  --baby-pink: hsl(0, 100%, 93%);
  --magenta: hsl(300, 100%, 50%);

  /* Yellows & Beiges */
  --dark-yellow: hsl(57, 60%, 72%);
  --beige-bright: #f6f1e6;
  --beige-deep: #ebdfc5;
  --beige-two: hsl(63, 26%, 84%);
  --beige-three: hsl(48, 15%, 74%);
  --beige: hsl(48, 33%, 83%);
  --brown: hsl(40, 32%, 29%);
  --account-icon-border: hsl(45, 7%, 79%);
  --light-yellow: hsl(58, 100%, 90%);
  --lighter-yellow: hsl(58, 92%, 95%);
  --dark-beige: hsl(64, 9%, 71%);
  --light-beige: hsl(48, 29%, 93%);
  --cream: hsl(49, 30%, 93%);
  --off-white: hsl(45, 100%, 98%);
  --gold: hsl(50, 100%, 50%);

  /* Greyscale */
  --black: hsl(0, 0%, 0%);
  --boxshadow-black: hsla(0, 0%, 0%, 0.15);
  --icon-link-grey: hsla(0, 0%, 0%, 0.1);
  --dark-grey: hsl(0, 0%, 20%);
  --grey-464646: hsl(0, 0%, 27%);
  --darker-grey: hsl(0, 0%, 27%);
  --grey-555: hsl(0, 0%, 33%);
  --dark-grey-two: hsl(0, 0%, 35%);
  --grey: hsl(0, 0%, 40%);
  --accessible-grey: hsl(0, 0%, 46.3%); /* minimum grey for white background to be accessible */
  --mid-grey: hsl(0, 0%, 60%);
  --light-mid-grey: hsl(0, 0%, 67%);
  --background-grey: hsla(0, 0%, 78%, 0.23);
  --light-grey: hsl(0, 0%, 80%);
  --lighter-grey: hsl(0, 0%, 87%);
  --grey-e7e7e7: hsl(0, 0%, 91%);
  --lightest-grey: hsl(0, 0%, 93%);
  --grey-f3f3f3: hsl(0, 0%, 95%);
  --grey-fafafa: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --gray-a19b9e: hsl(330, 3%, 62%);
  --gray-d1cfd0: hsl(330, 2%, 82%);
  --grey-f4f4f4: hsl(0, 0%, 96%);

  /* Component-specific */
  --admin-row-background: hsl(58, 66%, 81%);
  --admin-table-border: hsl(48, 26%, 73%);
  --heart-color: hsl(358, 100%, 74%);
  --blue: hsl(240, 100%, 50%);
  --purple: hsl(283, 97%, 61%);
  --header-bar-gradient-start: hsl(41.2, 47.1%, 93.3%);
  --header-bar-gradient-end: hsl(41.5, 48.1%, 89.4%);
  --account-icon-background: hsla(37, 24%, 79%, 0.761);

  /* Book cover carousel */
  --book-cover-carousel-background: hsl(47, 54%, 90%);
  --book-cover-carousel-border-top: hsl(51, 32%, 88%);
  --book-cover-carousel-border-bottom: hsl(50, 32%, 85%);
  --book-cover-carousel-cards: hsl(47, 54%, 98%);
  --book-cover-shadow-color: hsl(48, 35%, 64%);

  /* Status colors */
  --nagios-green: hsl(108, 100%, 50%);
  --open-green: hsl(126, 100%, 30%);
  --closed-red: hsl(0, 100%, 50%);
  --merged-purple: hsl(266, 100%, 75%);

  /* Border & outline roles */
  --color-border: hsl(0, 0%, 40%);
  --color-border-hovered: hsl(0, 0%, 40%);
  --color-border-focused: hsl(202, 96%, 37%);
  --color-border-error: hsl(8, 78%, 49%);
  --color-border-subtle: hsl(0, 0%, 87%);
  --color-focus-ring: hsl(202, 96%, 37%);
}
