$def with (work=None)

$ cover_url = ("//covers.openlibrary.org/w/id/%s-M.jpg" % work['covers'][0]) if len(work.get('covers', [])) else ""

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>$work.get('title', '')</title>
    <link rel="stylesheet" type="text/css" href="/static/css/work-widget.css">
        
  </head>  
  <body>
    <div class="widget">
      <img class="bookcover" src="$(cover_url)" alt="$(work.get('title'))"/>
      <h1 class="title">$work.get('title', '')</h1>
      $if work.get('authors'):
        <h2 class="author">
          $ primary_author = work.get('authors')[0]
          by <a href="$(primary_author['key'])">$primary_author['name']</a>
        </h2>
      $if work["availability"]["status"] == "open" :
        $ public_url = "/books/" + work["availability"]["openlibrary_edition"] + "/x/borrow"
        <div class="open" type="submit">
        <a target="_blank" href="$public_url" title="book availability">Read</a>
      $elif work["availability"]["status"] == "borrow_available" :
        $ borrow_url = "/borrow/ia/" + work["availability"]["identifier"]
        <div class="available" type="submit">
        <a target="_blank" href="$borrow_url" title="book availability">Borrow</a>
      $elif work["availability"]["status"] == "borrow_unavailable":
        $ waitlist_url = "/borrow/ia/" + work["availability"]["identifier"] + "?action=join-waitinglist"
        <form class="waitlist" method="POST" action="$waitlist_url">
          <input type="hidden" name="action" value="join-waitinglist">
          <button type="submit" title="book availability">Join waiting list</button>
        </div>
      $else:
        <div class="open">
        <a target="_blank" href="//$(ctx.site)/works/$(work['olid'])" title="Learn more at OpenLibrary">Learn More</a>
    </div>
  </body>
</html>
