updated_by = None
full_text = None
edit = u'\u0c2e\u0c3e\u0c30\u0c4d\u0c1a\u0c41'
published_in = None
last_modified = u'\u0c1a\u0c3f\u0c35\u0c30\u0c3f \u0c2e\u0c3e\u0c30\u0c4d\u0c2a\u0c41'
history = u'\u0c1a\u0c30\u0c3f\u0c24\u0c4d\u0c30'
whats_new = None