$def with (work, edition, page)

$ book_title = edition.get('title', '') or (work.title if work else '')

$if page.type.key in ["/type/work", "/type/edition", "/type/author"]:
  $if edition and page.type.key in ["/type/work"]:
    $ edit_url = edition.url(suffix="/edit")
  $else:
    $ edit_url = page.url(suffix="/edit")
$else:
  $ edit_url = page.key + "?m=edit"

<div class="compact-title hidden">
  <span class="compact-title__heading">$book_title</span>
  <div class="editButton">
    <a class="linkButton linkButton--compact" href="$edit_url" title="$_('Edit this template')"
      data-ol-link-track="CTAClick|StickyEdit">$_("Edit")</a>
  </div>
</div>
