$def with (work, edition, page_url, show_share_links=True)

<div class="modal-links">
  $if work and work.get('key', ''):
    $ review_content = render_template("type/edition/icon_link", "observations-modal-link", "/static/images/icons/reviews.svg", _("Review"), ol_link_track="ModalLinkClick|ReviewIcon")
    $:macros.ObservationsModal(work, review_content, 'sidebar-review')

    $:macros.StarRatings(work, edition)

    $ notes_content = render_template("type/edition/icon_link", "notes-modal-link", "/static/images/icons/notes.svg", _("Notes"), ol_link_track="ModalLinkClick|NoteIcon")
    $:macros.NotesModal(work, edition, notes_content, 'sidebar-notes')

  $if show_share_links and ctx.get('share_links'):
    $ share_dialog_id = 'modal-links-share-modal'
    $ share_content = render_template("type/edition/icon_link", "share-modal-link", "/static/images/icons/share.svg", _("Share"), login_redirect=False, ol_link_track="ModalLinkClick|ShareIcon", share_dialog_id=share_dialog_id)
    $ share_links = ctx.get('share_links')
    $:macros.ShareModal(share_links, page_url, share_content, share_dialog_id, classes="share-modal-wrapper")
</div>
