$def with (edition)

<h4 class="publisher">
  $if edition.publish_date or edition.publishers or edition.publish_places:
    <!-- TODO: this handcrafted concatenation will be difficult to internationalize -->
    $_('Published')
      $if edition.publish_date:
          <strong itemprop="datePublished">$edition.publish_date</strong>
      $if edition.publishers:
          $_('by')
          $for p in edition.publishers:
              $if "publishers" in ctx.features:
                <a itemprop="publisher" href="/publishers/$p.replace(' ', '_')"
                   title="$_('Show other books from %(publisher)s', publisher=p)"
                   >$p</a>$cond(loop.last, "", ", ")
              $else:
                <a itemprop="publisher" href="/search?publisher_facet=$p.replace('&','%26')"
                   title="$_('Search for other books from %(publisher)s', publisher=p)"
                   >$p</a>$cond(loop.last, "", ", ")
      $if edition.publish_places:
        $_('in')
        $for p in edition.publish_places:
           <a href="/search/subjects?q=$p.replace('&','%26')"
              title="$_('Search for subjects about %(place)s', place=p)"
              >$p</a>$cond(loop.last, "", ", ")<span class="adjust">.</span>
</h4>
