$def with (page)

<style type="text/css">
  .editionAll {
    padding-top: 15px;
  }

  .addReadMore.showlesscontent .SecSec,
    .addReadMore.showlesscontent .readLess {
        display: none;
    }

  .addReadMore.showmorecontent .readMore {
      display: none;
  }

  .addReadMore .readMore,
  .addReadMore .readLess {
      font-weight: bold;
      margin-left: 2px;
      color: blue;
      cursor: pointer;
  }

  .addReadMoreWrapTxt.showmorecontent .SecSec,
  .addReadMoreWrapTxt.showmorecontent .readLess {
      display: block;
  }

  .checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  }

  .checkboxes input {
    vertical-align: middle;
  }

  .sidebar-box {
  max-height: 140px;
  position: relative;
  overflow: hidden;
  }

  .sidebar-box .read-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; padding: 30px 0; 
    
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
  }

  .section {
    margin-top: 20px;
  }

  .collapse {
  }

  h2.edition-byline {
    margin: 5px;
  }

  .first-published-date {
    color: #999;
    font-size: .8em;
  }

  .edition-overview {
    background: #eee;
    padding: 10px;
    margin: 10px 0px;
  }

  .edition-overview .edition-title {
    margin-bottom: 0;
    color: #333;
  }

  .edition-overview .edition-subtitle {
    margin-top: 5px;
    font-size: 1.4em;
    font-weight: normal;
    color: #666;
  }

  .work-menu {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 30px;
  }

  .work-menu li {
    display: inline;
    padding: 0px 15px;
    padding-bottom: 5px;
    font-size: 13px;
  }

  .work-menu li a {
    text-decoration: none;
    color: #666;
  }

  .work-menu li.selected {
    border-bottom: 2px solid #0376b8;
  }

  .work-menu li:hover {
    border-bottom: 2px solid #0376b8;
  }

  .work-menu li.selected a {
    color: #0376b8;
  }
</style>


$ tab = input(tab=None).tab
$ editions = []
$ page_type = page.key.split('/')[1]
$if page.key.startswith('/works'):
  $ work = page
  $ editions = work.get_sorted_editions()
  $ edition = ([e for e in editions if e.get('ocaid')] or editions)[0]
$else:
  $ work = page.works and page.works[0] or None
  $ edition = page

$ ocaid = edition.get('ocaid')
$ book_title = edition.get('title', '') if edition.title else (work.title if work else '')
$ work_title = work.title if work else edition.get('title', '')
$ book_subtitle = edition.get('subtitle', '')
$ title_suffix = cond(edition.publish_date, u"({0} edition)".format(edition.publish_date), "(edition)")
$ title = book_title + " " + title_suffix
$ title_with_site = _("%(page_title)s | Open Library", page_title=title)
$ book_description = (edition and edition.description) or (work and work.description)
$ edition_count = work.edition_count if work and work.edition_count else 1
$ meta_cover_url = item_image(edition.get_cover_url("L"), default="https://openlibrary.org/images/icons/avatar_book-sm.png")
$ _x = ctx.setdefault('bodyid', 'book')

$var title: $title

$code:
    def has_any(*keys):
        return any(page[k] for k in keys)

$code:
    def get_description(book):
        if book.publishers and book.publish_date:
            edition = book.publish_date + ', ' + ', '.join(book.publishers)
        elif book.publish_date:
            edition = book.publish_date
        elif book.publishers:
            edition = ', '.join(book.publishers)
        else:
            edition = 'unknown'

        title = cond(work, work.title, book.title)
        authors = cond(work, work and work.get_authors(), book.get_authors())
        author_info = " by " + ", ".join(a.name for a in authors)

        format = ""
        if book.physical_format:
            format += book.physical_format.replace('[', '').replace(']', '')

        if book.languages:
            format += ' in ' + ', '.join(lang.name for lang in book.languages)
        if book.edition_name:
            format += " - " + book.edition_name

        meta = title + author_info + ", " + edition + " edition, " + format
        return meta
    description = get_description(page)
    putctx("description", description)

$code:
    def get_authors_byline(page, include_schema=False):
        schema_attribute = cond(include_schema, ' itemprop="author"', '')
        authors = cond(work, work and work.get_authors(), edition.get_authors())
        if authors:
            return ', '.join('<a href="%s"%s>%s</a>' % (a.url(), schema_attribute, truncate(a.name, 40)) for a in authors)
        elif edition.author_names:
            return ('<span%s>' % (schema_attribute)) + ", ".join(edition.author_names) + "</span>"
        else:
            return None

$def display_value(label, value, itemprop=None):
    $if value:
        <dt>$label</dt>
        $if itemprop:
            <dd itemprop="$itemprop" class="object">$:thingrepr(value)</dd>
        $else:
            <dd class="object">$:thingrepr(value)</dd>

$def display_identifiers(label, ids, itemprop=None):
    $if label != "Goodreads":
        $ all_ids = [-1!=id['value'].find('openlib-') for id in ids]
        $if (True in all_ids) and (1==len(all_ids)):
            $return

        <!-- FIXME: Identifier names need to be translated (I18N) -->
        <dt>$label</dt>
        <dd class="object" $:cond(itemprop, 'itemprop="%s"' % itemprop, '')>
            $for id in ids:
                $ sep = cond(loop.last, "", ", ")
                $if -1 != id.value.find('openlib-'):
                    $continue
                $if id.url:
                    <a href="$id.url$('?tag=' + affiliate_id('amazon') if 'amazon.' in id.url else '')">$id.value</a>$sep
                $else:
                    ${id.value}$sep
        </dd>

$def display_goodreads(label, ids):
    $if label == "Goodreads":
        <dt>$label</dt>
        $for id in ids:
            <dd><a href="$id.url">$id.value</a></dd>

$def display_contributor(c):
    <li><span>$c.role</span><br />$c.name </li>

$ authors_byline = get_authors_byline(page, include_schema=True)

$:macros.Metatags(title=title_with_site, image=meta_cover_url, description=description)
$set_share_links(url=request.canonical_url, title=title, view_context=ctx)

$if ctx.user and (ctx.user.is_admin() or ctx.user.is_librarian()):
  <!-- Don't need to translate admin only buttons (at least initially)-->
  <div class="admin-bar">
    $if work:
      <!-- Add this whole work to staff picks -->
      <form action="/admin/staffpicks" method="POST">
        <input type="hidden" value="add" name="action"/>
        <input type="hidden" name="work_id" value="$(work.key.split('/')[2])"/>
        <input type="submit" class="cta-btn--vanilla" value="Add to Staff Picks"/>
      </form>
    $if ocaid:
      <form method="GET" action="/admin/sync">
        <input type="hidden" name="edition_id" value="$(edition.key.split('/')[2])"/>
        <input type="submit" class="cta-btn--vanilla" value="Sync Archive.org ID"/>
      </form>
      <form method="GET" action="https://archive.org/details/$ocaid">
        <input type="submit" class="cta-btn--vanilla" value="View Book on Archive.org"/>
      </form>
    $if not work:
      <strong>Orphaned Edition!</strong>
  </div>

<div id="contentHead"></div>

<div id="contentBody" role="main" itemscope itemtype="https://schema.org/Book">
  <div class="workDetails">
    $if work:
        <link itemprop="exampleOfWork" href="$work.key">

    <div class="editionCover">
      $:macros.databarWork(edition, editions_page=True)
    </div>

    <div class="editionAbout">

      <div class="editionAll">
        $:macros.databarView(page, edition)
        $if work.series:
          <h2><a href="/works/$(work.series.work)">($work.series.name)</a></h2>
        <h1 class="work-title" itemprop="name">$book_title</h1>
        $if edition.subtitle or edition.edition_title or edition.edition_name:
          <h2 class="work-subtitle">
            $if edition.subtitle:
              $edition.subtitle
            $if edition.edition_title or edition.edition_name:
              $if edition.subtitle:
                &mdash;
              $edition.edition_title $edition.edition_name
        $if authors_byline:
          <h2 class="edition-byline">$_("by") $:authors_byline</h2>
      </div>

      $:macros.StarRatings(work, edition)
      $:macros.StarRatingsStats(work)

      <h4 class="publisher">
        $if edition.publish_date or edition.publishers or edition.publish_places:
        <!-- TODO: this handcrafted concatenation will be difficult to internationalize -->
        $_('Published')
            $if edition.publish_date:
                <strong itemprop="datePublished">$edition.publish_date</strong>
            $if edition.publishers:
                $_('by')
                $for p in edition.publishers:
                    $if "publishers" in ctx.features:
                      <a itemprop="publisher" href="/publishers/$p.replace(' ', '_')"
                         title="$_('Show other books from %(publisher)s', publisher=p)"
                         >$p</a>$cond(loop.last, "", ", ")
                    $else:
                      <a itemprop="publisher" href="/search?publisher_facet=$p.replace('&','%26')"
                         title="$_('Search for other books from %(publisher)s', publisher=p)"
                         >$p</a>$cond(loop.last, "", ", ")
            $if edition.publish_places:
              $_('in')
              $for p in edition.publish_places:
                 <a href="/search/subjects?q=$p.replace('&','%26')"
                    title="$_('Search for subjects about %(place)s', place=p)"
                    >$p</a>$cond(loop.last, "", ", ")<span class="adjust">.</span>
        $if edition.languages:
            $def lang_span(): <span itemprop="inLanguage">$:thingrepr(edition.languages)</span>
            <br/>$:_('Written in %(language)s', language=lang_span())
        $if edition.number_of_pages:
            &mdash; <span class="edition-pages"
                          itemprop="numberOfPages">$edition.number_of_pages</span> pages
      </h4>



      $if work:
        <div class="section">
          <div class="addReadMore showlesscontent edition-description">
            $if book_description:
              $:sanitize(format(book_description))
            $else:
              <p class="workHelp">
                $:_("This book doesn't have a description yet. Can you <b><a href='%(url)s'>add one</a></b>?", url=edition.url('/edit')+"#about/about")
              </p>
          </div>
        </div>

      <ul class="work-menu">
        $if work:
          <li class="$('selected' if not tab or tab == 'editions' else '')">
            <a class="$('selected' if not tab or tab == 'editions' else '')"
               href="$(page.url())?tab=editions#editions"
               >View $edition_count Edition$("s" if edition_count > 1 else "")</a>
          </li>
        
        <li id="details" class="$('selected' if tab == 'details' else '')">
          <a class="$('selected' if tab == 'details' else '')"
             href="$page.url()?tab=details#details">Overview</a>
        </li>
        
        <li id="buy" class="$('selected' if tab == 'buy' else '')">
          <a class="$('selected' if tab == 'buy' else '')"
             href="$page.url()?tab=buy#buy">Get the Book</a>
        </li>
      </ul>

      $if (not tab) or tab == 'editions':
        <div class="clearfix"></div>
        $:render_template("type/work/editions_datatable", work, editions=editions, edition=edition)

      $elif tab == 'buy':
        $ prices = page.key.startswith('/books/')

        $ oclc_numbers = (page.oclc_numbers and page.oclc_numbers[0]) or ""
        $ isbn_13 = page.get_isbn13()
        $ isbn_10 = page.get_isbn10()
        
        $ asin = None
        $if page.get('identifiers'):
            $if page.identifiers.get('amazon'):
                $ asin = page.identifiers.amazon[0]
        
        $if isbn_10 and not asin:
            $ asin = isbn_10
        <div class="panel">
          <div class="btn-notice">
            $:macros.WorldcatLink(isbn=isbn_13, oclc_numbers=oclc_numbers, referer=page.url(relative=False))
          
            <div class="cta-section">
              <p class="cta-section-title">$_('Buy this book')</p>
              $:macros.AffiliateLinks(page, {'isbn': isbn_13, 'asin': asin, 'prices': prices})
            </div>
          </div>
        </div>
      
      $elif tab == 'details':
        <h4 class="first-published">
          $if work and work.first_publish_year:
            $_("First published in %s", work.first_publish_year)
        </h4>
            
        $:macros.SubjectTags(work)

        $if (work and work.first_sentence) or edition.first_sentence:
            <h3 class="collapse">$_("First Sentence")</h3>
            <p>"$(edition.first_sentence or work.first_sentence)"</p>
        
        <h3>$_("About this Edition")</h3>
        <div class="addReadMore showlesscontent edition-description section">
            $if edition.description:
              $:sanitize(format(edition.description))
            $else:
              <p class="workHelp">
                $:_("This edition doesn't have a description yet. Can you <b><a href='%(url)s'>add one</a></b>?", url=edition.url('/edit')+"#about/about")
              </p>
        </div>

        $:macros.TableOfContents(page, ocaid)

        $if edition.notes or edition.series or edition.volume or edition.genres or edition.other_titles or edition.copyright_date or edition.translation_of or edition.translated_from:
            <div class="section">
                <h3>$_("Edition Notes")
                </h3>
                $if edition.notes:
                    $:format(edition.notes)
                <dl class="meta">
                    $:display_value(_("Series"), edition.series)
                    $:display_value(_("Volume"), edition.volume)
                    $:display_value(_("Genre"), edition.genres)
                    $:display_value(_("Other Titles"), edition.other_titles)
                    $:display_value(_("Copyright Date"), edition.copyright_date)
                    $:display_value(_("Translation Of"), edition.translation_of)
                    $:display_value(_("Translated From"), edition.translated_from)
                </dl>
            </div>

        $ classifications = edition.get_classifications().multi_items()
        $if classifications:
            <div class="section">
                <h3 class="list-header collapse">$_("Classifications")</h3>
                <dl class="meta">
                    $for name, values in classifications:
                        $:display_identifiers(values[0].label, values)
                </dl>
            </div>

        $ links = page.get_links()
        $if links:
          <div id="external-links">
            <h3 class="header">
              <span class="icon download"></span>
              <span class="head">$_('External Links')</span>
            </h3>
            <div class="panel">
              <ul class="booklinks sansserif">
                $for link in links:
                  <li><a href="$link.url">$link.title</a></li>
              </ul>
            </div>
          </div>

        $ contributors = edition.get('contributors', [])
        $if contributors:
          <div class="section">
            <h3 class="collapse">$_("Contributors")</h3>
            <ul class="contributors">
              $for c in contributors:
                $:display_contributor(c)
            </ul>
          </div>

        $if has_any("physical_format", "pagination", "physical_dimensions", "weight"):
            <div class="section">
            <dl class="meta">
                <h3 class="list-header collapse">$_("The Physical Object")</h3>
                $:display_value(_("Format"), edition.physical_format)
                $:display_value(_("Pagination"), edition.pagination)
                $:display_value(_("Number of pages"), edition.number_of_pages, itemprop="numberOfPages")
                $:display_value(_("Dimensions"), edition.physical_dimensions)
                $:display_value(_("Weight"), edition.weight)
            </dl>
            </div>

        <div class="section">
            <dl class="meta">
                <h3 class="list-header collapse">$_("ID Numbers")</h3>
                $:display_identifiers("Open Library", [storage(url=None, value=edition.key.split("/")[-1])])
                $for name, values in edition.get_identifiers().multi_items():
                    $ identifier_label = values[0].label
                    $if not (edition.is_in_private_collection() and identifier_label == 'Internet Archive'):
                        $:display_identifiers(identifier_label, values, itemprop=cond(name in ["isbn_10", "isbn_13"], "isbn", None))
            $:display_goodreads("Open Library", [storage(url=None, value=edition.key.split("/")[-1])])
            $for name, values in edition.get_identifiers().multi_items():
                $:display_goodreads(values[0].label, values)
            </dl>
        </div>

      </div>
    </div>

    <div class="workFooter">
      <div class="btn-notice">
        <h2 class="home-h2"><a href="$page.url()/lists">$_('Lists including this book')</a></h2>
        $# pages like /books/ia:foo00bar are fake records created from metadata API.
        $# Adding them to lists doesn't work. Disabling it to avoid any issues.
        $if "lists" in ctx.features and not page.is_fake_record():
          <div class="user-book-options">        
            <div class="Tools tools-override">
              $:render_template("lists/widget", page, include_header=False, results=4)
            </div>
          </div>
      </div>
    </div>

    $:macros.RelatedWorksCarousel(work)

    $if ctx.user and ctx.user.is_admin():
        <!-- Don't need to translate admin only buttons (at least initially)-->
        <div class="small sansserif clearfix"><br/><span class="adminOnly"><a href="$edition.url('/borrow_admin')">View loan debugging information</a></span></div>

    $:render_template("lib/history", page)
</div>

<script type="text/javascript">

    function AddReadMore() {
        //This limit you can set after how much characters you want to show Read More.
        var carLmt = 160;
        // Text to show when text is collapsed
        var readMoreTxt = " ... Read More";
        // Text to show when text is expanded
        var readLessTxt = " Read Less";


        //Traverse all selectors with this class and manupulate HTML part to show Read More
        \$(".addReadMore").each(function() {
            if (\$(this).find(".firstSec").length)
                return;

            var allstr = \$(this).text();
            if (allstr.length > carLmt) {
                var firstSet = allstr.substring(0, carLmt);
                var secdHalf = allstr.substring(carLmt, allstr.length);
                var strtoadd = firstSet + "<span class='SecSec'>" + secdHalf + "</span><span class='readMore'  title='Click to Show More'>" + readMoreTxt + "</span><span class='readLess' title='Click to Show Less'>" + readLessTxt + "</span>";
                \$(this).html(strtoadd);
            }

        });
        //Read More and Read Less Click Event binding
        \$(document).on("click", ".readMore,.readLess", function() {
            \$(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
        });
    }
    
    \$(function() {
        //Calling function after Page Load
        AddReadMore();
    });

  var el, ps, up, totalHeight;

  \$(".sidebar-box .button").click(function() {
        
    totalHeight = 0

    el = \$(this);
    p  = el.parent();
    up = p.parent();
    ps = up.find("p:not('.read-more')");
    
    // measure how tall inside should be by adding together heights of all inside paragraphs (except read-more paragraph)
    ps.each(function() {
      totalHeight += \$(this).outerHeight();
    });
          
    up
      .css({
        // Set height to prevent instant jumpdown when max height is removed
        "height": up.height(),
        "max-height": 9999
      })
      .animate({
        "height": totalHeight
      });
    
    // fade out read-more
    p.fadeOut();
    
    // prevent jump-down
    return false;
      
  });

</script>
