$def with (page, show_other_editions=False)

$ work = page.works and page.works[0] or None
$ ocaid = page.get('ocaid')
$ book_title = page.get('title', '') if page.title else (work.title if work else '')
$ work_title = work.title if work else page.get('title', '')
$ book_subtitle = page.subtitle if page.get('subtitle') else (work.subtitle if work and work.get('subtitle') else '')
$ title_suffix = cond(page.publish_date, u"({0} edition)".format(page.publish_date), "(edition)")
$ title = book_title + " " + title_suffix
$ title_with_site = title + " | Open Library"
$ meta_cover_url = item_image(page.get_cover_url("L"), default="https://openlibrary.org/images/icons/avatar_book-sm.png")
$ _x = ctx.setdefault('bodyid', 'book')

$var title: $title

$code:
    def has_any(*keys):
        return any(page[k] for k in keys)

$code:
    def get_description(book):
        if book.publishers and book.publish_date:
            edition = book.publish_date + ', ' + ', '.join(book.publishers)
        elif book.publish_date:
            edition = book.publish_date
        elif book.publishers:
            edition = ', '.join(book.publishers)
        else:
            edition = 'unknown'

        work = page.works and page.works[0]
        title = cond(work, work.title, book.title)
        authors = cond(work, work and work.get_authors(), book.get_authors())
        author_info = " by " + ", ".join(a.name for a in authors)

        format = ""
        if book.physical_format:
            format += book.physical_format.replace('[', '').replace(']', '')

        if book.languages:
            format += ' in ' + ', '.join(lang.name for lang in book.languages)
        if book.edition_name:
            format += " - " + book.edition_name

        meta = title + author_info + ", " + edition + " edition, " + format
        return meta
    description = get_description(page)
    putctx("description", description)

$code:
    def get_authors_byline(page, include_schema=False):
        work = page.works and page.works[0]
        schema_attribute = cond(include_schema, ' itemprop="author"', '')
        authors = cond(work, work and work.get_authors(), page.get_authors())
        if authors:
            return ', '.join('<a href="%s"%s>%s</a>' % (a.url(), schema_attribute, truncate(a.name, 40)) for a in authors)
        elif page.author_names:
            return ('<span%s>' % (schema_attribute)) + ", ".join(page.author_names) + "</span>"
        else:
            return None

$def display_value(label, value, itemprop=None):
    $if value:
        <dt>$label</dt>
        $if itemprop:
            <dd itemprop="$itemprop" class="object">$:thingrepr(value)</dd>
        $else:
            <dd class="object">$:thingrepr(value)</dd>

$def display_identifiers(label, ids, itemprop=None):
    $if label != "Goodreads":
        $ all_ids = [-1!=id['value'].find('openlib-') for id in ids]
        $if (True in all_ids) and (1==len(all_ids)):
            $return

        <!-- FIXME: Identifier names need to be translated (I18N) -->
        <dt>$label</dt>
        <dd class="object" $:cond(itemprop, 'itemprop="%s"' % itemprop, '')>
            $for id in ids:
                $ sep = cond(loop.last, "", ", ")
                $if -1 != id.value.find('openlib-'):
                    $continue
                $if id.url:
                    <a href="$id.url$('?tag=' + affiliate_id('amazon') if 'amazon.' in id.url else '')">$id.value</a>$sep
                $else:
                    ${id.value}$sep
        </dd>

$def display_goodreads(label, ids):
    $if label == "Goodreads":
        <dt>$label</dt>
        $for id in ids:
            <dd><a href="$id.url">$id.value</a></dd>

$def display_contributor(c):
    <li><span>$c.role</span><br />$c.name </li>

$:macros.Metatags(title=title_with_site, image=meta_cover_url, description=description)
$set_share_links(url=request.canonical_url, title=title, view_context=ctx)

$if ctx.user and (ctx.user.is_admin() or ctx.user.is_librarian()):
  <!-- Don't need to translate admin only buttons (at least initially)-->
  <div class="admin-bar">
    $ work = page.works and page.works[0]
    $if work:
      <!-- Add this whole work to staff picks -->
      <form action="/admin/staffpicks" method="POST">
        <input type="hidden" value="add" name="action"/>
        <input type="hidden" name="work_id" value="$(work.key.split('/')[2])"/>
        <input type="submit" value="Add to Staff Picks"/>
      </form>
    $if ocaid:
      <form method="GET" action="/admin/sync">
        <input type="hidden" name="edition_id" value="$(page.key.split('/')[2])"/>
        <input type="submit" value="Sync Archive.org ID"/>
      </form>
      <form method="GET" action="https://archive.org/details/$ocaid">
        <input type="submit" value="View Book on Archive.org"/>
      </form>
    $if not work:
      <strong>Orphaned Edition!</strong>
  </div>

<div id="contentHead">

    <table width="100%">
      <tbody>
        <tr>
    $ item_id = None
    $if 'ocaid' in page:
        $ item_id = page['ocaid']
        $ meta_fields = page.get_ia_meta_fields()
        $if meta_fields:
            $ collection = meta_fields.get('collection', [])
            $if 'printdisabled' in collection or 'lendinglibrary' in collection:
                $ item_id = None

    <td valign="top" width="100%">
    $:macros.databarView(page)

    <div class="navEdition sansserif">
        $ edition_count = work.edition_count if work and work.edition_count else 1
        $ url = work.url() if work else ''
        $:ungettext('<a href="%(url)s"><strong>1 edition</strong></a> of <strong class="booktitle">%(title)s</strong> found in the catalog.','<a href="%(url)s"><strong>%(count)d editions</strong></a> of <strong class="booktitle">%(title)s</strong> found in the catalog.', edition_count, url=url,count=edition_count, title=websafe(truncate(work_title, 60)))
        $if work:
            <span><a href="/books/add?work=$work.key" title="$_('Add another edition of') $book_title">$_("Add another edition")</a>?</span>
    </div>
    </td>
    </tr></tbody></table>
</div>

<div id="contentBody" role="main" itemscope itemtype="https://schema.org/Book">
    <div class="workDetails">
        $if work:
            <link itemprop="exampleOfWork" href="$work.key">

        <div class="editionCover">

            <div class="illustration edition-cover">
                $:render_template('covers/book_cover', page)
                $# Don't display add/change cover link for /books/ia:foo00bar pages
                $if not page.is_fake_record():
                    $:render_template('covers/change', page, ".edition-cover .bookCover img")
            </div>
            <div class="mobile-borrow-cta">
              $:macros.LoanStatus(page, ctx.user, editions_page=True, render_preview_floater=False)
            </div>
            $# pages like /books/ia:foo00bar are fake records created from metadata API.
            $# Adding them to lists doesn't work. Disabling it to avoid any issues.
            $if "lists" in ctx.features and not page.is_fake_record():
              <div class="user-book-options">
                <div class="Tools tools-override">
                  $:render_template("lists/widget", page, include_header=False)
                </div>
              </div>

          $ contributors = page.get('contributors', [])
          $if contributors:
              <div class="section">
                  <h3 class="collapse">$_("Contributors")</h3>
                  <ul class="contributors">
                      $for c in contributors:
                          $:display_contributor(c)
                  </ul>
              </div>
        </div>

        <div class="editionAbout">

            <div class="book-overview section sansserif">
              <h1 class="work-title" itemprop="name">$book_title</h1>
              $if book_subtitle:
                <h2 class="work-subtitle">$book_subtitle</h2>
              $if page.edition_title or page.edition_name:
                <h2 class="edition-title">
                  $page.edition_title $page.edition_name
                </h2>
              $ authors_byline = get_authors_byline(page, include_schema=True)
              $if authors_byline:
                <h2 class="edition-byline">$_("by") $:authors_byline</h2>

              $ rating_stats = work.get_rating_stats() if work else {}
              $ stats_by_bookshelf = work.get_num_users_by_bookshelf() if work else {}
              $if rating_stats or stats_by_bookshelf:
                $ show_ratings = rating_stats and rating_stats['avg_rating'] > 0 and rating_stats['num_ratings'] > 1
                <ul class="readers-stats" $:cond(show_ratings, 'itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating"', '')>
                  $if show_ratings:
                    <li class="avg-ratings">
                        $:('<span class="readers-stats__star">★</span>' * int(rating_stats['avg_rating'])) <span itemprop="ratingValue">$(rating_stats['avg_rating'])</span>
                    </li>
                    <li>
                        <span itemprop="reviewCount">$rating_stats['num_ratings']</span> Ratings
                    </li>
                  $if stats_by_bookshelf.get('want-to-read', 0) > 1:
                    <li class="reading-log-stat">$stats_by_bookshelf['want-to-read'] Want to read</li>
                  $if stats_by_bookshelf.get('currently-reading', 0) > 1:
                    <li class="reading-log-stat">$stats_by_bookshelf['currently-reading'] Currently reading</li>
                  $if stats_by_bookshelf.get('already-read', 0) > 1:
                    <li class="reading-log-stat">$stats_by_bookshelf['already-read'] Have read</li>
                </ul>

              <h4 class="publisher">
                    $if page.publish_date or page.publishers or page.publish_places:
                    <!-- TODO: this handcrafted concatenation will be difficult to internationalize -->
                    $_('Published')
                        $if page.publish_date:
                            <strong itemprop="datePublished">$page.publish_date</strong>
                        $if page.publishers:
                            $_('by')
                            $for p in page.publishers:
                                $if "publishers" in ctx.features:
                                    <a itemprop="publisher" href="/publishers/$p.replace(' ', '_')" title="$_('Show other books from %(publisher)s', publisher=p)">$p</a>$cond(loop.last, "", ", ")
                                $else:
                                    <a itemprop="publisher" href="/search?publisher_facet=$p.replace('&','%26')" title="$_('Search for other books from %(publisher)s', publisher=p)">$p</a>$cond(loop.last, "", ", ")

                        $if page.publish_places:
                            $_('in')
                            $for p in page.publish_places:
                                 <a href="/search/subjects?q=$p.replace('&','%26')" title="$_('Search for subjects about %(place)s', place=p)">$p</a>$cond(loop.last, "", ", ")
                        <span class="adjust">.</span>
                    $if page.languages:
                        $def lang_span(): <span itemprop="inLanguage">$:thingrepr(page.languages)</span>
                        <br/>$:_('Written in %(language)s', language=lang_span())
              </h4>

          $if work:
            $def render_subjects(label, subjects, prefix=""):
                $if subjects:
                    <div class="section link-box">
                        <h6>$label</h6>
                        <div><span>
                        $for subject in subjects:
                            <a href="/subjects/$prefix$utf8(subject.lower().replace(' ', '_').replace(',',''))">$subject</a>$cond(not loop.last,",","")
                        </span></div>
                    </div>
            $:render_subjects(_("Subjects"), work.get_subjects())
            $:render_subjects(_("People"), work.subject_people, prefix="person:")
            $:render_subjects(_("Places"), work.subject_places, prefix="place:")
            $:render_subjects(_("Times"), work.subject_times, prefix="time:")

        </div>

        $if page.description or (work and work.description):
          $if page.description:
            <h3 class="collapse">$_("About the Edition")</h3>
            $:sanitize(format(page.description))
          $else:
            <h3 class="collapse">$_("About the Book")</h3>
            $:sanitize(format(work.description))                  
        $else:
          <p class="workHelp">
            $:_("There's no description for this book yet. Can you <b><a href='%(url)s'>add one</a></b>?", url=page.url('/edit')+"#about/about")
          </p>
        $if page.first_sentence:
            <h3 class="collapse">$_("First Sentence")</h3>
            <p>$page.first_sentence</p>

        $ table_of_contents = page.get_table_of_contents()
        $if table_of_contents and len(table_of_contents) > 1:
            <div class="section">
            <h3 class="collapse">$_("Table of Contents")</h3>
            <table class="meta sansserif" id="toc-table">
            <tbody>
                $for toc in table_of_contents:
                    <tr class="toc-level-$toc.level">
                        <td class="toc-label">$toc.label</td>
                        $if item_id and toc.pagenum.isdigit():
                            <td class="toc-title"><a href="//archive.org/stream/$item_id#page/$toc.pagenum">$toc.title</a></td>
                        $else:
                            <td class="toc-title">$toc.title</td>
                        <td class="toc-pagenum">$toc.pagenum</td>
                    </tr>
            </tbody>
            </table>
            </div>

        $if page.notes or page.series or page.volume or page.genres or page.other_titles or page.copyright_date or page.translation_of or page.translated_from:
            <div class="section">
                <h3>$_("Edition Notes")
                </h3>
                $if page.notes:
                    $:format(page.notes)
                <dl class="meta">
                    $:display_value(_("Series"), page.series)
                    $:display_value(_("Volume"), page.volume)
                    $:display_value(_("Genre"), page.genres)
                    $:display_value(_("Other Titles"), page.other_titles)
                    $:display_value(_("Copyright Date"), page.copyright_date)
                    $:display_value(_("Translation Of"), page.translation_of)
                    $:display_value(_("Translated From"), page.translated_from)
                </dl>
            </div>

        $ classifications = page.get_classifications().multi_items()
        $if classifications:
            <div class="section">
                <h3 class="list-header collapse">$_("Classifications")</h3>
                <dl class="meta">
                    $for name, values in classifications:
                        $:display_identifiers(values[0].label, values)
                </dl>
            </div>

        $if has_any("physical_format", "pagination", "physical_dimensions", "weight"):
            <div class="section">
            <dl class="meta">
                <h3 class="list-header collapse">$_("The Physical Object")</h3>
                $:display_value(_("Format"), page.physical_format)
                $:display_value(_("Pagination"), page.pagination)
                $:display_value(_("Number of pages"), page.number_of_pages, itemprop="numberOfPages")
                $:display_value(_("Dimensions"), page.physical_dimensions)
                $:display_value(_("Weight"), page.weight)
            </dl>
            </div>

        <div class="section">
            <dl class="meta">
                <h3 class="list-header collapse">$_("ID Numbers")</h3>
                $:display_identifiers("Open Library", [storage(url=None, value=page.key.split("/")[-1])])
                $for name, values in page.get_identifiers().multi_items():
                    $ identifier_label = values[0].label
                    $if not (page.is_in_private_collection() and identifier_label == 'Internet Archive'):
                        $:display_identifiers(identifier_label, values, itemprop=cond(name in ["isbn_10", "isbn_13"], "isbn", None))
            $:display_goodreads("Open Library", [storage(url=None, value=page.key.split("/")[-1])])
            $for name, values in page.get_identifiers().multi_items():
                $:display_goodreads(values[0].label, values)
            </dl>
        </div>

        </div>


        <div class="editionTools">
            $:macros.databarWork(page, editions_page=True)

            $if page.sponsorship_data:
              <div class="sponsorship-card">
              $if page.sponsorship_data.donor:
                $ donor = page.sponsorship_data.donor
                $if page.sponsorship_data.donor_account:
                  $ donor = page.sponsorship_data.donor_account.render_link()
                $:_('This book was generously donated by %(donor)s', donor=donor)
              $else:
                $_('This book was generously donated anonymously')
              <hr>
              $if page.sponsorship_data.donor_msg:
                <q>$page.sponsorship_data.donor_msg</q>
                <hr>
              <a href="/sponsorship" class="learn-more">$_("Learn more about Book Sponsorship")</a>
              </div>
        </div>

    </div>

    $ work = page.works and page.works[0]

    $if show_other_editions:
      <div class="clearfix"></div>
      $:render_template("type/work/editions_datatable", work)

    $:macros.RelatedWorksCarousel(work)

    $if ctx.user and ctx.user.is_admin():
        <!-- Don't need to translate admin only buttons (at least initially)-->
        <div class="small sansserif clearfix"><br/><span class="adminOnly"><a href="$page.url('/borrow_admin')">View loan debugging information</a></span></div>

    $:render_template("lib/history", page)
</div>

<!-- source_records: $page.get('source_records', []) -->
