{% extends "site.html.jinja" %}

{% block main %}
    {% set bodyclass = ctx.get('bodyclass', []) %}
    {% set show_ol_shell = ctx.get('show_ol_shell', True) %}
    {% set bodyattrs = ctx.get('bodyattrs', []) %}

    {% if show_ol_shell and (ctx.path.startswith('/works/OL') or ctx.path.startswith('/authors/OL') or ctx.path.startswith('/books/OL') or ctx.path.startswith('/search')) %}
    {% if ctx.user and (ctx.user.is_librarian() or ctx.user.is_admin()) %}
        {% set bodyclass = bodyclass + ['show-librarian-tools'] %}
        {% set bodyattrs = bodyattrs + ['data-username="' ~ ctx.user.key.split('/')[-1] ~ '"'] %}
    {% endif %}
    {% endif %}

    <body class="{{ bodyclass|join(' ') }}" {{ bodyattrs|join(' ')|safe }}>
    <script>
        // Provide a signal that JS will load
        document.body.className += ' client-js';
    </script>
    <span id="top"></span>
    <div id="offline-info">{{ _("It looks like you're offline.") }}</div>
    {# on form pages e.g. manage-covers, add-cover we do not display the header #}
    {# this is consistent with version 1. #}
    {% if show_ol_shell %}
        {{ render_template("site/alert") | safe }}
        {% include "lib/nav_head.html.jinja" %}
    {% endif %}
    {# don't render test-body-mobile for iframes #}
    <div {% if show_ol_shell %}id="test-body-mobile"{% endif %}>
        {% if show_ol_shell %}
        {#print errors (hidden by default as styles are loaded via JS)#}
        <div class="flash-messages">
        {% for flash in get_flash_messages() %}
            <div class="{{ flash.type }}"><span>{{ flash.message }}</span></div>
        {% endfor %}
        </div>
        {# Announcement banner will only be rendered if announcement and storage_key variables are set. #}
        {# Be sure to escape any single quotes inside of the announcement HTML string. #}
        {% set announcement = '' %}
        {# Include date in cookie name to avoid name collisions (something like '{prefix}{YY}{MM}{DD}' would work well) #}
        {% set cookie_name = '' %}
        {% if announcement and cookie_name %}
            {% include 'site/banner' with context %}
        {% endif %}
        {% endif %}
        {% block body %}
            <!-- This is where the main content of each page will go -->
        {% endblock %}
    </div>
    </body>
{% endblock %}