<!DOCTYPE html>
<html lang="en">
{% include "head.html.jinja" %}
{% block head %}{% endblock %}
<body>
    <header>
        {% block neck %}
            <!-- Common navigation, header content -->
        {% endblock %}
    </header>

    <main>
        {% block body %}
            <!-- This is where the main content of each page will go -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <!-- Common footer content -->
        {% endblock %}
    </footer>
</body>
</html>