$def with (mb, selected="books")

    $ url_prefix = "/people/" + mb.username
    $ readlog_url = url_prefix + "/books/%s/"
    $ options = [(_("Books"), url_prefix + "/books")]
    $if mb.is_my_page or mb.is_public:
      $ options += [
      $   (_("Want to Read (%(count)d)", count=mb.counts['want-to-read']), readlog_url % "want-to-read"),
      $   (_("Currently Reading (%(count)d)", count=mb.counts['currently-reading']), readlog_url % "currently-reading"),
      $   (_("Already Read (%(count)d)", count=mb.counts['already-read']), readlog_url % "already-read")
      $ ]
    $ options += [(_("Lists (%(count)d)", count=len(mb.lists)) , url_prefix + "/lists")]
    $if mb.is_my_page:
      $ options += [
      $   (_("Loans"), "/account/loans"),
      $   (_("Notes"), url_prefix + "/books/notes"),
      $   (_("Notes"), url_prefix + "/books/notes"),
      $   (_("Reviews"), url_prefix + "/books/observations"),
      $   (_("Imports and Exports"), "/account/import")
      $ ]
    $if mb.sponsorships:
      $ options += [ (_("Sponsorships"), readlog_url % "sponsorships") ]
    $if not options:
        $selected
    $elif len(options) == 1:
        $if selected != options[0][0]:
            <span class="crumb">
                <span class="crumbicon">
                    <div class="dropdown">
                        <h2 class="breadcrumb-title">$selected</h2>
                        <img class="icon-link__image down-chevron" src="/static/images/icons/right-chevron.svg">
                    </div>
                    <select class="disguised-select">
                        <option selected>$selected</option>
                        <option value="$options[0][1]">$options[0][0]</option>
                    </select>
                </span>
            </span>
        $else:
            <h1>$selected</h1>
    $else:
        $ breadcrumb_title = ""
        $for (title, url) in options:
            $if '(' in title and title[:title.index('(')-1] == selected:
                $ breadcrumb_title = title
            $elif title == selected:
                $ breadcrumb_title = title;
        <span class="crumb">
            <span class="crumbicon">
                <div class="dropdown">
                    <h2 class="breadcrumb-title">$breadcrumb_title</h2>
                    <img class="icon-link__image down-chevron" src="/static/images/icons/right-chevron.svg">
                </div>
                <select class="disguised-select">
                    $for (title, url) in options:
                        $if '(' in title and title[:title.index('(')-1] == selected:
                            <option selected>$title</option>
                        $elif title == selected:
                            <option selected>$title</option>
                        $else:
                            <option value=$url>$title</option>
                </select>
            </span>
        </span>
