$def with (books, id="ol-carousel")

<script type="text/javascript">
\$(function() {
    function load_covers(carousel, state) {
        for (var i = carousel.first; i <= carousel.last; i++) {
            if (carousel.has(i)) {
                carousel.get(i).find(".coverMagic").removeClass("hiddenCoverMagic");

                var cover = carousel.get(i).find("img.cover");
                if (cover.length > 0) {
                    cover.attr("src", cover.attr("xsrc"));
                }
            }
        }
    }

    \$("#$id").jcarousel({
        scroll:6,
        itemLoadCallback: {onBeforeAnimation: load_covers}
    });
})
</script>

<div class="contentLists results">
  <div class="covers resultsCovers">
    <ul class="homeCarousel jcarousel-skin-OL" id="$id">
      $for book in books:
        <li>
	  $if book.get('loan'):
	    <div>
	      <form action="$(book['loan']['book'] + '/do_return/borrow')" method="post" class="loan-btn">
		<input type="submit" value="" title="Return Book" class="return-book-btn"/>
		<input type="hidden" name="action" value="return" />
	      </form>	    
	      <form class="LoanReadForm loan-btn" method="POST" action="$(book['loan']['book'])/_doread/borrow">
		<input type="hidden" name="action" value="read" />
		<input type="text" name="ol_host" value="" class="hidden ol_host" />
		<input type="submit" value="" title="Read Book Online" class="goto-book-btn" />
	      </form>
	    </div>

          $:render_template("books/carousel_item", book)
        </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  jQuery('.ol_host').attr('value', location.host);
</script>
