$def with(books=[], title="", url="", key="", min_books=1, load_more=None, test=False, compact_mode=False, secondary_action=False, layout='carousel')

$def carousel_i18n_input():
  $ show_carousel_i18n_strings=  {
  $ "loading": _("Loading...")
  $ }

  <input type="hidden" name="carousel-i18n-strings" value="$json_encode(show_carousel_i18n_strings)">


$if render_once('books/custom_carousel.i18n-strings'):
  $:carousel_i18n_input()

$if test or (books and len(books) >= min_books):
    <div class="carousel-section">
      $if title and url:
        <div class="carousel-section-header">
          <h2 class="home-h2">
            <a data-ol-link-track="BookCarousel|HeaderClick|$key" href="$url">$title</a>
          </h2>
        </div>
      <div class="carousel-container carousel-container-decorated">
        $code:
          config = {
            'booksPerBreakpoint': [4, 4, 4, 3, 2, 1] if compact_mode else [6, 5, 4, 3, 2, 1],
            'analyticsCategory': 'BookCarousel',
            'carouselKey': key,
            'loadMore': {
              "queryType": load_more.get("queryType", ""),
              "q": load_more.get("q", ""),
              "pageMode": load_more.get("mode", "offset"),
              "limit": load_more.get("limit", 18),
              "layout": layout,
              "key": key,
              "subject": load_more.get("subject", ""),
              "secondaryAction": secondary_action,
              "sorts": load_more.get("sorts", ""),
              "hasFulltextOnly": load_more.get("hasFulltextOnly", True),
            } if load_more else None
          }
        $ compact = "carousel--compact" if compact_mode else ""
        $ grid = "carousel--grid" if layout == 'grid' else ""
        $ loadjs = "carousel--progressively-enhanced" if layout == 'carousel' else ""
        <div class="carousel $grid $compact $loadjs"
          data-config="$json_encode(config)">
          $for index, work in enumerate(books or []):
              $ lazy_load = index > 5
              $ editions = work.get('editions', {})
              $ book = storage(work if not editions else editions[0] if isinstance(editions, list) else editions.get('docs', [None])[0])
              $ book['authors'] = work['authors'] if 'authors' in work else []
              $ book['url'] = work['key'] + '/' + urlsafe(book.get('title', '-'))
              $if work != book:
                $ book['url'] += '?edition=' + urlquote('key:' + book.key)
              $:render_template("books/custom_carousel_card", book, lazy_load, layout, key=key, secondary_action=secondary_action)
        </div>
      </div>
    </div>
