has_fulltext = None
about_us = u'\u0c2e\u0c3e \u0c17\u0c41\u0c30\u0c3f\u0c02\u0c1a\u0c3f'
not_found = None
preferences = u'\u0c05\u0c2d\u0c3f\u0c30\u0c41\u0c1a\u0c41\u0c32\u0c41'
create = None
internet_archive = None
submit = None
next = None
published_in = None
site_title = None
prev = None
welcome_user = u'\u0c38\u0c4d\u0c35\u0c3e\u0c17\u0c24\u0c02 <a href="%s">%s</a>!'
change_language = u'You are viewing the site in Telugu'
deleted = None
open_library = u'\u0c38\u0c3e\u0c30\u0c4d\u0c35\u0c24\u0c4d\u0c30\u0c3f\u0c15 \u0c17\u0c4d\u0c30\u0c02\u0c25\u0c3e\u0c32\u0c2f\u0c02'
contact_us = u'\u0c38\u0c02\u0c2a\u0c4d\u0c30\u0c26\u0c3f\u0c02\u0c1a\u0c02\u0c21\u0c3f'
logout = u'\u0c32\u0c3e\u0c17\u0c4c\u0c1f\u0c4d'
create_it = None
facet_year = None
page_does_not_exist = None
upload = None
back_to_ol = None
powered_by_infogami = None
xavailable0 = None
xavailable1 = None
login = u'\u0c32\u0c3e\u0c17\u0c3f\u0c28\u0c4d'
hello = None
history = None