{% macro affiliate_link(store) %}
    <div class="buy-option prices-{{ store.key }}">
        <a class="buy-option__link"
           href="{{ store.link }}"
           title="{{ _('Look for this edition for sale at %(store)s', store=store.name) }}"
           data-ol-link-track="BuyLink|{{ store.analytics_key }}"
           target="_blank"
           rel="noopener noreferrer">
            <span class="buy-option__name">{{ store.name }}</span>
            {% if store.price %}
                <span class="buy-option__price" name="price">{{ store.price }}{{ store.price_note }}</span>
            {% endif %}
        </a>
    </div>
{% endmacro %}
<div class="affiliate-links-section">
    <div class="buy-options__list">
        {% for store in primary_stores %}{{ affiliate_link(store) | safe }}{% endfor %}
        {% for store in more_stores %}{{ affiliate_link(store) | safe }}{% endfor %}
    </div>
    <small class="buy-options__disclaimer">
        {{ _("When you buy books using these links the Internet Archive may earn a <a class=\"nostyle\" href=\"/help/faq/about#selling\">small commission</a>.") | safe }}
    </small>
</div>
