{% macro render(data) %}
    {% if data.snippet_html %}
        <div class="fsi-snippet">
            <div class="fsi-snippet__main">
                <div class="fsi-snippet__quotation-mark">{{ _("❝") }}</div>
                <a class="fsi-snippet__link"
                   href="https://archive.org/details/{{ data.ia }}"
                   data-ol-link-track="SearchInsideSuggestion|QuoteClick">…{{ data.snippet_html }}…</a>&nbsp;
                <div class="fsi-snippet__quotation-mark">{{ _("❞") }}</div>
                {% if data.page %}
                    <span class="fsi-snippet__page-num"
                          href="https://archive.org/details/{{ data.ia }}">
                        <a data-ol-link-track="SearchInsideSuggestion|QuoteClick">{{ _("Page: %(page)s", page=data.page) }}</a>
                    </span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
