{% set max_rendered_authors = 9 %}
{% set doc_type = (
    'infogami_work' if doc.get('type', {}).get('key') == '/type/work' else
    'infogami_edition' if doc.get('type', {}).get('key') == '/type/edition' else
    'solr_work' if not doc.get('editions') else
    'solr_edition'
) %}

{% set selected_ed = doc %}
{% if doc_type == 'solr_edition' %}
    {% set selected_ed = doc.get('editions')[0] %}
{% endif %}

{% if doc_type.startswith('infogami_') %}
    {% set book_url = doc.url() %}
{% else %}
    {% set book_url = doc.key %}
{% endif %}

{% if doc_type == 'solr_edition' %}
    {% set work_edition_url = book_url + '?edition=' + urlquote('key:' + selected_ed.key) %}
{% else %}
    {% set book_provider = get_book_provider(doc) %}
    {% if book_provider and doc_type.endswith('_work') %}
        {% set work_edition_url = book_url + '?edition=' + urlquote(book_provider.get_best_identifier_slug(doc)) %}
    {% else %}
        {% set work_edition_url = book_url %}
    {% endif %}
{% endif %}

{% set work_edition_all_url = work_edition_url %}
{% if '?' in work_edition_url %}
    {% set work_edition_all_url = work_edition_all_url + '&mode=all' %}
{% else %}
    {% set work_edition_all_url = work_edition_all_url + '?mode=all' %}
{% endif %}

{% set edition_work = none %}
{% if doc_type == 'infogami_edition' and 'works' in doc %}
    {% set edition_work = doc['works'][0] %}
{% endif %}

{% set full_title = selected_ed.get('title', '') %}
{% if selected_ed.get('subtitle') %}
    {% set full_title = full_title + ': ' + selected_ed.subtitle %}
{% endif %}

{% if doc_type == 'infogami_edition' and edition_work %}
    {% set full_work_title = edition_work.get('title', '') %}
    {% if edition_work.get('subtitle') %}
        {% set full_work_title = full_work_title + ': ' + edition_work.subtitle %}
    {% endif %}
{% else %}
    {% set full_work_title = doc.get('title', '') %}
    {% if doc.get('subtitle') %}
        {% set full_work_title = full_work_title + ': ' + doc.subtitle %}
    {% endif %}
{% endif %}

{% set blur_cover = "fsi__bookcover-img-blur" if blur else "" %}

<div class="fsi" itemscope itemtype="https://schema.org/Book" {{ attrs | safe }}>
    <div class="fsi__main">
        <span class="fsi__book-cover">
            {% set cover = get_cover_url(selected_ed) or "/static/images/icons/avatar_book-sm.png" %}
            <a data-ol-link-track="SearchInsideSuggestion|BookClick" href="{{ work_edition_url }}">
                <img class="fsi__book-cover-img {{ blur_cover }}"
                     itemprop="image"
                     src="{{ cover }}"
                     alt="{{ _('Cover of: %(title)s', title=full_title) }}"
                     title="{{ _('Cover of: %(title)s', title=full_title) }}" />
            </a>
        </span>
        <div class="fsi__book-details">
            <div class="fsi__title-author">
                <h3 class="fsi__book-title" itemprop="name">
                    <a itemprop="url"
                       data-ol-link-track="SearchInsideSuggestion|BookClick"
                       href="{{ work_edition_url }}">{{ full_title }}</a>
                </h3>
                <p class="fsi__book-author"
                   itemprop="author"
                   itemscope
                   itemtype="https://schema.org/Organization">
                    {% set authors = none %}
                    {% if doc_type == 'infogami_work' %}
                        {% set authors = doc.get_authors() %}
                    {% elif doc_type == 'infogami_edition' %}
                        {% set authors = edition_work.get_authors() if edition_work else doc.get_authors() %}
                    {% elif doc_type.startswith('solr_') %}
                        {% if 'authors' in doc %}
                            {% set authors = doc['authors'] %}
                        {% elif 'author_key' in doc %}
                            {% set authors = [] %}
                            {% for key, name in zip(doc['author_key'], doc['author_name']) %}
                                {% set _ = authors.append({
                                    'key': '/authors/' + key,
                                    'name': name
                                }) %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    {% if not authors %}
                        <em>{{ _('Unknown author') }}</em>
                    {% else %}
                        {% set author_data = [] %}
                        {% for a in authors %}
                            {% set _ = author_data.append({
                                'name': a.get('name') or a.get('author', {}).get('name'),
                                'url': a.get('url') or a.get('key') or a.get('author', {}).get('url') or a.get('author', {}).get('key')
                            }) %}
                        {% endfor %}
                        {{ render_templetor_template(
                            "BookByline",
                            author_data,
                            limit=max_rendered_authors,
                            overflow_url=work_edition_url,
                            attrs='class="results"'
                        ) }}
                    {% endif %}
                </p>
            </div>
            {% if snippet %}
                {{ snippet | safe }}
            {% endif %}
        </div>
    </div>
</div>