body {
    line-height: normal;
}

.widget {
    padding: 10px 0px;
}

.open a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.cta {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    background: #3c99fc;
    border-radius: 3px;
    width: 130px;
    margin: 0px auto;
    margin-top: 5px;
    text-align: center;
    font-size: .9em;
    padding: 5px 0px;
    cursor: pointer;
}

.available a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.waitlist {
    background: #ffa337;
}

.waitlist button {
    border: none;
    color: #fff;
    background: none;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

img.bookcover {
    margin: 0 auto;
    width: 130px;
    height: 200px;
    box-shadow: 1px 2px 5px 0px #5252527e;
    border-radius: 3px;
    text-align: center;
    display: block;
}

.title {
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 7px auto 0 auto;
    color: #555;
    font-size: 0.8em;
    width: 130px;
}

a.noshow {
    text-decoration: none;
}

.author {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    font-weight: normal;
    color: #777;
    margin: 5px auto 7px auto;
    width: 130px;
}

.service {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    color: #999;
    width: 130px;
    margin: 7px auto;
    text-align: right;
    font-size: .6em;
}

.service a {
    color: #999;
}
