body#user, 
body#user div.siteSearch.darker,
#headerLogin #headerUserOpen
{
    background: #99AA99;
}

body#user div#background, 
body#user div#headerNav, 
body#user div.siteSearch, 
body#user div#headerNav, 
body#user div#headerLogo,
body#user div#headerTools,
body#user div#headerPlace
{
    background: #BBCCBB;
}


