
body#user, 
body#user div.siteSearch.darker 
{
    background: #CCBBBB;
}

body#user div#background, 
body#user div#headerNav, 
body#user div.siteSearch, 
body#user div#headerNav, 
body#user div#headerLogo,
body#user div#headerTools
{
    background: #FFDDDD;
}
