
.diff .sidebyside { clear: both; margin: 0; padding: 0; margin-bottom: 20px;}
.diff table.sidebyside colgroup.content { width: 50%; }
.diff table.sidebyside tbody.mod td.l { background: #fe9 }
.diff table.sidebyside tbody.mod td.r { background: #fd8 }
.diff table.sidebyside tbody.add td.l { background: #dfd }
.diff table.sidebyside tbody.add td.r { background: #cfc }
.diff table.sidebyside tbody.rem td.l { background: #f88 }
.diff table.sidebyside tbody.rem td.r { background: #faa }
.diff table.sidebyside tbody.mod del, .diff table.sidebyside tbody.mod ins {
     background: #fc0;
}

.diff table.sidebyside {
    float: left;
    width: 100%;
}

.diff #legend .mod { background: #fd8 }
.diff #legend .rem { background: #f88 }
.diff #legend .add { background: #bfb }


.diff #legend {
 float: left;
 font-size: 9px;
 line-height: 1em;
 margin: 1em 0;
 padding: .5em;
}


/* .diff #legend h3 { display: none; } */
.diff #legend dt {
 background: #fff;
 border: 1px solid #999;
 float: left;
 margin: .1em .5em .1em 2em;
 overflow: hidden;
 width: .8em; height: .8em;
}
.diff #legend dl, .diff #legend dd {
 float: left;
 padding: 0;
 margin: 0;
 margin-right: .5em;
}

/* ADDED BY WC (webchick?) */

.diff-header-top  { font-weight: bold; border-bottom: 1px solid #cccccc; background-color: #eeeeee; padding: 4px 4px 4px 10px; border-top: 1px solid #cccccc; white-space: nowrap; }
.diff-header-side  { font-weight: bold; background-color: #cccccc; padding: 10px 4px 4px 4px; border-left: 1px solid #cccccc; text-align: right; }
.diff-body  { border-bottom: 1px solid #cccccc; padding: 12px; border-right: 1px solid #cccccc; width: 50% }

.diff-border {margin: 30px;}

.diff-number { border-bottom: 1px solid #cccccc; padding: 4px; text-align: center; font-weight: bold; background-color: #cccccc; vertical-align: top; }

td.l {border-bottom: 1px solid #cccccc; padding-left: 12px; }
td.r {border-bottom: 1px solid #cccccc; padding-left: 12px; }

ins { font-weight: bold; color: green;}
del { font-weight: bold; color: red; }
