/* 
   OPEN LIBRARY DOCUMENTATION STYLES - BETA 
   Comment date: 03.19.08
   -------------------------------
   Please email me with any suggested improvements: webchick@invisible.net
*/



/*DOCUMENTATION LINKS*/
	a 					{ color: #A05629;  }
	a:visited 			{ color: #6F320D;  }	
	a:hover 			{ text-decoration: underline;  }

	A.head:link    { color: #ffffff; font-weight: bold;  text-decoration:none; }
	A.head:visited { color: #ffffff; font-weight: bold;  text-decoration:none; }
	A.head:active  { color: #ffffff; font-weight: bold;  text-decoration:none; }
	A.head:hover   { color: #ffffff; font-weight: bold;  text-decoration:none; }

	A.footnote:link    { color: #900; font-weight: bold; text-decoration: none; }
	A.footnote:visited { color: #900; font-weight: bold; text-decoration: none; }
	A.footnote:active  { color: #900; font-weight: bold; text-decoration: none; }
	A.footnote:hover   { color: #900; font-weight: bold; text-decoration: none; }

	A.toc-link { text-decoration: underline }



/*TABLE OF CONTENTS*/

     TD.toc-link-end { background-color: #fff; font-size: 14px; border-bottom: 1px solid #ccc;  padding: 4px 6px 4px 6px; }
     TD.toc-link { background-color: #fff; font-size: 14px; border-bottom: 1px solid #eee;  padding: 4px 6px 4px 6px; }
     TD.toc { color: #000000; font-size: 14px; background-color: #ffffff; padding: 4px 6px 4px 6px; border-bottom: 1px solid #ccc;  }
     TD.toc-number { color: #000000; font-size: 14px; background-color: #ffffff; padding: 4px 6px 4px 6px; border-bottom: 1px solid #ccc; vertical-align: top; }

     TD.doc-link-end { background-color: #eeeeee; font-size: 14px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;  padding: 4px 6px 4px 6px; }
     TD.doc-link { background-color: #eeeeee; font-size: 14px; border-bottom: 1px solid #eee; border-right: 1px solid #ccc; border-left: 1px solid #ccc;  padding: 4px 6px 4px 6px; }
     TD.doc { color: #000000; font-size: 14px; background-color: #ffffff; padding: 4px 6px 4px 6px; border-bottom: 1px solid #ccc;  }
     TD.doc-number { color: #000000; font-size: 14px; background-color: #ffffff; padding: 4px 6px 4px 6px; border-bottom: 1px solid #ccc; vertical-align: top; }

     TD.question { color: #ffffff; background-color: #A05629; color:#ffffff; font-weight: normal; text-decoration: none; font-size: 14px }

	 TD.rule { border-bottom: 1px solid #d5d5d5; }
     TD.first { border-top: 1px solid #ccc; }
     TD.last { border-bottom: 1px solid #ccc;; }

     .toc-nav { color: #ffffff; background-color: #A05629; color:#ffffff; font-weight: normal; text-decoration: none; font-size: 14px }
     .question { color: #ffffff; background-color: #A05629; line-height: 1.3em; }
     .answer { color: #ffffff; background-color: #A05629; line-height: 1.3em; }


/*BASIC STYLES*/

	TD.head { font-weight: bold; color: #ffffff; }
	TD.subhead { font-weight: bold; color: #000000; text-transform:  uppercase; }
	blockquote.text { margin-left: 2em; margin-right: 3em; font-size:14px; line-height:19px; margin: 11px 10px 14px 10px; text-align : left; color: #000; }
	blockquote.quote { margin-left: 8em; margin-right: 8em; font-size:14px; line-height:19px; text-align : left; color: #000; font-style: italic; }

	table.document { border: 1px solid #ccc; width: 100%; padding: 12px; background-color: #f8f8f8; }
	#abstract { font-size:14px; line-height:22px; margin-left: 120px; margin-right: 70px; }
	.hyperlink { color: #999999 }
	.development { background-color: #ffc; color: #990000; border: 1px dotted #999; width: 300px; margin-left: 40px; padding: 6px; }
	.document-table-item { font-size: 14px; line-height: 20px; color: #666; margin-left: 22px; font-style: italic; }


/*SUPPORTING STYLES*/

     .title { color: #A05629; font-size: 22px; line-height: 22px; font-weight: bold; text-align: right; }
     .filename { color: #666666; font-size: 18px; line-height: 28px; font-weight: bold; text-align: right; }
     p.copyright { color: #000000; font-size: 10px; }
     p { margin-left: 4em; margin-right: 2em; }
     li { margin-left: list-style-type: square; }
     ol { margin-left: 2em; margin-right: 2em; }
     ul { margin-left: 5em; margin-right: 2em; }
     ul.text { margin-left: 2em; margin-right: 2em; }
     pre { margin-left: 3em; color: #333333 }
     ul.toc { color: #000000; line-height: 16px; }
     TD.header { color: #ffffff; }
     TD.author-text { color: #000000; font-size: 14px; }
     TD.author { color: #000000; font-weight: bold; margin-left: 4em; font-size: 14px; }
     .link2 { color:#ffffff; font-weight: bold; text-decoration: none; font-size: 14px }
     .RFC { color:#666666; font-weight: bold; text-decoration: none; font-size: 14px }
     .hotText { color:#ffffff; font-weight: normal; text-decoration: none; font-size: 14px }
     .toc-header { color: #666666; font-size: 16px; line-height: 16px; text-transform: uppercase; font-style: bold; padding-top: 0px; padding-bottom: 10px; }

     H2 { color: #625E25; font-size: 22px; font-weight: normal;  margin-left: 0px }
     H3 { color: #666666; font-size: 16px; line-height: 16px; text-transform: uppercase; margin-left: 25px;}
     H4 { color: #999; font-size: 14px; margin-left: 35px; }

     hr { color: #999999;  size: 1 }