/**
 * Styles here will load for all users, but only if JavaScript is enabled.
 * At time of writing, this stylesheet is not render blocking.
 */
@import (less) "less/index.less";

@import (less) "legacy-jquery-ui.less";

@import (inline) "components/header-bar--js.css";
@import (less) "components/cbox.less";
@import (inline) "components/native-dialog.css";
@import (inline) "components/flash-messages.css";
@import (less) "components/jquery.autocomplete.less";

@import (inline) "components/read-statuses.css";
@import (inline) "components/manage-covers.css";
@import (inline) "components/throbber.css";

// Loading indicators
@import (inline) "components/buttonCta--js.css";

// Book cover overlay
@import (inline) "components/ui-tabs.css";

// Remove items from list
@import (inline) "components/ui-dialog.css";

@import (inline) "components/wmd-prompt-dialog--js.css";

// openlibrary/plugins/openlibrary/js/subjects.js
.coverEbook {
  cursor: pointer;
  z-index: @z-index-level-6;
  img {
    opacity: 0.85;
    filter: alpha(opacity=85);
  }
  a.cta-btn {
    position: absolute;
    padding: 0 5px;
    right: 0;
    bottom: 3px;
    border-radius: 3px;
  }
}

// Not clear if these are needed. please review.
.tools a {
  // The on class is added inside openlibrary/plugins/openlibrary/js/ol.js
  &.on,
  &.on:hover,
  &.on:active {
    color: @dark-grey;
    cursor: default;
    text-decoration: none;
  }
}
