/* stylelint-disable no-descending-specificity */

@charset "utf-8";

/**
 * This file exists for historic reasons and will be deleted
 * at the first available opportunity.
 * DO NOT ADD NEW CSS here
 * Unless... you are removing an inline style and moving it into here.
 *
 * We are currently in the process of:
 * - moving styles from this file into the components
 * - removing dead code
 * - removing redundant CSS in favor of common reusable styles
 *
 * DO NOT ADD NEW CSS HERE
 *
 * New components should be placed inside the components folder
 * and imported directly in one of the entry points that are prefixed
 * with `page-` or `js-`
 */
@import (inline) "legacy-header.css";
@import (inline) "legacy-tools.css";
@import (inline) "legacy-wmd.css";

@import (inline) "components/read-panel.css";
@import (inline) "components/preview.css";
@import (inline) "components/diff.css";
@import (inline) "components/carousel.css";
@import (inline) "components/category-item.css";
@import (inline) "components/loading-indicator.css";
@import (inline) "components/editions.css";
/* Header sub-imports */
@import (inline) "components/header-bar.css";
@import (inline) "components/iaBar.css";
@import (inline) "components/page-banner.css";
@import (inline) "components/header.css";
/* MyBooks sub-imports */
@import (inline) "components/mybooks-list.css";
@import (inline) "components/mybooks-menu.css";
@import (inline) "components/mybooks-details.css";
@import (inline) "components/list-showcase.css";
@import (inline) "components/mybooks.css";
@import (inline) "components/readinglog-stats.css";
@import (inline) "components/tagging-menu.css";
@import (inline) "components/shareLinks.css";
@import (inline) "components/generic-dropper.css";
@import (inline) "components/mybooks-dropper.css";
@import (inline) "components/subNav.css";
@import (inline) "components/book.css";

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table.meta {
  margin-top: 10px;
}

table.meta td {
  padding: 0 15px 10px 0;
  vertical-align: top;
}

table.meta td.title {
  width: 120px;
}

table.meta td.descrip {
  width: 65px;
}

table.code pre {
  white-space: pre !important;
}

/* openlibrary/templates/history.html */
table#pageHistory {
  width: 100%;
  font-family: var(--body-family);
  margin: 10px 0 20px;
}

table#pageHistory td.number {
  text-align: right;
}

/* `#pageHistory` used inside openlibrary/templates/lib/history.html */
/* `.changeHistory` used inside: */
/* openlibrary/templates/admin/imports.html */
/* openlibrary/templates/admin/imports_by_date.html */
/* openlibrary/templates/admin/ip/view.html */
/* openlibrary/templates/admin/people/edits.html */
table#pageHistory th,
table.changeHistory th {
  border-bottom: 1px solid var(--grey-e7e7e7);
  color: var(--brown);
  text-transform: uppercase !important;
  font-size: 0.6875em;
  padding: 10px;
}

table#pageHistory td,
table.changeHistory td {
  border-bottom: 1px solid var(--grey-e7e7e7);
  padding: 10px;
  font-size: 0.75em;
  color: var(--grey);
}

table.changeHistory {
  width: 100%;
  font-family: var(--body-family);
  margin: 0;
}

table.changeHistory td.time {
  white-space: nowrap;
}

table.changeHistory td.comment {
  width: 33%;
}

table.changeHistory .comment__cover {
  vertical-align: middle;
  height: 72px;
  margin-left: 10px;
}

/* https://openlibrary.org/help/markdown */
table.help {
  margin: 20px 0;
  border-top: 1px solid var(--grey-e7e7e7);
}

table.help th {
  font-size: 0.75em;
  font-family: var(--body-family);
  color: var(--grey);
  border-bottom: 1px solid var(--grey-e7e7e7);
  padding: 5px;
  vertical-align: top;
  background-color: var(--lightest-grey);
}

table.help td {
  font-size: 0.75em;
  font-family: var(--body-family);
  color: var(--grey);
  border-bottom: 1px solid var(--grey-e7e7e7);
  padding: 5px;
  vertical-align: top;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

li span.snippet {
  display: block;
  margin: 10px 0;
  background-color: var(--lightest-grey);
  font-size: 0.8em;
  padding: 20px;
  font-style: italic;
}

li.edition-cover img {
  max-height: 140px;
  max-width: 90px;
  cursor: pointer;
  border: 5px solid var(--white);
}

li.edition-cover img:hover {
  cursor: pointer;
  border: 5px solid var(--link-blue);
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: "";
}

abbr {
  border: 0;
  font-variant: normal;
}
/*SET FONT SIZES AS em, DIVIDING YOUR PIXEL SIZE by 16 (i.e. 12px = 12/16 or 0.75em)*/

/* DEFINE SOME DEFAULTS */
b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

/* Styles that should apply to markdown documents */
.markdown-content ol,
.markdown-content ul {
  padding-left: 40px;
}

.markdown-content ol li {
  list-style: decimal;
  color: var(--dark-grey);
  line-height: var(--line-height-list);
}

.markdown-content ul li {
  list-style: disc;
  color: var(--dark-grey);
  line-height: var(--line-height-list);
}

pre,
code {
  font-family: var(--code-family);
  font-size: 0.875em;
  font-weight: normal;
  white-space: pre-wrap;
}

blockquote,
q {
  quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

/* SITE DEFAULTS */

@import (inline) "base/common.css";
@import (inline) "components/buttonCta.css";
@import (inline) "components/buttonsAndLinks.css";
@import (inline) "components/buttonLink.css";
@import (inline) "components/buttonGhost.css";
@import (inline) "components/buttonBtn.css";
@import (inline) "base/dl.css";
@import (inline) "base/helpers-common.css";
@import (inline) "base/helpers-misc.css";

/* openlibrary/templates/recentchanges/header.html */
/* openlibrary/templates/showia.html */
/* openlibrary/templates/showmarc.html */
.breadcrumbs {
  font-family: var(--body-family);
  color: var(--brown);
  font-size: var(--font-size-label-small);
  padding-bottom: 10px;
}

.fixthis {
  background-color: var(--heart-color) !important;
}

/* TYPOGRAPHY */

@import (inline) "components/widget-box.css";

div.unordered {
  margin-top: 10px;
  line-height: var(--line-height-list);
}

div.superNav {
  font-size: 0.6875em;
  font-family: var(--body-family);
  color: var(--grey);
  margin-bottom: 5px;
}

@import (inline) "base/headings.css";

span.link {
  font-size: var(--font-size-label-medium);
  color: var(--darker-grey);
  font-weight: normal !important;
  font-family: var(--body-family);
  white-space: nowrap;
}

span.tools {
  font-size: var(--font-size-label-medium);
  color: var(--dark-grey);
  font-weight: normal !important;
  font-family: var(--body-family);
}

span.tools.sorter {
  margin-right: 5px;
  margin-left: 10px;
}

span.tools span.label {
  background-color: var(--orange);
  color: var(--white);
  font-weight: normal !important;
  padding: 3px;
  border-radius: 3px;
}

span.tools span.list {
  padding: 3px;
}

span.tag {
  font-size: 13px;
  color: var(--dark-grey);
}

span.count {
  font-size: var(--font-size-label-medium) !important;
  font-weight: normal !important;
  font-family: var(--body-family);
  color: var(--brown);
  padding: 5px 5px 0;
}

/* span.merge appears in openlibrary/templates/work_search.html */
span.merge {
  padding: 2px 0;
}

span.resultTitle {
  font-family: var(--body-family);
  color: var(--grey);
}

span.resultTitle span.resultType {
  font-size: 0.75em;
  font-family: var(--body-family);
  color: var(--brown);
}

span.resultTitle .bookauthor,
span.resultTitle .resultPublisher {
  font-size: 0.75em;
  color: var(--grey);
  font-family: var(--body-family);
  font-weight: normal;
}

span.resultTitle span.details {
  display: block;
  float: left;
}

/* openlibrary/templates/form.html */
span#showpass {
  display: block;
  margin-top: 5px;
}

/* openlibrary/templates/form.html */
span#masker {
  display: block;
  float: left;
  margin-top: 5px;
  clear: both;
}

/* openlibrary/templates/books/add.html */
/* .... */
/* openlibrary/templates/books/check.html */
/* openlibrary/templates/message.html */
p.instruct {
  font-size: 0.875em;
  margin-bottom: 0;
}

p.alert {
  font-size: 0.875em;
  color: var(--brown);
  background-color: var(--light-yellow);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  margin: 10px auto 0;
  padding: 15px 52px;
}

p.info {
  background-image: url(/images/icons/icon_info.png);
}

p.thanks {
  background-image: url(/images/icons/icon_check.png);
}

input[type="text"],
select,
textarea {
  font-family: var(--body-family);
  color: var(--darker-grey);
  font-size: 0.875em;
}

input[type="text"],
input[type="email"] {
  margin: 0 10px 5px 0;
}

input.repeat-add {
  font-size: 1.125em;
}

input.invalid {
  border-color: var(--red);
  color: var(--dark-grey);
}

input.highlight {
  background-color: var(--light-yellow);
}

.format {
  font-size: 0.75em;
  margin-top: 5px;
}

/* openlibrary/templates/search/inside.html */
.search-results-stats {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  font-size: 0.9em;
  white-space: nowrap;
  overflow-x: auto;
}

/* Search v2 */
/* openlibrary/macros/SearchResultsWork.html */
.serp-extras {
  border: 1px solid var(--lighter-grey);
  background-color: var(--white);
  padding: 0 10px 10px;
  margin-top: 10px;
}

/* LAYOUT */
@import (inline) "layout/index.css";

/* openlibrary/data/sitemap.py */
div#placement {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

div#position {
  width: 960px;
}

div#content {
  clear: both;
  position: relative;
  width: 958px;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--dark-beige);
}

div#content div.contentLists {
  float: left;
  position: relative;
  left: -20px;
}

/* stylelint-disable selector-max-specificity */
div#content div#contentLists {
  float: left;
  position: relative;
  border-top: 1px solid var(--lighter-grey);
  background: var(--white) url(/images/back_results.png) repeat-x;
}
/* stylelint-enable selector-max-specificity */

div#contentHead {
  max-width: 1018px;
  padding: 20px;
}

/* Reset h1 margin set in common.less */
div#contentHead h1 {
  margin: 0;
}

/* WIDGETS */

/* openlibrary/templates/account/create.html */
/* openlibrary/templates/account/email/forgot-ia.html */
/* openlibrary/templates/form.html */
/* openlibrary/templates/login.html */
/* openlibrary/templates/merge/authors.html */
div.note {
  font-size: 1em;
  font-family: var(--body-family);
  background-color: var(--light-yellow);
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  border: 1px solid var(--dark-yellow);
}

/* openlibrary/templates/lib/not_logged.html */
div#noLogin {
  margin-top: 10px;
  background: var(--light-yellow) url(/images/icons/icon_info.png) no-repeat 10px 50%;
  padding: 10px 10px 10px 44px;
}

/* openlibrary/templates/type/author/view.html */
div#preMerge {
  min-height: 32px;
  padding: 10px 10px 10px 52px;
  background: transparent url(/images/icons/icon_merge.png) no-repeat 10px 10px;
}

/* openlibrary/templates/type/author/view.html */
div#postMerge {
  min-height: 32px;
  padding: 10px 10px 10px 52px;
  background: transparent url(/images/icons/icon_check.png) no-repeat 10px 10px;
}

/* openlibrary/templates/type/author/view.html */
div#errorMerge {
  min-height: 32px;
  padding: 10px 10px 10px 52px;
  background: transparent url(/images/icons/icon_alert.png) no-repeat 10px 10px;
}

/* FORMS */
div.formElement {
  padding-bottom: 8px;
}

div.formElement.bottom {
  padding-bottom: 0;
}

div.formElement label,
div.formElement select#date1,
div.formElement select#date2 {
  font-size: 0.75em;
}

div.formElement .input label {
  font-size: 1em;
}

div.formElement .footnote,
div.formElement p.tip {
  border-top: 1px solid var(--mid-grey);
  padding: 5px;
}

div.formElement blockquote {
  font-family: var(--font-family-quote);
  font-size: 0.875em;
  margin: 1em 40px;
}

fieldset {
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 10px;
}

fieldset.minor {
  display: block;
  padding: 0;
  margin: 0;
}

fieldset.major legend {
  padding: 5px 0;
  font-family: var(--body-family);
  color: var(--teal);
  font-weight: 600;
  font-size: 1.375em;
}

fieldset.minor legend {
  font-family: var(--body-family);
  color: var(--teal);
  font-weight: 600;
  font-size: 1.125em;
}

fieldset.home {
  padding: 0;
  margin: 0;
  border: none;
}

fieldset.home legend {
  display: none;
}

/* ACCOUNT FORMS */
@import (inline) "components/page-heading-search-box.css";
@import (inline) "components/form.olform.css";

/* openlibrary/templates/account/notifications.html */
form#notifications input[type="radio"] {
  margin: 0 10px 0 20px;
}

/* openlibrary/templates/account/verify/failed.html */
/* openlibrary/templates/form.html */
/* FIXME: `div.valid` is possibly unused/or used in JS? */
div.invalid,
div.valid {
  float: left;
  font-size: 1em !important;
  font-family: var(--body-family);
  padding-top: 5px;
}

/* SEARCH FORMS */

/* openlibrary/templates/lists/home.html */
/* openlibrary/templates/search/advancedsearch.html */
/* openlibrary/templates/search/authors.html */
/* openlibrary/templates/search/inside.html */
/* openlibrary/templates/search/lists.html */
/* openlibrary/templates/search/publishers.html */
/* openlibrary/templates/work_search.html */
/* openlibrary/templates/search/subjects.html */
div.siteSearch {
  overflow: visible;
  border-radius: 5px;
  width: 300px;
}

div.siteSearch.darker {
  -webkit-box-shadow: 1px 1px 10px var(--dark-grey);
  box-shadow: 1px 1px 10px var(--dark-grey);
}

div.siteSearch input[type="submit"] {
  padding: 11px;
  font-size: 0.9em;
  background: var(--link-blue);
  color: var(--white);
  border-radius: 5px;
  border: none;
}

div.siteSearch input[type="text"] {
  margin: 0;
  width: 215px;
  padding: 12px;
  border-radius: var(--border-radius-input);
  border: 1px solid var(--mid-grey);
}

/* openlibrary/templates/lists/home.html */
/* openlibrary/templates/search/advancedsearch.html */
/* openlibrary/templates/search/authors.html */
/* openlibrary/templates/search/inside.html */
/* openlibrary/templates/search/lists.html */
/* openlibrary/templates/search/publishers.html */
/* openlibrary/templates/search/subjects.html */
.siteSearch .formElement {
  font-family: var(--body-family);
  font-size: 1.1em;
}

/* openlibrary/templates/search/advancedsearch.html */
.searchPlus {
  font-family: var(--body-family);
  font-size: 0.75em;
  color: var(--dark-grey);
  padding: 15px 0;
}

.searchPlus a {
  margin-right: 20px;
}

/* DIALOGS */

/* openlibrary/macros/EditButtons.html */
div.cclicense {
  font-family: var(--body-family);
  font-size: 0.75em;
  min-height: 20px;
  padding: 3px 0 0 30px;
  color: var(--brown);
  margin-bottom: 12px;
  background: url(/images/logo_CC0-20px.png) 0 0 no-repeat;
}

/* TOOLS ACCORDION */
@import (inline) "components/edit-toolbar.css";

/* openlibrary/macros/databarDiff.html */
/* openlibrary/macros/databarEdit.html */
/* openlibrary/templates/recentchanges/header.html */
div.editButton button,
div#editHistory button,
div.revert.notice button {
  font-size: 1.125em;
}

/* openlibrary/templates/viewpage.html */
div#revertNotice {
  width: 958px;
  height: 45px;
  text-align: center;
  padding-top: 15px;
  background-color: var(--dark-green);
}

/* MESSAGING */
div.alert span,
div.verify span {
  margin: 0 auto;
  min-height: 25px;
  padding: 5px 0 5px 32px;
}

div.alert,
div.verify {
  font: 1.25em var(--body-family);
}

/* openlibrary/templates/account/verify/failed.html */
div.alert span {
  background: url(/images/icons/icon_alert.png) no-repeat;
}

div.verify span {
  background: url(/images/icons/icon_check.png) no-repeat;
}

/* openlibrary/templates/account/email/forgot-ia.html */
.defaultstyling {
  font-family: var(--body-family);
}

.defaultstyling .padtop {
  margin-top: 10px;
}

/* openlibrary/templates/account/email/forgot-ia.html */
.forgot-email {
  font-size: 0.8em;
}

.forgot-email-form {
  padding: 10px 0;
}

.forgot-email-form .form-row {
  margin-bottom: 10px;
}

.forgot-email-form label {
  font-family: var(--body-family);
  color: var(--dark-grey);
  font-weight: 600;
}

/* FOOTER */
@import (inline) "components/footer.css";

/* LANGUAGE DROPDOWN */
@import (inline) "components/language.css";

@import (inline) "components/link-box.css";

/* Various templates */
.contentQuarter {
  min-height: 100px;
  margin-bottom: 20px;
}

.contentTwothird {
  min-height: 100px;
  margin-bottom: 20px;
}

.contentTwothird p {
  margin-top: 0;
}

.contentOnethird {
  min-height: 100px;
  margin-bottom: 20px;
}

.contentHalf {
  min-height: 100px;
  margin-bottom: 20px;
}

.contentSpacer {
  width: 19px;
  height: 2px;
}

/* many pages... */
#contentHead h1 {
  margin: 0;
  padding: 0;
}

/* stylelint-disable selector-max-specificity */
/* openlibrary/templates/type/list/exports.html */
#contentHead #listTools ul {
  margin: 15px 0 0 !important;
}
/* stylelint-enable selector-max-specificity */

/* HOME PAGE */

/* NEW HOME PAGE */

/* HOME PAGE CAROUSEL SKIN */
@import (inline) "components/home.css";

/* SEARCH RESULTS */

div#searchResults,
div#searchResults .list-books {
  min-width: 0;
  flex: 1;
  margin-left: 0;
  margin-bottom: 0;
}

/* openlibrary/templates/books/check.html */
/* openlibrary/templates/type/author/view.html */
/* openlibrary/templates/work_search.html */
div#searchResults .SRPCover {
  margin: 0 15px 20px 0;
  vertical-align: middle;
  width: 130px;
  height: 200px;
}

div#searchResults .SRPCover img {
  height: 20px;
}

div#searchResults .SRPCoverBlank {
  position: relative;
  width: 130px;
  height: 200px;
  padding: 10px;
  margin: 0 15px 20px 0;
  text-align: center;
  float: left;
  background: var(--lighter-grey);
  cursor: pointer;
  display: none;
}

div#searchResults .SRPCoverBlank .innerBorder {
  float: left;
  width: 130px;
  height: 200px;
  border: 1px solid var(--white);
}

div#searchResults .SRPCoverBlank a {
  text-decoration: none;
}

/* openlibrary/templates/work_search.html */
/* openlibrary/templates/type/author/view.html */
.mode-options {
  font-size: 0.7em;
  font-family: var(--body-family);
}

.mode-options input {
  margin-left: 15px;
  margin-right: 4px;
  position: relative;
}

/* openlibrary/macros/AvailabilityButton.html */
.waitlist-msg {
  font-family: var(--body-family);
  font-size: 0.7em;
  margin-bottom: -1.5em;
  color: var(--grey);
  padding: 0.2em;
}

/* Results on /search/authors */
/* openlibrary/templates/search/authors.html */
.authorList {
  margin-top: 30px;
}

.authorList li {
  margin-bottom: 1.5em;
  max-width: 800px;
  font-size: 1em;
  color: var(--grey);
}

.authorList .cover {
  max-width: 120px;
  border-radius: 4px;
}

/* openlibrary/templates/languages/index.html */
/* openlibrary/templates/publishers/view.html */
/* openlibrary/templates/search/publishers.html */
/* openlibrary/templates/search/subjects.html */
.subjectList ul {
  margin-top: 30px;
}

/* SEARCH FACETS */

@import (inline) "components/search-result-item.css";
@import (inline) "components/fulltext-snippet.css";
@import (inline) "components/search-results-container.css";

/* openlibrary/templates/work_search.html */
div#searchFacets {
  width: 220px;
  padding: 0 15px;
}

/* openlibrary/templates/work_search.html */
div.facet {
  margin-bottom: 20px;
}

div.facetEntry {
  font-family: var(--body-family);
  margin-bottom: 5px;
}

div.facetEntry a {
  text-decoration: none !important;
  line-height: var(--line-height-list);
}

div.facetMoreLess {
  font-family: var(--body-family);
  margin-bottom: 5px;
}

div.facetMoreLess a {
  text-decoration: none !important;
}

/* RESULTS */

/* openlibrary/templates/lib/message_addbook.html */
/* openlibrary/templates/lists/widget.html */
div.list {
  float: left;
  width: 207px;
  padding-top: 10px;
}

div.list .cover {
  float: left;
  width: 42px;
  padding-right: 10px;
}

div.list img {
  width: 42px;
}

div.list .copy {
  float: left;
  width: 155px;
}

div.list h5 {
  font-family: var(--font-family-serif);
  font-weight: normal;
  color: var(--dark-grey);
  margin-bottom: 5px;
}

div.list h5 span {
  font-family: var(--body-family);
  font-size: 80%;
}

div.list .tags {
  font-family: var(--body-family);
  font-size: 0.6875em;
  color: var(--grey);
  margin-bottom: 5px;
}

div.list .owner {
  font-family: var(--body-family);
  font-size: 0.6875em;
  color: var(--grey);
  text-align: right;
}

/* BOOKS */
/* Work sub-imports */
@import (inline) "components/compact-title.css";
@import (inline) "components/nav-bar.css";
@import (inline) "components/librarian-dashboard.css";
@import (inline) "components/cover.css";
@import (inline) "components/readerStats.css";
@import (inline) "components/check-in.css";
@import (inline) "components/reading-goal.css";
@import (inline) "components/work-title-and-author.css";
@import (inline) "components/work.css";
@import (inline) "components/navEdition.css";

/* openlibrary/templates/books/author-autocomplete.html */
/* openlibrary/templates/type/work/view.html */
div.work {
  font-family: var(--body-family);
}

div.work span.work,
div.work span.author {
  font-family: var(--body-family);
  color: var(--brown);
  font-size: 1.125em;
}

div.work span.work {
  font-weight: 700;
}

div.work span.editions {
  font-family: var(--body-family);
  color: var(--brown);
  font-size: 1.125em;
}

div.workHelp {
  padding-top: 10px;
  font-size: 0.8em;
  margin-bottom: 20px;
}

/* openlibrary/templates/type/work/view.html */
.workCover .illustration img {
  max-width: 270px !important;
}

.workCover .illustration .SRPCoverBlank {
  margin: 0 auto;
}

@import (inline) "components/illustration.css";

/* openlibrary/templates/books/author-autocomplete.html */
div.books {
  float: left;
  padding-top: 20px;
  width: 915px;
}

div.books .coverMagic {
  float: left;
  min-width: 84px;
  min-height: 115px;
  text-align: center;
  margin: 0 5px 20px 0;
  max-width: 100%;
}

div.books .SRPCover {
  float: left;
  height: 115px;
  vertical-align: middle;
}

div.books .SRPCover img {
  height: 115px;
}

div.books .SRPCoverBlank {
  position: relative;
  width: 74px;
  height: 105px;
  padding: 5px;
  text-align: center;
  float: left;
  font-size: 0.6875em;
  cursor: pointer;
  display: none;
  background-color: var(--lighter-grey);
}

div.books .SRPCoverBlank .innerBorder {
  border: 1px solid var(--white);
  width: 72px;
  height: 103px;
}

div.books .BookTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 62px;
  margin-left: -31px;
  height: 93px;
  margin-top: -46px;
  color: var(--dark-grey);
}

div.books .Author {
  color: var(--grey);
  font-style: italic;
  padding: 4px 4px 0;
  font-size: 0.6875em;
}

/* `input.addweb` is used in openlibrary/templates/type/author/edit.html */
/* `select#select-id` is used in openlibrary/templates/books/edit/edition.html */
input.addweb,
select#select-id {
  max-width: 300px;
}

/* openlibrary/templates/books/edition-sort.html */
.links ul li.read-option a {
  display: block;
  text-align: center;
}

div.excerpt {
  width: 100%;
}

div.excerpt .text {
  padding: 15px;
  font-size: 0.875em;
  line-height: 1.25em;
  font-style: italic;
}

div.excerpt .attribution {
  padding-left: 15px;
  font-family: var(--body-family);
  font-size: 0.6875em;
}

/* openlibrary/templates/books/edit/edition.html */
/* openlibrary/templates/admin/imports-add.html */
.identifiers td {
  color: var(--dark-grey);
  border-bottom: 1px solid var(--lighter-grey);
  padding: 5px;
}

.identifiers.authors td {
  background-color: var(--white);
}

/* openlibrary/templates/type/type/view.html */
ul.booklinks li {
  font-size: var(--font-size-label-medium);
  list-style-type: disc;
  margin: 0 0 10px 20px;
}

ul.booklinks li span {
  display: block;
}

ul.booklinks li div.linkRemove {
  float: right;
  padding: 0 10px 10px 15px;
}

/* openlibrary/templates/type/user/view.html */
ul.clean {
  border-top: none !important;
}

ul.clean li {
  border-bottom: none !important;
}

ul.clean li span.resultTitle {
  width: 236px;
  max-width: 236px;
}

/* openlibrary/macros/databarWork.html */
#external-links ul li {
  list-style-type: none;
}

/* openlibrary/macros/WorkInfo.html */
/* openlibrary/templates/publishers/view.html */
/* openlibrary/templates/search/authors.html */
/* openlibrary/templates/search/publishers.html */
/* openlibrary/templates/search/subjects.html */
/* openlibrary/templates/showia.html */
/* openlibrary/templates/showmarc.html */
/* openlibrary/templates/subjects.html */
/* openlibrary/templates/type/author/view.html */
/* openlibrary/templates/type/edition/view.html */
/* openlibrary/templates/type/list/view.html */
/* openlibrary/templates/type/permission/view.html */
/* openlibrary/templates/type/work/view.html */
.section .sansserif {
  font-size: 0.75em;
}

.section p {
  margin-bottom: 1em;
  margin-top: 0;
}

@import (inline) "components/page-history.css";

/* openlibrary/macros/CoverImage.html */
/* openlibrary/templates/covers/book_cover.html */
.BookTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105px;
  margin-left: -52px;
  height: 100px;
  margin-top: -50px;
  vertical-align: middle;
  color: var(--dark-grey);
  font-size: 0.875em;
  line-height: normal;
}

/* openlibrary/templates/covers/book_cover.html */
.Author {
  color: var(--grey);
  font-style: italic;
  padding: 4px 4px 0;
  font-size: var(--font-size-label-small);
}

/* openlibrary/macros/SearchResultsWork.html */
/* openlibrary/templates/type/list/embed.html */
span.actions {
  display: block;
  float: left;
  white-space: nowrap;
  max-width: 55px;
  overflow: visible;
}

span.actions a {
  display: block;
  float: left;
  min-width: 35px;
  font-family: var(--body-family);
  font-size: 10px;
  margin-left: 10px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

span.actions a span.image {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  padding: 0;
  background-image: url(/images/icons/icons_sprite-sm.png);
  background-repeat: no-repeat;
}

span.actions a span.label {
  display: block;
  background-image: url();
}

span.actions span.list {
  background-position: 0 0 !important;
}

span.actions span.list:hover {
  background-position: -24px 0 !important;
}

span.actions span.read {
  background-position: -72px 0 !important;
}

span.actions span.read:hover {
  background-position: -96px 0 !important;
}

span.actions span.download {
  background-position: -144px 0 !important;
}

span.actions span.download:hover {
  background-position: -168px 0 !important;
}

span.actions span.buy {
  background-position: -216px 0 !important;
}

span.actions span.buy:hover {
  background-position: -240px 0 !important;
}

span.actions span.borrow {
  background-position: -288px 0 !important;
}

span.actions span.borrow:hover {
  background-position: -312px 0 !important;
}

span.actions span.daisy {
  background-position: -384px 0 !important;
}

span.actions span.daisy:hover {
  background-position: -408px 0 !important;
}

/* openlibrary/templates/type/list/embed.html */
span.actions a span.checked-out {
  display: block;
  margin: 0 auto;
  padding: 0;
}

/* openlibrary/templates/stats/readinglog.html */
/* openlibrary/templates/type/author/view.html */
/* openlibrary/templates/work_search.html */
/* openlibrary/templates/books/check.html */
/* openlibrary/templates/account/books.html */
/* openlibrary/macros/FulltextResults.html */
ul.list-books > li {
  display: flex;
}

/* openlibrary/macros/SearchResultsWork.html */
/* openlibrary/templates/books/check.html */
/* openlibrary/templates/lists/preview.html */
/* openlibrary/templates/lists/snippet.html */
/* openlibrary/templates/type/list/embed.html */
/* openlibrary/templates/type/list/view.html */
ul.list-books .resultTitle {
  display: block;
  margin: 0 !important;
  font-family: var(--body-family);
  color: var(--grey);
}

/* `span.resultTitle .bookauthor` is used in: */
/* * openlibrary/macros/SearchResultsWork.html */
/* `span.resultPublisher` is used in */
/* * openlibrary/macros/SearchResultsWork.htm */
/* * openlibrary/templates/books/check.html */
ul.list-books .resultTitle .bookauthor,
ul.list-books span.resultPublisher {
  font-size: 0.75em;
  color: var(--grey);
  font-family: var(--body-family);
}

/* openlibrary/templates/books/check.html */
/* openlibrary/macros/SearchResultsWork.html */
ul.list-books span.resultPublisher {
  display: block;
}

/* openlibrary/templates/books/show.html */
ul.list-books span.resultType {
  font-size: 0.6875em;
}

.list-books--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 30px 5px;
  padding: 10px;
}

.list-books--grid .searchResultItem {
  padding: 0 5px;
  background: transparent;
  border: 0;
  position: relative;
}

.list-books--grid .searchResultItem:not(.sri--w-main),
.list-books--grid .searchResultItem .sri__main {
  display: flex;
  flex-direction: column;
}

.list-books--grid .searchResultItem .bookcover {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
}

.list-books--grid .searchResultItem > .details,
.list-books--grid .searchResultItem .sri__main > .details {
  display: none;
}

.list-books--grid .searchResultItem .searchResultItemCTA {
  font-size: 0.85em;
  padding: 0;
  margin: 0;
  min-width: unset;
  width: 100%;
}

.list-books--grid .searchResultItem .check-in-prompt,
.list-books--grid .searchResultItem .star-rating-form {
  display: none;
}

.list-books--grid .list-books__note {
  overflow: hidden;
  padding-top: 8px;
  margin-top: 4px;
  border-top: var(--border-divider);
  line-height: var(--line-height-blurb);
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
}

.list-books--grid .list-books__note p {
  margin-top: 0;
}

/* openlibrary/templates/covers/add.html */
div.popAlert {
  display: none;
  width: 550px;
  padding: 8px 16px;
  margin-bottom: 15px;
  background: url(/images/icons/icon_alert.png) no-repeat;
  font-size: 1.25em;
  color: var(--red);
  text-align: center;
}

/* openlibrary/templates/type/edition/view.html */
#wikicode textarea {
  width: 400px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  font-family: var(--body-family);
  font-size: 0.75em;
  overflow: auto;
  outline: none;
  white-space: pre-line;
  word-break: break-all;
  word-wrap: break-word;
}

#wikicode p {
  margin: 10px 10px 0;
  padding: 0;
  font-family: var(--body-family);
  font-size: 0.75em;
}

/* TABS */

/* Skin */
@import (inline) "components/chart-stats.css";

/* PAGE HISTORY */
/* Desktop: @width-breakpoint-desktop = 960px */
@media screen and (max-width: 960px) {
  /* openlibrary/macros/RecentChanges.html */
  /* openlibrary/macros/RecentChangesAdmin.html */
  /* openlibrary/macros/RecentChangesUsers.html */
  /* openlibrary/templates/admin/people/edits.html */
  /* openlibrary/templates/recentchanges/render.html */
  /* openlibrary/templates/type/list/editions.html */
  .historyPager {
    text-align: center;
    margin: 20px 0;
    width: 848px;
  }
}

/* Tablet: @width-breakpoint-tablet = 768px */
@media screen and (max-width: 768px) {
  /* openlibrary/macros/RecentChanges.html */
  /* openlibrary/macros/RecentChangesAdmin.html */
  /* openlibrary/macros/RecentChangesUsers.html */
  /* openlibrary/templates/admin/people/edits.html */
  /* openlibrary/templates/recentchanges/render.html */
  /* openlibrary/templates/type/list/editions.html */
  .historyPager {
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }
}

/* CHARTING */
@import (inline) "components/chart.css";

/* MERGING */
/* Merge button */
/* openlibrary/templates/search/authors.html */
div.mergeThis {
  display: inline;
  padding: 15px 0 0 45px;
  margin-left: 15px;
  background: url(/images/icons/icon_merge.png) no-repeat 0 0;
}

@import (inline) "components/merge-form.css";

/* openlibrary/templates/recentchanges/default/view.html */
/* openlibrary/templates/recentchanges/merge-authors/view.html */
/* openlibrary/templates/recentchanges/undo/view.html */
#mergeHead {
  background-color: var(--lightest-grey);
  padding: 15px;
}

/* stylelint-disable selector-max-specificity */
#mergeHead #recordMaster {
  margin-bottom: 15px;
}
/* stylelint-enable selector-max-specificity */

/* BORROWING */
div.preSubmit,
div.postSubmit {
  text-align: center;
}

/* LISTS */
/* openlibrary/templates/type/list/exports.html */
#listTools ul {
  font-size: 0.75em;
  color: var(--grey);
  font-family: var(--body-family);
  margin: 0 0 20px !important;
}

#listTools li {
  list-style-type: none !important;
  padding-bottom: 20px;
}

#listTools li span.icon {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  background-image: url(/images/icons/icons_lists.png);
  background-repeat: no-repeat;
}

#listTools li span.subscribe {
  background-position: 0 0;
}

#listTools li span.export {
  background-position: -28px 0;
}

#listTools li span.alert {
  background-position: -56px 0;
}

@import (inline) "components/listLists.css";

/* openlibrary/templates/lists/widget.html */
.heart-adjust {
  position: relative;
  top: -3px;
  left: 4px;
}

/* openlibrary/templates/publishers/view.html */
/* openlibrary/templates/subjects.html */
div#subjectLists ul.listLists {
  padding: 0;
}

div#subjectLists ul.listLists li {
  list-style-type: none;
  float: left;
  width: 282px;
  font-family: var(--body-family);
  padding-bottom: 10px;
  padding-top: 0;
  display: flex;
}

div#subjectLists ul.listLists li .image {
  display: block;
  float: left;
  width: 34px;
  min-height: 35px;
}

div#subjectLists ul.listLists li .image img {
  width: 24px;
}

div#subjectLists ul.listLists li .data {
  display: block;
  float: left;
  width: 248px;
}

div#subjectLists p {
  font-size: 0.6875em;
  font-family: var(--body-family);
  padding-left: 42px;
  margin-bottom: 5px !important;
}

/* SEARCH INSIDE */
/* openlibrary/templates/search/snippets.html */
.snipHL {
  opacity: 0.2;
  filter: alpha(opacity=20);
  background-color: var(--blue);
  position: absolute;
}

/* LIBRARIES */

/* use manage-covers instead */
/* openlibrary/templates/type/edition-history/view.html */
/* openlibrary/templates/type/edition/view.html */
.editionCover {
  box-sizing: unset;
}

.editionCover .illustration {
  margin-bottom: 5px;
}

/* openlibrary/macros/databarWork.html */
#read.panel {
  margin-bottom: 10px;
}

/* openlibrary/macros/SearchResultsWork.html */
.decorations button {
  cursor: pointer;
  text-align: center;
  background: inherit;
  border: none;
  padding: 0;
  color: var(--link-blue);
  border-bottom: 1px solid var(--link-blue);
  margin-bottom: 15px;
}

/* My books ... */

/* openlibrary/templates/stats/readinglog.html */
/* openlibrary/templates/account/books.html */
.list-books .book {
  display: flex;
}

/* openlibrary/templates/account/books.html */
/* openlibrary/templates/account/notifications.html */
/* openlibrary/templates/account/privacy.html */
/* openlibrary/templates/account.html */
.account-settings-menu {
  display: flex;
}

@import (inline) "components/rating-form.css";
@import (inline) "components/searchResultItemCta.css";

/* Tablet: @width-breakpoint-tablet = 768px */
@media only screen and (min-width: 768px) {
  span.count {
    white-space: nowrap;
  }
  @import (inline) "components/header-bar--tablet.css";
  @import (inline) "components/page-banner--tablet.css";
  @import (inline) "components/work--tablet.css";
  @import (inline) "components/edit-toolbar--tablet.css";
}

/* Desktop: @width-breakpoint-desktop = 960px */
@media all and (min-width: 960px) {
  @import (inline) "components/header-bar--desktop.css";
  /** These styles are used on the page for editing a book.
  They may be used in another places as well */
  fieldset.minor {
    width: 400px;
  }
  table.identifiers {
    width: 395px;
  }
  /**
  * Used on following pages:
  * - /search/subjects
  * To be deleted in https://github.com/internetarchive/openlibrary/issues/1821
  */
  .desktop-only {
    display: inherit;
  }
  /* Whitespace nowrap is problematic in tables on mobile */
  table.meta td.title,
  table.meta td.object,
  table.meta td.descrip,
  table.meta td.tag {
    white-space: nowrap;
  }
  /* Books pages */
  div.workCover {
    float: right;
    width: 270px;
    min-height: 10px;
  }
  div.workAbout {
    float: left;
    clear: left;
    width: 610px;
    padding-right: 38px;
  }
  .contentTwothird {
    float: left;
    width: 675px;
    padding-right: 38px;
  }
  .contentOnethird {
    float: left;
    width: 305px;
  }
  .contentHalf {
    float: left;
    max-width: 439px;
  }
  .contentThreeQuarter {
    float: left;
    max-width: 684px;
  }
  .contentSpacer {
    float: left;
  }
}
