div#header {
  width: 960px;
}

div#headerSearch {
  width: 316px;
  padding: 9px;
  outline: none;
}

div#headerLogo {
  position: relative;
  float: left;
  width: 220px;
  height: 140px;
  margin-top: 10px;
}

div#headerLogo h2 {
  margin: 0;
  padding: 0;
}

div#headerLogo span.title {
  position: absolute;
  top: -1000px;
}

div#headerLogo p.tagline {
  position: absolute;
  left: 0;
  top: 118px;
  width: 220px;
  text-align: center;
  font-family: var(--body-family);
  font-size: 0.6875em;
  color: var(--dark-grey);
  margin: 0;
  padding: 0;
}

div#headerLogo p.tagline a {
  color: var(--dark-grey);
  text-decoration: none;
}

div#headerNav {
  position: relative;
  float: left;
  width: 370px;
  height: 150px;
}

div#headerNav li.first {
  margin-right: 279px !important;
}

div#headerNav li.second {
  margin-right: 99px !important;
}

div#headerNav ul.links {
  position: absolute;
  left: 1px;
  bottom: 0;
  clear: left;
  float: left;
  width: 369px;
}

div#headerNav ul.links li {
  display: block;
  float: left;
  width: 90px;
  color: var(--black);
  margin-right: 10px;
}

div#headerNav ul.links li a,
div#headerNav ul.links li span {
  display: block;
  width: 80px;
  height: 22px;
  padding: 10px 0 0 10px;
  font-family: var(--body-family);
  font-size: 0.6875em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
}

div#headerNav ul.links li a:hover {
  background-color: var(--header-nav-hover-color);
  color: var(--white);
}

div#headerPlace {
  float: left;
  width: 370px;
  height: 150px;
}

div#headerTools {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  width: 50px;
}

div#headerLogin {
  text-align: right;
  font-size: 0.6875em;
  padding-top: 20px;
  color: var(--grey);
}

#headerUserOpen {
  display: none;
}

/* stylelint-disable selector-max-specificity */
#headerLogin #headerUser {
  position: relative;
}
/* stylelint-enable selector-max-specificity */

/* stylelint-disable selector-max-specificity */
#headerLogin #userToggle {
  text-decoration: none;
  display: block;
  line-height: 24px;
  padding: 0 7px;
  float: right;
}

#headerLogin #userToggle .label {
  text-decoration: underline;
}

#headerLogin #userToggle .arrow {
  text-decoration: none;
  color: var(--grey);
  font-size: 8px;
}
/* stylelint-enable selector-max-specificity */

/* stylelint-disable selector-max-specificity */
#headerLogin #headerUserOpen {
  position: absolute;
  top: 24px;
  right: 0;
  padding: 0;
  text-align: left;
  z-index: var(--z-index-level-14);
  background-color: var(--grey-f3f3f3);
  display: none;
  min-width: 70px;
}

#headerLogin #headerUserOpen a {
  display: block;
  white-space: nowrap;
  line-height: 24px;
  padding: 0 7px;
}
/* stylelint-enable selector-max-specificity */
