/* 
   OPEN LIBRARY DEFAULT STYLES - BETA 
   Comment date: 03.02.09
   -------------------------------
   Please email me with any suggested improvements: webchick@invisible.net
*/



/*GLOBAL TEXT ELEMENTS*/

	body { margin: 0; border: 0; background-color:#fff; font-family: georgia, times new roman, times, serif; font-size:12px; color: #000000; padding : 0; }

	#footer { clear: both; color: #FFF; padding: 0px 0px 0px 10px; background: #625E25; height: 2em; line-height: 25px; vertical-align: middle; font-size: 12px; }
	#toolbar { background: #625E25; color: #FFF; padding: 0px 0px 0px 10px; height: 2em; font-size: 12px;  }
	#databar { clear: both; padding-right: 8px; background-color: #F1EFED; height: 2.25em; border-bottom: 1px solid #BEBE7C;  vertical-align: middle; }

	.widgetlabel { color: #919070; padding: 8px 8px 4px 8px; font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; float: left; }
	.helplabel { color: #919070; padding: 8px 8px 4px 8px; font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; font-style: bold; }
	.navlinks { float:right; padding: 0px 20px 0px 0px; margin: 0px; height: 25px; line-height: 25px; vertical-align: middle; }
	.navlinks a { color: white; text-decoration: underline; }
	.navlinks a:hover { color: white; text-decoration: underline; }
	.navlinks a:visited { color: white; text-decoration: underline; }	

	#title { font-size: 28px; color: #919070; padding-bottom: 8px; line-height: 32px; }
	.title-pad { padding-left: 12px; }
	.pretitle { font-size: 18px; line-height: 24px; color: #666; }
	.posttitle { font-size: 18px; line-height: 8px; color: #666; }
	.subtitle { font-size: 18px; line-height: 22px; color: #999; font-style: italic; padding-left: 12px; padding-bottom: 12px; }

	.content { margin: 0px 0px 34px 24px; font-size:14px; line-height:20px; }
	.content-bottom { margin: 0px 0px 34px 24px; font-size:14px; line-height:20px; }
	p.maintext { padding-left: 30px; }
	.statement { font-size: 18px; line-height: 24px; color: #666; }
	#statement { font-size: 18px; line-height: 24px; color: #666; padding-left: 12px; }
	#error {  color: #900; font-size: 14px; line-height: 19px; margin-right: 30px; background:#FFF8F1; padding: 10px; border: 1px dotted #990000; position: absolute; top: 190px; left: 30px; }
	.wrong {  color: #900; font-size: 14px; line-height: 19px; background:#FFF8F1; padding: 10px; border: 1px dotted #990000; font-weight: normal; }
	.errorhead    { color: #900; font-weight: bold; font-family: helvetica, arial, sans-serif;  }				

	.abstract { font-size:22px; line-height:30px; font-style: italic; color: #999; margin: 11px 14px 14px 14px; text-align : left; }
	#header-view { margin: 11px 34px 14px 35px;}

	p { margin-right: 40px; }
	.form { padding-left: 10px; }
	.form-margin { padding-left: 30px; }

	th { text-align: right; padding: 6px; }
	td {color: #000; background-color: transparent; }
	td.rule {border-bottom: 1px #fff solid; line-height: 22px; }

	hr { border: 0; text-align: center; background: #fff url(/static/images/rule.png) no-repeat scroll left; height: 40px; }
	hr:after { content: ""; }

	img { border: none }

	li { }

	h2 { color: #625E25; font-size: 22px; font-weight: normal;  margin-left: 0px }
	h2.api { color: #336699; font-size: 22px; font-weight: normal;  margin-left: 0px }
	h3 { color: #666666; font-size: 16px; line-height: 16px; text-transform: uppercase; text-transform: inherit; }
	h4 { color: #999; font-size: 14px; margin-left: 35px; }
	
	strong { color: #625E25; }

		

/*LINKS*/
	a 					{ color: #A05629; text-decoration: none; }
	a:visited 			{ color: #6F320D; text-decoration: none; }	
	a:hover 			{ text-decoration: underline; }

	a.datalink 			{ color: #6F320D;  }
	a.datalink:visited 	{ color: #6F320D; }	
	a.datalink:hover 		{ }

	a.truncate 			{ color: #6F320D; float:left; white-space: nowrap; }
	a.truncate:visited 	{ color: #6F320D; }	
	a.truncate:hover 		{ }

	a.sidebar 			{ color: #999; text-decoration: underline;  }
	a.sidebar:visited 	{ color: #999; text-decoration: underline; }	
	a.sidebar:hover 		{ text-decoration: underline; }
	
	a.white 			{ color: #fff }
	a.white:hover 		{ text-decoration: none; }
	a.white:visited		{ color: #fff }
	
	a.light 			{ color: #666; text-decoration: underline; }
	a.light:hover 		{ text-decoration: underline; }
	a.light:visited		{ color: #666; text-decoration: underline; }

	a.button 			{ text-decoration: none; }
	a.button:hover 		{ text-decoration: none; }

	a.linkbutton:hover 		{ color: #fff; }


/*GLOBAL PAGE (VIEW) ELEMENTS*/

 	.book-details-italic { padding: 0px 10px 0px 0px; font-family: georgia; font-size: 14px; color: #999; }

	#contentwrapper{ min-width: 650px; min-height: 310px; }

	#header { padding: 25px 0px 20px 10px; z-index: 100; }
	#header-edit { padding: 25px 0px 0px 40px; }
	#header-fullpage { padding: 20px 0px 20px 30px; }
	
	.info { padding: 4px 5px 0px 0px; float: left; }

	#nav{
	  float:right;
	  padding: 0px 20px 0px 0px;
	  width: 230px;
	  margin: 0px 0px 30px 30px;
	/*  min-height: 370px; */
	  border-left: 1px solid #fff;
	  border-bottom: 1px solid #fff;
	/*	text-align: center   */
	}

	#nav-home{
/*	  position: absolute;
	  top: 40px;
	  left: 570px;  */
	  padding: 0px 20px 0px 0px;
	  width: 230px;
	  margin: 0px 0px 30px 0px;
	  border-left: 0px solid #fff;
	  border-bottom: 0px solid #fff;
	}


	.navinner { background-color: #F9F8D0; width: 200px; border: 1px solid #ccc; }
	.navinner-padding { background-color: #F9F8D0; width: 188px; padding: 10px 0px 10px 0px; border: 6px solid #fff; text-align: left; }
	.homenav { margin-left: 10px; margin-right: 10px; color: #666; font-style: bold; text-align: left; }

	.navheader { font-weight: bold; padding-left: 10px; color: #625E25; letter-spacing: .07em; text-transform: uppercase; }
	.navsubheader { padding-left: 25px; line-height: 16px; }
	.navtext{ padding-left: 10px; padding-right: 10px; }
	.navouter { width: 194px; margin-left: 18px; padding-top: 30px; padding-bottom: 20px; text-align: center; }

	#options { width: 210px; min-height: 190px; margin: 0px 0px 10px 10px; font-size: 12px; }

	#viewthisbook-oln { margin-left: -5px; }

	.logotype { float:left; font-weight: bold; height: 25px; line-height: 25px; vertical-align: middle; }


/*GLOBAL FORM (EDIT) ELEMENTS*/

	#typechanger { padding: 8px 8px 0px 8px; margin-bottom: -12px; }

	#form-border { border: 1px solid #ccc; padding: 8px; margin: 30px 30px 30px 30px; }
	#form-body { clear: both; background-color: #F9F8D0; padding: 20px 30px 20px 30px; margin-top: 10px; }
	#biblio-form-body { clear: both; background-color: #F9F8D0; padding: 20px 30px 20px 30px; margin-top: 7px; }
	#metadata-body { clear: both; background-color: #F9F8D0; padding: 20px 30px 20px 30px; }

	td.formheader { padding: 0px 4px 6px 10px; text-align: left; font-weight: bold; color: #625E25; white-space: nowrap; vertical-align: top; }
	td.formheader-i18n { padding: 6px 4px 2px 0px; text-align: left; font-weight: bold; color: #625E25; white-space: nowrap; vertical-align: top; }
	.formheader { padding: 0px 4px 6px 10px; text-align: left; font-weight: bold; color: #625E25; width: 220px; }
	.formheader-edit { padding: 0px 4px 6px 0px; text-align: left; font-weight: bold; color: #625E25; }

	td.formheader-top { padding: 10px 4px 6px 10px; text-align: left; font-weight: bold; color: #625E25; white-space: nowrap; vertical-align: top; }
	td.formheader-rule { padding: 10px 4px 6px 10px; text-align: left; font-weight: bold; color: #625E25; white-space: nowrap; border-top: 1px solid #ccc; vertical-align: top; }
	td.formfield  { padding: 0px 8px 6px 4px; width: 100%; vertical-align: top; }
	td.formfield-top  { padding: 10px 2px 6px 4px; }
	td.formfield-rule  { padding: 10px 2px 6px 4px; border-top: 1px solid #ccc; }

	td.formfield-identifier  { padding: 0px 8px 4px 8px; border-bottom: 0px solid #BBBA92; padding-top: 3px; font-weight: normal; }
	td.formheader-identifier-left { padding: 4px 0px 6px 0px; font-weight: bold; text-align: left; color: #625E25;}
	td.formheader-data-left { padding: 0px 8px 6px 4px; border-bottom: 0px solid #BBBA92; color: #625E25; text-align: left; white-space: nowrap; font-weight: bold; }

	td.vertspace24 { padding-top: 24px; }
	td.vertspace9 { padding-top: 9px; }

	td.formbuttons  { padding: 0px 4px 6px 4px; white-space: nowrap; }
	td.formbuttons-meta  { padding: 0px 0px 0px 4px; border-bottom: 0px solid #BBBA92; white-space: nowrap; }
	td.formbuttons-identifier  { padding: 0px 0px 0px 0px; border-bottom: 0px solid #BBBA92; white-space: nowrap; }
	td.formbuttons-toc  { padding: 3px 0px 0px 4px; border-bottom: 0px solid #BBBA92; white-space: nowrap; }

	pre { font-family: courier, monospaced; font-size: 12px; padding: 5px; }
	input { font-family: georgia, times new roman, times, serif; font-size: 12px; background-color: #fff; border: 1px solid #ccc; font-weight: normal; }
	input:focus { background-color: #eee; border-color: #900; }
	textarea:focus { background-color: #eee; border-color: #900; }
	select, option, textarea { font-family: georgia, times new roman, times, serif; font-size: 12px; }
	textarea { width: 100%; margin-top: 0px;  margin-bottom: 10px; background-color: #fff; border: 1px solid #ccc; }

	.simplesearch { float: right; margin-top: 4px; height: 28px; font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; }


/*LOGIN FORM STYLES*/

	#login-form { padding: 20px; background-color: #F7FAEB; min-height: 200px; }
	#login-openid-form { padding: 20px; background-color: #F9F8D0; min-height: 200px; }
	#login-form-border { border: 1px solid #ccc; padding: 10px; }
	.login-message { padding-left: 20px; padding-right: 150px; }	
	.login-text { font-size: 13px; line-height: 18px; }



/* BUTTONS */
	
	button, .editbutton { 	
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			line-height: 28px;			
			height: 26px;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
		} 

	button:hover { background-color: #6F320D; color: #fff; }
	button.action:hover { background-color: #625E25; color: #fff; }
	button.edit:hover { background-color: #625E25; color: #fff; }
	button.clone:hover { background-color: #625E25; color: #fff; }
	button.go-small:hover { background-color: #6F320D; color: #fff; }			
	button.small-button:hover { background-color: #6F320D; color: #fff; }			

	button.go { margin: 8px 0px 0px 6px; }
	.button-border { margin: -9px 0px 0px 0px; padding: 0px 4px 0px 6px; white-space: nowrap; }
	button.go-small { background-color: #fff; height: 1.4em; line-height: 1em; }			
	button.addkey-small { background-color: #625E25; color: #fff; height: 18px; }			
	.addkey-small { background-color: #625E25; color: #fff; height: 18px; }			
	button.action { background-color: #fff; color: #919070; }
	button.repeat { border: none; padding: 0px; margin: 0px; }
	button.repeat:hover { background-color: transparent; }

	.edit-button { 	
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			height: 26px;
			line-height: 28px;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
		} 
		
	button.clone { background-color: #DEDCBF; color: #625E25;  margin: 0px 3px 0px 0px; font-style: normal }
	button.highlight { background-color: #6F320D; color: #fff;  margin: 0px 3px 0px 0px; font-style: normal }
	button.highlight-green { background-color: #625E25; color: #fff;  margin: 0px 3px 0px 0px; font-style: normal }
	button.edit { background-color: #fff; color: #919070; margin: 0px 6px 0px 0px; }
	#hideerror { background-color: #900; color: #fff; margin: 0px 6px 0px 0px; font-weight: bold; font-family: helvetica, arial, sans-serif; width: 20px; float: right; text-align: center; }
	.hideerror { background-color: #900; color: #fff; margin: 0px 6px 0px 0px; font-weight: bold; font-family: helvetica, arial, sans-serif; width: 20px; text-align: center; }
	button.edit-delete { }

	button.apiblue { background-color: #fff; color: #336699; border: solid 1px #336699; }
	button.apiblue:hover { background-color: #336699; color: #fff; border: solid 1px #336699; }

	button.control { border: 0px; background-color: transparent; padding: 0px; margin: -5px 0px 0px 0px; }

	.fulltext { float: right; }			
	.small-button { 
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			line-height: 28px;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
	}			

	button.white { 	
		font-family: georgia; 
		color: #ffffff; 
		border: 0px; background-color: transparent; padding: 0px; margin: 0px;	
		text-decoration: none;
		text-transform: none;
		letter-spacing: 0px;
		font-weight: normal;
	} 

	.coverbutton { 	
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			line-height: 28px;			
			height: 26px;
			margin: 6px 0px 0px 10px;
			padding: 0px 0px 0px 0px;
			width: 180px;
			text-decoration: none;
	} 



/*ALERT STYLES*/
	#violator { position: absolute; top: 54px; left: 0px; z-index: 100000 } 
	.attention { font-size: 14px; line-height: 20px; color: #666; background-color: #fff; border: 1px solid #fff; padding: 10px; max-width: 410px; margin-left: 223px; margin-bottom: 10px; font-style: italic; }
	.attention-fullpage { font-size: 14px; line-height: 20px; color: #666; background-color: #f8f8f8; border-bottom: 1px solid #ccc; padding: 10px 25px 10px 0px; font-style: italic;}

	.subhead-emphasis-dark { font-size: 14px; line-height: 20px; color: #333; font-weight: bold; }
	.subhead-emphasis { font-size: 14px; line-height: 20px; color: #666; font-style: italic; }
	.attention-emphasis { color: #900;  }

	.homeheader { font-size: 20px; line-height: 20px; color: #919070; font-style: italic; }
	.copyright { font-size: 14px; line-height: 20px; color: #999; font-style: italic; }
	.copyright-footer { font-size: 14px; line-height: 20px; color: #666; background-color: #f8f8f8; border-top: 1px solid #ccc; padding: 10px 25px 10px 25px; font-style: italic; }

	.blue {  line-height: 16px;	background:#EBF6FF; padding: 10px; border: 1px dotted #336699; margin: 0px 50px 0px 50px; color: #000; font-size: 13px; text-align: left; }
	.yellow {  line-height: 16px; 	background:#ffffcc; padding: 10px; border: 1px dotted #990000; margin: 0px 50px 0px 50px; color: #000; font-size: 13px; text-align: left; }
	.green {  line-height: 16px; 	background:#ccffcc; padding: 10px; border: 1px dotted #336600; margin: 0px 0px 0px 10px; color: #000; font-size: 13px; text-align: left; white-space: nowrap }


	.query {  line-height: 16px; background:#EBF6FF; padding: 10px; border: 1px dotted #336699; color: #336699; margin: 0px 10px 0px 10px; font-size: 13px; text-align: left; }
	.response {  line-height: 16px;	background:#ccffcc; padding: 10px; border: 1px dotted #336600; color: #336600; margin: 0px 10px 0px 10px; font-size: 13px; text-align: left; }
	.samplecode { background-color:#F0F0F0; border:1px solid #CCCBBA; padding: 10px 10px 10px 20px; }
	td.arrow { color: #336600; font-size: 32px; padding-top: 30px; }
	code {  background: inherit; color: inherit; }
	.api a { color: #900; text-decoration: none; padding-left: 18px; line-height: 20px; }
	.api a:before { content: "- "; }
	
	code.normal { font-family: courier, monospaced; font-size: 12px; padding: 5px; }

	.fb_error { color: #900; font-size: 12px; line-height: 19px; margin-right: 30px; margin-top: 5px; background:#FFF8F1; padding: 10px; border: 1px dotted #990000; }

	.alert {  line-height: 16px; 	background:#ffffcc; padding: 10px; border: 1px dotted #990000; }



/*HISTORY - RECENT CHANGES*/

	.history { height: 2em; font-size: 12px; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff;  }
	.path { height: 2em; font-size: 12px; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; }
	.displayname { height: 2em; font-size: 12px; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; }
	.buttons { height: 2em; font-size: 12px; padding-left: 24px; border-bottom: 1px solid #fff; white-space: nowrap; ; color: #919070; }
	.compare { height: 2em; font-size: 12px; padding-left: 2px; padding-right: 2px; border-bottom: 1px solid #fff; border-right: 1px solid #fff; }
	.comment { height: 2em; font-size: 12px; padding-left: 24px; padding-right: 2px; border-bottom: 1px solid #fff; color: #919070; }

	.truncatedisplayname { 
		width: 10em;            /* constrain width try 20em */
	    overflow: hidden;       /* hide excess */
	    position:relative;      /* Fix IE missing overflow bug of r.p. span */
	    background: #F9F8D0;     
	}

	.truncatepath { 
		width: 20em;            /* constrain width try 20em */
	    overflow: hidden;       /* hide excess */
	    position:relative;      /* Fix IE missing overflow bug of r.p. span */
	    background: #F9F8D0;     
	}

	.truncatepath span:after {
	    content: "\A0(...)";  /* hex nbsp*/
	    color: #919070
    }	

	.truncatedisplayname span:after {
	    content: "\A0(...)";  /* hex nbsp*/
	    color: #919070
    }	
    

	span.ellipsis {
	    float: right;      /* shall drop when the link is too long */
	    position:relative; /* move after page flow is done */
	    margin-top:-1em;   /* adjust */
	    z-index:1;         /* higher layer */
	    background: #F9F8D0 /* url(/static/images/ellipsis.png) */ ;  
	    width:25px;  /* any width will match */
	    color: #919070
    }

	.historyheader { height: 24px; font-size: 12px; font-weight: bold; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; }
	.preferenceheader { height: 24px; font-size: 12px; font-weight: bold; padding-right: 14px; }
	.number { padding-left: 12px; padding-right: 9px; height: 24px; width: 24px; font-size: 12px; text-align: right; font-weight: bold; border-bottom: 1px solid #fff;   border-right: 1px solid #fff; color: #919070 }
	.numberhead { padding-left: 12px; padding-right: 9px; height: 24px; width: 24px; font-size: 12px; text-align: center; font-weight: bold; border-bottom: 1px solid #fff; }
	.time { padding-left: 12px; padding-right: 9px; height: 24px; font-size: 12px; text-align: right; font-weight: bold; border-bottom: 1px solid #fff;   border-right: 1px solid #fff; color: #919070;  white-space: nowrap }

	.edit { padding-left: 8px; padding-top: 3px; float: left;}

	#tempmetadata { padding-top: 12px; font-style: italic; height: 24px; margin-bottom: -6px; }
	.tempmetatitle { float: left; padding-right: 3px; }

	#book { height: 250px; }
	.book { margin-left: 70px; float: right; width: 300px; text-align: right; border: 0px solid #666; background-color: trasparent; }
	.book-temp { margin-left: 70px; float: right; width: 300px; text-align: right; padding-right: 1px; border: 0px solid #666 }

	.result-text-home { padding-bottom: 6px; padding-left: 10px; padding-right: 10px; color: #919070; font-size: 16px; line-height: 20px; white-space: nowrap; }

	.formnote { padding-left: 0px; }


/* HOME AND CONTENT */

	#searchtext { font-size:16px; line-height:28px; margin: 11px 0px 14px 0px; text-align : left; color: #000; min-width: 300px; }
	.contenttext { font-size:14px; line-height:20px; margin: 11px 54px 54px 54px; text-align : left; }
	.preftext { font-size:13px; line-height:18px; margin: 21px 10px 10px 10px; text-align : left; }
	#browse-rule { border-top: 1px solid #ccc; clear: both; }

	#viewcontainer { min-height: 480px; }

/* AUTHOR */

	.maintext { font-size:14px; line-height:20px; margin: 25px 34px 14px 55px; text-align : left; }


/*MAILMAN APPENDED STYLES*/
	table.password { border: 1px solid #ccc; width: 550px; padding: 12px; background-color: #f8f8f8; }
	table.username { border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; width: 100%; padding: 12px; background-color: #f8f8f8; }
	.mailman-option { font-size: 18px; color: #6F320D; padding-bottom: 6px; }



/*PD WIDGET*/
	.pdstatus-null { color: #999 }
	.pdstatus-in { color: #FF2000 }
	.pdstatus-unknown { color: #EDB141 }
	.pdstatus-out { color: #669933 }
	.pdstatus-footer { background-color: #f8f8f8; border-top: 1px solid #ccc; text-align: right; padding: 10px 30px 20px 30px; }




/*MISCELLANY*/

b.i18n { color: #919070; font-family: courier, monospaced; }

/* styles for default_input.tmpl */
td.inputrow {
    width: 100%; 
    padding-right: 10px;    
}

th.inputrow {
    padding-top: 4px; 
    font-weight: normal;
    font-style: italic; 
    text-align: left;
}

td.inputrow-2 { width: 50%; }
td.inputrow-3 { width: 33%; }
td.inputrow-4 { width: 25%; }
td.inputrow-5 { width: 20%; }

/* styles for embeddable types */

td.translated_string-language { width: 30%; }
td.translated_string-text { width: 70%; }

td.toc_item-class { width: 10%; } 
td.toc_item-label { width: 10%; } 
td.toc_item-title { width: 70%; } 
td.toc_item-pagenum { width: 10%; }

td.link-title { width: 30%; }
td.link-url { width: 70%; }

img.plus { src: url("/static/images/+.png"); }
img.minus { src: url("/static/images/-.png"); }
img.moveup { src: url("/static/images/arrowup.png"); }
img.movedown { src: url("/static/images/arrowdown.png"); }
button[disabled] img.moveup { src: url("/static/images/arrowup-disabled.png"); }
button[disabled] img.movedown { src: url("/static/images/arrowdown-disabled.png"); }

td.rawtext-body textarea { height: 400px; font-family: courier,monospaced;}

pre.linenumbers { background-color: #eeeeee; color: #999999; padding-right: 5px; margin-right: 5px;}

.default-cover-m { width: 170px; height: 254px; text-align: center; padding-right: 14px; clear: both; background: transparent url("/static/images/blank.book.new.png") 0px 3px no-repeat;}

.default-cover-m > #book-title { color: #f9f8d0; width: 180px; height: 250px; vertical-align: middle; display: table-cell; padding-left: 8px; }
#author-names { color: #fff; font-style: italic; font-size: 12px; line-height: 15px; padding-right: 4px; padding-left: 4px; }

.default-cover-s { width: 40px; height: 58px; text-align: center; padding-right: 14px; clear: both; background: transparent url("/static/covers/cover-blue-s.png") 0px 3px no-repeat; font-size: 0.7em; }
.default-cover-s > #book-title { color: #f9f8d0; width: 40px; height: 50px; vertical-align: middle; display: table-cell; padding-left: 4px; text-overflow:ellipsis;}


td.cover {text-align: center; padding-left: 0px; width: 72px; }



/*IMPORTED FROM TOC*/

.toc-header { color: #666666; font-size: 16px; line-height: 16px; text-transform: uppercase; font-style: bold; padding-top: 0px; padding-bottom: 10px; }


div.info {
    border: 1px solid #FCEFA1;
    background: #FBF9EE;
    margin: 5px;
    padding: 5px;
}

div.error {
    border:1px solid #CD0A0A;
    background: #FEF1EC;
    color: #CD0A0A;
    margin: 5px;
    padding: 5px;
}
