/**
 * Stylesheet for signup and (soon) login forms

 * Used in templates:
 * - openlibrary/templates/account/create.html
 *
 * Used on pages:
 * - /account/create
 * - /account/login
 */

/* Import all base styles */
@import (inline) "base/helpers-common.css";
@import (inline) "base/common.css";

/* Import fonts */

/* Layout rules */
@import (inline) "layout/index.css";

/* Components (modules) in order of appearance on page */
@import (inline) "components/header-bar.css";
@import (inline) "components/buttonGhost.css";
@import (inline) "components/iaBar.css";
@import (inline) "components/buttonBtn.css";
@import (inline) "components/page-banner.css";
@import (inline) "components/header.css";
@import (inline) "components/form.olform.css";
@import (inline) "components/buttonCta.css";
@import (inline) "components/footer.css";
@import (inline) "components/language.css";

.ol-page-signup {
  display: flex;
  flex-direction: row;
}

.ol-page-signup .ol-signup-hero > *,
.ol-page-signup .ol-signup-form > * {
  width: 70%;
}

/* @width-breakpoint-tablet: 768px */
@media only screen and (max-width: 768px) {
  .ol-page-signup .ol-signup-form > * {
    width: calc(100% - 60px);
  }
}

.ol-signup-hero {
  width: 55%;
  background-color: var(--grey-fafafa);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px 0 0 5px;
}

.ol-signup-hero .ol-signup-hero__title {
  color: var(--black);
  font-size: var(--font-size-headline-large);
}

.ol-signup-hero .ol-signup-hero__subtitle {
  color: var(--grey);
  font-size: var(--font-size-title-large);
}

/* @width-breakpoint-tablet: 768px */
@media only screen and (max-width: 768px) {
  .ol-signup-hero {
    display: none;
  }
}

/* Specificity added to override original padding*/
#contentBody.ol-signup-form {
  padding: 30px 0;
}

.ol-signup-form {
  flex: 1 1 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ol-signup-form #ia-third-party-logins {
  margin: 0 auto;
  display: flex;
}

.ol-signup-form .ol-signup-form__big-or {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  max-width: 600px;
  color: var(--grey);
}

.ol-signup-form .ol-signup-form__big-or::before,
.ol-signup-form .ol-signup-form__big-or::after {
  content: "";
  display: block;
  flex: 1;
  border-bottom: 1px solid var(--grey);
  transform: translateY(-50%);
}

.ol-signup-form .ol-signup-form__info-box {
  font-size: var(--font-size-label-large);
}

.ol-signup-form .ol-signup-form__info {
  font-size: var(--font-size-label-large);
  padding-top: 10px;
}

.ol-signup-form .ol-signup-form__link {
  color: inherit;
}

.ol-signup-form .ol-signup-form__note {
  font-size: var(--font-size-label-large);
  color: var(--grey);
}

.ol-signup-form .ol-signup-form__input {
  padding-top: 6px;
}

.ol-signup-form .ol-signup-form__input input {
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius-input);
  width: 100%;
  padding: 6px 4px;
}

.ol-signup-form .ol-signup-form__input input.invalid {
  border: 1px solid var(--red);
}

.ol-signup-form .ol-signup-form__input label,
.ol-signup-form .ol-signup-form__input .ol-signup-form__note {
  display: block;
  margin-bottom: 4px;
}

.ol-signup-form .ol-signup-form__error {
  font-size: var(--font-size-label-large);
  color: var(--red);
  /* fade(@baby-pink, 50%) = hsla(0, 100%, 93%, 0.5) */
  background-color: hsla(0, 100%, 93%, 0.5);
  /* fade(@red, 50%) = hsla(8, 78%, 49%, 0.5) */
  border: 0.5px hsla(8, 78%, 49%, 0.5);
  border-style: solid solid none;
  border-radius: var(--border-radius-input) var(--border-radius-input) 0 0;
  margin-bottom: -3px;
  width: 100%;
  padding: 10px 5px;
}

.ol-signup-form .ol-signup-form__error:empty {
  display: none;
}

.ol-signup-form .ol-signup-form__suffix {
  font-size: var(--font-size-label-medium);
  color: var(--grey);
}

.ol-signup-form .input {
  position: relative;
}

.ol-signup-form .ol-signup-form__icon-wrap {
  position: absolute;
  right: 5px;
  top: 5px;
}

.ol-signup-form .ol-signup-form__icon-wrap > img {
  width: 22px;
  height: 22px;
}

.ol-signup-form .ol-signup-form__checkbox {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  padding-top: 16px;
  width: 100%;
  font-size: var(--font-size-label-large);
}

.ol-signup-form .ol-signup-form__checkbox input {
  margin-top: 2px;
  flex-shrink: 0;
}

.ol-signup-form .ol-signup-form__checkbox a {
  color: inherit;
}

.ol-signup-form .ol-signup-form__tos {
  font-size: var(--font-size-label-large);
  color: var(--grey);
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.ol-signup-form .ol-signup-form__login-hint {
  text-align: center;
  padding-top: 10px;
}

.ol-signup-form .ol-signup-form__login-hint a {
  color: var(--link-blue);
}

.ol-signup-form .ol-signup-form__select {
  font-size: var(--font-size-label-large);
  padding-top: 16px;
  padding-left: 16px;
}

.ol-signup-form .ol-signup-form__select select {
  margin-bottom: 8px;
  width: 100%;
}

/* @width-breakpoint-tablet: 768px */
@media only screen and (min-width: 768px) {
  @import (inline) "components/header-bar--tablet.css";
  @import (inline) "components/page-banner--tablet.css";
}

/* @width-breakpoint-desktop: 960px */
@media all and (min-width: 960px) {
  @import (inline) "components/header-bar--desktop.css";
}
