/* new entry point for subject pages */

/* base styles */
@import "base/helpers-common.css";
@import "base/common.css";
@import "base/headings.css";

/* layout rules */
@import "layout/index.css";

/* Components */
@import "components/header-bar.css";
@import "components/buttonGhost.css";
@import "components/iaBar.css";
@import "components/buttonBtn.css";
@import "components/buttonCta.css";
@import "components/page-banner.css";
@import "components/header.css";
@import "components/page-heading-search-box.css";
@import "components/form.olform.css";
@import "components/carousel.css";
@import "components/category-item.css";
@import "components/loading-indicator.css";
@import "components/chart.css";
@import "components/link-box.css";
@import "components/widget-box.css";
@import "components/listLists.css";
@import "components/footer.css";
@import "components/language.css";
@import "components/searchbox.css";

/* Tablet: @width-breakpoint-tablet = 768px */
@import "components/header-bar--tablet.css" only screen and (min-width: 768px);
@import "components/page-banner--tablet.css" only screen and (min-width: 768px);

/* Desktop: @width-breakpoint-desktop = 960px */
@import "components/header-bar--desktop.css" all and (min-width: 960px);
