/**
 * Stylesheet entry point for pages with body-book
 *
 * This applies to works and books pages
 * e.g.
 * - /works/OL3513417W/Physics
 * - /books/OL9737752M/The_Odyssey
 */
@import (less) "less/index.less";

// base styles
@import (inline) "base/helpers-common.css";
@import (inline) "base/common.css";
@import (inline) "base/headings.css";

// layout styles
@import (inline) "layout/index.css";

// Components in order of appearance!
// Header sub-imports
@import (inline) "components/header-bar.css";
@import (inline) "components/buttonGhost.css";
@import (inline) "components/iaBar.css";
@import (inline) "components/buttonBtn.css";
@import (inline) "components/page-banner.css";
@import (inline) "components/header.css";
@import (inline) "components/navEdition.css";
@import (inline) "components/buttonLink.css";
@import (inline) "components/edit-toolbar.css";
// Work sub-imports
@import (inline) "base/dl.css";
@import (inline) "components/compact-title.css";
@import (inline) "components/nav-bar.css";
@import (inline) "components/librarian-dashboard.css";
@import (inline) "components/cover.css";
@import (inline) "components/illustration.css";
@import (inline) "components/rating-form.css";
@import (inline) "components/generic-dropper.css";
@import (inline) "components/mybooks-dropper.css";
@import (inline) "components/listLists.css";
@import (inline) "components/readerStats.css";
@import (inline) "components/link-box.css";
@import (inline) "components/read-panel.css";
@import (inline) "components/work.css";
@import (inline) "components/carousel.css";
@import (inline) "components/category-item.css";
@import (inline) "components/loading-indicator.css";
@import (inline) "components/page-history.css";
@import (inline) "components/footer.css";
@import (inline) "components/language.css";
@import (inline) "components/editions.css";
@import (inline) "components/donate.css";
@import (inline) "components/metadata-form.css";
@import (inline) "components/toc.css";
@import (inline) "components/observationStats.css";
@import (inline) "components/modal-links.css";
@import (inline) "components/list-follow.css";
@import (inline) "components/check-in.css";
@import (inline) "components/reading-goal.css";
@import (inline) "components/work-title-and-author.css";
// Mobile
html {
  // Take into account the header bar + tab bar
  scroll-padding-top: 100px;

  // Tablet
  @media only screen and (min-width: @width-breakpoint-tablet) {
    scroll-padding-top: 110px;
  }

  // Desktop
  @media all and (min-width: @width-breakpoint-desktop) {
    scroll-padding-top: 0;
  }
}

@media only screen and (min-width: @width-breakpoint-tablet) {
  @import (inline) "components/header-bar--tablet.css";
  @import (inline) "components/page-banner--tablet.css";
  @import (inline) "components/work--tablet.css";
  @import (inline) "components/edit-toolbar--tablet.css";
}

@media all and (min-width: @width-breakpoint-desktop) {
  @import (inline) "components/header-bar--desktop.css";
}
