.teamPageTitle {
	margin-bottom: 0;
	padding-left: 2rem;
}

.container {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2rem;
}

.teamCard__Container {
	// border: 1px solid black;
	height: 370px;
	width: 280px;
	display: flex;
	align-items: flex-end;
}

.teamCard {
	background: #e4e0cc;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 260px;
	align-items: center;
	position: relative;
	justify-content: flex-end;
	border-radius: 2rem;
}

.teamCard__photoContainer {
	position: absolute;
	top: -80px;
}

.teamCard__photo {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: blue;
}

.teamCard__description {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teamCard__description__name {
	text-decoration: underline;
}

.teamCard__description__title,
.teamCard__description__name {
	margin: 0;
}

.teamCard__description__bio {
	padding: 15px;
	margin: 0;
	text-align: center;
	line-height: 110%;
}
