#back2Top {
    width: 100px;
    line-height: 100px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(180deg);
    position: fixed;
    bottom: 100px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
