/*
** MediaWiki 'monobook' style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke - http://wikidev.net/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on http://www.positioniseverything.net/ordered-floats.html by Big John
** and the Plone 2.0 styles, see http://plone.org/ (Alexander Limi,Joe Geldart & Tom Croucher,
** Michael Zeltner and Geir BÔøΩkholt)
** All you guys rock :)
*/

/**
 * Stylesheet for screen/projection.  All rules not marked media-specific are
 * shared with handheld.css and should be updated in tandem.  The rules can't
 * be in the same file because old browsers like IE5 won't obey @media rules.
 *
 * Rules that are screen/projection-specific are marked with commented-out
 * @media rules and indentation.
 */

/* @media screen, projection { */
	#column-content {
		width: 100%;
		float: right;
		margin: 0 0 .6em -12.2em;
		padding: 0;
	}
	#content {
		margin: 2.8em 0 0 12.2em;
		padding: 0 1em 1.5em 1em;
		position: relative;
		z-index: 2;
	}
	#column-one {
		padding-top: 160px;
	}
/* } */
#content {
	background: #FFFFFF;
	color: black;
	border: 1px solid #aaa;
	border-right: none;
	line-height: 1.5em;
	min-height: 600px;
}
/* the left column width is specified in class .portlet */

/* Font size:
** We take advantage of keyword scaling- browsers won't go below 9px
** More at http://www.w3.org/2003/07/30-font-size
** http://style.cleverchimp.com/font_size_intervals/altintervals.html
*/

body {
	font: x-small sans-serif;
	background: #FFFFFF;
	color: black;
	margin: 0;
	padding: 0;
}

/* scale back up to a sane default */
#globalWrapper {
	font-size: 127%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	left: 0px;
}
.visualClear {
	clear: both;
}

/* general styles */

table {
	font-size: 100%;
	color: black;
	/* we don't want the bottom borders of <h2>s to be visible through
	   floated tables */
}
a {
	text-decoration: none;
	color: #002bb8;
	background: none;
}
a:visited {
	color: #5a3696;
}
a:active {
	color: #faa700;
}
a:hover {
	text-decoration: underline;
}
a.stub {
	color: #772233;
}
a.new, #p-personal a.new {
	color: #ba0000;
}
a.new:visited, #p-personal a.new:visited {
	color: #a55858;
}

img {
	border: none;
	vertical-align: middle;
}
/* @media screen, projection { */
	p {
		margin: .4em 0 .5em 0;
		line-height: 1.5em;
	}
/* } */
p img {
	margin: 0;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}
h1 { font-size: 188%; }
h1 .editsection { font-size: 53%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%;  }
h6 .editsection { font-size: 125%; font-weight: normal; }

.editsection {
	float: right;
	margin-left: 5px;
}

ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
	list-style-image: url(bullet.gif);
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}

fieldset {
	border: 1px solid #2f6fab;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
	line-height: 1.5em;
}
legend {
	padding: .5em;
	font-size: 95%;
}
form {
	border: none;
	margin: 0;
}

textarea {
	width: 100%;
	padding: .1em;
}

input.historysubmit {
	padding: 0 .3em .3em .3em !important;
	font-size: 94%;
	cursor: pointer;
	height: 1.7em !important;
	margin-left: 1.6em;
}
select {
	vertical-align: top;
}
abbr, acronym, .explain {
	border-bottom: 1px dotted black;
	color: black;
	background: none;
	cursor: help;
}
q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
/* disabled for now
blockquote {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}*/
code {
	background-color: #f9f9f9;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}

/*
** the main content area
*/

/* @media screen, projection { */
	#siteSub {
		display: none;
	}
	#jump-to-nav {
		display: none;
	}
/* } */

#contentSub, #contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #7d7d7d;
	width: auto;
}
span.subpages {
	display: block;
}

/* Some space under the headers in the content area */
#bodyContent h1, #bodyContent h2 {
	margin-bottom: .6em;
}
#bodyContent h3, #bodyContent h4, #bodyContent h5 {
	margin-bottom: .3em;
}
.firstHeading {
	margin-bottom: .1em;
}

/* user notification thing */
.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}
#siteNotice {
	text-align: center;
	font-size: 95%;
	padding: 0 .9em;
}
#siteNotice p {
	margin: 0;
	padding: 0;
}
.error {
	color: red;
	font-size: larger;
}
.errorbox, .successbox {
	font-size: larger;
	border: 2px solid;
	padding: .5em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
	border-color: red;
	background-color: #fff2f2;
}
.successbox {
	border-color: green;
	background-color: #dfd;
}
.errorbox h2, .successbox h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	margin: 0 .5em 0 0;
	border: none;
}

#catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}
/* currently unused, intended to be used by a metadata box
in the bottom-right corner of the content area */
.documentDescription {
	/* The summary text describing the document */
	font-weight: bold;
	display: block;
	margin: 1em 0;
	line-height: 1.5em;
}
.documentByLine {
	text-align: right;
	font-size: 90%;
	clear: both;
	font-weight: normal;
	color: #76797c;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* small for tables and similar */
.small, .small * {
	font-size: 94%;
}
table.small {
	font-size: 100%;
}

/*
** content styles
*/

#toc,
.toc,
.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

/* images */
div.floatright, table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
/*
	border: .5em solid white;
	border-width: .5em 0 .8em 1.4em;
*/
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
/*
	margin: .3em .5em .5em 0;
	border: .5em solid white;
	border-width: .5em 1.4em .8em 0;
*/
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}

.hiddenStructure {
	display: none;
	speak: none;
}
img.tex {
	vertical-align: middle;
}
span.texhtml {
	font-family: serif;
}

/* Have a checkered background on images on the description pages and in galleries
   to make transparency visible

#file img, .gallerybox .thumb img {
	background: url(Checker-16x16.png) repeat;
}
*/

/*
** classes for special content elements like town boxes
** intended to be referenced directly from the wiki src
*/

/*
** User styles
*/
/* table standards */
table.rimage {
	float: right;
	position: relative;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
div.townBox {
	position: relative;
	float: right;
	background: white;
	margin-left: 1em;
	border: 1px solid gray;
	padding: .3em;
	width: 200px;
	overflow: hidden;
	clear: right;
}
div.townBox dl {
	padding: 0;
	margin: 0 0 .3em;
	font-size: 96%;
}
div.townBox dl dt {
	background: none;
	margin: .4em 0 0;
}
div.townBox dl dd {
	margin: .1em 0 0 1.1em;
	background-color: #f3f3f3;
}

/*
** edit views etc
*/
.special li {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

/* Page history styling */
/* the auto-generated edit comments */
.autocomment {
	color: gray;
}
#pagehistory span.user {
	margin-left: 1.4em;
	margin-right: .4em;
}
#pagehistory span.minor {
	font-weight: bold;
}
#pagehistory li {
	border: 1px solid white;
}
#pagehistory li.selected {
	background-color: #f9f9f9;
	border: 1px dashed #aaa;
}

/*
** Diff rendering
*/
table.diff, td.diff-otitle, td.diff-ntitle {
	background-color: white;
}
td.diff-addedline {
	background: #cfc;
	font-size: smaller;
}
td.diff-deletedline {
	background: #ffa;
	font-size: smaller;
}
td.diff-context {
	background: #eee;
	font-size: smaller;
}
.diffchange {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a.external,
#bodyContent a[href ^="gopher://"] {
	background: url(external.png) center right no-repeat;
	padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
	background: url(lock_icon.gif) center right no-repeat;
	padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
	background: url(mail_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
	background: url(news_icon.png) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
	background: url(file_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
.link-irc {
	background: url(discussionitem_icon.gif) center right no-repeat;
	padding-right: 18px;
}
#bodyContent a.external[href $=".ogg"], #bodyContent a.external[href $=".OGG"],
#bodyContent a.external[href $=".mid"], #bodyContent a.external[href $=".MID"],
#bodyContent a.external[href $=".midi"], #bodyContent a.external[href $=".MIDI"],
#bodyContent a.external[href $=".mp3"], #bodyContent a.external[href $=".MP3"],
#bodyContent a.external[href $=".wav"], #bodyContent a.external[href $=".WAV"],
#bodyContent a.external[href $=".wma"], #bodyContent a.external[href $=".WMA"],
.link-audio {
	background: url("audio.png") center right no-repeat;
	padding-right: 13px;
}
#bodyContent a.external[href $=".ogm"], #bodyContent a.external[href $=".OGM"],
#bodyContent a.external[href $=".avi"], #bodyContent a.external[href $=".AVI"],
#bodyContent a.external[href $=".mpeg"], #bodyContent a.external[href $=".MPEG"],
#bodyContent a.external[href $=".mpg"], #bodyContent a.external[href $=".MPG"],
.link-video {
	background: url("video.png") center right no-repeat;
	padding-right: 13px;
}
#bodyContent a.external[href $=".pdf"], #bodyContent a.external[href $=".PDF"],
#bodyContent a.external[href *=".pdf#"], #bodyContent a.external[href *=".PDF#"],
#bodyContent a.external[href *=".pdf?"], #bodyContent a.external[href *=".PDF?"],
.link-document {
	background: url("document.png") center right no-repeat;
	padding-right: 12px;
}

/* disable interwiki styling */
#bodyContent a.extiw,
#bodyContent a.extiw:active {
	color: #36b;
	background: none;
	padding: 0;
}
#bodyContent a.external {
	color: #36b;
}
/* this can be used in the content area to switch off
special external link styling */
#bodyContent .plainlinks a {
	background: none !important;
	padding: 0 !important;
}
/*
** Structural Elements
*/

/*
** general portlet styles (elements in the quickbar)
*/
.portlet {
	border: none;
	margin: 0 0 .5em;
	padding: 0;
	float: none;
	width: 11.6em;
	overflow: hidden;
}
.portlet h4 {
	font-size: 95%;
	font-weight: normal;
	white-space: nowrap;
}
.portlet h5 {
	background: transparent;
	padding: 0 1em 0 .5em;
	display: inline;
	height: 1em;
	text-transform: lowercase;
	font-size: 91%;
	font-weight: normal;
	white-space: nowrap;
}
.portlet h6 {
	background: #ffae2e;
	border: 1px solid #2f6fab;
	border-style: solid solid none solid;
	padding: 0 1em 0 1em;
	text-transform: lowercase;
	display: block;
	font-size: 1em;
	height: 1.2em;
	font-weight: normal;
	white-space: nowrap;
}
.pBody {
	font-size: 95%;
	background: #F1EFED;
	color: black;
	border-collapse: collapse;
	border: 1px solid #aaa;
	padding: 0 .8em .3em .5em;
}
.portlet h1,
.portlet h2,
.portlet h3,
.portlet h4 {
	margin: 0;
	padding: 0;
}
.portlet ul {
	line-height: 1.5em;
	list-style-type: square;
	list-style-image: url(bullet.gif);
	font-size: 95%;
}
.portlet li {
	padding: 0;
	margin: 0;
}

/*
** Logo properties
*/

/* @media screen, projection { */
	#p-logo {
		top: 0;
		left: 0;
		position: absolute; /*needed to use z-index */
		z-index: 3;
		height: 220px;
		width: 140px;
		overflow: visible;
	}
	#p-logo h5 {
		display: none;
	}
	#p-logo a,
	#p-logo a:hover {
		display: block;
		height: 220px;
		width: 140px;
		background-repeat: no-repeat;
		background-position: 35% 50% !important;
		text-decoration: none;
	}
/* } */
/*
** the navigation portlet
*/

/* @media screen, projection { */
	#p-navigation {
		position: relative;
		z-index: 3;
	}
	#p-navigation a {
		display: block;
	}
	#p-navigation li.active a, #p-navigation li.active a:hover {
		display: inline;
	}
/* } */

#p-navigation .pBody {
	padding-right: 0;
}

#p-navigation li.active a, #p-navigation li.active a:hover {
	text-decoration: none;
	font-weight: bold;
}


/*
** Search portlet
*/
/* @media screen, projection { */
	#p-search {
		position: relative;
		z-index: 3;
	}
/* } */
input.searchButton {
	margin-top: 1px;
	font-size: 95%;
}
#searchGoButton {
	padding-left: .5em;
	padding-right: .5em;
	font-weight: bold;
}
#searchInput {
	width: 10.9em;
	margin: 0;
	font-size: 95%;
}
#p-search .pBody {
	padding: .5em .4em .4em .4em;
	text-align: center;
}

/*
** the personal toolbar
*/
/* @media screen, projection { */
	#p-personal {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
	}
	#p-personal {
		width: 100%;
		white-space: nowrap;
		padding: 0;
		margin: 0;
		border: none;
		background: none;
		overflow: visible;
		line-height: 1.2em;
	}
	#p-personal h5 {
		display: none;
	}
	#p-personal .portlet,
	#p-personal .pBody {
		z-index: 0;
		padding: 0;
		margin: 0;
		border: none;
		overflow: visible;
		background: none;
	}
/* this is the ul contained in the portlet */
	#p-personal ul {
		border: none;
		line-height: 1.4em;
		color: #2f6fab;
		padding: 0 2em 0 3em;
		margin: 0;
		text-align: right;
		list-style: none;
		z-index: 0;
		background: none;
		cursor: default;
	}
	#p-personal li {
		z-index: 0;
		border: none;
		padding: 0;
		display: inline;
		color: #2f6fab;
		margin-left: 1em;
		line-height: 1.2em;
		background: none;
	}
	#p-personal li a {
		text-decoration: none;
		color: #005896;
		padding-bottom: .2em;
		background: none;
	}
	#p-personal li a:hover {
		background-color: white;
		padding-bottom: .2em;
		text-decoration: none;
	}
	#p-personal li.active a:hover {
		background-color: transparent;
	}
	/* the icon in front of the user name, single quotes
	in bg url to hide it from iemac */
	li#pt-userpage,
	li#pt-anonuserpage,
	li#pt-login {
		background: url(user.gif) top left no-repeat;
		padding-left: 20px;
		text-transform: none;
	}
/* } */
#p-personal ul {
	text-transform: lowercase;
}
#p-personal li.active {
	font-weight: bold;
}
/*
** the page-related actions- page/talk, edit etc
*/
/* @media screen, projection { */
	#p-cactions {
		position: absolute;
		top: 1.3em;
		left: 11.5em;
		margin: 0;
		white-space: nowrap;
		width: 76%;
		line-height: 1.1em;
		overflow: visible;
		background: none;
		border-collapse: collapse;
		padding-left: 1em;
		list-style: none;
		font-size: 95%;
	}
	#p-cactions ul {
		list-style: none;
	}
	#p-cactions li {
		display: inline;
		border: 1px solid #aaa;
		border-bottom: none;
		padding: 0 0 .1em 0;
		margin: 0 .3em 0 0;
		overflow: visible;
		background: #F1EFED;
	}
	#p-cactions li.selected {
		border-color: #fabd23;
		padding: 0 0 .2em 0;
		font-weight: bold;
	}
	#p-cactions li a {
		background: #F1EFED;
		color: #002bb8;
		border: none;
		padding: 0 .8em .3em;
		position: relative;
		z-index: 0;
		margin: 0;
		text-decoration: none;
	}
	#p-cactions li.selected a {
		z-index: 3;
		padding: 0 1em .2em!important;
		background: #F1EFED;
	}
	#p-cactions .new a {
		color: #ba0000;
	}
	#p-cactions li a:hover {
		z-index: 3;
		text-decoration: none;
		background: #F1EFED;
	}
	#p-cactions h5 {
		display: none;
	}
	#p-cactions li.istalk {
		margin-right: 0;
	}
	#p-cactions li.istalk a {
		padding-right: .5em;
	}
	#p-cactions #ca-addsection a {
		padding-left: .4em;
		padding-right: .4em;
	}
	/* offsets to distinguish the tab groups */
	li#ca-talk {
		margin-right: 1.6em;
	}
	li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print {
		margin-left: 1.6em;
	}
	#p-cactions .pBody {
		font-size: 1em;
		background-color: transparent;
		color: inherit;
		border-collapse: inherit;
		border: 0;
		padding: 0;
	}
/* } */
#p-cactions .hiddenStructure {
	display: none;
}
#p-cactions li a {
	text-transform: lowercase;
}

/*
** the remaining portlets
*/
/* @media screen, projection { */
	#p-tbx,
	#p-lang {
		position: relative;
		z-index: 3;
	}
/* } */

/* TODO: #t-iscite is only used by the Cite extension, come up with some
 * system which allows extensions to add to this file on the fly
 */
#t-ispermalink, #t-iscite {
	color: #999;
}

/* js pref toc */
#preftoc {
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}
#preftoc li {
	background-color: #f0f0f0;
	color: #000;
}
/* @media screen, projection { */
	#preftoc li {
		margin: 1px -2px 1px 2px;
		float: left;
		padding: 2px 0 3px 0;
		border: 1px solid #fff;
		border-right-color: #716f64;
		border-bottom: 0;
		position: relative;
		white-space: nowrap;
		list-style-type: none;
		list-style-image: none;
		z-index: 3;
	}
/* } */
#preftoc li.selected {
	font-weight: bold;
	background-color: #f9f9f9;
	border: 1px solid #aaa;
	border-bottom: none;
	cursor: default;
	top: 1px;
	padding-top: 2px;
	margin-right: -3px;
}
#preftoc > li.selected {
	top: 2px;
}
#preftoc a,
#preftoc a:active {
	display: block;
	color: #000;
	padding: 0 .7em;
	position: relative;
	text-decoration: none;
}
#preftoc li.selected a {
	cursor: default;
	text-decoration: none;
}
#prefcontrol {
	padding-top: 2em;
	clear: both;
}
#preferences {
	margin: 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em;
	background-color: #F9F9F9;
}
.prefsection {
	border: none;
	padding: 0;
	margin: 0;
}
.prefsection fieldset {
	border: 1px solid #aaa;
	float: left;
	margin-right: 2em;
}
.prefsection legend {
	font-weight: bold;   
}
.prefsection table, .prefsection legend {
	background-color: #F9F9F9;
}
/* @media screen, projection { */
	.mainLegend {
		display: none;
	}
/* } */
div.prefsectiontip {
	font-size: 95%;
	margin-top: 0;
	background-color: #FFC1C1;
	padding: .2em .7em;
	clear: both;
}
.btnSavePrefs {
	font-weight: bold;
	padding-left: .3em;
	padding-right: .3em;
}

.preferences-login {
	clear: both;
	margin-bottom: 1.5em;
}

.prefcache {
	font-size: 90%;
	margin-top: 2em;
}

div#userloginForm form,
div#userlogin form#userlogin2 {
	margin: 0 3em 1em 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em 2em;
	background-color: #f9f9f9;
	float: left;
}

div#userloginForm table,
div#userlogin form#userlogin2 table {
	background-color: #f9f9f9;
}

div#userloginForm h2,
div#userlogin form#userlogin2 h2 {
	padding-top: 0;
}

div#userlogin .captcha {
	border: 1px solid #bbb;
	padding: 1.5em 2em;
	width: 400px;
	background-color: white;
}


#userloginprompt, #languagelinks {
	font-size: 85%;
}

#login-sectiontip {
	font-size: 85%;
	line-height: 1.2;
	padding-top: 2em;
}

#userlogin .loginText, #userlogin .loginPassword {
	width: 12em;
}

#userloginlink a, #wpLoginattempt, #wpCreateaccount {
	font-weight: bold;
}

/* @media screen, projection { */
	/*
	** IE/Mac fixes, hope to find a validating way to move this
	** to a separate stylesheet. This would work but doesn't validate:
	** @import("IEMacFixes.css");
	*/
	/* tabs: border on the a, not the div */
	* > html #p-cactions li { border: none; }
	* > html #p-cactions li a {
		border: 1px solid #aaa;
		border-bottom: none;
	}
	* > html #p-cactions li.selected a { border-color: #fabd23; }

/* } */

/* more IE fixes */
/* float/negative margin brokenness */

* html #column-content {
	display: inline;
	margin-bottom: 0;
}
* html div.editsection { font-size: smaller; }
#pagehistory li.selected { position: relative; }

/* Mac IE 5.0 fix; floated content turns invisible */
* > html #column-content {
	float: none;
}
* > html #column-one {
	position: absolute;
	left: 0;
	top: 0;
}

.redirectText {
	font-size: 150%;
	margin: 5px;
}

.printfooter {
	display: none;
}

.not-patrolled {
	background-color: #ffa;
}
div.patrollink {
	font-size: 75%;
	text-align: right;
}
span.newpage, span.minor, span.searchmatch, span.bot {
	font-weight: bold;
}
span.unpatrolled {
	font-weight: bold;
	color: red;
}

span.searchmatch {
	color: red;
}
.sharedUploadNotice {
	font-style: italic;
}

span.updatedmarker {
	color: black;
	background-color: #0f0;
}

table.gallery {
	border: 1px solid #ccc;
	margin: 2px;
	padding: 2px;
	background-color: white;
}

table.gallery tr {
	vertical-align: top;
}

table.gallery td {
	vertical-align: top;
	background-color: #f9f9f9;
	border: solid 2px white;
}
/* Keep this temporarily so that cached pages will display right */
table.gallery td.galleryheader {
    text-align: center;
	font-weight: bold;
}
table.gallery caption {
	font-weight: bold;
}

div.gallerybox {
	margin: 2px;
}

div.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #ccc;
	margin: 2px;
}

div.gallerytext {
	font-size: 94%;
	padding: 2px 4px;
}

span.comment {
	font-style: italic;
}

span.changedby {
	font-size: 95%;
}

.previewnote {
	text-indent: 3em;
	color: #c00;
	border-bottom: 1px solid #aaa;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.previewnote p {
	margin: 0;
	padding: 0;
}

.editExternally {
	border: 1px solid gray;
	background-color: #ffffff;
	padding: 3px;
	margin-top: 0.5em;
	float: left;
	font-size: small;
	text-align: center;
}
.editExternallyHelp {
	font-style: italic;
	color: gray;
}

li span.deleted, span.history-deleted {
	text-decoration: line-through;
	color: #888;
	font-style: italic;
}

.toggle {
	margin-left: 2em;
	text-indent: -2em;
}

/* Classes for EXIF data display */
table.mw_metadata {
	font-size: 0.8em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 300px;
}

table.mw_metadata caption {
	font-weight: bold;
}

table.mw_metadata th {
	font-weight: normal;
}

table.mw_metadata td {
	padding: 0.1em;
}

table.mw_metadata {
	border: none;
	border-collapse: collapse;
}

table.mw_metadata td, table.mw_metadata th {
	text-align: center;
	border: 1px solid #aaaaaa;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

table.mw_metadata th {
	background-color: #f9f9f9;
}

table.mw_metadata td {
	background-color: #fcfcfc;
}

table.collapsed tr.collapsable {
	display: none;
}


/* filetoc */
ul#filetoc {
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#filetoc li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

input#wpSummary {
	width: 80%;
}

/* @bug 1714 */
input#wpSave, input#wpDiff {
	margin-right: 0.33em;
}

#editform .editOptions {
	display: inline;
}

#wpSave {
	font-weight: bold;
}

/* Classes for article validation */

table.revisionform_default {
	border: 1px solid #000000;
}

table.revisionform_focus {
	border: 1px solid #000000;
	background-color:#00BBFF;
}

tr.revision_tr_default {
	background-color:#EEEEEE;
}

tr.revision_tr_first {
	background-color:#DDDDDD;
}

p.revision_saved {
	color: green;
	font-weight:bold;
}

#mw_trackbacks {
	border: solid 1px #bbbbff;
	background-color: #eeeeff;
	padding: 0.2em;
}


/* Allmessages table */

#allmessagestable th {
	background-color: #b2b2ff;
}

#allmessagestable tr.orig {
	background-color: #ffe2e2;
}

#allmessagestable tr.new {
	background-color: #e2ffe2;
}

#allmessagestable tr.def {
	background-color: #f0f0ff;
}


/* noarticletext */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: .2em 1em;
	color: #000;
}

div#searchTargetContainer {
	left:       10px;
	top:        10px;
	width:      90%;
	background: white;
}

div#searchTarget {
	padding:    3px;
	margin:     5px;
	background: #F0F0F0;
	border:     solid 1px blue;
}

div#searchTarget ul li {
	list-style: none;
}

div#searchTarget ul li:before {
	color: orange;
	content: "\00BB \0020";
}

div.multipageimagenavbox {
   border: solid 1px silver;
   padding: 4px;
   margin: 1em;
   -moz-border-radius: 6px;
   background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
   border: none;
   margin-left: 2em;
   margin-right: 2em;
}

div.multipageimagenavbox hr {
   margin: 6px;
}

table.multipageimage td {
   text-align: center;
}

/** Special:Version */

table#sv-ext, table#sv-hooks {
	margin: 1em;
	padding:0em;
}

#sv-ext td, #sv-hooks td,
#sv-ext th, #sv-hooks th {
	border: 1px solid #A0A0A0;
	padding: 0 0.15em 0 0.15em;
}
#sv-ext th, #sv-hooks th {
	background-color: #F0F0F0;
	color: black;
	padding: 0 0.15em 0 0.15em;
}
tr.sv-space{
	height: 0.8em;
	border:none;
}
tr.sv-space td { display: none; }

/*
  Table pager (e.g. Special:Imagelist)
  - remove underlines from the navigation link
  - collapse borders
  - set the borders to outsets (similar to Special:Allmessages)
  - remove line wrapping for all td and th, set background color
  - restore line wrapping for the last two table cells (description and size)
*/
.TablePager_nav a { text-decoration: none; }
.TablePager { border-collapse: collapse; }
.TablePager, .TablePager td, .TablePager th { 
	border: 1px solid #aaaaaa;
	padding: 0 0.15em 0 0.15em;
}
.TablePager th { background-color: #eeeeff }
.TablePager td { background-color: #ffffff }
.TablePager tr:hover td { background-color: #eeeeff }

.imagelist td, .imagelist th { white-space: nowrap }
.imagelist .TablePager_col_links { background-color: #eeeeff }
.imagelist .TablePager_col_img_description { white-space: normal }
.imagelist th.TablePager_sort { background-color: #ccccff }

.templatesUsed { margin-top: 1.5em; }

.mw-summary-preview {
	margin: 0.1em 0;
}

/* Convenience links on Special:Ipblocklist */
p.mw-ipb-conveniencelinks {
	font-size: 90%;
	float: right;
}

/**
 * Here is some stuff that's ACTUALLY COMMON TO ALL SKINS.
 * When the day comes, it can be moved to a *real* common.css.
 */
.mw-plusminus-null { color: #aaa; }
.texvc { direction: ltr; unicode-bidi: embed; }
/* Stop floats from intruding into edit area in previews */
#toolbar, #wpTextbox1 { clear: both; }

.MediaTransformError {
	background-color: #ccc;
	padding: 0.1em;
}
.MediaTransformError td {
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
}




















p.maintext { padding-left: 30px; }

#title {
	font-size: 28px;
	color: #919070;
	padding-top: 4px;
	padding-bottom: 8px;
}

.title {
	font-size: 28px;
	color: #919070;
	padding-top: 4px;
	padding-bottom: 8px;
}

.pretitle {
	font-size: 18px;
	line-height: 24px;
	color: #666;
}

.posttitle {
	font-size: 18px;
	line-height: 8px;
	color: #666;
}

#statement {
	font-size: 18px;
	line-height: 24px;
	color: #666;
}

#error {
	font-size: 18px;
	line-height: 24px;
	color: #900;
}

.abstract {
	font-size:22px;
	line-height:30px;
	font-style: italic;
	color: #999;
	margin: 11px 14px 14px 14px;
	text-align : left;
}
.maintext {
	font-size:14px;
	line-height:20px;
	margin: 11px 34px 14px 14px;
	text-align : left;
}

.contenttext {
	font-size:14px;
	line-height:20px;
	margin: 11px 54px 54px 54px;
	text-align : left;
}


.hometext {
	font-size:18px;
	line-height:28px;
	margin: 11px 14px 14px 14px;
	text-align : left;
}

.searchtext {
	font-size:16px;
	line-height:28px;
	margin: 11px 60px 14px 14px;
	text-align : left;
	color: #000;
}

.newbook {
	padding: 0px 20px 20px 0px;
	border: 0px solid #666;
	margin-left: 170px;
	margin-right: 225px;
}


.excerpt {
	padding: 0px 20px 20px 20px;
	border: 0px solid #666;
	margin-left: 190px;
}

.quote-left {
	float: left;
}

.quote-right {
	float: right;
}

.summary {
	font-size:14px;
	line-height:20px;
	margin: 11px 0px 14px 0px;
	padding: 10px 0px 6px 14px;
	text-align : left;
	background-color : #fff;
	border-top: 1px solid #cccccc;
/*	border-bottom: 1px solid #cccccc; */
}


.content {
	margin: 11px 14px 14px 0px;
	font-size:14px;
	line-height:20px;
}


.subhead {
	font-size:18px;
	line-height:20px;
	margin: 0px 8px 0px 0px;
	text-align : left;
	color: #633;
}
.attribution {
	color: #666;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}
.indent {
	margin-left: 25px;
}
.indent-user {
	margin-left: 54px;
	color: #000;
}

.arrow-ratings {
	float: left;
}
		
/*LINKS*/
a 					{ color: #A05629; text-decoration: none; }
a:visited 			{ color: #6F320D; text-decoration: none; }	
a:hover 			{ text-decoration: underline; }

a.attentionlink 			{ color: #666; text-decoration: underline; }
a.attentionlink:visited 	{ color: #666; text-decoration: underline; }	
a.attentionlink:hover 		{ text-decoration: underline; }

a.navlink 			{ color: #000; text-decoration: underline; }
a.navlink:visited 	{ color: #000; text-decoration: underline; }	
a.navlink:hover 		{ text-decoration: underline; }

a.selected 			{ color: #669; text-decoration: underline; font-weight: bold }
a.selected:visited 	{ color: #6F320D; text-decoration: underline; font-weight: bold }	
a.selected:hover 		{ text-decoration: underline; font-weight: bold }

a.notselected 			{ color: #999; text-decoration: underline; }
a.notselected:visited 	{ color: #999; text-decoration: underline; }	
a.notselected:hover 		{ text-decoration: underline; }

a.optionlink 			{ color: #669; text-decoration: underline; }
a.optionlink:visited 	{ color: #6F320D; text-decoration: underline; }	
a.optionlink:hover 		{ text-decoration: underline; }

a.datalink 			{ color: #6F320D; text-decoration: underline; }
a.datalink:visited 	{ color: #6F320D; text-decoration: underline; }	
a.datalink:hover 		{ text-decoration: underline; }

a.showall 			{ color: #669; text-decoration: underline; }
a.showall:visited 	{ color: #669; text-decoration: underline; }	
a.showall:hover 		{ text-decoration: underline; }

a.isbnlink 			{ color: #669;  }
a.isbnlink:visited 	{ color: #6F320D;  }	
a.isbnlink:hover 		{ text-decoration: underline; }

a.author 			{ color: #A05629; text-decoration: underline; }
a.author:visited 	{ color: #6F320D; text-decoration: underline; }	
a.author:hover 		{ text-decoration: underline; }

a.review-author 			{ color: #669; text-decoration: underline; }
a.review-author:visited 	{ color: #6F320D; text-decoration: underline; }	
a.review-author:hover 		{ text-decoration: underline; }

a.reviews 			{ color: #A05629; text-decoration: underline; }
a.reviews:visited 	{ color: #6F320D; text-decoration: underline; }	
a.reviews:hover 		{ text-decoration: underline; }

a.white 			{ color: #fff; text-decoration: underline; }
a.white:visited 	{ color: #fff; text-decoration: underline; }	
a.white:hover 		{ text-decoration: underline; }

a.editlink 			{ color: #900; text-decoration: underline;  }
a.editlink:visited 	{ color: #900; text-decoration: underline; }	
a.editlink:hover 		{ text-decoration: underline; }



/*WIDGETS*/
.widgetheader {
	color: #fff;
	background-color: #D2D19E;
	padding: 5px 8px 5px 8px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.widgetsubheader {
	color: #fff;
	background-color: #B0AF82;
	padding: 5px 8px 5px 8px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.widgetlabel {
	color: #919070;
	padding: 8px 8px 4px 8px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	float: left;
}

.navoptiontext {
	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

#widget-databar { 
clear: both;
padding-right: 5px;
padding-top: 5px;
background: #ffffff url(../images/bkg.png) top center repeat-x;
height: 21px;
}

#widget-body { 
clear: both;
background-color: #F9F8D0;
min-height: 300px;
}


#info-body { 
clear: both;
background-color: #F1EFED;
min-height: 300px;
}

.widget-text {
	padding: 20px;
	font-family: georgia, times new roman, times, serif;
	font-size:14px;
}

.tagcloud-text {
	padding: 20px;
	font-family: georgia, times new roman, times, serif;
	font-size:14px;
}

.widgetdata {
	padding: 4px 8px 4px 8px;
}

.widgetbutton {
	padding-top: 3px;
}


/*METADATA*/
.metalabel {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:11px;
	color:#6C6B42;
	padding: 4px 8px 4px 8px;
	white-space: nowrap;
	text-align: right;
}

.browselabel {
/*	font-family: verdana, arial, helvetica, sans-serif;
	font-size:11px;
	color:#6C6B42;  */
	background-color: #ffffff; 
	padding: 4px 8px 4px 8px;
	text-align: right;
}

p.metadata {
	color: #000000;
	padding: 2px 8px 2px 8px;
	margin-right: 20px;
}

.metadata {
	font-size:12px;
	color: #000000;
	padding: 2px 8px 2px 8px;
	font-family: georgia, times new roman, times, serif;	
}

.metahead {
	color: #6C6B42;
	font-weight: bold;
}

.metaentry {
	padding-right: 6px;
}

#metadata {
	background-color: #fff;
	border-top: 1px solid #F1EFED;
	border-bottom: 1px solid #BEBE7C;
	padding: 0px 40px 12px 60px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
/*	float: right;
	width: 200px;  */
	margin-right: 0px; 
	margin-left: 0px; 
	clear: left;
	min-height: 90px;
}

#footnotes {
	background-color: #fff;
	border-top: 1px solid #ccc;  
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
/*	float: right;
	width: 200px;  */
	margin: 11px 14px 14px 14px;
	min-height: 90px;
}




/*CONTAINMENT STYLES*/

#contentwrapper{
	min-width: 650px;
}

#contentcolumn{
margin-right: 0px; /*Set right margin to RightColumnWidth*/
clear: both;
}


#add-cover {
	position: relative;
	top: 80px;
	left: 38px;
	width: 103px;
	height: 100px;
		border: 1px solid #ccc;  
			background-color: #F7FAEB;
}

#book {
	margin-left: -20px;
	height: 275px;
}

#book-art {
	width: 205px;
	height: 325px;
	text-align: center;
	float: left;
	padding-top: 21px;
	padding-left: 13px;
	background: #fff url(../images/front.page.png) top center no-repeat;	
}

#book-art-home {
	width: 205px;
	height: 285px;
	text-align: center;
	float: left;
	padding-top: 27px;
	padding-left: 18px;
	background: #fff url(../images/front.page.png) top center no-repeat;	
}

#insignia {
	width: 275px;
	height: 325px;
	text-align: center;
	float: left;
	padding-top: 27px;
	padding-left: 18px;
	background: #fff url(../images/insignia.png) top center no-repeat;	
}

#book-details {
	position: relative;
	top: 130px;
	left: 0px;
	width: 275px;
	text-align: center;
	padding-top: 37px;
	font-family: georgia;
	font-size: 14px;
	color: #999;
}

#book-details-oln {
	position: relative;
margin-top: -40px;
margin-left: -45px;
	left: 0px;
	width: 275px;
	text-align: center;
	padding-top: 37px;
	font-family: georgia;
	font-size: 14px;
	color: #999;
}

#author-details {
	position: relative;
	left: 0px;
/*	top: 250px; */
	width: 275px;
	text-align: center;
/*	padding-top: 27px;  */
	padding-top: 10px;  
	font-family: georgia;
	font-size: 14px;
	line-height: 22px;
	color: #999;
}

.brown
	{ 
	color: #625E25;
	font-weight: bold;
	}

.book-details-italic
	{ font-style: italic;
	  padding: 0px 10px 0px 10px;
	  	font-family: georgia;
	font-size: 14px;
	color: #999;

	}

#viewthisbook { 
position: relative;
top: 169px;
left: -13px;
z-index: 1000px;
	  	font-family: georgia;
	font-size: 14px;
	color: #999;
}

#viewthisbook-oln { 
position: relative;
margin-left: -20px;
top: 5px;
left: 0px;
}


#author-photo { 
position: relative;
/* top: 169px; */
top: 5px;
left: 0px;
}

#content-left {
	width: 300px;
	float: left;
	padding-left: 20px;
}

#content-right {
	margin-right: 0px;
	margin-left: 40px;
/*	min-height: 380px; */
}

#content-oca {
	margin-right: 40px;
	margin-left: 40px;
	min-height: 380px;
	font-size: 13px;
}


#full-page-text {
	margin-right: 300px;
	margin-left: 40px;
	float: left;
	border: 1px solid #666;
}

#content-home {
	margin-right: 40px;
	margin-left: 40px;
}


#content-bottom {
	margin-right: 40px;
	margin-left: 40px;
	clear: left;
}

#content-fullpage {
	margin-right: 40px;
	margin-left: 40px;
	clear: left;
}

#content-form {
	clear: both;
}

#upload-form {
	clear: both;
	position: absolute;
	top: 354px;
	left: 0px;
}

#bibliography {
	clear: both;
}

#rightcolumn{
float: left;
width: 0px; /*Width of right column in pixels*/
height: 1300px;
margin-left: -0px; /*Set left margin to -(RightColumnWidth) */
background: #F9F8D0 url(../art/beige.jpg) top center repeat-y;
border-left: 1px solid #919070;
z-index: 10000;
}

#footer{
clear: both;
color: #FFF;
padding: 4px 0px 4px 10px;
background: #625E25;
height: 17px;
}

#toolbar { 
background: #625E25;
color: #FFF;
padding: 4px 0px 4px 10px;
height: 17px;
}


#databar-top { 
	clear: both;
	padding-right: 8px;
	background-color: #F1EFED;
	height: 28px;
	border-bottom: 1px solid #fff;
}

#databar-bottom { 
	clear: both;
	padding-right: 8px;
	background-color: #F1EFED;
	height: 28px;
	border-bottom: 1px solid #BEBE7C;
}

#databar { 
	clear: both;
	padding-right: 8px;
	background-color: #F1EFED;
	height: 28px;
	border-bottom: 1px solid #BEBE7C;
}

#header { 
padding: 20px 0px 10px 20px;
}

#header-fullpage { 
padding: 20px 0px 20px 30px;
}


#result-container { 
padding: 0px 0px 10px 30px;
}

.info { 
padding: 4px 5px 0px 0px;
float: left;
}


#toc{
  float:right;
  padding: 0px 20px 0px 0px;
  width: 160px;
  margin: 10px 0px 10px 30px;
  height: 370px;
  border-left: 1px solid #ccc;
  background-color: #F9F8D0;
}

#nav{
  float:right;
  padding: 0px 20px 0px 0px;
  width: 200px;
  margin: 10px 0px 30px 30px;
/*  min-height: 370px; */
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
/*	text-align: center   */
}


.navouter{
  background-color: #F9F8D0;
  width: 164px;
  margin-left: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.navouter-biblio{
  background-color: #F9F8D0;
  width: 164px;
  margin-left: 18px;
}

.navinner{
  background-color: #ffffff;
  width: 164px;
}


.navtext{
  padding-left: 10px;
  padding-right: 10px;
/*	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;  */
}

td.optionlink{
  padding-right: 4px;
  text-align: right
}

#options{
  width: 200px;
  min-height: 290px;
  margin: 0px 10px 10px 10px;
  background-color: #F9F8D0;
}

#options-biblio{
  width: 200px;
  min-height: 290px;
  margin: 0px 10px 10px 10px;
  background-color: #F9F8D0;
  float: right;
}

#biblio-results {
  width: 600px;
  min-height: 290px;
  margin: 0px 10px 10px 10px;
  float: left;
}


.navlinks{
  float:right;
  padding-right: 20px;
}

.logotype{
  float:left;
  font-weight: bold;
}

.related { 
padding: 4px 20px 4px 20px;
}


li {
/*	list-style: none;  */
}




#browsebooks  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }
#tableofcontents  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }	
#pricecheck  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }	
#metadatalayer  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }	
#scanthisbook  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }		
#searchlayer  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }			
#tagcloud  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }				
	
	



#browse-related {
	padding-top: 8px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: 2px solid #fff;
}

#browse-rule {
border-top: 1px solid #ccc;

}

#form-border {
border: 1px solid #ccc;
padding: 10px;
margin: 10px 30px 30px 30px;
}

#browse-body { 
clear: both;
background-color: #F9F8D0;
min-height: 300px;
margin: 10px;
padding: 10px;
}

#biblio-form-body { 
clear: both;
background-color: #F9F8D0;
padding: 20px 30px 20px 30px;
margin-top: 10px;
/* width: 670px; */
}

#form-body { 
clear: both;
background-color: #F9F8D0;
padding: 20px 30px 20px 30px;
margin-top: 10px;
}

#metadata-body { 
clear: both;
background-color: #F9F8D0;
padding: 20px 30px 20px 30px;
}

td.button { padding-left: 2px; }
td.delete { padding: 2px 4px 2px 4px; background-color: #eeeeee; border-bottom: 1px solid #ffffff }






.navinner-search {
  background-color: #ffffff;
  width: 144px;
  padding: 10px;
}
.refinesearch { font-weight: bold }
.refineindent { padding-left: 15px; }


.attention { color: #666; background-color: #eee; border: 1px solid #ccc; padding: 10px; max-width: 390px; }

.history { height: 24px; font-size: 12px; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; white-space: nowrap }
.compare { height: 24px; font-size: 12px; padding-left: 2px; padding-right: 2px; border-bottom: 1px solid #fff; border-right: 1px solid #fff; }
.comment { height: 24px; font-size: 12px; padding-left: 24px; padding-right: 2px; border-bottom: 1px solid #fff; color: #919070; }

.historyheader { height: 24px; font-size: 12px; font-weight: bold; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; }

.number { padding-left: 12px; padding-right: 9px; height: 24px; width: 24px; font-size: 12px; text-align: right; font-weight: bold; border-bottom: 1px solid #fff;   border-right: 1px solid #fff; color: #919070 }
.numberhead { padding-left: 12px; padding-right: 9px; height: 24px; width: 24px; font-size: 12px; text-align: center; font-weight: bold; border-bottom: 1px solid #fff; }

.search {
	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
}


.simplesearch {
	float: right;
	height: 28px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

.edit {
	padding-left: 8px;
	padding-top: 3px;
	float: left;
}

#tempmetadata {
	padding-top: 12px;
	font-style: italic;
	height: 24px;
	margin-bottom: -6px;
}

.tempmetatitle {
	float: left;
	padding-right: 3px;
}


input { 
	font-family: georgia, times new roman, times, serif;
	font-size: 12px;
}

select, option, textarea { 	
	font-family: georgia, times new roman, times, serif;
	font-size: 12px;
	}
	
.login-message { padding-left: 20px; padding-right: 150px; }	

.book { margin-left: 70px; float: right; width: 300px; text-align: right; border: 0px solid #666 }
.book-temp { margin-left: 70px; float: right; width: 300px; text-align: right; padding-right: 1px; border: 0px solid #666 }

#oca_edit {
	position: absolute;
	top: 130px;
	left: 50px;
	z-index: 1000;
	padding-left: 6px;
}
#mag {
	position: absolute;
	top: 120px;
	left: 50px;
	z-index: 1000;
	padding-left: 6px;
}
#mag-icon-on {
	position: relative;
	top: 0px;
	left: 0px;	
	padding-left: 6px;
}
#mag-icon-off {
	position: relative;
	top: 0px;
	left: 0px;	
	z-index: 1000;
	padding-left: 6px;
}

#page-nav {
	float: right;
	z-index: 1000;
	padding-left: 6px;
}


#edit-button {
	z-index: 1000;
	position: absolute;
	top: 92px;
	left: 60px;		
}


#save-button {
	z-index: 1000;
	position: absolute;
	top: 92px;
	left: 60px;		
}

#hide_me {}

.note { background-color: #900; color: #fff; padding-left: 4px; padding-right: 4px;}

.edited { background-color: #ccc; color: #000; padding-left: 4px; padding-right: 4px;}

.result-text-home {
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: #919070;
	font-size: 16px;
	line-height: 20px;
}

.result-item-user {
	border-top: 1px solid #ccc;
	border-bottom: 0px solid #ccc; 
	padding: 6px 10px 6px 10px;
	color: #000;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
	clear: left;
}


a.advancedsearch 			{ color: #999; text-decoration: underline; }
a.advancedsearch:visited 	{ color: #999; text-decoration: underline; }	
a.advancedsearch:hover 		{ text-decoration: underline; }

.formnote { padding-left: 0px; }

#coverbelt {
	border: 1px solid #ccc;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: #919070;
	font-size: 13px;
	line-height: 20px;
	background-color: #f8f8f8;
	margin-left: 250px;
}

#login-form {
  padding: 20px;
  background-color: #F7FAEB;
  min-height: 200px;
}

.login-text {
	font-size: 13px;
	line-height: 18px;
}

#login-openid-form {
  padding: 20px;
  background-color: #F9F8D0;
  min-height: 200px;
}

#login-form-border {
border: 1px solid #ccc;
padding: 10px;
}

#header-view { padding-bottom: 10px; }

.thumbnail-cs { padding-bottom: 10px; border-top: 1px solid #ccc; }

td {color: #000}



/*SEARCH RESULTS ELEMENTS*/

a.result 			{ font-size: 18px; color: #669; }
a.result:visited 	{ font-size: 18px; color: #6F320D; }	
a.result:hover 		{ font-size: 18px; }

a.resultlink 			{ color: #919070; text-decoration: underline; }
a.resultlink:visited 	{ color: #919070; text-decoration: underline; }	
a.resultlink:hover 		{ text-decoration: underline; }

a.editionlink 			{ color: #625E25; text-decoration: underline; font-size: 11px; }
a.editionlink:visited 	{ color: #625E25; text-decoration: underline; font-size: 11px;  }	
a.editionlink:hover 		{ text-decoration: underline; font-size: 11px;  }


a.fulltext 			{ color: #625E25; text-decoration: underline; font-size: 11px; }
a.fulltext:visited 	{ color: #625E25; text-decoration: underline; font-size: 11px;  }	
a.fulltext:hover 		{ text-decoration: underline; font-size: 11px;  }


.result-text {
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
}


.result-small { 
	margin-left: 10px; 
	margin-top: 2px; 
	line-height: 20px;
	}


.arrow-search {
	padding-right: 14px;
}

.search {
	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

#search-results {
	margin-right: 0px;
	margin-left: 40px;
	float: left;
	width: 900px;
}

#search-nav{
  float:right;
  padding: 0px 20px 0px 0px;
  width: 200px;
  margin: 10px 0px 10px 30px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}

#search-form{
  padding: 10px 0px 0px 0px;
  margin: 10px 0px 10px 30px;
  min-height: 370px;
  width: 92%;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

#search-form-center{
  margin: 0px 260px 10px 220px;
  padding: 20px;
  background-color: #F7FAEB;
}


#search-form-right{
  margin: 0px 10px 10px 0px;
  background-color: #F9F8D0;
  float: right;
  position: absolute;
  top: 143px;
  left: 790px;
  height: 529px;  
}

.search-form-title{
	white-space: nowrap;
	text-align: right;
	color: #919070;
	font-size: 14px;
}

.search-form-result{
	white-space: nowrap;
	color: #919070;
	font-size: 14px;
	}
	
.pagination { 	border-top: 1px solid #ccc;  margin-bottom: 0px; 	background-color: #fff; }

.paginate { 
	padding-right: 5px;
	padding-top: 4px;
	color: #999;
	height: 20px;
}

.moreresults{
	text-align: right;
	padding-left: 0px;
	padding-right: 13px;
	padding-top: 4px;
	color: #666;
	float: left;
	width: 100px; 
	}

.number{
	text-align: right;
	padding-right: 10px;
	color: #666;
	float: left;
	width: 15px;
}


.result-item {
	border-bottom: 1px solid #ccc;  
/*	border-bottom: 1px solid #ccc; */
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
	clear: left;
}

.result-item-fulltext {
/*	border-top: 1px solid #ccc;  */
/*	border-bottom: 1px solid #ccc; */
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
	clear: left;
}

.result-item-author {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ccc; 
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
}

.result-item-author-top {
	border-bottom: 1px solid #fff;
	padding: 0px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
}

.result-selected {
	border: 1px solid #ccc;
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	background-color: #f8f8f8;
	min-height: 62px;
}

.cover {
	float: left;
	height: 60px;	
/*	text-align: center  */
	padding-right: 12px;
	}

.bookmark {
	float: left;
	width: 20px;
	height: 60px;	
/*	text-align: center  */
	}

.bookmarks { padding-bottom: 6px; padding-left: 22px; padding-top: 3px; color: #000; line-height: 16px; background-color: #eee; 	border-top: 1px solid #ccc;  }

.expand{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 40px 6px 90px;
	margin-bottom: 9px;
	color: #919070;
	font-size: 14px;
	line-height: 18px;
	background-color: #F7FAEB;
}


.slider{
	background: #ffffff url(../buttons/slider.png) top center no-repeat;
	width: 20px;
}
	


#search-options{
  width: 200px;
  min-height: 370px;
  margin: 0px 10px 10px 10px;
  background-color: #F9F8D0;
  float: left;
  height: 529px;  
}

#navinner-search {
  background-color: #ffffff;
  width: 144px;
  padding: 10px;
}

#fulltext-search {
  background-color: #ffffff;
  width: 344px;
  padding: 10px;
}

.searchterm { background-color: #ffc;  color: #6F320D; }
.searchterm-oca { background-color: #6F320D;  color: #fff; padding-left: 3px; padding-right: 3px; }

.refinesearch { font-weight: bold }
.refineindent { padding-left: 15px; line-height: 16px; }
.editions { padding-top: 6px; padding-bottom: 6px; }

.go-button { padding-top: 4px; padding-left: 4px; }
.simple-search-form { padding-top: 4px; padding-right: 8px; float:left; }

#user-header{
  padding: 5px;
  background-color: #F7FAEB;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}






th { text-align: right; padding: 6px; }

textarea { width: 100%; height: 600px; margin-top: 20px; }

p { margin-right: 40px; }

#violator { position: absolute; top: 25px; left: 0px; z-index: 100000 } 

.attention { font-size: 14px; line-height: 20px; color: #666; background-color: #fff; border: 1px solid #fff; padding: 10px; max-width: 410px; margin-left: 223px; margin-bottom: 10px; font-style: italic; }
.attention-fullpage { font-size: 14px; line-height: 20px; color: #666; background-color: #f8f8f8; border-bottom: 1px solid #ccc; padding: 10px 25px 10px 25px; font-style: italic; padding-left: 10px; }

button { border: 0; background-color: transparent; padding: 4px 0 0 0; 	font-family: georgia, times new roman, times, serif; font-size:12px; } 


button.go:hover { background-color: #6F320D; color: #fff; }
button.alert:hover { background-color: #6F320D; color: #fff; }
button.edition:hover { background-color: #6F320D; color: #fff; }
button.edit-delete:hover { background-color: #6F320D; color: #fff; }

	button.go { 
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			height: 26px;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
			}
	button.go-small { 
			background-color: #fff; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
			}			
	.fulltext { float: right;
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
			}			
	.editbutton { 
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
			}			
	button.alert { 
			background-color: #fff; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #919070;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			height: 26px;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
			}
	button.edition { 
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			height: 2.25em;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
			}

	button.edit { 
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			height: 26px;
			margin: 0px 6px 0px 0px;
			padding: 0px 4px 0px 4px;
			}
	button.edit-delete { 
			background-color: #F9F8D0; border: 1px solid #B9B7A1;
			font-family: georgia; font-size: 12px; color: #6F320D;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .05em;
			height: 26px;
			margin: 0px 0px 0px 0px;
			padding: 0px 4px 0px 4px;
			}