$def with (classes='')

<ul class="locale-options $classes">
  <li><a href="#" lang="cs" data-lang-id="cs" title="$_('Czech')">Čeština (cs)</a></li>
  <li><a href="#" lang="de" data-lang-id="de" title="$_('German')">Deutsch (de)</a></li>
  <li><a href="#" lang="en" data-lang-id="en" title="$_('English')">English (en)</a></li>
  <li><a href="#" lang="es" data-lang-id="es" title="$_('Spanish')">Español (es)</a></li>
  <li><a href="#" lang="fr" data-lang-id="fr" title="$_('French')">Français (fr)</a></li>
  <li><a href="#" lang="hr" data-lang-id="hr" title="$_('Croatian')">Hrvatski (hr)</a></li>
  <li><a href="#" lang="te" data-lang-id="te" title="$_('Telugu')">తెలుగు (te)</a></li>
  <li><a href="#" lang="uk" data-lang-id="uk" title="$_('Ukrainian')">Українська (uk)</a></li>
  <li><a href="#" lang="zh" data-lang-id="zh" title="$_('Chinese')">中文 (zh)</a></li>
</ul>
