$def with (lst, edit=False)
$putctx('cssfile', 'list-edit')
$var title: $(_("Create a list") if not edit else _("Editing list: %(list_name)s", list_name=lst.name))

$putctx("robots", "noindex,nofollow")

<div id="contentHead">
    $:macros.databarEdit(lst)
    <h1>$(_("Edit List") if edit else _("Create a list"))</h1>
</div>

$# Render the ith seed input field
$jsdef render_seed_field(i, seed):
    <li class="mia__input ac-input">
        <div class="seed--controls">
            <div class="mia__reorder mia__index">≡ #$(i + 1)</div>
            <button class="mia__remove" href="javascript:;">Remove</button>
        </div>
        <main>
            <input class="ac-input__value" name="seeds--$i--key" type="hidden" value="$seed['key']" />
            $# Displayed
            <input
                class="ac-input__visible"
                value="$seed['key'].split('/')[-1]"
                placeholder="$_('Search for a book')"
                $if seed['key']:
                    type="hidden"
            />
            <div class="ac-input__preview">
                $if seed['key'] and seed['key'].split('/')[1] == 'works' or seed['key'].split('/')[1] == 'books':
                    $:lazy_thing_preview(seed['key'], 'render_work_autocomplete_item')
                $else:
                    $seed['key']
            </div>
        </main>
    </li>

$jsdef render_work_autocomplete_item(work):
    $if work:
        <div class="ac_work" title="Select this work">
            <div class="cover">
                $if work['cover_i']:
                    <img
                        src="https://covers.openlibrary.org/b/id/$(work['cover_i'])-M.jpg"
                        alt="$_('Cover of: %(title)s', title=work['title'])"
                        loading="lazy"
                    >
            </div>
            <span class="olid">$work['key']</span>
            <span class="name">
                <span class="title">$work['full_title']</span>
                $if 'first_publish_year' in work:
                    <span class="first_publish_year">($work['first_publish_year'])</span>
            </span>
            <span class="byline">
                $if work['author_name']:
                    $_('by') <span class="authors">${', '.join(work['author_name'])}</span>
            </span>
            &bull;
            $if work['edition_count'] == 1:
                <span class="edition_count">$work['edition_count'] edition</span>
            $else:
                <span class="edition_count">$work['edition_count'] editions</span>
            <div class="clear"></div>
        </div>


$jsdef lazy_thing_preview(key, render_fn_name):
    <div class="lazy-thing-preview" data-key="$key" data-render-fn="$render_fn_name">
        $code:
            fake_item = {
                'key': key,
                'title': '...',
                'full_title': '...',
                'author_name': ['...'],
                'edition_count': '_',
                'cover_i': None,
             }
        $:render_work_autocomplete_item(fake_item)
    </div>

<div id="contentBody">
    <form method="post" id="list-edit" class="olform" $:cond(query_param('debug'), 'action="?debug=true"')>
        $if edit:
            <input
                required
                type="hidden"
                name="key"
                value="$lst.key"
            />

        <input
            required
            placeholder="$_('List Name')"
            name="name"
            value="$lst.name"
        />

        <div>
            <textarea
                placeholder="$_('Description (optional)')"
                class="markdown"
                name="description"
                rows="3" cols="30"
            >$lst.description</textarea>
        </div>

        <hr />

        <ol class="list-edit__items multi-input-autocomplete--seeds">
            $if lst.seeds:
                $for i, seed in enumerate(lst.seeds):
                    $if isinstance(seed, str):
                        $ seed = {'key': '/subjects/' + seed}
                    $:render_seed_field(i, seed)
            $else:
                $:render_seed_field(0, {'key': ''})
            <a href="javascript:;" class="mia__add">$_('Add another book')</a>
        </ol>

        <hr />

        <div class="formElement bottom">
            $if edit:
                $:macros.EditButtons(comment=lst.comment_)
            $else:
            <button type="submit" class="larger">$_('Create new list')</button>
        </div>
    </form>
</div>
