$def with (list, is_owner)

$ title = list.name
$ title_with_site = _("%(name)s | Lists | Open Library", name=title)

$ component_times = {}
$ component_times['TotalTime'] = time()

$ page = safeint(query_param('page'), 1) - 1
$ page_size = 50
$ meta_description = title
$if list.description:
    $ meta_description = _("%(title)s: %(description)s", title=title, description=list.description)

$putctx("description", meta_description)
$if days_since(list.created) < 30:
    $ putctx('robots', 'noindex')

$add_metatag(property="twitter:card", content="summary_large_image")
$add_metatag(property="twitter:site", content="@openlibrary")
$add_metatag(property="twitter:title", content=title_with_site)
$add_metatag(property="twitter:description", content= _("View the list on Open Library."))
$add_metatag(property="twitter:image", content=request.canonical_url + "/preview.png")

$add_metatag(property="og:title", content=title_with_site)
$add_metatag(property="og:type", content="website")
$add_metatag(property="og:url", content=request.canonical_url)
$add_metatag(property="og:site_name", content="Open Library")
$add_metatag(property="og:description", content=meta_description)
$add_metatag(property="og:image", content=request.canonical_url + "/preview.png")

$set_share_links(url=request.canonical_url, title=title, view_context=ctx)

$jsdef render_seed_count(seed_count):
    $ungettext("1 item", "%(count)d items", seed_count, count=seed_count)

$if not is_owner:
    <div id="contentHead" style="margin-bottom:0;">
        $:macros.databarView(list)
        <div class="superNav">
            $ owner = list.get_owner()
            <a href="$owner.key">$owner.displayname</a>
            /
            <a href="$owner.key/lists">$_('Lists')</a>
        </div>
        <h1>$list.name</h1>
        <p class="collapse sansserif">
            $ component_times['render_seed_count'] = time()
            <span class="darkgreen" id="list-items-count"><strong>$:render_seed_count(len(list.seeds))</strong></span>
            $ component_times['render_seed_count'] = time() - component_times['render_seed_count']
        </p>
    </div>

<script type="text/javascript">
<!--
window.q.push(function(){
    \$('ul#listResults li:last').css('border-bottom','1px dotted #ebebeb');
});

function remove_seed(list_key, seed, success) {
    if (seed[0] == "/") {
        seed = {"key": seed}
    }

    \$.ajax({
        type: "POST",
        url: list_key + "/seeds.json",
        contentType: "application/json",
        data: JSON.stringify({
            "remove": [seed]
        }),
        dataType: "json",

        beforeSend: function(xhr) {
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("Accept", "application/json");
        },
        success: success
    });
}

function get_seed_count() {
    return \$("ul#listResults").children().length;
}

window.q.push(function(){
    \$(".listDelete a").on('click', function() {
        if (get_seed_count() > 1) {
            \$("#remove-seed-dialog")
                .data("seed-key", \$(this).closest("[data-seed-key]").data('seed-key'))
                .dialog("open");
            \$("#remove-seed-dialog").removeClass('hidden');
        }
        else {
            \$("#delete-list-dialog").dialog("open");
            \$("#delete-list-dialog").removeClass('hidden');
        }

    });

    \$("#remove-seed-dialog").dialog({
        autoOpen: false,
        width: 400,
        modal: true,
        resizable: false,
        buttons: {
            "$:_('Yes, I\'m sure')": function() {
                var list_key = $:json_encode(list.key);
                var seed_key = \$(this).data("seed-key");

                var _this = this;

                remove_seed(list_key, seed_key, function() {
                    \$(`[data-seed-key="\${seed_key}"]`).remove();
                    // update seed count
                    \$("#list-items-count").load(location.href + " #list-items-count");

                    // TODO: update edition count

                    \$(_this).dialog("close");
                    \$("#remove-seed-dialog").addClass('hidden');
                });
            },
            "$_('No, cancel')": function() {
                \$(this).dialog("close");
                \$("#remove-seed-dialog").addClass('hidden');
            }
        }
    });

    \$("#delete-list-dialog").dialog({
        autoOpen: false,
        width: 400,
        modal: true,
        resizable: false,
        buttons: {
            "$:_('Yes, I\'m sure')": function() {
                var list_key = $:json_encode(list.key);
                var _this = this;

                \$.post(list_key + "/delete.json", function() {
                    \$(_this).dialog("close");
                    window.location.reload();
                });
            },
            "$_('No, cancel')": function() {
                \$(this).dialog("close");
            }
        }
    });
});

//-->
</script>

$def remove_item_link():
    $if ctx.user and ctx.user.key == list.get_owner().key:
        <span class="listDelete sansserif smaller">
            <a href="javascript:;"><span></span>$_('Remove this item?')</a>
        </span>

$def seed_meta_line(seed):
    <span class="meta">
        <!-- FIXME: I18N using internal seed.type directly for display is not internationalizable -->
        <span class="type small">$seed.type</span>
    </span>

    $if seed.last_update:
        <span class="time">
            $:_('Last updated <span>%(date)s</span>', date=datestr(seed.last_update))
        </span>

$def seed_attrs(seed):
    data-seed-key="$seed.key"

<div id="contentBody">
    <div id="remove-seed-dialog" class="hidden" title="$_('Remove seed')">$_('Are you sure you want to remove this item from the list?')</div>
    <div id="delete-list-dialog" class="hidden" title="$_('Remove Seed')">
        $_('You are about to remove the last item in the list. That will delete the whole list. Are you sure you want to continue?')
    </div>

    $def render_authors(authors):
        $if not authors:
            <em>$_('Unknown authors')</em>
        $else:
            $for a in authors:
                <a href="$a.url()" class="results">$a.name</a>$cond(loop.last, "", ", ")

    <div class="mybooks-list">

        $if list.description:
            $:format(list.description)

        <ul id="listResults" class="list-books clearfix">
            $ component_times['get_seeds'] = time()
            $ seeds = list.get_seeds(sort=True, resolve_redirects=True)[page*page_size:page*page_size+page_size]
            $ component_times['get_seeds'] = time() - component_times['get_seeds']

        $ solr_works = get_solr_works(s.key for s in seeds if s.type == 'work')
        $ availabilities = get_availabilities([solr_works.get(seed.key) or seed.document for seed in seeds if seed.type in ['edition', 'work']])
        $for seed in seeds:
            $ default_image = "https://openlibrary.org/images/icons/avatar_book-sm.png"
            $ cover = seed.get_cover()
            $if cover:
                $ cover_url = item_image(cover.url("M"), default=default_image)
            $else:
                $ cover_url = default_image

            $if seed.type in ['edition', 'work']:
                $ doc = solr_works.get(seed.key) or seed.document
                $:macros.SearchResultsWork(doc, attrs=seed_attrs(seed), availability=availabilities.get(seed.key), decorations=remove_item_link(), extra=seed_meta_line(seed))
            $else:
                <li class="searchResultItem" $:seed_attrs(seed)>
                    <span class="bookcover">
                        <a href="$seed.url">
                        <img src="$cover_url" alt="$seed.title"/>
                        </a>
                    </span>
                    <div class="details">
                        <div class="resultTitle">
                            <h3 class="booktitle">
                                <a href="$seed.url" class="results">$seed.title</a>
                            </h3>
                            $:seed_meta_line(seed)
                        </div>
                    </div>
                    <span class="searchResultItemCTA">
                        $:remove_item_link()
                    </span>
                </li>
        </ul>
    </div>

    <div class="contentOnethird" style="margin-bottom:0;">

        $:render_template("type/list/exports", list)

        $# This is making lists slow, and often the solr request times out,
        $# so nothing is even rendered. Remove for now, investigate whether
        $# we want to keep or improve later.
        $if False:
            <h2 class="collapse">$_('List Metadata')</h2>
            <div class="smaller lightgreen sansserif">$_('Derived from seed metadata')</div>
            <br/>

            $def render_subjects(label, subjects):
                $if subjects:
                    <div class="section">
                        <h3 class="collapse black uppercase">$label</h3>
                        <div class="sansserif">
                        $for subject in subjects:
                            <a href="$subject.url">$subject.title</a>$cond(not loop.last, ",", "")
                        </div>
                    </div>

            $ subjects = list.get_subjects()

            $:render_subjects(_("Subjects"), subjects.subjects)
            $:render_subjects(_("People"), subjects.people)
            $:render_subjects(_("Places"), subjects.places)
            $:render_subjects(_("Times"), subjects.times)
    </div>

    <div class="clearfix"></div>

    $:macros.Pager(page+1, len(list.seeds), page_size)
    $ component_times['TotalTime'] = time() - component_times['TotalTime']
    $if query_param('debug'):
        $:macros.Profile(component_times)

    $:render_template("lib/history", list)
</div>
