[Unit]
Description=Infobase server running at port 7000

[Service]
Type=simple
User=vagrant
WorkingDirectory=/openlibrary
Environment=PYTHONPATH=/openlibrary/conf
ExecStart=/usr/bin/python scripts/infobase-server conf/infobase.yml 7000
Restart=on-failure

[Install]
WantedBy=multi-user.target
