[Unit]
Description=Solr updater
StartLimitInterval=5
StartLimitBurst=10

[Service]
Type=simple
User=vagrant
WorkingDirectory=/openlibrary
ExecStart=/usr/bin/python scripts/new-solr-updater.py \
  -c conf/openlibrary.yml \
  --state-file solr-update.offset \
  --ol-url http://localhost/
Restart=on-failure

[Install]
WantedBy=multi-user.target
