[Unit]
Description=Open Library gunicorn server running at port 8080

[Service]
Type=simple
User=vagrant
WorkingDirectory=/openlibrary
ExecStart=/usr/bin/python scripts/openlibrary-server conf/openlibrary.yml --gunicorn -w4 -t180 -b:8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
