$def with (change)

<div id="contentHead">
    $:render_template("recentchanges/header", change, label="Author Merge")
</div>

$ master = change.get_master()

<div id="contentBody">
    $if change.get_undo_changeset():
        <p class="alert">This merge has been undone. <a href="$change.get_undo_changeset().url()">Details here</a>.</p>

    <div id="mergeHead" class="sansserif">
        <div class="smallest lightgreen">Master</div>
        
        <div id="recordMaster">
            <span id="recordMasterTitle" class="larger">
                <strong><a href="$master.key">$master.name</a></strong>
            </span>
            <span id="recordMasterDate" class="smaller">
                $if master.birth_date or master.death_date:
                    $if master.birth_date and master.death_date:
                        ($master.birth_date - $master.death_date)
                    $elif master.birth_date:
                        ($master.birth_date - )
                    $else:
                        ( - $master.death_date)
            </span>

        </div>
        
        <div class="smallest lightgreen">Duplicates</div>
        <div id="recordDuplicates">
            <p class="small collapse">
                $for dup in change.get_duplicates():
                    $dup.name;
            </p>
        </div>

        <p class="smallest gray sansserif">$len(change.changes) records modified.</p>
    </div>
    
    <h3>Updated Records</h3>
    $:render_template("recentchanges/updated_records", change)
</div>