{#
  NOTE: This template conversion assumes that helper functions like `_`, `ungettext`,
  `item_image`, `add_metatag`, `get_remembered_layout`, etc., are available in the Jinja2 context.
  The `page` object and other variables are expected to be passed into `render_template`.
#}

{# Most authors are people, so only use org in the exceptional case that the record explicitly is labelled as such. #}
{% if page.entity_type == 'org' %}
    {% set entityTypeSchema = "https://schema.org/Organization" %}
{% else %}
    {% set entityTypeSchema = "https://schema.org/Person" %}
{% endif %}

{#
  In a real-world scenario, the following body attributes would likely be set in a base template, e.g.,
  <body itemscope itemtype="{{ entityTypeSchema }}">
#}

{% set title = page.get('name', _('name missing')) %}
{% set title_with_site = _("%(page_title)s | Open Library", page_title=title) %}

{# Assumes a block named 'title' exists in a base template #}
{% block title %}{{ title }}{% endblock %}

{# TODO: {% set meta_photo_url = item_image(page.get_photo_url("L"), "https://openlibrary.org/images/icons/avatar_author-lg.png") %} #}
{% set olid = page.key.split('/')[-1] %}
{% set books = page.get_books(q=query_param('q')) %}

{% if books and books.docs %}
    {% set book_list_excerpt = (books.docs[:8] | map(attribute='title') | join(', ')) %}
{% else %}
    {% set book_list_excerpt = '' %}
{% endif %}

{% set books_count = books.num_found or 0 %}
{% set description = _("Author of %(book_titles)s", book_titles=book_list_excerpt) %}

{# TODO: These meta tag functions would likely be handled by a macro or helper that renders them in the <head> of the base template. #}
{# {{ add_metatag(property="og:title", content=title_with_site) }}
{{ add_metatag(property="og:type", content="books.author") }}
{{ add_metatag(property="og:image", content=meta_photo_url) }}
{{ add_metatag(property="og:url", content=request.canonical_url) }}
{{ add_metatag(property="og:site_name", content="Open Library") }}
{{ add_metatag(property="og:description", content=description) }} #}

{# TODO: {{ set_share_links(url=request.canonical_url, title=title, view_context=ctx) }} #}

{% set layout = get_remembered_layout() %}
{% set show_librarian_extras = ctx.user and (ctx.user.is_admin() or ctx.user.is_librarian()) %}

<div id="contentHead">
    {{ macros.databarView(page) | safe }}

    <h1 itemprop="name">{{ title }}</h1>
    {% if show_librarian_extras %}
        <h2 class="author collapse">
            {% if page.birth_date or page.death_date %}
                <span itemprop="birthDate">{{ page.birth_date }}</span> - <span itemprop="deathDate">{{ page.death_date }}</span>
            {% else %}
                {% if page.date %}
                    {{ page.date }}
                {% endif %}
            {% endif %}
        </h2>
    {% endif %}
</div>

<div id="contentBody">
    {% if ctx.user and ("merge-authors" in ctx.features or ctx.user.is_admin()) and query_param('merge', 'false') == 'true' %}
        {# Note: This kind of complex data preparation is often better done in the view/controller before rendering. #}
        {% set mrid = query_param('mrid', None) %}
        {% set comment = query_param('comment', None) %}
        {% set duplicate_olids = query_param('duplicates', '').split(',') %}
        {% set duplicates = [] %}
        {% for k in duplicate_olids %}{% set _ = duplicates.append("/authors/" + k) %}{% endfor %}
        {% set data = {'master': page.key, 'duplicates': duplicates} %}
        {% if mrid %}{% set _ = data.update({'mrid': mrid}) %}{% endif %}
        {% if comment %}{% set _ = data.update({'comment': comment}) %}{% endif %}
        {% set olids = '%s,%s' % (page.key.split('/')[-1], query_param('duplicates', '')) %}
        {% set _ = data.update({'olids': olids}) %}

        <div class="message" style="display: none;">
            <div id="preMerge" style="display: none;" data-keys="{{ data | tojson | safe }}">
                <p class="larger collapse"><strong>{{ _('Merging Authors...') }}</strong></p>
                <p class="collapse adjust"><img src="/images/ajax-loader-bar.gif" width="220" height="19" alt="{{ _('In progress...') }}"/></p>
                <p class="smaller lightgreen collapse">{{ _('Duplicates') }}</p>
                <p class="small collapse">
                    <ul>
                        {% for key in duplicates %}
                             {% set doc = get_document(key) %}
                             {% if doc %}
                                 <li>{{ doc.name }}; <small>({{ key }})</small></li>
                             {% endif %}
                        {% endfor %}
                    </ul>
                </p>
            </div>
            <div id="postMerge" style="display: none;">
                <p class="right small"><b><a href="{{ page.key }}">{{ _('Refresh the page?') }}</a></b></p>
                <p class="larger collapse"><strong>{{ _('Success!') }}</strong></p>
                <p class="small collapse">{{ _('OK. The merge is in motion. <i>It will take <u>a few minutes to finish</u> the update.</i>') | safe }}</p>
            </div>

            <div id="errorMerge" style="display: none;">
                <p class="larger collapse"><strong>{{ _('Argh!') }}</strong></p>
                <p class="small collapse">{{ _("That merge didn't work. It's our fault, and we've made a note of it.") }}</p>
            </div>
        </div>
    {% endif %}

    <div class="contentTwothird" style="margin-bottom:0;">
        {% set show_dashboard = ctx.user and (ctx.user.is_librarian() or ctx.user.is_super_librarian() or ctx.user.is_admin()) %}
        {% if show_dashboard %}
          {{ render_template("librarian_dashboard/data_quality_table", books_count) | safe }}
        {% endif %}
        <div itemprop="description">
            {{ page.get('bio', '') | format | safe }}
        </div>

        {% if page.location %}
            <div class="section hidden">
                <h6 class="collapse black uppercase">{{ _("Location") }}</h6>
                {{ page.location }}
            </div>
        {% endif %}
        <span class="mobile-only">
            {{ render_template("authors/infobox", page, imagesId="mobile") | safe }}
        </span>
        <div class="clearfix"></div>
        <div id="works" class="section">
                <h2 class="collapse">
                    {{ ungettext("%(count)d work", "%(count)d works", books_count, count=books_count) }}
                    <span class="count smaller"><a href="/books/add?author={{ page.key }}">{{ _('Add another?') }}</a></span>
                </h2>

                <form method="GET" class="olform pagesearchbox">
                    <input type="hidden" name="has_fulltext" value="true"/>
                    {% if query_param('sort') %}
                      <input type="hidden" name="sort" value="{{ query_param('sort') }}"/>
                    {% endif %}
                    {% if query_param('mode') %}
                      <input type="hidden" name="mode" value="{{ query_param('mode') }}"/>
                    {% endif %}
                    {{ render_template("search/searchbox", q=query_param('q'), placeholder=_('Search %(author)s books', author=title)) | safe }}
                </form>
                <div class="clearfix"></div>

                <div class="search-results-stats">
                    {% if books_count > 1 %}
                        {{ render_template("search/sort_options.html", books.sort, exclude='relevance', default_sort='editions') | safe }}
                    {% endif %}

                    {% if books_count > 0 %}
                        {{ render_template("search/layout_options.html", selected_layout=layout) | safe }}
                    {% endif %}

                    {% if books_count > 1 %}
                        {% if input(mode="everything").mode == "everything" %}
                            <span>{{ _('— Show <a href="%(url)s">only ebooks</a>?', url=changequery(mode='ebooks')) | safe }}</span>
                        {% else %}
                            <span>{{ _('— Show <a href="%(url)s">everything</a> by this author?', url=changequery(mode='everything')) | safe }}</span>
                        {% endif %}
                    {% endif %}
                </div>

                {{ macros.Pager(page=safeint(query_param('page'), default=1), num_found=books_count) | safe }}

                <div id="searchResults">
                    <ul class="list-books {% if layout == 'grid' %}list-books--grid{% endif %}">
                      {% for doc in books.docs %}
                         {{ macros.SearchResultsWork(doc, show_librarian_extras=show_librarian_extras, include_dropper=True, seq_index=loop.index0) | safe }}
                      {% endfor %}
                    </ul>
                </div>

                {{ macros.Pager(page=safeint(query_param('page'), default=1), num_found=books_count) | safe }}
        </div>
    </div>
    <div class="contentOnethird">
        <span class="desktop-only">
            {{ render_template("authors/infobox", page, imagesId="desktop") | safe }}
        </span>
        {% macro render_subjects(label, subjects, prefix) %}
            {% if subjects %}
                <div class="section link-box link-box--with-header">
                    <h3 class="collapse black uppercase">{{ label }}</h3>
                    {% for _, subject, count in subjects %}
                        <a itemprop="knowsAbout" href="/subjects/{{ prefix }}{{ subject.lower().replace(' ', '_') }}">{{ subject }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endmacro %}

        <!-- SUBJECTS DISPLAY -->
        {% if books_count > 0 %}
            {{ render_subjects(_("Subjects"), books.facet_counts.get('subject_facet'), '') | safe }}
            {{ render_subjects(_("Places"), books.facet_counts.get('place_facet'), 'place:') | safe }}
            {{ render_subjects(_("People"), books.facet_counts.get('person_facet'), 'person:') | safe }}
            {{ render_subjects(_("Time"), books.facet_counts.get('time_facet'), 'time:') | safe }}
        {% endif %}
        <!-- /SUBJECTS -->

        {% if "lists" in ctx.features %}
            <div class="section Tools">
                {{ render_template("lists/widget", page, include_rating=False, async_load=True, show_active_lists=True, include_showcase=False) | safe }}
            </div>
        {% endif %}

        <div class="section">
            <h3>{{ _('ID Numbers') }}</h3>
            <ul class="booklinks sansserif">
                <li>{{ _('OLID') }}: {{ olid }}</li>
                {% if page.remote_ids %}
                    {% set configured_ids = get_identifier_config('author')['identifiers'] %}
                    {% for id in configured_ids %}
                        {% if id.name in page.remote_ids %}
                            {% set href = id.url.replace('@@@', page.remote_ids[id.name]) %}
                            <li>{{ id.label }}: <a itemprop="sameAs" href="{{ href }}">{{ page.remote_ids[id.name] }}</a></li>
                            {% if id.name == 'wikidata' and 'inventaire' not in page.remote_ids %}
                              <li>{{ _("Inventaire.io:") }} <a
                                  itemprop="sameAs"
                                  href="https://inventaire.io/entity/wd:{{ page.remote_ids[id.name] }}"
                              >wd:{{ page.remote_ids[id.name] }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="section">
            <h3>{{ _('Links <span class="gray small sansserif">outside Open Library</span>') | safe }}</h3>
            {% if page.links %}
                <ul class="booklinks sansserif">
                {% for link in page.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p class="sansserif small">{{ _('No links yet.') }} <a href="{{ page.url('/edit') }}#web">{{ _('Add one') }}</a>?</p>
            {% endif %}
        </div>

        {% if page.alternate_names and page.alternate_names != [""] %}
            <div class="section">
                <h3>{{ _("Alternative names") }}</h3>
                <ul class="booklinks sansserif">
                    {% for alternate_name in page.alternate_names %}
                        <li itemprop="alternateName">{{ alternate_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    {{ render_template("lib/history", page) | safe }}
</div>