$def with ()

$var title: $_('Lists')

<div id="contentHead">
    <h1>$_('Lists')</h1>
</div>

<div id="contentBody">

    <div id="description" class="lists-page-cta">
      <h2>$_('Create a list of any Subjects, Authors, Works or specific Editions.')</h2>
      <p>$:_('Once you\'ve made a list, you can <strong>watch for updates</strong> or <strong>export</strong> all the editions in a list as HTML, BibTeX or JSON. See all your lists and any activity using the "Lists" link on your Account page.')
        <strong><em>$_('Enjoy!')</em></strong>
      </p>
      <p>$:_('For the top 2000+ most requested eBooks in California for the print disabled <a href="../people/sionnac/lists/OL25152L">click here')</a>.</p>

  <form class="siteSearch searchInsideForm" action="/search/lists">
    <input type="text" class="larger" name="q" value=""
           placeholder="$_('Find a list by name')"/>
    <input type="submit" class="generic-button" value="$_('Search')">
  </form>
    </div>

    $ lists = get_active_lists_in_random(limit=24)
    <div class="head">
        <h2>$_('Active Lists')</h2>
    </div>
    <div id="lists">
    <!-- FOR EACH LIST -->
    $for list in lists:
        <div class="listEntry">
            <div class="cover">
                $ cover = list.get_cover() or list.get_default_cover()
                $ cover_url = cover and cover.url("S") or "/images/icons/avatar_book-sm.png"
                <a href="$list.key"><img src="$cover_url" alt="Cover of: $list.name" title="Cover of: $list"/></a>
            </div>
            <div class="data">
                <div class="name">
                    $ owner = list.get_owner()
                    <a href="$list.key" class="title results">$_('%(listname)s </a> from <a href="$owner.key">%(owner)s</a>', listname=list.name, owner=owner.displayname)
                </div>
                <div class="meta">
                    $ msg = ungettext("1 seed", "%(count)d seeds", len(list.seeds))
                    $sprintf(msg, count=len(list.seeds))
                    | $_('Last modified %(date)s', date=datestr(list.last_modified))
                </div>
                <div class="description no-img">
                $if list.description:
                    $:format(list.description)
                $else:
                    <p><em class="grey">$_('No description.')</em></p>
                </div>
            </div>
        </div>
    </div>
    <h2>
        $_('Recent Activity')
        <span class="tools"><a href="/recentchanges/lists">$_('See all')</a></span>
    </h2>
    $:render_template("lists/activity")

</div>
