$def with ()

$var title: Lists

<div id="contentHead">
    <h1>Lists</h1>
</div>

<script type="text/javascript">
<!--
\$().ready(function(){
    \$('.listEntry:nth-child(3n)').after('<div class="clearfix"></div>').css('margin-right','0');
});
//-->
</script>

<div id="contentBody">

    <div id="description">
        <h2>Create a list of any Subjects, Authors, Works or specific Editions.</h2>
        <p>Once you've made a list, you can <strong>watch for updates</strong> or <strong>export</strong> all the editions in a list as HTML, <a href="http://www.bibtex.org/">BibTeX</a> or JSON. See all your lists and any activity using the "Lists" link on your Account page. <strong><em>Enjoy!</em></strong></p>
	<p>For the <strong>top 2000+ most requested print disabled eBooks in California</strong>, <a href="../people/sionnac/lists/OL25152L/Top_1000_Most_Requested_Print_Disabled_eBooks_for_California">click here</a>.</p>
    </div>
    $ lists = get_active_lists_in_random(limit=24)
    <div class="head">
        <h2>Active Lists</h2>
    </div>
    <div id="lists">
    <!-- FOR EACH LIST -->
    $for list in lists:
        <div class="listEntry">
            <div class="cover">
                $ cover = list.get_cover() or list.get_default_cover()
                $ cover_url = cover and cover.url("S") or "/images/icons/avatar_book-sm.png"
                <a href="$list.key"><img src="$cover_url" alt="Cover of: $list.name" title="Cover of: $list"/></a> 
            </div>
            <div class="data">
                <div class="name">
                    $ owner = list.get_owner()
                    <a href="$list.key" class="title results">$list.name</a> from <a href="$owner.key">$owner.displayname</a>
                </div>
                <div class="meta">
                    $ msg = ungettext("1 seed", "%(count)d seeds", len(list.seeds))
                    $sprintf(msg, count=len(list.seeds))
                    | Last modified $datestr(list.last_modified)
                </div>
                <div class="description no-img">
                $if list.description:
                    $:format(list.description) 
                $else:
                    <p><em class="grey">No description.</em></p>
                </div>
            </div>
        </div>
    </div>
    <h2>
        Recent Activity 
        <span class="tools"><a href="/recentchanges/lists">See all</a></span>
    </h2>
    $:render_template("lists/activity")



</div>
