$def with (doc, lists, show_header=True)

$ deleteType = ''

$if show_header:
    <div id="contentHead">
        $ header = render_template("lists/header", doc, lists)
        $var title: $_('%(owner)s / Lists', owner=header.title)
        $:header
    </div>

$if doc.key.startswith("/subjects/"):
    $ seed_key = doc.get_seed()
$else:
    $ seed_key = doc.key

$ deleteType = ''

$if "type" in doc and doc.type.key == "/type/user":
    <style type="text/css">
        span.list-owner { display: none; }
    </style>
    $if ctx.user and ctx.user.key == doc.key:
        $ deleteType = 'deleteList'
        $# The link below is a placeholder that gets inserted into the correct place in the DOM on page load via ListViewBody.js
        <span class="listDelete sansserif smaller listDelete--myLists hidden">
            <a href="javascript:;"><span></span>$_('Delete this list')</a>
        </span>
        $# Confirmation strings for ListViewBody.js; see confirm-template.js
        <template id="delete-list-dialog"
                  data-i18n="$json_encode({'title': _('Delete this list?'), 'confirm': _('Delete list'), 'cancel': _('Cancel'), 'close': _('Close')})">
            $_('This cannot be undone.')
        </template>
$else:
    $ deleteType = 'deleteSeed'
    $# The link below is a placeholder that gets inserted into the correct place in the DOM on page load via ListViewBody.js
    <span class="listDelete sansserif smaller seedDelete--myLists hidden">
        <a href="javascript:;"><span></span>$_('Remove this seed?')</a>
    </span>
    $# Confirmation strings for ListViewBody.js; see confirm-template.js
    <template id="remove-seed-dialog"
              data-i18n="$json_encode({'title': _('Remove from this list?'), 'confirm': _('Remove'), 'cancel': _('Cancel'), 'close': _('Close')})">
        $:_('<strong>%(title)s</strong> will be removed from this list.', title=header.title)
    </template>

$def seed_attrs(seed_key):
  data-list-key="$list.key" data-seed-key="$seed_key"

<div id="contentBody">
    $if lists:
        <div class="mybooks-list">
            <ul class="list-results" id="listResults">
            $for list in lists:
                <li class="searchResultItem $deleteType"
                    id="list-$loop.index" $:seed_attrs(seed_key)>$:render_template("lists/preview", list)</li>
            </ul>
        </div>
    $elif not ctx.user or ctx.user.key != doc.key:
        <p>$_("This reader hasn't created any lists yet.")</p>
    $else:
        <p>$_("You haven't created any lists yet.")</p>
        <p>
          <a href="/help/faq/reading-log#lists" target="_blank" rel="noopener noreferrer">$_('Learn how to create your first list.')</a>
        </p>
    <div class="clearfix"></div>

    <h2>$_('Recent Activity')</h2>
    $:render_template("lists/activity", doc)
</div>
