$def with(lists, limit, user_key)

$def render_follow_button(owner_username, is_subscribed):
  $ request = "/people/" + owner_username
  $:macros.Follow(owner_username, following=is_subscribed, request_path=request)

$def list_card(list, owner, own_list):
    $ has_owner = owner
    $ cached_info = list.get_patron_showcase()
    $ count = cached_info["count"]
    <div class="list-follow-card">
        <a class="list-follow-card__header" href="$list.get_url()">
                <div class="list-follow-card__title" title="${cached_info['title']}">$cached_info['title']</div>
             <div class="list-follow-card__num-books">
                 $ungettext("%(count)d book", "%(count)d books", count, count=count)
             </div>
        </a>
        <a class="list-follow-card__covers" href="$list.get_url()">
           $for img_url in cached_info["covers"]:
               $if img_url:
                   $ img_url = img_url.replace("-S.jpg", "-M.jpg")
               $else:
                   $ img_url = '/images/icons/avatar_book-sm.png'
               <img src="$img_url" alt="$_('Cover of book')" loading="lazy" width="80"/>
        </a>

        <!-- Bottom section: owner info or community label -->
        $if owner:
            <div class="list-follow-card__bottom">
                <div class="list-follow-card__user">

                            $ owner_username = owner.key.split('/')[-1]
                    <a href="$owner.key">
                        <img src="$(owner.key)/avatar" alt="$_('Avatar of the owner of the list')" />
                    </a>
                    <div class="list-follow-card__username">
                        $if not own_list:
                            <a class="list-follow-card__username-link" href="$owner.key" title="$owner_username">
                                @${owner_username}
                            </a>
                        $else:
                            <a class="list-follow-card__username-link" href="$owner.key">
                                $_('You')
                            </a>
                    </div>
                </div>
                <div class="list-follow-card__follow-button">
                    $if not own_list:
                        $ owner_account = get_user_object(owner_username)
                        $ is_subscribed = ctx.user and ctx.user.is_subscribed_user(owner_username)
                        $ settings = owner_account.get_users_settings()
                        $ is_public = settings and settings.get('public_readlog', 'no') == "yes"
                        $if is_public:
                            $:render_follow_button(owner_username, is_subscribed)
                        $else:
                            <div title="$_('This patron has not enabled following')">
                                <button class="list-follow-card__private-button" >
                                    <span class="pvt-icon">$_('🔒︎')</span>
                                    <span class="pvt-text">$_('Follow')</span>
                                </button>
                            </div>
                </div>
            </div>
        $else:
            <div class="list-follow-card__bottom-community">
                <div class="list-follow-card__user">
                    <img src="/static/images/openlibrary-128x128.png" alt="$_('OpenLibrary Logo')"/>
                    <div class="list-follow-card__community-label">
                        <i>$_("Community List")</i>
                    </div>
                </div>
            </div>
    </div>

$ count = 0
$for i, list in enumerate(lists):
    $if count < limit:
      $ own_list = list.owner and list.owner.key == user_key
      $ converted = convert_list(list.key)
      $:list_card(converted, list.owner, own_list)
      $ count = count + 1

