$def with (lists, username)

$def card_footer(title, book_count):
    <div class="list-card__name-tag">
        <div class="list-card__title">$title</div>
        <div class="list-card__num-books">
            $ungettext("%(count)d book", "%(count)d books", book_count, count=book_count)
        </div>
    </div>

<div class="carousel-section">
    <div class="carousel-section-header">
        <h2 class="home-h2">
            <a href="/people/$username/lists">$_('My Lists (%(count)d)', count=len(lists))</a>
        </h2>
    </div>
    <div class="list-showcase">
        $if lists:
            $ displayed_lists = 5
            $for list in lists[:displayed_lists]:
                $ cached_info = list.get_patron_showcase()
                $ image_urls = []
                $for img_url in cached_info["covers"]:
                    $if img_url:
                        $ img_url = img_url.replace("-S.jpg", "-M.jpg")
                    $else:
                        $ img_url = '/images/icons/avatar_book-sm.png'
                    $image_urls.append(img_url)
                $ footer_html = card_footer(cached_info["title"], cached_info["count"])
                <a class="list-card" href="$list.get_url()">
                    $:render_template("cards/multi_image_card", image_urls=image_urls, footer_html=footer_html)
                </a>
            $if len(lists) > displayed_lists:
                <a
                    class="list-showcase__see-all cta-btn cta-btn--vanilla"
                    href="/people/$username/lists"
                >$_("See all")</a>
        $else:
            <p>$_('You have no lists.')</p>
    </div>
</div>
