$def with (page, include_rating=True, read_status=None, exclude_own_lists=False, async_load=False)

<div class="lists-widget-container">
$if "lists" not in ctx.features:
    $return

$if render_once('lists/widget.i18n-strings'):
  $ show_list_i18n_strings = {
    $ "cover_of": _('Cover of: %(title)s', title=''),
    $ "see_this_list": _('See this list'),
    $ "remove_from_list": _('Remove from your list?'),
    $ "from": _('from'),
    $ "you": _('You')
    $ }
  <input type="hidden" name="list-i18n-strings" value="$json_encode(show_list_i18n_strings)">

$:render_template('my_books/dropper', page, async_load=async_load)

$if ctx.user:
  <ul class="listLists already-lists">
    $if async_load:
      <div class="list-overview-loading-indicator">$:_('Loading<span class="loading-ellipsis">...</span>')</div>
    $else:
      $# Never get here?
  </ul>

$ work = (page.works and page.works[0]) if page.key.startswith("/books/") else page if page.key.startswith("/works/") else None
$ edition = page if page.key.startswith("/books/") else None
$if work and include_rating:
  $:macros.StarRatings(work, edition)
</div>
