# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
	log 127.0.0.1	daemon info
	#log loghost	local0 info
	maxconn 4096
	#chroot /usr/share/haproxy
	user haproxy
	group haproxy
	daemon
    #nbproc 6
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	contimeout	9000
	clitimeout	7200000
	srvtimeout	7200000
    stats uri     /admin?stats
    stats refresh 5s
    # these are added so the client ip comes through
    option httpclose
    option forwardfor
    option forceclose


listen	solr 0.0.0.0:8983
	mode	http
	balance	roundrobin
    #option httpchk GET /solr/
    option httpchk GET /solr/select?rows=0&q=*:*
    server  localhost-8984 127.0.0.1:8984 maxconn 10 check inter 500 rise 2 fall 2
