global
	log 127.0.0.1	daemon info
	#log loghost	local0 info
	maxconn 4096
	#chroot /usr/share/haproxy
	user haproxy
	group haproxy
	daemon
    #nbproc 6
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	timeout connect	9000ms
	timeout client	7200000ms
	timeout server	7200000ms
    stats uri     /admin?stats
    stats refresh 5s
    # these are added so the client ip comes through
    option httpclose
    option forwardfor
    option forceclose


listen solr
	bind	*:8984
	mode	http
	balance	roundrobin
    #option httpchk GET /solr/
    option httpchk GET /solr/openlibrary/select?rows=0&q=*:*
    server  solr-8983 solr:8983 maxconn 10 check inter 500 rise 2 fall 2
