{"body": {"type": "/type/text", "value": "$def with (page, preview=False)\r\n\r\n$ _x = ctx.setdefault('bodyid', 'admin')\r\n$ _x = ctx.setdefault('usergroup', 'admin')\r\n\r\n$ edit = thingedit(page)\r\n$var title: $:edit.title\r\n    \r\n$:macros.databarEdit(page)\r\n\r\n$if preview:\r\n    <div class=\"clearfix\"></div>\r\n    <div id=\"preview\">\r\n        <div class=\"head\">\r\n            <h2>Preview</h2>\r\n        </div>\r\n    $:thingview(page)\r\n    </div>\r\n    <div class=\"clearfix\"></div>\r\n\r\n<div id=\"edit\">\r\n$:edit\r\n</div>"}, "created": {"type": "/type/datetime", "value": "2009-12-12T22:54:43.226558"}, "last_modified": {"type": "/type/datetime", "value": "2010-02-02T21:22:47.991401"}, "latest_revision": 6, "key": "/templates/type/permission/edit.tmpl", "type": {"key": "/type/template"}, "id": 49025182, "revision": 6}