$def with(page, async_load=False)

$code:
  '''
  To start, this should get all of the parameters that the lists/widget gets.
  In general:
    1. We must determine if there is a work.  If not, the dropper only contains lists.
    2. Is the patron logged in?  If not, clicking dropper should redirect to login page.
       Dropdown doesn't need to be rendered in this situation.
    3. Ensure that forms contain all the data necessary for a submission (lists and reading log)
  '''
$ edition = page if page.key.startswith("/books/") else None
$ edition_key = edition and edition.key
$ work = (page.works and page.works[0]) if edition else page if page.key.startswith("/works/") else None
$ work_key = work and work.key

$ username = ctx.user and ctx.user.key.split('/')[-1]

$# XXX: Find more performant way to get read statuses
$# XXX: Read status values and their meanings should probably be here in a comment
$ users_work_read_status = get_patrons_work_read_status(username, work_key) if work and username else None

$ seed_info = get_seed_info(page)
$ user_lists = [] if async_load or not ctx.user else get_user_lists(seed_info)
$# user_lists = [] if not ctx.user else get_user_lists(seed_info)
$ page_url = ctx.path

$# XXX: Else condition is for subjects, which can be removed
$ seed_key = seed_info['seed']['key']

$ additional_classes = 'my-books-dropper'
$if not ctx.user:
  $ additional_classes += ' g-dropper--disabled'

$ primary_action = render_template('my_books/primary_action', work_key, edition_key, (ctx.user and ctx.user.key), users_work_read_status, page_url)
$ dropdown_content = render_template('my_books/dropdown_content', user_lists, seed_key, work_key, edition_key, users_work_read_status, async_load=async_load)
$:render_template('lib/dropper', primary_action, dropdown_content, additional_classes=additional_classes)

$if work_key:
    $ last_read_date = get_latest_read_date(work_key)
    $ date = last_read_date['event_date'] if last_read_date else None
    $ event_id = last_read_date['id'] if last_read_date else None
    $:render_template('check_ins/check_in_prompt', work_key, users_work_read_status, edition_key=edition_key, last_read_date=date, event_id=event_id)
