$def with (page)

$ lang = _.get_locale() or 'en'
$ _t = _.get_namespace('/type/edition')
$ _ = _.get_namespace('/mode/view')


$if page.type.key == "/type/edition":
    $ title = (page.title_prefix or "") + page.title
    $ fieldname = "cover"
    $ category = "b"
    $ type = "book"
$else:
    $ title = page.name
    $ fieldname = "photo"
    $ category = "a"
    $ type = "author"
    
$var title: $title

$add_javascript('/static/js/jquery/jquery.js')
$add_stylesheet('/static/css/results.css')
$add_stylesheet('/static/css/doc-styles.css')

$ olid = page.key.split('/')[-1]

<style type="text/css">
<!--
    .coverheaders { margin-bottom: 6px; text-align: left; font-weight: bold; color: #625E25; font-family: georgia, times new roman, times, serif; font-size: 14px; }
    .coveritem { margin-bottom: 24px; padding-left: 10px; }

    .cover { border: 2px solid white;}
    .cover:hover { border: 2px solid #900;}

    #book-art { text-align: center; float: left; margin-top: 21px; margin-left: 13px; margin-right: 14px; clear: both; float: left; padding: 8px; border: 1px solid #ccc; background-color: #fff; }
    .error { color: red; font-size: 12px; font-weight: bold; padding-left: 10px;  margin-bottom: 6px;}
    a.prevnext { font-size: 14px; text-decoration: none; color: #6f320d; font-style: italic; }
-->
</style>

<div id="metadata-body">

    $if type == "book":
        <div id="book-art" class="datalink">
            <img src="http://covers.openlibrary.org/b/olid/$olid-M.jpg" alt="$page.title_prefix $page.title" width="180"/>
            <br clear="all" />
        </div>
    $else:
        <div id="book-art" class="datalink"><img src="http://covers.openlibrary.org/a/olid/$olid-M.jpg" width="180"/></div>


<div style="margin-left: 255px; padding-bottom: 60px">
    <div id="header">               
    $if type == "book":
        <div class="pretitle">Change cover of:</div>
        <div id="title">$page.title_prefix $page.title</div>
    $else:
        <div class="pretitle">Change photograph of:</div>
        <div id="title">$page.name</div>
    </div>

    <div class="coveritem">
    <span class="book-details-italic">
    $if type == "book":
        You can change the cover of this book to suit your preferences.
    $else:
        You can change the photo of this author to suit your preferences.
    </span>

    <div class="coverheaders">Choose from existing ${fieldname}s.</div>
        <div style="padding: 8px; border: solid 1px #ccc; background-color: #fff; width: 406px; height: 82px;">
            <table id="covers" cellspacing="0" cellpadding="0" border="0">
            </table>
            <a href="" class="prevnext" id="prev_covers" style="display: none;"><img src="/static/images/arrow.red.left.png" alt="arrow" />prev</a>
            <a href="" class="prevnext" id="next_covers" style="display: none; float: right;">next<img src="/static/images/arrow.red.png" alt="arrow" /></a>
        </div>
    </div>
    
    <div class="error">$query_param("errmsg", "")</div>

    <div class="coveritem">
        <div class="coverheaders">Upload from your computer</div>
        <form action="http://covers.openlibrary.org/$category/upload" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="olid" value="$olid"/>
            <input type="hidden" name="author" value="${ctx.user and ctx.user.key}"/>
            <input type="hidden" class="status_url" name="success_url" value=""/>
            <input type="hidden" class="status_url" name="failure_url" value=""/>
            <input type="file" name="file" value=""/>
            <input class="small-button" type="submit" name="upload" value="Upload"/>
        </form>
    </div>
    
    <div class="coveritem">
        <div class="coverheaders">Grab $fieldname from a url</div>
        <form action="http://covers.openlibrary.org/$category/upload" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="olid" value="$olid"/>
            <input type="hidden" class="status_url" name="success_url" value=""/>
            <input type="hidden" class="status_url" name="failure_url" value=""/>
            <input type="hidden" name="author" value="${ctx.user and ctx.user.key}"/>
            <input type="text" name="source_url" value=""/>
            <input class="small-button" type="submit" name="upload" value="Upload"/>

        </form>
    </div>

    <div class="button-border" style="padding-top: 20px;"><img src="/static/images/flourish.left.gif"  alt="[" /><button class="action" type="submit"  value="Continue"  name="_save" title="Continue" onclick="history.back();">Continue</button><img src="/static/images/flourish.gif"  alt="]" /></div>

    <div style="display: none">
        <form name="touch" method="POST" action="http://covers.openlibrary.org/$category/touch">
        <input type="hidden" id="touch_cover" name="id" value=""/>
        <input type="hidden" id ="touch_redirect_url" name="redirect_url" value=""/>
        </form>
    </div>
</div>

</div>

$ limit = 6

<script type="text/javascript">
<!--

/**
 * >>> group([1, 2, 3, 4, 5], 2)
 * [[1, 2], [3, 4], [5]]
 */
function group(elems, n) {
    var result = [];
    $.each(elems, function(i, e) {
        var index = Math.floor(i / n);
        if (!result[index])
            result[index] = [];
        result[index].push(e);
    }); 
    return result;
}

var current_offset = 0;

function display_covers(ids, offset) {
    var table = \$("#covers");
    var prev = offset && offset != 0;
    var next = ids.length == $limit;
    
    function display(id, cond) {
        if (cond)
            \$(id).show();
        else
            \$(id).hide();
    }
    
    display("#prev_covers", prev);
    display("#next_covers", next);

    var elems = \$.map(ids, function(id, i) {
        return '<td><div style="margin-right: 8px; margin-bottom: 6px;"><a class="coverlink" id="coverlink-XXX" href="#"><img class="cover" src="http://covers.openlibrary.org/$category/id/XXX-S.jpg" /></a></div></td>'.replace(/XXX/g, id);
    });
    
    \$("#covers").empty();

    // put $limit covers in each row
    \$(group(elems, $limit)).each(function(i, tds) {
        \$("#covers").append("<tr>" + tds.join("") + "</tr>");
    });
    \$("a.coverlink").click(function() {
        var img_id = this.id.split("-")[1];
        \$("#touch_cover").val(img_id);
        \$("#touch_redirect_url").val(document.location.href);
        document.forms["touch"].submit();
    });
}

function redisplay_covers(offset) {
    current_offset = offset;
    var url = "http://covers.openlibrary.org/$category/query?olid=$olid&offset=" + offset + "&limit=$limit&callback=?"
    \$.getJSON(url, function(ids) {
        display_covers(ids, offset);
    });
}

\$(document).ready(function(){
    \$(".status_url").val(document.location.href);
    
    \$("#prev_covers").click(function(event) {
        event.preventDefault();
        redisplay_covers(current_offset-$limit);
    });
    \$("#next_covers").click(function(event) {
        event.preventDefault();
        redisplay_covers(current_offset+$limit);
    });
});

-->
</script>

<script type="text/javascript" src="http://covers.openlibrary.org/$category/query?olid=$olid&callback=display_covers&limit=$limit"></script>
