$def with (announcement, storage_key)

$# Takes following parameters
$# * announcement (str) -- Rendered content that will be displayed in the banner
$# * storage_key (str) -- identifier for the banner. If the user dismisses the banner, storage_key will be added to the user's preferences to prevent the banner from showing again.

$# Paste next line into the span element to show the blue banner
$# <strong>Title</strong> $:announcement &nbsp; <a href="#" data-ol-link-track="AnnouncementsBar|BlogWidget" class="btn primary">Learn More</a>

<div data-storage-key="$storage_key" id="announcement-banner" class="page-banner--dismissable">
    <span class="page-banner--dismissable-content">$:announcement</span>
    $if ctx.user:
        <button class="page-banner--dismissable-close" id="close-banner">X</button>
</div>
