$def with (page)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="OpenLibrary.org" />
    <meta name="creator" content="OpenLibrary.org" />
    <meta name="copyright" content="Original content copyright; 2007-2015" />
    <meta name="distribution" content="Global" />

    <link rel="canonical" href="$request.canonical_url" />

    <link href="/static/images/openlibrary-120x120.png" rel="apple-touch-icon" />
    <link href="/static/images/openlibrary-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="/static/images/openlibrary-167x167.png" rel="apple-touch-icon" sizes="167x167" />
    <link href="/static/images/openlibrary-180x180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/static/images/openlibrary-192x192.png" rel="icon" sizes="192x192" />
    <link href="/static/images/openlibrary-128x128.png" rel="icon" sizes="128x128" />
    $ style = 'build/page-%s.css'%ctx.get('bodyid', 'user')
    <link href="$static_url(style)" rel="stylesheet" type="text/css" />
    <!-- Both v2 and v1 pages have a JavaScript execution queue that will
    be emptied at the bottom of the page -->
    <script type="text/javascript">window.q = [];</script>
    $if "dev" in ctx.features:
        <link href="$static_url('build/page-dev.css')" rel="stylesheet" type="text/css"/>

    <meta name="google-site-verification" content="KrqcZD4l5BLNVyjzSi2sjZBiwgmkJ1W7n6w7ThD7A74" />
    <meta name="google-site-verification" content="vtXGm8q3UgP-f6qXTvQBo85uh3nmIYIotVqqdJDpyz4" />
    <meta name="alexaVerifyID" content="wJKlTRj1Z1OI4G-J0w9R-cWhJjw" /> <!-- Necessary for Alexa -->

    $if any([path in request.canonical_url for path in ['/account/create', '/books/add', '/edit', '/books']]):
        <!-- Must be loaded in Sign Up and Add new Books page -->
        <!-- Must be loaded for all edit pages having link /books/*/*/edit -->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

$putctx("sent_head", True)
