$def with (title)

$putctx("sent_neck", True)

    $if ctx.get("robots"):
        <meta name="robots" content="$ctx.robots" />

    $if ctx.get("description"):
        <meta name="description" content="$ctx.description" />
    $else:
        <meta name="description" content="Open Library is an open, editable library catalog, building towards a web page for every book ever published." />

    <title>$:title | $_("Open Library")</title>

    $for link in ctx.get("links", []):
        $:link

    $for tag in ctx.get("metatags", []):
        $:tag
</head>

