/**
 * Definition Lists
 */
dd,
dt {
  float: left;
}
dt {
  clear: both;
}
dl {
  margin: 10px 0;
}
dl:after {
  content: "";
  display: block;
  clear: both;
}
dl dt {
  padding: 0 15px 10px 0;
  width: 120px;
}
dd {
  max-width: 270px;
}
dd + dd {
  padding-left: 8px;
}
