h1 {
  font-size: 1.875em;
}
h1.title {
  font-size: 1.25em;
}
h1 span.subtitle {
  font-size: 0.65em;
  font-weight: normal;
}
/* TODO: Check if this class is still used. */
h1.publisher {
  color: var(--brown);
  font-size: 1.375em;
  font-family: var(--font-family-serif) !important;
  font-weight: normal !important;
  margin: 0;
}
h1 span.count {
  font-size: var(--font-size-label-large) !important;
}

h2 {
  font-size: var(--font-size-title-large);
}
h2.author {
  color: var(--brown);
  font-size: 1.125em;
  font-weight: normal;
}
h2.authorEdition {
  color: var(--brown);
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h2.publisher {
  background-color: var(--lightest-grey);
}
h2.edition-title {
  margin: 7px 0 0;
  color: var(--grey);
  font-family: var(--font-family-title);
  font-weight: normal;
  font-size: 1.1em;
}
h2 a {
  color: var(--link-blue);
  text-decoration: none;
}
h2 a:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

h1.edition,
h2.edition {
  color: var(--black);
  font-family: var(--body-family);
  font-size: 1.125em;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h3 {
  font-size: var(--font-size-label-medium);
}
/* TODO: Check if this class is still used. */
h3.Question {
  font-family: var(--font-family-serif);
  font-size: 1.2em;
  font-weight: normal;
  color: var(--brown);
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dotted var(--lighter-grey);
}

h4 {
  font-size: 0.8125em;
}
h4.publisher,
h4.observer-count {
  font-family: var(--body-family);
  font-weight: normal;
}
h4.facetHead {
  font-family: var(--body-family);
  font-size: 0.6875em;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  margin: 0 0 5px;
  padding: 0;
}
h4.facetHead span.merge {
  font-family: var(--body-family);
  font-size: var(--font-size-label-small);
  font-weight: normal !important;
  text-transform: none !important;
  padding-left: 22px;
  background: url(/images/icons/icon_merge-sm.png) no-repeat 0 0;
  min-height: 16px;
}

h5 {
  font-size: 0.875em;
  font-family: var(--font-family-serif) !important;
  font-weight: normal !important;
}

h6 {
  font-size: 0.6875em;
}

.head h2 a {
  color: inherit !important;
  text-decoration: none;
}
.head h2 a:hover {
  text-decoration: underline;
}

div.head h1,
div.head h2,
div.head h3,
div.head h4,
div.head h5,
div.head h6 {
  margin: 0;
  padding: 0;
}
div.head.rel {
  position: relative;
}

dt,
span.title,
h6.title {
  font-size: var(--font-size-label-medium);
  font-weight: normal !important;
  font-family: var(--body-family);
  color: var(--grey);
  margin: 0;
  padding: 0;
}

.titleSmall {
  font-family: var(--body-family);
  font-size: var(--font-size-label-small);
  font-weight: 600;
}
.heading span.count {
  font-size: var(--font-size-label-large) !important;
}
