@import "../less/font-families.less";

h1 {
  font-size: 1.875em;
  &.title {
    font-size: 1.25em;
  }
  span.subtitle {
    font-size: 0.65em;
    font-weight: normal;
  }
  /* TODO: Check if this class is still used. */
  &.publisher {
    color: @brown;
    font-size: 1.375em;
    font-family: @font-family-serif !important;
    font-weight: normal !important;
    margin: 0;
  }
  span.count {
    font-size: @font-size-label-large !important;
  }
}

h2 {
  font-size: @font-size-title-large;
  &.author {
    color: @brown;
    font-size: 1.125em;
    font-weight: normal;
  }
  &.authorEdition {
    color: @brown;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  &.publisher {
    background-color: @lightest-grey;
  }
  &.edition-title {
    margin: 7px 0 0;
    color: @grey;
    font-family: @font-family-title;
    font-weight: normal;
    font-size: 1.1em;
  }
  a {
    color: @link-blue;
    text-decoration: none;
    &:hover {
      color: @dark-green;
      text-decoration: underline;
    }
  }
}

h1,
h2 {
  &.edition {
    color: @black;
    font-family: @body-family;
    font-size: 1.125em;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
}

h3 {
  font-size: @font-size-label-medium;
  /* TODO: Check if this class is still used. */
  &.Question {
    font-family: @font-family-serif;
    font-size: 1.2em;
    font-weight: normal;
    color: @brown;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted @lighter-grey;
  }
}

h4 {
  font-size: 0.8125em;
  &.publisher,
  &.observer-count {
    font-family: @body-family;
    font-weight: normal;
  }
  &.facetHead {
    font-family: @body-family;
    font-size: 0.6875em;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    margin: 0 0 5px;
    padding: 0;
    span.merge {
      font-family: @body-family;
      font-size: @font-size-label-small;
      font-weight: normal !important;
      text-transform: none !important;
      padding-left: 22px;
      background: url(/images/icons/icon_merge-sm.png) no-repeat 0 0;
      min-height: 16px;
    }
  }
}

h5 {
  font-size: 0.875em;
  font-family: @font-family-serif !important;
  font-weight: normal !important;
}

h6 {
  font-size: 0.6875em;
}

.head {
  h2 {
    a {
      color: inherit !important;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.head {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  &.rel {
    position: relative;
  }
}

dt,
span.title,
h6.title {
  font-size: @font-size-label-medium;
  font-weight: normal !important;
  font-family: @body-family;
  color: @grey;
  margin: 0;
  padding: 0;
}

.titleSmall {
  font-family: @body-family;
  font-size: @font-size-label-small;
  font-weight: 600;
}
.heading {
  span.count {
    font-size: @font-size-label-large !important;
  }
}
