// A standard list of helpers
.hidden {
  display: none;
}
.inline {
  display: inline;
}
.hidden--nojs {
  display: none;
  .client-js & {
    display: block;
  }
}
.clearfix {
  width: 100%;
  clear: both;
}
// To be used for shifting content so its accessible to screen readers
// but not visible to anyone else.
.shift {
  position: absolute !important;
  left: -10000px !important;
}
