/* This file lists helper classes that transform content (usually via !important rules)
   They are not components.
   Helpers here should not be needed for most page views.
   helpers-common provides a more standard set for usage. */

.small {
  font-size: var(--font-size-label-medium) !important;
  font-weight: normal !important;
}
.smaller {
  font-size: var(--font-size-label-small);
  font-weight: normal;
}
.smallest {
  font-size: 10px;
  font-weight: normal;
}
.reduce {
  font-size: 50% !important;
}
.clear {
  clear: both;
}
.large {
  font-size: var(--font-size-label-large) !important;
}
.larger {
  font-size: var(--font-size-title-medium) !important;
}
.largest {
  font-size: 18px !important;
}
button.larger {
  font-size: 18px !important;
  cursor: pointer;
}
.average {
  font-size: 13px;
}
.invisible {
  visibility: hidden;
}
.relative {
  position: relative;
}

.desktop-only {
  display: none;
}

.adminOnly {
  background-color: var(--orange) !important;
  padding: 4px;
  border-radius: 4px;
}

.editFormHead {
  display: flex;
  padding-bottom: 0;
}

.editFormTitle {
  flex: 1;
  margin: 0;
}

.editFormBookTitle {
  color: var(--black);
  margin: 0;
}

.editFormBookAuthors {
  margin-top: 0;
}

.valid {
  padding: 5px 0 0 29px !important;
}

.noborder {
  border: none;
}

.valid,
.darkgreen,
.pos {
  color: var(--dark-green) !important;
}

.black {
  color: var(--black) !important;
}

.highlight {
  background-color: var(--light-yellow);
}

.orange {
  color: var(--orange) !important;
}

.brown {
  color: var(--brown) !important;
}

.teal {
  color: var(--teal) !important;
}

.lightgreen {
  color: var(--olive) !important;
}
.lightgrey,
.lightgray {
  color: var(--light-grey) !important;
}

.blue {
  color: var(--link-blue) !important;
}

.invalid,
.attn,
.neg,
.red {
  color: var(--red) !important;
}
.invalid:not(input):empty,
.attn:not(input):empty,
.neg:not(input):empty,
.red:not(input):empty {
  display: none;
}

.yellow {
  color: var(--light-yellow) !important;
}

.lighter,
.gray,
.grey {
  color: var(--grey) !important;
}

.darkgray,
.darkgrey {
  color: var(--dark-grey) !important;
}

.plain {
  text-decoration: none !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.adjust {
  position: relative;
  right: 4px;
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.underline {
  text-decoration: underline !important;
}

.bold {
  font-weight: bold !important;
}

.headline,
.sansserif {
  font-family: var(--body-family) !important;
}

.arial {
  font-family: var(--body-family) !important;
}

.nowrap {
  white-space: nowrap !important;
}

.wrap {
  white-space: normal !important;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  position: absolute;
  left: -99999999px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix {
  display: block;
}
.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
