.measurements {
  width: 100%;
  margin: var(--spacing-stack-sm) 0 var(--spacing-stack-xl);
  color: var(--dark-grey);
}
.measurements th {
  font-family: var(--font-family-body);
  font-size: 0.6875em;
  text-align: right;
  vertical-align: bottom;
  padding: 0 var(--spacing-inset-sm);
}
.measurements td {
  padding: var(--spacing-inset-sm);
  text-align: right;
  vertical-align: bottom;
  font-size: 0.75em;
}
.measurements td.type {
  font-family: var(--font-family-body);
  font-size: 0.6875em;
}
.measurements .major .amount {
  font-size: 1.5em;
}
.measurements .shift {
  text-align: left !important;
}
