/* used in infobox.html */
.infobox {
  line-height: 1.5em;
  background-color: var(--grey-fafafa);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--light-beige);
}
.infobox .illustration {
  margin-bottom: unset;
}
.infobox .short-description {
  text-align: center;
}
.infobox tr {
  /* Without this page-user.css makes the background beige */
  background-color: transparent;
}
.infobox tr td:first-child {
  padding-right: 5px;
}
.infobox table {
  /* Without this page-user.css makes the table very compact */
  border-collapse: unset;
  border-spacing: 3px;
}
.infobox .profile-icon-container {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  flex-wrap: wrap;
}
.infobox .profile-icon-container .profile-icon {
  max-height: 1.5em;
  width: 1.5em;
}
.infobox-name {
  text-align: center;
  margin-bottom: 10px;
}
