// https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#book

@book-cover-height: 200px;
.book {
  .book-cta {
    background: @primary-blue;
    border-radius: 3px;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    width: 130px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    font-size: .9em;
    padding: 5px 0;

    a {
      display: block;
      color: @white;
      text-decoration: none;
    }
  }
  .book-cover {
    height: @book-cover-height;
    a {
      display: block;
    }
  }

  img.bookcover {
    margin: 0 auto;
    width: 130px;
    height: @book-cover-height;
    box-shadow: 1px 2px 5px 0 @book-cover-shadow-color;
    border-radius: 3px;
  }
}
  