// https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#book

.book {
  .book-cta {
    a {
      display: block;
      color: @white;
      text-decoration: none;
    }
  }
  .book-cover {
    a {
      display: block;
    }
  }
}
  