a.ghost-btn {
  padding: 0.2rem 0.4rem;
  border-radius: var(--border-radius-button);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  /* Important is necessary to override default link color */
  color: var(--white) !important;
}
