/**
 * ButtonLink
 * https://docs.openlibrary.org/designers/design-pattern-library.html#buttonlink
 */
.linkButton {
  border-radius: 5px;
  background-color: var(--color-surface);
  padding: var(--spacing-inset-sm);
  display: inline-block;
  font-family: var(--font-family-body);
  color: var(--color-text-secondary);
  border: 1px solid var(--color-border);
  cursor: pointer;
}

.linkButton:hover {
  background-color: var(--color-surface-sunken);
}

a.linkButton {
  text-decoration: none;
  /* Need to duplicate to override base style specificity */
  color: var(--color-text-secondary);
}
