/**
 * CtaBtn
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#ctabtn
 */
@import "../less/index.less";
@import "../less/font-families.less";

// `a` specificity is needed to override default anchor styles
.cta-btn,
a.cta-btn {
  font-size: @font-size-label-large;
  color: @white;
  width: 100%;
  display: block;
  border: 0;
  border-radius: @border-radius-button;
  margin-top: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: @body-family;
  text-align: center;
  padding: 7px;
  white-space: nowrap;
  background-color: @grey;
  line-height: 1.5em;
  text-decoration: none;

  transition: background-color 0.2s;

  .btn-icon {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }
  // stylelint-disable-next-line selector-max-specificity
  .btn-icon.read-aloud {
    background-image: url(/static/images/icons/read%20aloud.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .btn-label {
    padding: 8px;
    padding-right: 0;
  }

  &:link,
  &:visited {
    color: @white;
    text-decoration: none;
  }

  &--no-pointer {
    cursor: default;
  }

  &--available,
  &--preview,
  &--primary {
    background-color: @primary-blue;
    color: @white;
    &:hover {
      background-color: darken(@primary-blue, 20%);
    }
  }

  &--available:disabled,
  &--preview:disabled,
  &--primary:disabled {
    background-color: @grey;
    cursor: default;
  }

  &--external {
    background-image: url(/static/images/icons/octicon-link-external-24.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center right 8px;
    justify-content: center;
  }

  &--unavailable {
    background-color: @primary-blue;
    color: @white;
    &:hover {
      background-color: darken(@primary-blue, 20%);
    }
  }

  &--shell&--external {
    background-blend-mode: difference;
  }

  &--shell,
  &--shell:link,
  &--shell:visited {
    background-color: @white;
    border: 2px solid @primary-blue;
    color: @primary-blue;
  }
  &--shell:disabled {
    border: 2px solid @light-grey;
    color: @light-grey;
    cursor: default;
  }
  &--sponsor {
    border: 2px solid @link-blue;
    background: lighten(desaturate(@link-blue, 56%), 67%);
  }
  &--vanilla,
  &--vanilla:visited,
  &--vanilla:link {
    padding: 5px;
    border: 2px solid @light-grey;
    background: @white;
    color: @grey;
    border-radius: @border-radius-button;
  }

  &--unstyled,
  &--unstyled:visited,
  &--unstyled:link {
    padding: 7px;
    background: @white;
    color: @grey;
    border-radius: @border-radius-button;
  }

  &--delete,
  &--cancel {
    background-color: @red;

    &:visited {
      color: @grey;
    }
    &:hover {
      background-color: darken(@red, 20%);
    }
  }

  &.cta-btn--w-icon {
    display: flex;
    align-items: center;
    padding: 0 8px;
  }

  &--sponsor:link,
  &--sponsor:visited {
    color: @link-blue;
  }

  &--sponsor:hover {
    border: 2px solid @link-blue;
    background-color: @link-blue;
    color: @white;
  }

  &__badge {
    background-color: darken(@burnt-sienna, 20%);
    padding: 4px 7px;
    border-radius: 5px;
    font-size: 0.7em;
  }
}

// Button inside carousel
.carousel-section .cta-btn {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: @font-size-label-large;
  text-align: center;

  &.cta-btn--external {
    padding-right: 25px;
  }
}

// Top margin to button coming after another button
.cta-btn + form input.cta-btn,
.cta-btn + .cta-btn {
  margin-top: 5px;
}

.cta-btn--small {
  font-size: @font-size-label-medium;
  padding: 5px 10px;
}

.cta-btn--search {
  width: auto;
  display: inline-block;
  margin: 0;
  border: 1px solid @dark-beige;
  background-color: @light-beige;
  color: @grey;
}

.waitinglist-message {
  text-align: center;
}

.cta-button-group {
  display: flex;
  position: relative;

  .cta-btn {
    padding: 8px;
    margin: 0;

    // Avoid text wrapping
    text-overflow: ellipsis;
    overflow: hidden;
  }

  // stylelint-disable-next-line selector-max-specificity
  > .cta-btn:first-child:not(:last-child) {
    border-radius: @border-radius-button 2px 2px @border-radius-button;
  }

  // stylelint-disable-next-line selector-max-specificity
  > .cta-btn:not(:first-child):not(:last-child) {
    margin-left: 1px;
    border-radius: 2px;
  }

  // stylelint-disable-next-line selector-max-specificity
  > .cta-btn:last-child:not(:first-child) {
    margin-left: 1px;
    border-radius: 2px @border-radius-button @border-radius-button 2px;
  }
}
