/* Styles for the check-in form */
.check-in {
  padding: 10px;
}

.check-in__form {
  display: flex;
  flex-direction: column;
}

.check-in__form > div {
  margin-bottom: 10px;
}

.check-in__label,
.check-in__select {
  font-size: var(--font-size-title-medium);
}

.check-in__label {
  font-weight: 700;
}

.check-in__select {
  padding: 5px;
}

.check-in__actions {
  display: flex;
  justify-content: space-between;
}

.check-in__actions button {
  width: 45%;
}

.check-in__actions .invisible {
  visibility: hidden;
}

.check-in__inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.check-in__inputs > span {
  display: flex;
  justify-content: space-between;
}

.check-in__inputs > span > select {
  width: 75%;
}

.last-read-date,
.check-in-prompt {
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  margin-top: -15px;
  margin-bottom: 5px;
  border: 1px solid var(--light-grey);
  font-size: var(--font-size-label-medium);
  text-align: center;
  background: linear-gradient(to bottom, transparent 80%, var(--lightest-grey));
}

.last-read-date a,
.check-in-prompt a {
  display: inline-block;
  padding: 8px 7px;
  transition: background-color 0.2s;
  border-radius: var(--border-radius-button);
}

.last-read-date a:hover,
.check-in-prompt a:hover {
  background-color: var(--icon-link-grey);
}

/* @width-breakpoint-tablet: 768px */
@media only screen and (min-width: 768px) {
  .check-in__form {
    flex-direction: column;
  }

  .check-in__form > div {
    margin-bottom: 20px;
  }

  .check-in__label {
    flex-grow: 2;
  }

  .check-in__actions button {
    width: 25%;
  }

  .check-in__inputs {
    flex-direction: row;
    height: unset;
    gap: 10px;
  }

  .check-in__inputs > span {
    display: unset;
    flex-grow: 1;
  }

  .check-in__inputs > span > label {
    display: none;
  }

  .check-in__inputs > span > select {
    width: 100%;
  }
}

/* Styles for check-in prompt, located below reading log dropper */
.check-in-prompt .prompt-options {
  white-space: nowrap;
}

.check-in-prompt .prompt-copy {
  display: inline-block;
  padding-top: 8px;
}
