/**
 * EditionsTable
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#editionstable
 */

/* stylelint-disable selector-max-specificity, no-descending-specificity */
table#editions,
.editions-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  clear: both;
  font-family: var(--body-family);
}

table#editions .cta-button-group,
.editions-table .cta-button-group {
  width: 185px;
  margin: 0 auto;
}

table#editions thead,
.editions-table thead {
  border: 1px solid var(--light-grey);
}

table#editions thead tr,
.editions-table thead tr {
  background: linear-gradient(0deg, var(--lightest-grey), transparent);
}

/* stylelint-disable max-nesting-depth */
table#editions thead tr th.read:focus,
.editions-table thead tr th.read:focus {
  outline: revert;
}

table#editions thead tr th.title:focus,
.editions-table thead tr th.title:focus {
  outline: revert;
}
/* stylelint-enable max-nesting-depth */

table#editions th,
.editions-table th {
  font-family: var(--body-family);
  font-size: var(--font-size-label-small);
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  text-align: left;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

table#editions td.book,
.editions-table td.book {
  vertical-align: top;
  display: table-cell;
}

table#editions div.cover,
.editions-table div.cover {
  text-align: center;
  padding: 10px 10px 10px 0;
  width: 70px;
  overflow: hidden;
}

table#editions div.cover img,
.editions-table div.cover img {
  max-width: 70px;
  max-height: 60px;
}

table#editions div.title,
.editions-table div.title {
  font-size: var(--font-size-title-small);
  padding: 10px 0;
  min-width: 1%;
  overflow-wrap: break-word;
}

table#editions div.links,
.editions-table div.links {
  font-size: var(--font-size-label-medium);
  color: var(--dark-grey);
  line-height: 1.5em;
}

table#editions .btn-notice,
.editions-table .btn-notice {
  padding: 0;
  /* stylelint-disable-next-line sh-waqar/declaration-use-variable */
  background-color: none !important;
}

table#editions .links li,
.editions-table .links li,
table#editions .links ul,
.editions-table .links ul {
  list-style-type: none;
}

table#editions td.icon,
.editions-table td.icon {
  text-align: left;
  vertical-align: top;
  padding: 15px;
}

table#editions td.icon ul,
.editions-table td.icon ul {
  margin-bottom: 0;
}

table#editions .highlight,
.editions-table .highlight {
  box-shadow: inset 0 0 0 2px var(--beige);
  background: hsl(48, 33%, 87%); /* mix(@beige, @white, 75%) */
}

.lists table#editions h3 {
  font-family: var(--body-family) !important;
  font-size: 0.75em;
  display: inline;
}

.lists table#editions th {
  font-family: var(--body-family) !important;
  background-color: transparent;
  text-align: left;
  font-weight: normal;
  font-size: 0.6875em;
  color: var(--brown);
  padding: 0 0 10px;
  border-left: none;
  border-right: none;
}

.lists table#editions td {
  color: var(--dark-grey);
  vertical-align: top;
}

/* stylelint-disable max-nesting-depth */
.lists table#editions td.what {
  min-width: 410px;
}

.lists table#editions td.when,
.lists table#editions td.who,
.lists table#editions td.que {
  font-size: 0.75em;
  padding: 10px 15px 10px 0;
}

.lists table#editions td .cover {
  width: 40px;
  padding-right: 10px;
}

.lists table#editions td .cover img {
  max-height: 35px;
  max-width: 40px;
}
/* stylelint-enable max-nesting-depth */

@media all and (min-width: 960px) /* @width-breakpoint-desktop */ {
  table#editions {
    float: left;
    width: 100%;
  }

  table#editions div.title {
    float: left;
    width: 350px;
  }

  table#editions div.cover {
    float: left;
  }
}

@media only screen and (max-width: 960px) /* @width-breakpoint-desktop */ {
  table#editions td.book {
    width: 100%;
    display: inline-flex;
  }
}

@media only screen and (max-width: 768px) /* @width-breakpoint-tablet */ {
  table#editions {
    width: 100%;
  }

  table#editions thead {
    display: none;
  }

  table#editions tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--lighter-grey);
    padding-bottom: 10px;
    overflow: visible;
  }

  table#editions hr {
    visibility: hidden;
  }

  table#editions form {
    padding: 10px;
  }

  table#editions ul.links ul,
  table#editions li.read-option {
    display: inline;
  }

  table#editions td.book {
    width: 100%;
    display: inline-flex;
  }

  table#editions div.title {
    width: 100%;
  }

  table#editions .links a {
    font-size: 120%;
  }

  table#editions td.icon {
    width: 100%;
    padding: 0;
  }

  table#editions td.icon.read {
    order: 3;
  }

  table#editions td.icon.read ul.read {
    display: flex;
    flex-direction: column;
    order: -1;
    padding: 10px 0;
  }

  table#editions td.icon.locate .links {
    display: flex;
  }

  table#editions td.icon.locate {
    padding: 0 10px;
  }

  table#editions .cta-button-group {
    width: unset;
  }

  table#editions .cta-dropper {
    width: auto;
  }
}

tbody tr {
  background: hsl(52, 31%, 95%); /* mix(@beige, @white, 30%) */
}

tbody {
  font-size: 0.9em;
}

.edition-adder {
  text-align: right;
}
