table#editions {
  clear: both;
  font-family: "Lucida Grande",Verdana,Geneva,Helvetica,Arial,sans-serif;

  th {
    font-family: "News Gothic MT","Trebuchet MS",Geneva,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
    text-align: center;
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    padding: 6px 0;
    outline: none;
    cursor: pointer;
  }

  td.book {
    vertical-align: top;
  }

  td.icon {
    text-align: left;
    vertical-align: top;
    padding: 10px 0 10px 10px;
    width: 143px;

    ul {
      margin-bottom: 0;
    }
  }

  div.cover {
    text-align: center;
    padding: 10px 10px 10px 0;
    width: 70px;
    overflow: hidden;

    img {
      max-width: 70px;
      max-height: 60px;
    }
  }

  div.title {
    font-size: 1.0em;
    padding: 10px 0;
  }

  div.links {
    font-size: 12px;
    color: #333;
    line-height: 1.5em;
  }
  .btn-notice {
    padding: 0px;
    background-color: none !important;
  }

  .links {
    li,
    ul {
      list-style-type: none;
    }
  }
}

