/**
 * FlashMessage
 * https://docs.openlibrary.org/designers/design-pattern-library.html#flashmessage
 */

.flash-messages {
  font-size: 1em;
  font-family: var(--font-family-body);
  clear: both;
}

.flash-messages span {
  display: flex;
  align-items: center;
  gap: var(--spacing-inline-sm);
  background-color: var(--light-yellow);
  padding: var(--spacing-inset-md);
  text-align: left;
}
