/* stylelint-disable selector-max-specificity */
div#footer-content {
  max-width: 1060px;
  margin: 5px auto;
  padding: 20px;
}

div#footer-links {
  display: flex;
  margin-left: 10px;
  line-height: var(--line-height-list);
}

#footer-content div {
  flex: 1;
  flex-wrap: wrap;
  font-family: var(--body-family);
  min-width: 150px;
}

footer {
  display: flex;
  width: 100%;
  bottom: 0;
  font-size: 0.8em;
}

footer #footer-details {
  color: var(--dark-grey);
  display: flex;
  width: 100%;
}

footer h2 {
  color: var(--dark-grey);
  font-size: 1em;
  margin: 0;
}

footer hr {
  border: 0;
  border-top: 1px solid var(--dark-beige);
  margin: 20px 0;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  font-size: 1em;
  list-style-type: none;
  white-space: nowrap;
  margin: 5px 0;
}

.footer-icon {
  display: inline-flex;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: var(--dark-grey);
  border-radius: 3px;
}

.footer-icon img {
  padding: 8px;
}

#footer-links ul li a {
  color: var(--dark-blue);
}

#footer-links div {
  margin: 20px 0;
  padding: 0;
}

/* Logo in far left of footer */
img#archive-logo {
  margin-right: 10px;
  padding: 0;
  height: 27.5px;
  opacity: 0.7;
}

/* Legal information */
div#legal-details {
  flex: 0.9;
  margin-bottom: 8px;
}

/* Github version shown in bottom right corner of footer */
div#version-details {
  text-align: right;
  flex: 0.1;
  margin-top: 8px;
}

/* FIXME: merge with above CSS rule? */
.version {
  color: var(--dark-grey);
  border: 1px solid var(--dark-beige);
  border-radius: 3px;
  padding: 8px 10px;
}
