/**
 * Open Library Form
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#olform
 */

form.olform {
  font-family: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, sans-serif;

  .label {
    padding: 10px 0 2px;

    label {
      font-size: 1.0em;
      font-family: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, Arial, sans-serif;
      font-weight: 700;
    }

    span {
      font-weight: normal;
    }
  }

  input[type=text],
  input[type=email],
  input[type=password],
  textarea {
    font-size: 1.0em;
    font-family: "Lucida Grande", "Trebuchet MS", Geneva, Helvetica, Arial, sans-serif;
    padding: 3px;
    max-width: 100%;
  }

  input[type=email],
  input[type=password],
  .required {
    height: 40px;
  }

  select {
    font-size: 1.125em;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    padding: 3px;
  }

  textarea {
    font-size: .75em;
  }

  &.books {
    fieldset.major input[type=text],
    fieldset.major input[type=email],
    fieldset.major input[type=password],
    fieldset.major textarea {
      font-size: .875em;
    }

    .input,
    .label {
      width: auto !important;
    }

    .TitleAuthor {
      input#work-title {
        font-size: 1.875em !important;
        margin: 0;
      }

      input#author {
        font-size: 1em !important;
      }
    }
  }
}
