/* Unified Read Button Styling */
.cta-dropper {
  display: flex;
}

/* dropdown button */
.cta-dropper details.cta-btn {
  padding: 0;
  width: 32px;
  flex-shrink: 0;
}

.cta-dropper summary {
  height: 100%;
  margin: auto;
  width: 24px;
  /* animated arrow on the dropdown button */
  content: "";
  background: url(/static/images/icons/icon_dropit.png) no-repeat center;
  background-position: 0;
  background-size: 45px;
  /* whiten arrow png */
  filter: brightness(0) invert(1);
}

/* hide extra arrow on iOS */
.cta-dropper summary::marker {
  content: "";
  font-size: 0;
}

.cta-dropper summary::-webkit-details-marker {
  display: none;
}

.cta-dropper details[open] summary {
  background-position: -22px 48%;
}

/* dropdown containing Listen/Search/Download/Locate buttons */
.dropper-menu {
  z-index: var(--z-index-level-4);
  border: 1px solid var(--color-border-subtle);
  border-radius: 5px;
  background-color: var(--white);
  position: absolute;
  /* align dropper menu with buttons */
  right: 0;
  margin-top: var(--spacing-stack-xs);
  width: 100%;
  max-width: 200px;
}

.dropper-menu .cta-btn.cta-btn--w-icon,
.dropper-menu .cta-btn:link,
.dropper-menu .cta-btn:visited {
  background: var(--white);
  color: var(--black);
  text-align: left;
  text-decoration: none;
  padding: var(--spacing-inset-xs) var(--spacing-inset-sm);
  border-radius: 0;
  margin: 0;
}

.dropper-menu .cta-btn .btn-label {
  padding: 0;
  flex: 1;
}

.dropper-menu .cta-btn:hover {
  background-color: var(--lighter-grey);
}

.dropper-menu li {
  list-style: none;
  margin: 0;
}

.dropper-menu li + li {
  border-top: 1px solid var(--color-border-subtle);
}

.dropper-menu li:first-child,
.dropper-menu li:last-child {
  overflow: clip;
}

.dropper-menu li:first-child {
  border-radius: 5px 5px 0 0;
}

.dropper-menu li:last-child {
  border-radius: 0 0 5px 5px;
}

.dropper-menu .btn-icon {
  display: inline-block;
  filter: invert(1);
  margin-right: var(--spacing-inline-sm);
  width: 1.25em;
  height: 1.25em;
}

/* icons */
.dropper-menu .listen {
  background-image: url(/static/images/icons/icon_listen.png);
}

.dropper-menu .map {
  background-image: url(/static/images/icons/icon_map.png);
}

.dropper-menu .listen,
.dropper-menu .map {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
