.generic-dropper-wrapper {
  position: relative;
  z-index: @z-index-level-4;
  min-height: 50px;

  &--active {
    z-index: @z-index-level-5;
  }
}

.generic-dropper {
  position: absolute;
  width: 100%;
  z-index: @z-index-level-14;

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid @mid-grey;
    overflow: hidden;

    * {
      color: @dark-grey;
      background-color: @lightest-grey;
    }

    .generic-dropper__primary {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      margin: auto;
      height: inherit;

      /* stylelint-disable max-nesting-depth */
      button {
        border: none;
        cursor: pointer;
        font-size: 1rem;
        height: 100%;
        width: 100%;
      }
      /* stylelint-enable max-nesting-depth */
    }
    .generic-dropper__dropclick {
      border-left: 1px solid @lighter-grey;
      text-decoration: none;
      height: inherit;
      width: 40px;

      .display-flex();
      justify-content: center;
      align-items: center;

      /* stylelint-disable max-nesting-depth */
      h3 {
        flex: 1;
      }

      .arrow {
        width: 23px;
        height: 23px;
        background-image: url(/images/icons/icon_dropit.png);
        background-repeat: no-repeat;
        filter: grayscale(100%);
        background-position: 0 0;
        background-size: 45px;

        /* stylelint-disable selector-max-specificity */
        &.up {
          background-position: -22px 0;
        }
        /* stylelint-enable max-nesting-depth */
        /* stylelint-enable selector-max-specificity */
      }
    }
  }
  &__dropdown {
    display: none;
    width: 100%;
    border-top: 1px solid @lighter-grey;
    position: absolute;
  }
}
.book-progress-btn {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style for read button and dropper button */
.cta-dropper {
  display: flex;
  margin-bottom: 10px;
  .cta-button-group.cta-dropper-button {
    .cta-btn {
      border-radius: 5px 2px 2px 5px;
    }
    border-right: 1px solid transparent;
    flex-grow: 1;
  }
  details {
    background-color: @primary-blue;
    border-radius: 2px 5px 5px 2px;
    // raise dropper menu above "Want to Read" dropper
    z-index: @z-index-level-14;
    // mark details as nearest container ancestor to dropdown menu
    contain: layout;
  }
  summary {
    cursor: pointer;
    list-style-type: none;
    &:hover { background-color: darken(@primary-blue, 20%); }
    border-radius: 2px 5px 5px 2px;
  }
  summary::after {
    display: block;
    margin: 0 8px;
    padding-top: 16px;
    width: 24px;
    height: 24px;
    /* Style for animated arrow on dropdown button. Copied from "Want to Read" dropper above */
    content: "";
    background: url(/images/icons/icon_dropit.png) no-repeat center;
    background-position: 0;
    background-size: 45px;
    // whiten arrow png
    filter: brightness(0) invert(1);
  }
  details[open] summary::after {
    content: "";
    background-position: -22px 50%;
  }
}

.cta-dropper .dropper-menu {
  margin: 0;
  border: 1px solid @lighter-grey;
  border-radius: 5px;
  background-color: @white;
  position: absolute;
  // align dropper menu with buttons
  right: 0;
  width: 194px;
  li+li {
    border-top: 1px solid @lighter-grey;
  }
  li {
    list-style: none;
    margin: 0;
  }
  .cta-btn {
    &.cta-btn--w-icon, &:link, &:visited {
      background: @white;
      color: @black;
      text-align: left;
      padding: 5px 10px;
      border-radius: 0;
      margin: 0;
    }
    .btn-label {
      padding: 0;
    }
    .btn-icon {
      display: inline-block;
      filter: invert(1);
      margin: 5px 2px -3px;
      width: 1.2em;
      height: 1.2em;
    }
    &:hover {
      background-color: @lighter-grey;
    }
  }
}
// edition table styling
.read-option {
  .cta-dropper {
    max-width: 185px;
    margin: 0 auto;
    .dropper-menu { width: 185px; }
  }
  .cta-button-group .cta-btn--w-icon {
    display: block;
  }
}

// dropper menu icons
.dropper-menu .cta-btn--w-icon {
  .listen, .search, .download, .map {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .listen { background-image: url(/static/images/icons/icon_listen.png); }
  .search { background-image: url(/static/images/icons/icon_search.png); }
  .download { background-image: url(/static/images/icons/icon_download.png); }
  .map { background-image: url(/static/images/icons/icon_map.png); }
}
