.generic-dropper-wrapper {
  position: relative;
  z-index: var(--z-index-level-3);
  min-height: 50px;
}

.generic-dropper-wrapper--active {
  z-index: var(--z-index-level-4);
}

.generic-dropper {
  position: absolute;
  width: 100%;
  z-index: var(--z-index-level-14);
}

.generic-dropper__actions {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  cursor: pointer;
  border-radius: var(--border-radius-button);
  border: 1px solid var(--mid-grey);
  overflow: hidden;
}

.generic-dropper__actions * {
  color: var(--dark-grey);
  background-color: var(--lightest-grey);
}

.generic-dropper__actions .generic-dropper__primary {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  height: inherit;
}

/* stylelint-disable max-nesting-depth */
.generic-dropper__actions .generic-dropper__primary button {
  border: none;
  cursor: pointer;
  font-size: var(--font-size-label-large);
  height: 100%;
  width: 100%;
}
/* stylelint-enable max-nesting-depth */

.generic-dropper__actions .generic-dropper__dropclick {
  border-left: 1px solid var(--lighter-grey);
  text-decoration: none;
  height: inherit;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* stylelint-disable max-nesting-depth */
.generic-dropper__actions .generic-dropper__dropclick h3 {
  flex: 1;
}

.generic-dropper__actions .generic-dropper__dropclick .arrow {
  width: 23px;
  height: 23px;
  background-image: url(/images/icons/icon_dropit.png);
  background-repeat: no-repeat;
  filter: grayscale(100%);
  background-position: 0 0;
  background-size: 45px;
}

/* stylelint-disable selector-max-specificity */
.generic-dropper__actions .generic-dropper__dropclick .arrow.up {
  background-position: -22px 0;
}
/* stylelint-enable max-nesting-depth */
/* stylelint-enable selector-max-specificity */

.generic-dropper__dropdown {
  display: none;
  width: 100%;
  border-top: 1px solid var(--lighter-grey);
  position: absolute;
  font-size: var(--font-size-label-medium);
}

.book-progress-btn {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Unified Read Button Styling */
.cta-dropper {
  display: flex;
}

/* dropdown button */
.cta-dropper details.cta-btn {
  padding: 0;
  width: 32px;
  flex-shrink: 0;
}

.cta-dropper summary {
  height: 100%;
  margin: auto;
  width: 24px;
  /* style for animated arrow on dropdown button. Copied from "Want to Read" dropper above */
  content: "";
  background: url(/static/images/icons/icon_dropit.png) no-repeat center;
  background-position: 0;
  background-size: 45px;
  /* whiten arrow png */
  filter: brightness(0) invert(1);
}

/* hide extra arrow on iOS */
.cta-dropper summary::marker {
  content: "";
  font-size: 0;
}

.cta-dropper summary::-webkit-details-marker {
  display: none;
}

.cta-dropper details[open] summary {
  background-position: -22px 48%;
}

/* dropdown containing Listen/Search/Download/Locate buttons */
.dropper-menu {
  z-index: var(--z-index-level-4);
  border: 1px solid var(--lighter-grey);
  border-radius: 5px;
  background-color: var(--white);
  position: absolute;
  /* align dropper menu with buttons */
  right: 0;
  margin-top: 6px;
  width: 100%;
  max-width: 200px;
}

.dropper-menu .cta-btn.cta-btn--w-icon,
.dropper-menu .cta-btn:link,
.dropper-menu .cta-btn:visited {
  background: var(--white);
  color: var(--black);
  text-align: left;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 0;
  margin: 0;
}

.dropper-menu .cta-btn .btn-label {
  padding: 0;
  flex: 1;
}

.dropper-menu .cta-btn:hover {
  background-color: var(--lighter-grey);
}

.dropper-menu li {
  list-style: none;
  margin: 0;
}

.dropper-menu li + li {
  border-top: 1px solid var(--lighter-grey);
}

.dropper-menu li:first-child,
.dropper-menu li:last-child {
  overflow: clip;
}

.dropper-menu li:first-child {
  border-radius: 5px 5px 0 0;
}

.dropper-menu li:last-child {
  border-radius: 0 0 5px 5px;
}

.dropper-menu .btn-icon {
  display: inline-block;
  filter: invert(1);
  margin-right: 5px;
  width: 1.25em;
  height: 1.25em;
}

/* icons */
.dropper-menu .listen {
  background-image: url(/static/images/icons/icon_listen.png);
}

.dropper-menu .map {
  background-image: url(/static/images/icons/icon_map.png);
}

.dropper-menu .listen,
.dropper-menu .map {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
