@import (less) "components/header-bar.less";
@import (inline) "components/buttonGhost.css";
@import (inline) "components/iaBar.css";
@import (inline) "components/buttonBtn.css";
@import (inline) "components/page-banner.css";

// Mobile
html {
  // Take into account sticky header bar
  scroll-padding-top: 60px;
}

// Tablet
@media only screen and (min-width: @width-breakpoint-tablet) {
  @import (inline) "components/header-bar--tablet.css";
  @import (inline) "components/page-banner--tablet.css";
  html {
    scroll-padding-top: 70px;
  }
}

// Desktop
@media all and (min-width: @width-breakpoint-desktop) {
  @import (inline) "components/header-bar--desktop.css";
  html {
    scroll-padding-top: 0;
  }
}
