.header-bar {
  margin: 20px auto;
  padding-top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.header-bar .auth-component {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

.header-bar .logo-component {
  /* border-right: 1px solid var(--dark-beige); */
  padding-right: 15px;
}

.header-bar .navigation-component {
  display: flex;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-bar .navigation-component .dropdown-menu {
  border-radius: 3px;
  border: 1px solid var(--dark-beige);
}

/* stylelint-disable-next-line max-nesting-depth, selector-max-specificity */
.header-bar .navigation-component li .dropdown-menu {
  width: auto;
  white-space: nowrap;
}

.header-bar .search-component .search-bar-component {
  width: 100%;
}

.header-bar .search-component .search-bar {
  max-width: 100%;
}

.header-bar .hamburger-component {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 6;
  order: 6;
}

.header-bar .app-drawer {
  top: 0;
  height: 100%;
}

.header-bar .mask-menu {
  top: 0;
}

.header-bar .header-dropdown .account__icon {
  width: 45px;
  height: 45px;
}

.header-bar.mobile {
  display: none;
}
