/* Homepage about section */
@import (less) "less/font-families.less";

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  img {
    border-radius: 10px;
  }
}
div.tutorial__item {
  background-color: @book-cover-carousel-cards;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 5px;
  padding: 10px;
  min-width: 220px;

  @media only screen and (min-width: @width-breakpoint-desktop) {
    min-width: 310px;
  }
  &:focus {
    border: 1px solid hsl(202, 97%, 28%);
  }
  p {
    margin: .4% 4%;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
  }
  p.small {
    color: @gray-a19b9e;
    font-size: .8rem;
  }
  a {
    display: flex;
    align-items: center;
    height: 100px;
  }
  img {
    position: relative;
    margin: 5px;
    float: left;
    height: 5rem;
    opacity: 80%;
  }
}

/* stylelint-disable selector-max-specificity */
div.chartHome a:hover,
#home-stats-charts .statschart:hover a {
  color: @link-blue;
  text-decoration: underline;
}
#home {
  &-stats-charts {
    .display-flex();
    flex-wrap: wrap;
    .statschart {
      flex: 1;
      height: 110px;
      text-align: center;
      padding: 1px;
      // stylelint-disable-next-line max-nesting-depth
      .chartShow {
        width: 145px;
        height: 60px;
        margin: 0 5px;
        border-bottom: 1px solid @grey;
        cursor: pointer;
      }
      /* stylelint-disable no-descending-specificity */
      /* stylelint-disable max-nesting-depth */
      a {
        color: @black;
        text-decoration: none;
        span {
          display: block;
        }
        .ticks {
          margin-top: 2px;
          font-family: @georgia_serif-2;
          font-size: 1.125em;
          font-weight: 700;
          padding-top: 5px;
        }
        .label {
          font-family: @lucida_sans_serif-3;
          font-size: .625em;
          text-transform: uppercase;
        }
      }
      /* stylelint-enable no-descending-specificity */
      /* stylelint-enable max-nesting-depth */
    }
  }
  &-resource {
    font-size: 13px;
    text-align: left;
  }
  &-about {
    .display-flex();
    flex-wrap: wrap;
    font-size: 13px;
  }
  &-about-mission {
    flex: 2;
    min-width: 300px;
    max-width: 439px;
    min-height: 100px;
    margin-bottom: 20px;
    font-family: @georgia_serif-2;
  }
  &-about-mission-tldr {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.5em;
    font-family: @georgia_serif-2;
    color: @dark-grey;
    font-weight: normal;
  }
}
/* stylelint-enable selector-max-specificity */

.card__text {
  margin: 5px;
}
.home-resource-section {
  flex: 1;
  font-size: 13px;
  min-width: 150px;
  min-height: 100px;
  margin-bottom: 20px;
  padding: 0 10px;
  li {
    margin: 1em 0;
  }
  .collapse {
    margin: 0;
  }
}

.card {
  width: 383px;
  height: 600px;
  background-color: @darker-brand-blue;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0,.54);  overflow: hidden;
  z-index: @z-index-level-3;
  transition: all .5s;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  top: 561px;
}
.dots__dot {
  background-color: @blue-219ed4;
  opacity: .7;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  margin-right: .5rem;
  cursor: pointer;
  transition: all .5s;
}
.dots__dot:last-child {
  margin: 0;
}
.dots__dot--active {
  background-color: @modal-background-color;
  opacity: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @blur-black;
  backdrop-filter: blur(4px);
  z-index: @z-index-level-1;
  transition: all .5s;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.slide_gif {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  z-index: @z-index-level-4;
  margin: 8px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0,.25));
}
.slide_text {
  width: 370px;
  color: @modal-background-color;
  position: absolute;
  top: 412px;
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 1;
  text-align: center;
  padding: 2rem;
  line-height: 1.3;
  left: 50%;
  transform: translateX(-50%);
}
.slide_title {
  width: 290px;
  color: @modal-background-color;
  position: absolute;
  top: 330px;
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 1;
  line-height: 1.2;
  padding: 1.5rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.card-next {
  position: absolute;
  left: 82%;
  top: 93%;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @modal-background-color;
}
.btn-close-card {
  font-family: inherit;
  color: @modal-background-color;
  // background-color: #549ec7;
  position: absolute;
  left: 8%;
  font-size: 14px;
  cursor: pointer;
  top: 93%;
}
