/* GLOBAL TOP NOTICE */
/* (Internet Archive Bar) */

.iaBar {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* This is to right align the donate button and language dropdown */
}

.iaBar .iaLogo {
  flex: 1;
}

.iaBar .iaLogo img {
  max-width: 160px;
  min-width: 60px;
  width: 100%;
}

.iaBar .ghost-btn {
  margin-right: 20px;
}

/* Changes color of heart unicode character */
.heart {
  color: var(--heart-color);
  font-size: 1em;
}

/* stylelint-disable selector-max-specificity */
#topNotice {
  font-size: 0.9em;
}

#topNotice .topNotice-container {
  margin: 0 auto;
  width: 958px;
}

#topNotice .topNotice-left {
  float: left;
  display: table;
}

#topNotice .topNotice-left a {
  display: table-cell;
  vertical-align: middle;
  height: 30px;
  padding-right: 8px;
  text-decoration: none;
  color: var(--white);
}

/* stylelint-disable-next-line max-nesting-depth */
#topNotice .topNotice-left a:hover {
  color: var(--white);
}

#topNotice .topNotice-logo {
  font-size: var(--font-size-headline-small);
}

/* @width-breakpoint-mobile: 450px */
@media only screen and (max-width: 450px) {
  #topNotice .iabar-mobile {
    font-size: 0.9em;
  }
  #topNotice .ghost-btn.iabar-mobile {
    padding: 5px 7px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
