/**
 * Link Box
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#linkbox
 */

.link-box {
  font-size: var(--font-size-body-medium);
  white-space: normal;
  word-wrap: break-word;
}

.link-box h3 {
  color: var(--grey);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: inline;
  font-size: var(--font-size-label-medium);
}

.link-box.link-box--with-header h3 {
  display: block;
}

.link-box button.edit-subject-btn {
  border: none;
  background: none;
  cursor: pointer;
}
