@import (less) "../less/colors.less";
@import (less) "../less/font-families.less";
@import (inline) "components/read-panel.css";
@import (inline) "components/book.css";

.list-follow-showcase {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  padding: 8px 0;

  .list-follow-card {
    margin-right: 24px;
    flex-shrink: 0;
  }

  &__see-all {
    margin-right: 24px;
    align-self: center;
    width: auto;
  }
}

// stylelint-disable-next-line no-descending-specificity
.list-follow-card {
  a& {
    text-decoration: none;
  }

  display: flex;
  flex-direction: column;

  background-color: @beige;

  @card-width: 215px;
  width: @card-width;
  height: 150px;

  border: 1px solid fade(@black, 25%);
  border-radius: @border-radius-card;
  box-shadow: 2px 2px 4px fade(@black, 15%);

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    border-radius: 0 0 @border-radius-card @border-radius-card;
    width: 100%;
    a& {
      text-decoration: none;
    }
  }
  &__name-avatar {
    display: flex;
  }
  &__bottom {
    background: @grey-f4f4f4;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    gap: 0.5em;
    width: 100%;
    border-radius: 0 0 @border-radius-card @border-radius-card;
  }
  &__user {
    display: flex;
    align-items: center;
    font-size: @font-size-label-medium;
    padding-left: 5px;
    flex: 1;
    min-width: 0;

    img {
      border-radius: @border-radius-thumbnail;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      margin-top: -10px;
      position: relative;
      z-index: @z-index-level-3;
      border: 2px solid @white;
      flex-shrink: 0;
    }
  }

  &__username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    padding-bottom: 5px;
    flex: 1;
    min-width: 0;
  }
  &__username-link {
    a& {
      text-decoration: none;
      color: @dark-grey-two;
      padding-bottom: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 100%;
      display: inline-block;
      position: relative;
      top: 0.2rem;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
  }

  &__follow-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-bottom: 3px;
    .cta-btn {
      font-size: @font-size-label-medium; // Override base size
      padding: 1px 10px; // Less padding
      border-radius: 4px; // Custom radius
      box-shadow: none; // Remove default shadow if present
      margin: 0;
    }
  }
  &__private-button {
    background-color: @grey;
    border: none;
    cursor: not-allowed;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    border-radius: 4px;
    .pvt-text {
      color: @white;
      font-size: 12px; // Override base size
      padding: 2px 4px; // Less padding
      box-shadow: none; // Remove default shadow if present
      margin: 0;
      letter-spacing: 0.2px;
      margin-top: 1px;
    }
    .pvt-icon {
      color: @white;
      font-size: 14px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: @font-size-label-large;
    color: @black;
    width: 100%;
    max-height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    white-space: normal;
    word-break: break-word;
    position: relative;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__bottom-community {
    background: @grey-f4f4f4;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: -3px;
    border-radius: 0 0 3px 3px;
  }
  &__community-label {
    font-weight: normal;
    font-size: @font-size-label-large;
    color: @black;

    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 2px;
  }
  &__num-books {
    color: @grey-555;
    font-size: @font-size-label-medium;
  }
  &__info {
    flex: 1;
    flex-direction: row;
  }
  &__covers {
    @cover-width: 64px;
    @padding: 20px;

    flex: 1;
    min-height: 1px; // fallback
    overflow: clip;

    display: flex;
    align-items: center;
    padding: 0 @padding;

    img {
      width: @cover-width;
      border-radius: 4px;
      box-shadow: 4px 4px 0 fade(@black, 25%);
    }

    @top-cover: 3;
    @mid-cover: 2;
    @bottom-cover: 1;

    @overlap: ((3 * @cover-width - (@card-width - 2 * @padding)) / 2);

    img:nth-child(1) {
      z-index: @top-cover;
      transform: translate(0, @padding);
    }
    img:nth-child(2) {
      z-index: @mid-cover;
      transform: translate(-@overlap, @padding);
    }
    img:nth-child(3) {
      z-index: @bottom-cover;
      transform: translate(-2 * @overlap, @padding);
    }
    &:hover img {
      scale: 1.05;
    }
  }

  // stylelint-disable-next-line no-descending-specificity
  img {
    transition: scale 0.2s;
  }
}
