.list-follow-showcase {
  &__see-all {
    margin-right: 24px;
    align-self: center;
    width: auto;
  }
}
.list-follow-card__bottom {
  background: @grey-f4f4f4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  gap: 0.5em;
  width: 100%;
  border-radius: 0 0 4px 4px;
}
.list-follow-card__user {
  display: flex;
  align-items: center;
  font-size: @font-size-label-medium;
  padding-left: 5px;
  flex: 1;
  min-width: 0;

  img {
    border-radius: 8px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: -10px;
    position: relative;
    z-index: @z-index-level-3;
    border: 2px solid @white;
  }
}

.list-follow-card__username {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  padding-bottom: 5px;
  flex: 1;
  min-width: 0;
}
.list-follow-card__username-link {
  a& {
    text-decoration: none;
    color: @dark-grey-two;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
    position: relative;
    top: 0.2rem;
  }
}

.list-follow-card__follow-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  padding-bottom: 3px;
  .cta-btn {
    font-size: @font-size-label-medium; // Override base size
    padding: 1px 10px; // Less padding
    border-radius: 4px; // Custom radius
    box-shadow: none; // Remove default shadow if present
    margin: 0;
  }
}
.list-follow-card__private-button {
  background-color: @grey;
  border: none;
  cursor: not-allowed;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  border-radius: 4px;
  .pvt-text {
    color: @white;
    font-size: 12px; // Override base size
    padding: 2px 4px; // Less padding
    box-shadow: none; // Remove default shadow if present
    margin: 0;
    letter-spacing: 0.2px;
    margin-top: 1px;
  }
  .pvt-icon {
    color: @white;
    font-size: 14px;
  }
}
.list-follow-card__title {
  font-weight: bold;
  font-size: @font-size-label-large;
  color: @black;
  width: 100%;
  max-height: 2.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4em;
  white-space: normal;
  word-break: break-word;
  position: relative;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.list-follow-card__num-books {
  color: @grey-555;
  font-size: @font-size-label-medium;
}

.list-follow-card__bottom-community {
  background: @grey-f4f4f4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: -3px;
  border-radius: 0 0 3px 3px;
}

.list-follow-card__community-label {
  font-weight: normal;
  font-size: @font-size-label-large;
  color: @black;

  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2px;
}
