.lists-page-cta {
  background-repeat: no-repeat;
  background-image: url(/images/icons/icon_fav-big.png);
  padding-top: 70px;
  background-position: center 0;
}
.lists-page-cta h2 {
  font-size: 1.5em;
  font-family: var(--font-family-title);
  font-weight: normal;
  color: var(--dark-grey);
  margin: 0 0 10px;
}
.lists-page-cta p {
  font-size: 0.875em;
  margin: 0 0 30px;
}
/* @width-breakpoint-desktop */
@media all and (min-width: 960px) {
  .lists-page-cta {
    background-position: 35px 35px;
    padding-left: 130px;
    padding-right: 60px;
  }
}
