.lists-page-cta {
  position: relative;
}

.lists-page-cta .lists-page-cta__icon {
  display: block;
  width: 52px;
  height: 52px;
  margin: 0 auto var(--spacing-stack-sm);
  color: var(--red);
}
.lists-page-cta h2 {
  font-size: 1.5em;
  font-family: var(--font-family-title);
  font-weight: normal;
  color: var(--color-text);
  margin: 0 0 var(--spacing-stack-sm);
}
.lists-page-cta p {
  font-size: 0.875em;
  margin: 0 0 var(--spacing-stack-xl);
}
/* @width-breakpoint-desktop */
@media all and (min-width: 960px) {
  .lists-page-cta {
    padding-left: 130px;
    padding-right: 60px;
  }

  .lists-page-cta .lists-page-cta__icon {
    position: absolute;
    top: 35px;
    left: 35px;
    margin: 0;
  }
}
