@import (less) "../less/colors.less";
@import (less) "../less/font-families.less";
@import (less) "components/read-panel.less";
@import (less) "components/book.less";
@import (less) "components/multi-image-card.less";

.list-showcase {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  padding: 8px 0;

  .list-card {
    margin-right: 24px;
    flex-shrink: 0;
  }

  &__see-all {
    margin-right: 24px;
    align-self: center;
    width: auto;
  }
}

// stylelint-disable-next-line no-descending-specificity
.list-card {
  a& {
    text-decoration: none;
  }

  &__name-tag {
    padding: 7px 10px;
  }

  &__title {
    font-weight: bold;
    font-size: @font-size-label-large;
    color: @black;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__num-books {
    color: @grey-555;
    font-size: @font-size-label-medium;
  }

  .multi-img-card__images {
    justify-content: initial;
  }
}
