.librarian-queue-page {
  padding: 0 10px 10px;

  .description {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .reviewer-filter {
      margin-bottom: 10px;
    }
  }
}

.librarian-queue-wrapper {
  border: 1px solid @light-grey;
  border-radius: 5px;
}

.mr-latest {
  font-size: 12px;
  padding-top: 10%;
}

.mr-opened {
  font-size: 12px;
  color: @accessible-grey;
}

.mr-opened a {
  color: @mid-blue;
}

.nav-bar {
  padding: .5%;
  background-color: @lightest-grey;
}

.nav-bar li a {
  font-weight: 400;
  color: @lighter-black;
}

.mr-comment {
  padding: 3px 6px;
}

.mr-comment .mr-comment__body a{
  text-decoration: none;
}

.nav-bar li.selected a {
  font-size: 14px;
  color: @orange-five;
  font-weight: bold;
  border: none;
}

.nav-bar li:hover a {
  border: none;
  font-weight: bold;
}

.nav-bar li:nth-child(n + 3) {
  float: right;
}

.mr-table2 {
  width: 100%;
  background-color: @white;

  tbody {
    background-color: @white;
  }

  tr {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: @white;
  }

  tr:nth-child(even) {
    background-color: @lightest-grey;
  }

  td {
    vertical-align: top;
    padding: 1%;
  }
}

.mr-info {
  width: 60%;
}

.comment-cell__newest-comment{
  margin-top: 8px;
}

.comment-cell__old-comments {
  margin-left: -3px;
}

.comment-cell__old-comments-section {
  border: 1px solid @light-grey;
  background-color: @white;
  border-radius: 5px;
  margin-top: 8px;
  overflow: auto;
  overflow-y: scroll;
  height: 65px;
}

.comment-cell__input{
  display: flex;
  align-items: center;
  margin-top: 6px;
  height: 30px;

  textarea {
    padding: 5px;
    font-size: inherit;
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid @light-grey;
    border-radius: 5px;
    margin-right: 5px;
  }

  textarea::placeholder {
    font-size: inherit;
  }

  .mr-comment-btn{
    background-color: @primary-blue;
    color: @white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    padding: 0 1.5%;
    height: 100%;
    font-weight: bold;
    font-size: inherit;
  }
}

.mr-comment-review-cell {
  display: flex;
  justify-content: space-between;
  align-items: start;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: none;
    width: 65px;
    height: 50px;
    margin-right: 40px;
  }

  .border-toggle {
    border: 1.5px solid @black;
  }

  &__review {
    background-color: @primary-blue;
    border: none;
    width: 63px;

    .mr-resolve-link {
      color: @white;
      text-decoration: none;
    }
  }

  &__comments{
    border: 1px solid @light-grey;
    .comment-expand {
      display: flex;
      text-decoration: none;
      align-items: center;
    }

    .comment-expand span {
      font-weight: bold;
      margin-right: 5px;
      color: @black;
    }

    .comment-expand img {
      width: 20px;
    }
  }
}

.comment-username {
  color: @grey;
}

.mr-unassign {
  color: @red;
  cursor: pointer;
}
