.librarian-queue-page {
  padding: 0 10px 10px;

  .description {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .reviewer-filter {
      margin-bottom: 10px;
    }
  }
}

.librarian-queue-wrapper {
  border: 1px solid @light-grey;
  border-radius: 5px;
}

.comment-username {
  color: @grey;
}

.mr-comment {
  background-color: @white;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;

  &__header {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: @grey;
  }

  &__username.owner {
    color: @dark-red;
  }
}

.comment-cell {
  display: flex;
  flex-direction: column;
  &__summary,
  &__description {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    margin-bottom: 5px;
  }

  &__input {
    display: flex;
    align-items: flex-end;

    textarea,
    input {
      padding: 3px;
    }

    textarea {
      border: 1px solid @lightest-grey;
      width: 100%;
    }

    input {
      height: fit-content;
      margin-left: 10px;
    }
  }
}

.dot-wrapper {
  height: 80%;
  display: flex;
  align-items: center;
}

.book-title {
  font-weight: bold;
  font-size: 1rem;
}

.green-dot {
  border-radius: 10px;
  width: 10px;
  background-color: @open-green;
  height: 10px;
  margin-right: 22px;
}

.table-header {
  display: flex;
  padding: .5%;
  background-color: @grey-fafafa;

  li a {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: none;
    color: @closed-red;
  }

  li.selected a {
    font-size: 14px;
    color: @open-green;
    font-weight: 700;
    border: none;
  }

  li:hover a {
    border: none;
    font-weight: bold;
  }

  li:nth-child(n + 3) {
    float: right;
  }
}

.mr-latest {
  font-size: 12px;
  padding-top: 10%;
}

.mr-table {
  width: 100%;
  background-color: @white;

  tbody {
    background-color: @white;
  }

  tr {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: @white;
  }

  tr:nth-child(even) {
    background-color: @lightest-grey;
  }

  td {
    vertical-align: top;
    padding: 1%;
  }
}

.mr-info {
  width: 60%;
  display: flex;
}

.comment-cell__newest-comment{
  margin: 5px 0;
}

.comment-cell__old-comments {
  margin-left: -3px;
}

.comment-cell__old-comments-section {
  border: 1px solid @light-grey;
  background-color: @white;
  border-radius: 5px;
  margin-top: 8px;
  overflow: auto;
  overflow-y: scroll;
  height: 65px;
}

.comment-cell__input{
  display: flex;
  align-items: center;
  margin-top: 6px;
  height: 30px;

  textarea {
    padding: 5px;
    font-size: inherit;
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid @light-grey;
    border-radius: 5px;
    margin-right: 5px;
  }

  textarea::placeholder {
    font-size: inherit;
  }

  .mr-comment-btn{
    background-color: @primary-blue;
    color: @white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    padding: 0 1.5%;
    height: 100%;
    font-weight: bold;
    font-size: inherit;
  }
}

.mr-comment-review-cell {
  display: flex;
  justify-content: space-between;
  align-items: start;

  button {
    margin-right: 40px;
  }
  
  .border-toggle {
    border: 1.5px solid @black;
  }
  
  &__review {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0;
    box-shadow: none;
    width: 80px;
    height: 40px;
    background-color: @primary-blue;
    border: none;
    

    .mr-resolve-link {
      color: @white;
      text-decoration: none;
    }
  }

  &__comments{
    border: 1px solid @light-grey;
    .comment-expand {
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .comment-expand span {
      font-weight: bold;
      margin-right: 5px;
      color: @black;
    }

    .comment-expand img {
      width: 20px;
    }
  }
}

.comment-username {
  color: @grey;
}

.mr-unassign {
  color: @red;
  cursor: pointer;
}
