.likert-scale {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.likert-label {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
}

.multi-select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 3em;

    input[type="checkbox"] {
        margin-right: .3em;
    }
}

.range {
    display:flex;
    justify-content: space-evenly;
    
    input[type="number"] {
        width: 3.5em;
    }
}