@import (less) "../less/breakpoints.less";
@import (less) "../less/colors.less";

.single-choice {
  display: flex;
  margin-bottom: 0.5em;

  &-label {
    display: inline-block;
    width: 16%;
    text-align: center;
    text-transform: capitalize;

    input {
      display: block;
      margin: 0 auto 5px;
    }
  }
}

.multi-choice {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;

  &-label {
    flex: 0 0 25%;
    margin: .5em 0;
    text-transform: capitalize;
  }

  input[type="checkbox"] {
    margin-right: .3em;
  }
}

.metadata-submit {
  margin-top: 1em;
}

.aspect-section {
  &[open] summary {
    background-color: hsla(206, 51%, 26%, .25);
  }

  summary {
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 600;
    color: @grey;
    margin: 0.5em 0;
    padding: 0.5em;
  }

  summary:hover {
    background-color: hsla(206, 51%, 26%, .25);
  }

  div {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }
}

@media screen and (max-width: @width-breakpoint-tablet) {
  .single-choice {
    display: inline-block;

    &-label {
      display: flex;
      width: 100%;
      margin: 1em 0;
      text-align: left;

      input {
        margin: auto 1em auto 0;
      }
    }
  }

  .multi-choice-label {
    flex: 0 0 50%;
  }
}
