/**
 * MyBooks
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#mybooks
 *
 * http://localhost:8080/account/books/want-to-read
 */

/* Layout */
.mybooks {
  display: flex;
  flex-direction: row;
  border-top: 0;
  margin-top: 0;
  font-size: 0.9em;
}
@media only screen and (max-width: 768px) {
  .mybooks {
    flex-direction: column;
  }
}

.icon-link__image {
  position: relative;
  top: 3px;
  width: 18px;
}

.account-breadcrumb {
  display: flex;
  flex-wrap: wrap;
}

img.account-avatar {
  border-radius: var(--border-radius-avatar);
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.account-avatar-fix {
  position: relative;
  top: 7px;
  left: 5px;
}

img.account-avatar--sm {
  width: 25px;
  height: 25px;
}

.username-avatar {
  display: flex;
  align-items: center;
}

h2.account-username {
  margin: 20px 10px 20px 5px;
}

h2.account-username a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width: 769px) {
  .crumb {
    margin: 15px 0;
  }
}
