/**
 * MyBooksList
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#mybooks-list
 * Used in:
 * - openlibrary/templates/account/books.html
 * - openlibrary/templates/stats/readinglog.html
 *
 * http://localhost:8080/account/books/currently-reading
 * http://localhost:8080/stats/readinglog
 */

.mybooks-list {

  h2 {
    padding: 5px 0;
    margin: 0;
    line-height: 1.5em;
    margin-bottom: 5px;

    &.subtitle {
      font-weight: normal;
    }
  }

  .loadmore {
    text-align: center;
  }
}

@media only screen and (min-width: @width-breakpoint-tablet) {
  .mybooks-list {
    flex: 1;
    padding: 10px;
  }
}
