/**
 * NavEdition
 * https://docs.openlibrary.org/designers/design-pattern-library.html#navedition
 */
span.booktitle {
  color: var(--color-text);
  font-family: var(--font-family-title);
  font-weight: bold;
}
