.review-component {
  padding-bottom: 1em;
}

.observation-title {
  margin-top: 5px;
  margin-bottom: 14px;
}

.reviews {
  padding: 0 2px;
}

.review__category {
  display: block;
  margin-right: 8px;
  margin-top: 4px;
}

/* @width-breakpoint-mobile */
@media (min-width: 450px) {
  .review__category {
    text-indent: -50px;
    padding-left: 50px;
  }
}

.reviews__label {
  font-weight: bold;
  margin-top: 4px;
  color: var(--grey);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.7em;
}

/* @width-breakpoint-mobile */
@media (max-width: 450px) {
  .reviews__label {
    display: block;
    margin-top: 14px;
  }
}

.reviews__label .reviews__count {
  font-weight: 500;
  margin-right: 5px;
  font-size: 0.9em;
  color: var(--accessible-grey);
}

.reviews__pill {
  display: inline-block;
  margin-top: 3px;
  margin-right: 3px;
  padding: 4px 8px;
  border: 1px solid var(--light-grey);
  border-radius: 16px;
  font-size: var(--font-size-label-large);
  text-indent: 0;
  white-space: nowrap;
}

.reviews__pill .percentage {
  font-size: 0.8em;
  color: var(--accessible-grey);
}

.reviews-header {
  display: flex;
}

.reviews-header h2 {
  flex: 1;
}

.login-link a,
.stats-link a {
  text-decoration: none;
}

.review-cta {
  margin: 14px 10px 0;
}

.no-stats-message {
  margin-bottom: 15px;
}
