.page-heading-search-box {
  padding: 20px;
}
.page-heading-search-box form {
  margin-top: 15px;
}
.page-heading-search-box button {
  font-size: 18px;
}
.subjectTagEdit {
  padding: 3px 1px 0 20px;
  float: right;
}
