.reading-lists {   
      display: none;
    p {
        font-size: .875em;
        margin: 0 0 5px;
        color: @grey;
        a {
          font-size: .875em;
        }
        span {
          font-size: .8125em;
        }
      }
    p.create {
      border-top: 1px solid @lightest-grey;
      padding: 5px 10px;
      text-decoration: none;
      font-weight: bold;
    }
    /* stylelint-disable selector-max-specificity */
    p.create a {
      color: @dark-grey;
      text-decoration: none;
    }
    .reading-list-title {
      padding: 5px 0 0 10px;
      margin: 0;
      font-size: .8em;
      color: #666;
    }
    .my-lists {
      background: @white;
      max-height: 250px;
      overflow-y: auto;
      padding: 10px 15px;
      .list {
      margin: 0;
      font-size: 0.8em;
      }
      // stylelint-disable-next-line max-nesting-depth
      p a {
	display: block;
      }
    }
}

.client-js .reading-lists {   
         display: block;
      }
