.read-statuses {
  border-bottom: 1px solid var(--lightest-grey);
}
.read-statuses button.remove-from-list {
  color: var(--red);
}
.read-statuses button.remove-from-list:hover {
  color: var(--red);
}
.read-statuses button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--dark-grey);
  font-weight: bold;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-label-medium);
  padding: 10px;
  border-bottom: 1px solid var(--lightest-grey);
}
.read-statuses button:hover {
  color: var(--black);
  background-color: var(--white);
}
.read-statuses form:last-child button.nostyle-btn {
  border: none;
}
