/**
 * Read Options Panel
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#read-panel
 */

/* .Tools .btn-notice is a legacy selector. Remove at earliest opportunity. */
.waitinglist-message {
  white-space: nowrap;
  margin: 0 0 10px;
  font-size: var(--font-size-label-medium);
}

.mobile-vendor {
  display: none;
}

.read-options,
.btn-notice {
  font-size: 1em;
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--lighter-grey);
  margin-top: 0;
}

.read-options .cta-btn,
.read-options .cta-button-group,
.read-options .cta-btn.cta-btn--no-pointer,
.btn-notice .cta-btn,
.btn-notice .cta-button-group,
.btn-notice .cta-btn.cta-btn--no-pointer {
  margin-bottom: 10px;
}

/* Some preview rules are too specific and need to be rewritten */
/* Preview button appears styled as a text link with a book icon */
.read-options .cta-btn.cta-btn--preview,
.btn-notice .cta-btn.cta-btn--preview {
  color: var(--primary-blue);
  text-decoration: none;
  position: relative;
  margin: 0 auto;
  margin-top: -15px; /* offsets Illustration margin-bottom: 10px */
  background-color: transparent;
  transition: background-color 0.2s;

  /* When Preview button is a text link, have it take up only the width
   of the content (not full 100% width) */
  width: auto;
}

/* stylelint-disable selector-max-specificity */
.read-options .cta-btn.cta-btn--preview:hover,
.btn-notice .cta-btn.cta-btn--preview:hover {
  background-color: hsla(202, 96%, 37%, 0.1);
}

.read-options .cta-btn.cta-btn--preview::before,
.btn-notice .cta-btn.cta-btn--preview::before {
  width: 22px;
  height: 18px;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 2px;

  /* Setting pseudo-element content to book icon; mask is used to allow for a 'fill' color */
  content: "";
  -webkit-mask: url(/static/images/icons/open-book.svg);
  mask: url(/static/images/icons/open-book.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--primary-blue);
}
/* stylelint-enable selector-max-specificity */

.read-options .waitinglist-message,
.btn-notice .waitinglist-message {
  margin: 0 0 10px;
  font-size: var(--font-size-label-medium);
  text-wrap: auto;
}

.read-options .cta-section,
.btn-notice .cta-section {
  font-size: 0.78em;
}

.read-options .check-availability,
.btn-notice .check-availability {
  font-size: var(--font-size-label-large);
  border-top: 1px solid var(--lightest-grey);
}

.read-options .check-other-editions,
.btn-notice .check-other-editions {
  text-align: center;
}

.read-options strong,
.btn-notice strong {
  font-size: 12.5px;
  font-weight: bold;
}

.read-options .cta-section-title,
.btn-notice .cta-section-title {
  font-size: 12.5px;
  display: block;
  font-weight: bold;
}

/* stylelint-disable selector-max-specificity */
.read-options table,
.btn-notice table {
  width: 100%;
}

.read-options td,
.btn-notice td {
  text-align: left;
  width: 49%;
}
/* stylelint-enable selector-max-specificity */

ul.book-locate-options li,
ul.ebook-download-options li {
  margin: 5px 0;
}

.buy-options-table {
  line-height: 2em;
}

.buy-options-table .more {
  margin-left: 0;
  cursor: pointer;
}

.buy-options-table + small {
  display: block;
  margin-top: 10px;
}

.cta-section-title.world-cat-link {
  margin-top: 0;
}

.sponsorship-card {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid hsla(202, 96%, 28%, 0.2);
  background: hsla(202, 40%, 95%, 0.5);
  font-size: 0.8em;
  text-align: center;
}

.sponsorship-card q {
  display: block;
  font-style: oblique;
  text-align: center;
}

.sponsorship-card hr {
  background: hsla(202, 96%, 28%, 0.35);
}

.sponsorship-card a.learn-more {
  font-size: 0.9em;
}

.Tools .booklinks li {
  list-style: none;
  font-size: var(--font-size-label-medium);
}

/* desktop */
@media only screen and (min-width: 960px /* @width-breakpoint-desktop */) {
  /* stylelint-disable selector-max-specificity */
  .mobile-vendor,
  .cta-button-group.mobile,
  .readers-stats__wrapper.mobile {
    display: none;
  }

  .desktop-vendor {
    display: inline;
  }

  .cta-button-group.desktop {
    display: flex;
  }
  /* stylelint-enable selector-max-specificity */
}

/* mobile */
@media only screen and (max-width: 960px /* @width-breakpoint-desktop */) {
  .desktop-vendor,
  .cta-button-group.desktop {
    display: none;
  }

  .mobile-vendor {
    display: inline;
  }

  .Tools .btn-notice,
  .read-options {
    border: none;
  }

  /* Hide border for desktop version of modal links and ratings form on mobile */
  /* stylelint-disable no-descending-specificity */
  .Tools .btn-notice > hr,
  .read-options > hr {
    display: none;
  }
  /* stylelint-enable no-descending-specificity */

  .star-rating-form.desktop,
  .modal-links.desktop {
    display: none;
  }

  .cta-button-group.mobile {
    display: flex;
  }

  .readers-stats__wrapper.mobile {
    border: 1px solid var(--lighter-grey);
    border-radius: 5px;
    padding: 10px 0;
  }

  .readers-stats__wrapper.mobile .share-modal-wrapper {
    display: none;
  }

  .readers-stats__wrapper.mobile > hr {
    margin: 0 20px;
  }

  .readers-stats__wrapper.mobile .readers-stats {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  /* stylelint-disable max-nesting-depth*/
  /* stylelint-disable selector-max-specificity */
  .readers-stats__wrapper.mobile .readers-stats li {
    border-right: 1px solid var(--lighter-grey);
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .readers-stats__wrapper.mobile .readers-stats li .readers-stats__label {
    font-size: 0.85em;
  }

  .readers-stats__wrapper.mobile .readers-stats li + li {
    border-right: solid 1px var(--lighter-grey);
  }

  .readers-stats__wrapper.mobile .readers-stats li:last-child {
    border-right: none;
  }

  /* Clearing out the 'dot' spacer content used on desktop */
  .readers-stats__wrapper.mobile .readers-stats li::after {
    content: "";
  }

  .readers-stats__wrapper.mobile .readers-stats li.avg-ratings,
  .readers-stats__wrapper.mobile .readers-stats li.readers-stats__review-count {
    display: none;
  }
  /* stylelint-enable selector-max-specificity */
  /* stylelint-enable max-nesting-depth */
}
