/**
 * ReaderStats
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#readerstats
 */

.readers-stats {
  color: @grey;
  font-size: .9em;
  li {
    list-style-type: none;
    display: inline;
    &:not(:last-child):after {
      content: "·";
      margin: 0 4px;
    }
  }
  &__star {
    color: @orange;
    font-size: 1.3em;
  }
}
