/**
 * ReadingLogStats
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#readinglog-stats
 * Defined in:
 * - openlibrary/templates/stats/readinglog.html
 */

table.readinglog-stats {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

table.readinglog-stats th {
  font-weight: bold;
}

table.readinglog-stats tr:nth-child(even) {
  background-color: var(--lightest-grey);
}
