/**
 * Search Results Container
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#searchresultcontainer
 */

@media only screen and (min-width: 960px) /* @width-breakpoint-desktop */ {
  .resultsContainer {
    display: flex;
  }
}
