/**
 * Search Result Item
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#searchresultitem
 */
@import "buttonBtn.less";
@import "buttonCta.less";

.bookauthor {
  font-family: @body-family;
}

// Some preview rules are too specific and need to be rewritten
// Preview button appears styled as a text link with a book icon
.bookcover .cta-btn.cta-btn--preview {
  color: @primary-blue;
  text-decoration: none;
  position: relative;
  background-color: transparent;
  margin: -5px auto;
  font-size: @font-size-label-large;

  // When Preview button is a text link, have it take up only the width
  // of the content (not full 100% width)
  flex-basis: content;
  flex-grow: 0;
  width: auto;

  /* stylelint-disable selector-max-specificity */
  &:hover {
    text-decoration: underline;
  }

  &::before {
    width: 22px;
    height: 18px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 2px;

    // Setting pseudo-element content to book icon; mask is used to allow for a 'fill' color
    content: "";
    -webkit-mask: url(/static/images/icons/open-book.svg);
    mask: url(/static/images/icons/open-book.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: @primary-blue;
  }
  /* stylelint-enable selector-max-specificity */
}
.searchResultItem {
  list-style-type: none;
  line-height: 1.5em;
  background-color: @grey-fafafa;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid @light-beige;

  &,
  .sri__main {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: @width-breakpoint-tablet) {
      flex-direction: row;
    }
  }

  &.sri--w-main {
    display: block;
  }

  a[href] {
    text-decoration: none;
  }
  h3 {
    display: block;
    margin: 0;
    padding: 0;
    color: @dark-grey;
    font-size: 1.1em;
    font-weight: 700;
    font-family: @font-family-title;
    overflow: auto;
  }
  .details {
    overflow: auto;
    display: inline;
    width: 100%;
    padding: 5px;
    margin: 0;
  }

  .resultStats {
    font-size: 0.75em;
    color: @grey;
    font-family: @body-family;
    display: block;
  }
  span.resultType {
    font-size: 0.6875em;
  }

  .bookseries {
    font-size: @font-size-body-medium;
  }

  .bookseries [itemprop~="name"] {
    font-weight: bold;
  }

  .resultDetails {
    display: block;
    font-size: @font-size-body-medium;
  }
  .ratingsByline {
    color: @black;
  }
  .preview-covers {
    display: block;
    height: 45px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .preview-covers img {
    border-radius: 4px;
    opacity: 0.7;
  }
  .preview-covers--blur {
    img {
      filter: blur(2px);
    }
  }
  .bookcover {
    width: 100%;
    margin: 10px 10px 0 5px;
    text-align: center;

    img {
      border-radius: 4px;
      max-width: 100%;
      max-height: 300px;
      width: 175px;
    }
  }
  .bookcover--blur {
    img {
      filter: blur(4px);
    }
  }
  .imageLg {
    text-align: center;
    width: 100%;
    margin: 10px 10px 0 5px;
    img {
      max-width: 100%;
      max-height: 110px;
    }
  }
}

.srw__subjects {
  a {
    border: 1px solid currentColor; // Fallback
    border-color: color-mix(in srgb, currentColor 60%, transparent);

    display: inline-block;
    text-decoration: none;
    font-size: @font-size-label-medium;
    line-height: @font-size-label-medium;
    padding: 4px;
    border-radius: 4px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }
}

.srw__chapters {
  background: rgba(0, 124, 255, 0.2);
  border-radius: 4px;
  color: @black;
  margin-bottom: 5px;
  font-size: @font-size-label-medium;

  .srw__chapter {
    border-radius: inherit;
    padding: 6px 8px;
    display: flex;
    gap: 4px;
    line-height: 1.2em;
    transition: background-color 0.2s;

    em {
      font-weight: bold;
    }

    // stylelint-disable-next-line selector-max-specificity
    a&:hover {
      background: rgba(0, 124, 255, 0.2);
    }
  }

  .read-more__toggle {
    padding: 5px 10px;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0,
      rgba(249, 249, 249, 0.49) 10px
    );
  }
}

.searchResultItem__librarian-extras {
  font-size: 0.7em;
  border-top: 1px dashed currentColor;
  margin-top: 8px;
  margin-bottom: -5px;
  color: @grey;
  padding: 7px 0;
  line-height: 1em;
  transition: color 0.2s;
  text-decoration: dotted underline;

  &:hover {
    color: @primary-blue;
  }
}

.preview-covers img:hover {
  opacity: 1;
}

// Delete trashcan appears on https://openlibrary.org/people/jdlrobson/lists
.listDelete {
  white-space: nowrap;
  max-width: 150px;
  line-height: 28px;
  display: flex;
  margin-bottom: 5px;
  a {
    span {
      margin-right: 5px;
      background-image: url(/images/back_list-trash.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 28px;
      width: 21px;
      display: inline-block;
      position: relative;
      top: 5px;
    }
  }
  a:hover span {
    background-position: -21px 0;
  }
}

.trending-badge {
  display: inline-block;
  background-color: fade(@olive, 12%);
  border-radius: 50px;
  padding: 0 13px;

  .trending-badge__chart {
    display: inline-block;
    margin-left: 4px;
    letter-spacing: -2px;
  }

  // stylelint-disable-next-line no-descending-specificity
  .trending-badge__chart > span {
    display: inline-block;
    width: 4px;
    background: @green;
  }
}

@media only screen and (min-width: @width-breakpoint-tablet) {
  .list-books {
    .searchResultItem {
      .bookcover {
        width: 175px;
        text-align: right;
      }
      .imageLg {
        width: 175px;
        text-align: center;
      }
    }
  }
  .list-results {
    .searchResultItem {
      .imageLg {
        width: 175px;
        text-align: right;
      }
    }
  }
}
