/**
 * Search Result Item
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#searchresultitem
 */

/* Some preview rules are too specific and need to be rewritten */
/* Preview button appears styled as a text link with a book icon */
.bookcover .cta-btn.cta-btn--preview {
  color: var(--primary-blue);
  text-decoration: none;
  position: relative;
  background-color: transparent;
  margin: -5px auto;
  font-size: var(--font-size-label-large);

  /* When Preview button is a text link, have it take up only the width */
  /* of the content (not full 100% width) */
  flex-basis: content;
  flex-grow: 0;
  width: auto;
}

/* stylelint-disable selector-max-specificity */
.bookcover .cta-btn.cta-btn--preview:hover {
  text-decoration: underline;
}

.bookcover .cta-btn.cta-btn--preview::before {
  width: 22px;
  height: 18px;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 2px;

  /* Setting pseudo-element content to book icon; mask is used to allow for a 'fill' color */
  content: "";
  -webkit-mask: url(/static/images/icons/open-book.svg);
  mask: url(/static/images/icons/open-book.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--primary-blue);
}
/* stylelint-enable selector-max-specificity */

.searchResultItem,
.searchResultItem .sri__main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px /* @width-breakpoint-tablet */) {
  .searchResultItem,
  .searchResultItem .sri__main {
    flex-direction: row;
  }
}

.searchResultItem {
  list-style-type: none;
  background-color: var(--grey-fafafa);
  border-radius: var(--border-radius-card);
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--light-beige);
}

.searchResultItem.sri--w-main {
  display: block;
}

.searchResultItem a[href] {
  text-decoration: none;
}

.searchResultItem h3 {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--dark-grey);
  font-size: 1.1em;
  font-weight: 700;
  font-family: var(--font-family-title);
  overflow: auto;
  line-height: var(--line-height-heading);
}

.searchResultItem .details {
  overflow: auto;
  display: inline;
  width: 100%;
  padding: 5px;
  margin: 0;
  line-height: var(--line-height-meta);
}

.searchResultItem .resultStats {
  font-size: 0.75em;
  color: var(--grey);
  font-family: var(--body-family);
  display: block;
}

.searchResultItem span.resultType {
  font-size: 0.6875em;
}

.searchResultItem .resultDetails {
  display: block;
  font-size: var(--font-size-body-medium);
}

.searchResultItem .ratingsByline {
  color: var(--black);
}

.searchResultItem .preview-covers {
  display: block;
  height: 45px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 5px;
}

.searchResultItem .preview-covers img {
  border-radius: var(--border-radius-thumbnail);
  opacity: 0.7;
}

.searchResultItem .preview-covers--blur img {
  filter: blur(2px);
}

.searchResultItem .bookcover {
  width: 100%;
  margin: 10px 10px 0 5px;
  text-align: center;
}

.searchResultItem .bookcover img {
  border-radius: var(--border-radius-thumbnail);
  max-width: 100%;
  max-height: 300px;
  width: 175px;
}

.searchResultItem .bookcover--blur img {
  filter: blur(4px);
}

.searchResultItem .imageLg {
  text-align: center;
  width: 100%;
  margin: 10px 10px 0 5px;
}

.searchResultItem .imageLg img {
  max-width: 100%;
  max-height: 110px;
}

.srw__subjects a {
  border: 1px solid currentColor; /* Fallback */
  border-color: color-mix(in srgb, currentColor 60%, transparent);

  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-label-medium);
  line-height: var(--font-size-label-medium);
  padding: 4px;
  border-radius: var(--border-radius-badge);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.srw__subjects em {
  font-weight: bold;
  font-style: normal;
}

.srw__chapters {
  background: rgba(0, 124, 255, 0.2);
  border-radius: 4px;
  color: var(--black);
  margin-bottom: 5px;
  font-size: var(--font-size-label-medium);
}

@media only screen and (min-width: 800px) {
  .srw__chapters::part(toggle-btn) {
    padding-left: 8px;
    text-align: left;
  }
}

.srw__chapters .srw__chapter {
  border-radius: inherit;
  padding: 6px 8px;
  display: flex;
  gap: 4px;
  line-height: 1.2em;
  transition: background-color 0.2s;
}

.srw__chapters .srw__chapter em {
  font-weight: bold;
}

/* stylelint-disable-next-line selector-max-specificity */
.srw__chapters a.srw__chapter:hover {
  background: rgba(0, 124, 255, 0.2);
}

.searchResultItem__librarian-extras {
  font-size: 0.7em;
  border-top: 1px dashed currentColor;
  margin-top: 8px;
  margin-bottom: -5px;
  color: var(--grey);
  padding: 7px 0;
  line-height: var(--line-height-meta);
  transition: color 0.2s;
  text-decoration: dotted underline;
}

.searchResultItem__librarian-extras:hover {
  color: var(--primary-blue);
}

.preview-covers img:hover {
  opacity: 1;
}

/* Delete trashcan appears on https://openlibrary.org/people/jdlrobson/lists */
.listDelete {
  white-space: nowrap;
  max-width: 150px;
  line-height: 28px;
  display: flex;
  margin-bottom: 5px;
}

.listDelete a span {
  margin-right: 5px;
  background-image: url(/images/back_list-trash.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 28px;
  width: 21px;
  display: inline-block;
  position: relative;
  top: 5px;
}

.listDelete a:hover span {
  background-position: -21px 0;
}

.trending-badge {
  display: inline-block;
  background-color: hsla(81, 39%, 35%, 0.12);
  border-radius: var(--border-radius-pill);
  padding: 0 13px;
}

.trending-badge .trending-badge__chart {
  display: inline-block;
  margin-left: 4px;
  letter-spacing: -2px;
}

/* stylelint-disable-next-line no-descending-specificity */
.trending-badge .trending-badge__chart > span {
  display: inline-block;
  width: 4px;
  background: var(--green);
}

@media only screen and (min-width: 768px /* @width-breakpoint-tablet */) {
  .list-books .searchResultItem .bookcover {
    width: 175px;
    text-align: right;
  }

  .list-books .searchResultItem .imageLg {
    width: 175px;
    text-align: center;
  }

  .list-results .searchResultItem .imageLg {
    width: 175px;
    text-align: right;
  }
}
