.searchbox {
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 2px;
  padding-left: 5px;
  width: 50%;
  height: 30px;
}

.searchbox__btn-icon {
  background: url(/static/images/search-icon.svg) center no-repeat;
  width: 35px;
  cursor: pointer;
  border: 0;
}

.searchbox__input {
  margin: 0 !important;
  border: 0;
  background: transparent;
  color: var(--color-text) !important;
  flex-grow: 1;
  font-size: 1em !important;
  min-width: 0;
  outline: none;
}

.searchbox__input::-webkit-search-cancel-button,
.searchbox__input::-webkit-search-decoration {
  appearance: none;
}

.searchbox:focus-within {
  outline: none;
  box-shadow: var(--box-shadow-focus);
}

/* --width-breakpoint-tablet */
@media (max-width: 768px) {
  .searchbox {
    width: 100%;
  }
}
