/**
 * ShareLinks
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#sharelinks
 * Provided by macro openlibrary/macros/SocialShare.html and
 * openlibrary/macros/databarWork.html
 * Used in templates:
 * - openlibrary/templates/type/work/view.html
 * - openlibrary/templates/type/edition/view.html
 */

.shareLinks-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
  font-size: 0.8em;

  a {
    display: block;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 16px;
    color: @dark-grey;
    &:hover {
      background-color: @grey-f4f4f4;
    }
    &:focus-visible {
      outline: 2px solid @primary-blue;
      outline-offset: 2px;
    }
  }
  img {
    height: 64px;
    margin-bottom: 4px;
  }
}