@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import (less) "less/colors.less";
@import (less) "less/font-families.less";
*{
  box-sizing: border-box;
}
/* Coding By CodingNepal - youtube.com/codingnepal */

.view-modal, .popup{
  position: absolute;
}
.header-share{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.copy-button{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background .1s linear, border-color .1s linear, color .1s linear;
}
.view-modal{
  color: @purple-7d2ae8;
  font-size: 18px;
  background: @white;
  transform: translate(-50%, -50%);
}
.popup{
  background: @white;
  padding: 25px;
  border-radius: 15px;
  left: 50%;
  max-width: 380px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 15px @black;
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s .2s ease-in-out,
    opacity .2s 0s ease-in-out,
    transform .2s 0s ease-in-out;
  position: fixed;
}
.popup.show{
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform : translate(-50%, -50%) scale(1);
  transition : top 0s 0s ease-in-out,
    opacity .2s 0s ease-in-out,
    transform .2s 0s ease-in-out;
  z-index: 10;
  font-family: @lucida_sans_serif-1;
}
.popup :is(.icons, .copy-field){
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span{
  font-size: 14px;
  font-weight: 500;
}
.close, .icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all .3s ease-in-out;
}
.close{
  color: @grey-878787;
  font-size: 17px;
  background: @grey-f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
.close:hover{
  background: @grey-ebedf9;
}
.popup .content{
  margin: 0 0;
}
.popup .icons{
  margin: 15px 0 20px 0;
}
.content .icons a{
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}
.icons a i{
  transition: transform .3s ease-in-out;
}
.icons a:nth-child(1){
  color: @blue-1877F2;
  border-color: @blue-b7d4fb;
}
.icons a:nth-child(1):hover{
  background: @blue-1877F2;
}
.icons a:nth-child(2){
  color: @blue-46C1F6;
  border-color: @blue-b6e7fc;
}
.icons a:nth-child(2):hover{
  background: @blue-46C1F6;
}
.icons a:nth-child(3){
  color: @pink-e1306c;
  border-color: @pink-f5bccf;
}
.icons a:nth-child(3):hover{
  background: @pink-e1306c;
}
.icons a:nth-child(4){
  color: @orange-FFA300;
  border-color: @orange-FFA300;
}
.icons a:nth-child(4):hover{
  background: @orange-FFA300;
}
.icons a:nth-child(5){
  color: @blue-0088cc;
  border-color: @blue-b3e6ff;
}
.icons a:nth-child(5):hover{
  background: @blue-0088cc;
}
.icons a:hover{
  color: @white;;
  border-color: transparent;
}
.icons a:hover i{
  transform: scale(1.2);
}
.content .copy-field{
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid @grey-e1e1e1;
}
.copy-field.active{
  border-color: @purple-7d2ae8;
}
.copy-field i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.copy-field.active i{
  color: purple-7d2ae8;
}
.copy-field input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.copy-field .copy-button{
  color: @white;
  padding: 5px 18px;
  background: @purple-7d2ae8;
}
.copy-field .copy-button:hover{
  background: @purple-8d39fa;
}
.share-btn {
  width: 35px;
  height: 35px;
}
