.sort-dropper {
  display: flex;
}

.sort-content {
  display: flex;
  background: @white;
}

.sort-content-inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: @lightest-grey;
  border: 1px solid;
  border-radius: 5px;
  border-color: @light-grey;
  z-index: @z-index-level-1;

  a {
    text-decoration: none;
    color: @grey;

    &:link {
      color: @black;
    }

    &:visited {
      color: @black;
    }

    &:hover {
      color: @grey;
    }
  }
}

.sort details {
  border-radius: 5px;
  background: @lightest-grey;
  border: 1px solid;
  border-color: @mid-grey;

  summary {
    font-size: 1rem;
    color: @black;
    display: inline-flex;
    list-style-type: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  summary  p {
    padding: 5px 10px;
    margin: 0;
    border-right: 1px solid;
    border-color: @gray-d1cfd0;
  }
}

.sort details summary::after {
  content: "▲";
  color: @dark-grey;
  padding: 5px 10px;
}

.sort details[open] summary::after {
  content: "▼";
}

.sort-subsort {
  padding-left: 20px;
}
