/**
 * Throbber
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#throbber
 * Used in openlibrary/templates/covers/change.html
 */

.throbber {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 120px;
    left: 0;
    text-align: center;
    background-color: transparent;
    background-image: url(/images/ajax-loader-bar.gif);
    background-repeat: no-repeat;
    h3 {
      margin-top: 35px;
    }
}

@media only screen and (min-width: @width-breakpoint-tablet) {
    .throbber {
      top: 280px;
      left: 210px;
    }
}
