.toast-container {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: var(--z-index-level-17);
  pointer-events: none;
}

.toast {
  min-width: 10%;
  max-width: 50%;
  width: max-content;
  margin: 0 auto 20px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  pointer-events: auto;

  background-color: var(--light-beige);
  border: 1px solid var(--mid-grey);
  box-shadow: 0 0.5rem 1rem var(--boxshadow-black);
}

.toast .toast__close {
  padding-left: 0.75em;
}

.toast .toast__close:hover {
  cursor: pointer;
  text-decoration: none;
}

.light-yellow {
  background-color: var(--light-yellow);
}

/* max-width: 768px (tablet) */
@media screen and (max-width: 768px) {
  .toast {
    max-width: 80%;
  }
}
