/**
 * UI-Dialog
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#ui-dialog
 */
.ui-dialog {
  position: relative;
  width: 400px;
  padding: 10px;
  background-color: var(--white);
  border-radius: var(--border-radius-overlay);
  -webkit-box-shadow: 1px 3px 10px var(--black);
  box-shadow: 1px 3px 10px var(--black);
  z-index: var(--z-index-level-14) !important;
}
.ui-dialog .ui-dialog-titlebar {
  position: relative;
  font-weight: normal;
  color: var(--dark-grey);
  font-size: 1em;
  margin: 0.2em 0;
  padding: 8px 0;
  display: flex;
}
.ui-dialog .ui-dialog-titlebar-close span {
  display: contents;
}
.ui-dialog .i-dialog-title {
  flex: 1;
}
.ui-dialog .ui-dialog-content {
  padding: 0.5em 1em;
  background: none;
  overflow: auto;
  zoom: 1;
}
.ui-dialog .ui-dialog-content p {
  min-height: 28px;
  padding: 6px 33px 0;
  background: url(/images/icons/icon_alert.png) no-repeat 0 0;
  margin: 0;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
  margin-bottom: 10px;
}
.ui-dialog .ui-dialog-buttonpane button {
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-size: 18px;
  margin: 0 8px;
}

.ui-draggable .ui-dialog-titlebar {
  display: flex;
  cursor: move;
}
.ui-draggable .ui-dialog-title {
  flex: 1;
}
.ui-draggable .ui-dialog-titlebar-close span {
  display: contents;
}

* html .ui-helper-clearfix {
  height: 1%;
}
