/**
 * UI-Dialog
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#ui-dialog
 */
 .ui-dialog {
    position: relative;
    padding: 0;
    width: 400px;
    padding: 10px;
    background-color: @white;
    border-radius: 12px;
    -webkit-box-shadow: 1px 3px 10px @black;
    box-shadow: 1px 3px 10px @black;
    z-index: @z-index-level-14 !important;
    .ui-dialog-titlebar {
      position: relative;
      font-weight: normal;
      color: @dark-grey;
      font-size: 1em;
      margin: .2em 0;
      padding: 8px 0;
      display: flex;
    }
    .ui-dialog-titlebar-close {
    }
    .ui-dialog-titlebar-close span {
      display: contents;
    }
    .i-dialog-title {
      flex: 1;
    }
    .ui-dialog-content {
      padding: .5em 1em;
      background: none;
      overflow: auto;
      zoom: 1;
      p {
        min-height: 28px;
        padding: 6px 33px 0;
        background: url(/images/icons/icon_alert.png) no-repeat 0 0;
        margin: 0;
      }
    }
    .ui-dialog-buttonpane {
      text-align: center;
      margin-bottom: 10px;
    }
    .ui-dialog-buttonpane button {
      cursor: pointer;
      width: auto;
      overflow: visible;
      font-size: 18px;
      margin: 0 8px;
    }
  }

.ui {
  &-draggable {
    .ui-dialog-titlebar {
      display: flex;
      cursor: move;
    }
    .ui-dialog-title {
      flex: 1;
    }
    .ui-dialog-titlebar-close span {
      display: contents;
    }
  }
}

* html {
  .ui-helper-clearfix {
    height: 1%;
  }
}