/**
 * TabPanel
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#tabspanel
 */

.ui-tabs-nav,
.ui-tabs-panel {
  font-family: var(--body-family);
}

.ui-tabs-nav {
  list-style: none !important;
  margin: 0 0 18px !important;
  clear: right;
}

.ui-tabs-nav:after {
  /* clearing without presentational markup, IE gets extra treatment */
  display: block;
  clear: both;
  content: " ";
}

.ui-tabs-nav li {
  list-style: none !important;
  margin: 0 0 0 1px;
  min-width: 54px; /* be nice to Opera */
}

.ui-tabs-nav a {
  display: block;
  font-weight: 600;
  font-size: 0.6875em;
  background: var(--white);
  border-bottom: 3px solid var(--lightest-grey);
  padding: 4px 8px 3px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; /* required in IE 6 */
  outline: 0; /* prevent dotted border in Firefox */
}

/* stylelint-disable max-nesting-depth */
.ui-tabs-nav a:link,
.ui-tabs-nav a:visited {
  color: var(--link-blue);
}

.ui-tabs-nav a:hover {
  color: var(--link-blue);
  text-decoration: underline;
}
/* stylelint-enable max-nesting-depth */

/* stylelint-disable selector-max-specificity */
/* stylelint-disable max-nesting-depth */
.ui-tabs-nav .ui-tabs-active a:link,
.ui-tabs-nav .ui-tabs-active a:visited {
  /* @ Opera, use pseudo classes otherwise it confuses cursor... */
  background: var(--lightest-grey);
  border: 1px solid var(--lightest-grey);
  border-bottom: 3px solid var(--lightest-grey);
  color: var(--teal);
  cursor: default;
}
/* stylelint-enable max-nesting-depth */

/* stylelint-disable no-descending-specificity */
.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover,
.ui-tabs-nav .ui-tabs-deselectable a:focus,
.ui-tabs-nav .ui-tabs-deselectable a:active {
  /* @ Opera, we need to be explicit again here now... */
  cursor: pointer;
}
/* stylelint-enable no-descending-specificity */
/* stylelint-enable selector-max-specificity */

.ui-tabs-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.ui-tabs-panel {
  border: 3px solid var(--lightest-grey);
  background: var(--white);
  /* declare background color for container to avoid distorted fonts in IE while fading */
}

.ui-tabs-loading em {
  padding: 0 0 0 20px;
}

/* These rules apply within overlays */
/* e.g. when you click "change cover" on a books page */
/* Need to investigate whether these can be generalised somehow. */
.floater .ui-tabs-panel {
  border: none;
  background: var(--white);
  /* declare background color for container to avoid distorted fonts in IE while fading */
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav {
  /* auto clear, @ IE 6 & IE 7 Quirks Mode */
  display: inline-block;
}

*:first-child + html .ui-tabs-nav {
  /* @ IE 7 Standards Mode - do not group selectors,
  otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
  display: inline-block;
}

/* @width-breakpoint-tablet: 768px */
@media only screen and (min-width: 768px) {
  .floater .ui-tabs-panel {
    border-top: 3px solid var(--lightest-grey);
    padding: 15px 30px !important;
    /* declare background color for container to avoid distorted fonts in IE while fading */
  }

  .tabs-panel {
    padding: 15px 30px 20px !important;
  }

  .ui-tabs-nav {
    margin-bottom: -3px !important;
  }

  .ui-tabs-nav li {
    float: left;
  }

  .ui-tabs-nav a {
    margin: 8px 3px 0;
  }

  .ui-tabs-nav .ui-tabs-active a {
    padding: 2px 8px 3px;
  }
}

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen, print {
  /* Use class for showing/hiding tab content,
  so that visibility can be better controlled in different media types... */
  .ui-tabs-hide {
    display: none;
  }
}
