/**
 * WidgetBox
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#widgetbox
 */
.widget-box .head > div {
  color: var(--olive) !important;
  font-size: 10px;
}

/* FIXME: The unordered class should be replaced with the semantic
   ul tag given this means the same thing! */
.widget-box ul,
.widget-box .unordered {
  margin-top: 10px;
  line-height: 150%;
}

.widget-box ul > *,
.widget-box .unordered > * {
  font-size: 13px;
}

/* --width-breakpoint-tablet */
@media only screen and (min-width: 768px) {
  .widget-box {
    float: left;
    width: 282px;
  }
}
