/**
 * Wmd Prompt Dialog
 * https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#wmdpromptdialog
 * these dialogs can be seen when wmd-button-bar icon is clicked e.g. add link
 */

/* These !important's are a necessary evil.
   They compensate for the fact that jquery.wmd.js was not written for mobile.
   The library must be forked to be mobile friendly
   as that library is no longer maintained.
   Until then.. hacks! */
/* --width-breakpoint-tablet: 768px */
@media all and (max-width: 768px) {
  .wmd-prompt-dialog {
    margin-left: 10px !important;
    margin-top: 10px !important;
    top: 100px !important;
    left: 0 !important;
    right: 0 !important;
    width: 300px !important;
  }
}

.wmd-prompt-dialog {
  width: 400px;
  border: 10px solid var(--brown);
  background-color: var(--white);
  -webkit-border-radius: var(--border-radius-overlay);
  -moz-border-radius: var(--border-radius-overlay);
  border-radius: var(--border-radius-overlay);
  -moz-box-shadow: 1px 3px 10px var(--black);
  -webkit-box-shadow: 1px 3px 10px var(--black);
  box-shadow: 1px 3px 10px var(--black);
  text-align: left;
}
.wmd-prompt-dialog > div {
  font-size: var(--font-size-label-large);
  font-family: var(--body-family);
  color: var(--darker-grey);
  padding: 20px !important;
}
.wmd-prompt-dialog > div p {
  margin-bottom: 0 !important;
  position: relative;
}
.wmd-prompt-dialog > form {
  width: 480px;
  padding: 20px;
  padding-top: 0;
}
.wmd-prompt-dialog > form > input[type="text"] {
  float: left;
  margin-left: 20px !important;
  clear: both;
  width: 350px;
  font-size: 1.125em;
  font-family: var(--body-family);
  padding: 3px;
}
.wmd-prompt-dialog > form > input[type="button"] {
  font-size: 1.125em;
  width: auto !important;
}
.wmd-prompt-dialog p b {
  display: block;
  position: relative;
  background-color: var(--brown);
  padding: 0 10px 10px;
  color: var(--white);
  font-family: var(--body-family);
  font-size: 1.75em;
  top: -20px;
  left: -21px;
  width: 282px;
}

/* --width-breakpoint-tablet: 768px */
@media all and (min-width: 768px) {
  .wmd-prompt-dialog p b {
    width: 380px;
  }
}
