@import (less) "base/dl.less";

/* stylelint-disable no-descending-specificity */
.workDetails {
  padding: 20px 0;
  .book-description {
    text-align: justify;
  }
}

// Left (editionCover)
.editionCover {
  min-height: 10px;
  padding-right: 1.5em;
  .cover-animation {
    transform: perspective(0) rotateX(0deg);
    transition: transform .8s, opacity .8s;
  }
  .cover-animation:hover {
    transform: perspective(465px) rotateX(0deg) rotateY(-10deg);
    opacity: .8;
  }
}
@import (less) "components/cover.less";
@import (less) "components/illustration.less";
@import (less) "components/rating-form.less";
@import (less) "components/dropper.less";
@import (less) "components/listLists.less";

// Center (editionAbout)
div.editionAbout {
  margin-bottom: 20px;
  p {
    margin: 1em 0;
    font-size: 13px;
  }

  p:first-child {
    margin: 0;
  }

}

.work-title{
  margin-top: 5px;
  margin-bottom: 0;
}

.work-subtitle{
  margin-top: 0;
}

.workFooter {
  border-top: 1px solid @lighter-grey;
  ul.listLists {
    display: flex;
  }
  ul.listLists li {
    width: 33%;
    border: 0;
  }
}

.book-description{
  font-size: .9em;
  margin-top: 5px;
  margin-bottom: 20px;
}

.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}

.checkboxes input {
  vertical-align: middle;
}

.restricted-view{
  display: block;
  z-index: @z-index-level-1;
}

.restricted-height{
  overflow: hidden;
  height: 57px;
}

.section, .section h6 {
  font-size: .8em;
}

h3.edition-header {
  font-size: 14px;
  margin: 0;
}

h2.edition-byline {
  margin: 7px 2px 20px;
}

.first-published-date {
  color: @grey;
  font-size: .8em;
}

.edition-overview {
  background: @light-grey;
  padding: 10px;
  margin: 10px 0;
}

.edition-overview .edition-title {
  margin-bottom: 0;
  color: @dark-grey;
}

.edition-overview .edition-subtitle {
  margin-top: 5px;
  font-size: 1.4em;
  font-weight: normal;
  color: @grey;
}

.work-menu {
  border-bottom: 1px solid @lighter-grey;
  padding-bottom: 5px;
  font-weight: bold;
  margin-top: 20px;

  &.sticky {
    position: sticky;
    top: 0;
    display: block;
    background: @white;
    z-index: @z-index-level-3;
    padding-top: 10px;
  }
}

.work-menu li {
  display: inline;
  padding: 0 15px;
  padding-bottom: 5px;
  font-size: 13px;
}

.work-menu li a {
  text-decoration: none;
  color: @grey;
}

.work-menu li.selected {
  border-bottom: 2px solid @link-blue;
}

.work-menu li:hover {
  border-bottom: 2px solid @link-blue;
}

.work-menu li.selected a {
  color: @link-blue;
}

a.section-anchor {
  height: 45px;
  display: block;
}

.book-overview {
  padding-bottom: 10px;
  > div {
    margin: 10px 0;
  }
}

.meta dt, .meta dd {
  font-size: 12px;
}

.book-subtitle{
  margin-bottom: 0;
}

@import (less) "components/readerStats.less";
@import (less) "components/link-box.less";

// Right  (editionTools)
div.editionTools {
  min-height: 10px;
  font-size: 100%;
  p {
    color: @grey;
  }
}
@import (less) "components/read-panel.less";

@media only screen and (min-width: @width-breakpoint-tablet) {
  @import (less) "components/work--tablet.less";
}

@media only screen and (min-width: @width-breakpoint-desktop) {
  .workDetails {
    display: flex;
  }
  div.edition {
    &Cover {
      width: 225px;
      margin-right: 1.5em;
      margin-bottom: 0;
    }
    &About {
      flex: 1;
    }
  }
}

.admin-bar {
  padding: 5px;
  background-color: @lightest-grey;
  form {
    display: inline-block;
  }
}

.mobile-borrow-cta {
  display: block;
}

@media only screen and (min-width: @width-breakpoint-tablet) {
  .mobile-borrow-cta {
    display: none;
  }
}

.print-disabled-download, .patron-metadata {
  text-align: center;
  padding: 7px 0 0;
}

.edition-omniline {
  display: flex;
  border-top: 1px solid @lighter-grey;
  border-bottom: 1px solid @lighter-grey;
  margin: 20px 0 10px;

  h4 {
    padding-right: 5px;
  }

  h4:last-child {
    padding-right: 0;
  }
}

.tab-section {
  padding: 10px;
  border: 1px solid @lighter-grey;
  border-radius: 5px;
}

.preview-languages {
  margin-bottom: -30px !important;
  font-size: .8em;
  color: @grey;
}

.work-line {
  font-style: oblique;
  color: @grey;
  a {
    color: @grey;
  }
}

.loadingIndicator {
  display: flex;
  justify-content: center;
  background: @lightest-grey;
}
