$def with (blog_posts=None)

<div id="home-resources">
  <div class="head">
    <h2>$_('About the Project')</h2>
  </div>

  <div id="home-about">
    <div id="home-about-mission">
      <h3 id="home-about-mission-tldr">
        $_("Open Library is an open, editable library catalog, building towards a web page for every book ever published.")
        <a href="/about" class="small sansserif">$_("More")</a>
      </h3>
      <p id="home-about-mission-desc">
        $:_('Just like Wikipedia, you can contribute new information or corrections to the catalog. You can browse by <a href="/subjects">subjects</a>, <a href="/authors">authors</a> or <a href="/lists">lists</a> members have created. If you love books, why not help build a library?')
      </p>
    </div>
    <div class="home-resource-section">
      <h3 class="collapse"><a href="http://blog.openlibrary.org/" class="header">$_('Latest Blog Posts')</a></h3>
      <ul id="olBlog">
        $if blog_posts:
          $for post in blog_posts[:3]:
            <li><a href="$post.link">$post.title</a> - <em>$datestr(post.pubdate)</em></li>
      </ul>
    </div>
  </div>
</div>

