$def with(loans)
$ carousel = loans_carousel(loans)
$if carousel:
    <div class="head">
        <h2 class="inline"><a href="/account/loans">Your Loans</a></h2>
        <p class="inline sansserif large collapse">
          &nbsp;
          $if len(loans):
              You can still <a href="/borrow">borrow</a> $(5 - len(loans)) more books until you've hit the limit!
          $else:
              You have reached the borrowing limit. Please return a book to checkout something new.
        </p>
    </div>

    $:carousel
