$def with (card_title, card_body, img_src, href, ol_link_track, attribution=None)
$# Template for our onboarding carousel cards.
$#
$# card_title     : str : Short heading for the card
$# card_body      : str : Body text for the card
$# img_src        : str : `src` of the card's image
$# href           : str : `href` for the card
$# ol_link_track  : str : Event name for analytics
$# attribution    : str : Attribution for the image used in the card

<a class="carousel__item onboarding-card" href="$href" data_ol_link_track="$ol_link_track">
  <img src="$img_src"
    $if attribution:
      data-attribution="$attribution"
  >
  <div>
    <p>$card_title</p>
    <p class="small">$card_body</p>
  </div>
</a>
