$ popular, waitlisted = popular_carousel()
$if popular:
    <div class="head">
      <h2 class="inline"><a href="/people/openlibrary/lists/OL104411L/Popular">Popular Books</a></h2>
      <p class="inline sansserif large collapse">
        &nbsp; Discover <a href="/people/openlibrary/lists/OL104411L/Popular">hundreds of books</a> you're bound to love. (Or see what others are <a href="/lists">favoriting</a>.)
      </p>
    </div>

    $:popular

    <div class="clearfix"></div>

$if waitlisted:
    <div class="head">
      <h2 class="inline"><a href="/people/openlibrary/lists/OL104411L/Popular">Worth the Wait</a></h2>
      <p class="inline sansserif large collapse">
        &nbsp; Get on the waiting list for hundreds of popular books
      </p>
    </div>

    $:waitlisted
