$code:
    def random_link(links):
        link = random.choice(links.split())
        href, label = link.split("-")
        return '<a href="%s">%s</a>' % (href, label)
    
<div class="homeSplash" title="Photo by Simon Chetrit"> 
    <div class="homeBlurb"> 
        <p id="homeBlurb1">Open Library is yours</p> 
        <p id="homeBlurb2">
            to 
            <span id="link1">$:random_link("/borrow-borrow")</span>,
            <span id="link2">$:random_link("/read-read")</span>
            <span class="amp">&amp;</span> 
            <span id="link3">$:random_link("/developers-hack /books/add-build /books/add-describe /lists-collect /lists-compare /search-search /authors-correct /subjects-browse /subjects-explore /subjects-connect")</span>.
        </p> 
    </div> 
</div>

