$def with(subject, description="")

<div class="head">
  <h2 class="inline"><a href="/subjects/$(subject.lower().replace(' ', '_'))">$subject</a></h2>
  $if description:
    <p class="inline sansserif large collapse">$description</p>
</div>

<div class="contentLists results">
    <div class="covers resultsCovers">
        <ul id="carousel-$(subject.lower().replace(' ', '_'))" class="topicalCarousel jcarousel-skin-OL">
        </ul>
    </div>
</div>

<script type="text/javascript">
\$().ready(function() {
  create_subject_carousel("$(subject.lower().replace(' ', '_'))")
});
</script>
