$def with(subject, title="", options=None, description="")

<div class="head">
  <h2 class="home-h2"><a href="/subjects/$(subject.lower().replace(' ', '_'))">$(title or subject)</a></h2>
  <hr/>
  $if description:
    <p class="sansserif large collapse">$description</p>
</div>

<div class="contentLists results">
    <div class="covers resultsCovers">
        <ul id="carousel-$(subject.lower().replace(' ', '_'))" class="topicalCarousel jcarousel-skin-OL">
        </ul>
    </div>
</div>

<script type="text/javascript">
\$().ready(function() {
  var options = $:(json_encode(options));
  create_subject_carousel("$(subject.lower().replace(' ', '_'))", options)
});
</script>
