$def with (test=False)

$code:
  onboarding_cards = [
    {
      "title": _("Read Free Library Books Online"),
      "body": _("Millions of books available through Controlled Digital Lending"),
      "img_src": "/static/images/onboarding/read.png",
      "href": "/help/faq/borrow",
      "ol_link_track": "OnboardingCarouselClick|Read"
    },
    {
      "title": _("Set a Yearly Reading Goal"),
      "body": _("Learn how to set a yearly reading goal and track what you read"),
      "img_src": "/static/images/onboarding/reading_goal.svg",
      "href": "/help/faq/yearly-reading-goals",
      "ol_link_track": "OnboardingCarouselClick|YearlyReadingGoals",
      "attribution": 'Calendar by Oksana Latysheva from the Noun Project'
    },
    {
      "title": _("Keep Track of your Favorite Books"),
      "body": _("Organize your Books using Lists & the Reading Log"),
      "img_src": "/static/images/onboarding/track.png",
      "href": "/help/faq/reading-log",
      "ol_link_track": "OnboardingCarouselClick|Organize"
    },
    {
      "title": _("Try the virtual Library Explorer"),
      "body": _("Digital shelves organized like a physical library"),
      "img_src": "/static/images/onboarding/library_explorer.png",
      "href": "/explore",
      "ol_link_track": "OnboardingCarouselClick|Explore"
    },
    {
      "title": _('Try Fulltext Search'),
      "body": _('Find matching results within the text of millions of books'),
      "img_src": "/static/images/onboarding/fulltext.png",
      "href": "/search/inside",
      "ol_link_track": "OnboardingCarouselClick|FulltextSearch"
    },
    {
      "title": _("Be an Open Librarian"),
      "body": _("Dozens of ways you can help improve the library"),
      "img_src": "/static/images/onboarding/librarian.png",
      "href": "/librarians",
      "ol_link_track": "OnboardingCarouselClick|Librarians"
    },
    {
      "title": _("Volunteer at Open Library"),
      "body": _("Discover opportunities to improve the library"),
      "img_src": "/static/images/onboarding/volunteer.png",
      "href": "/volunteer",
      "ol_link_track": "OnboardingCarouselClick|Volunteer",
      "attribution": "Volunteer by Candy Design from the Noun Project"
    },
    {
      "title": _("Send us feedback"),
      "body": _("Your feedback will help us improve these cards"),
      "img_src": "/static/images/onboarding/feedback.png",
      "href": "https://forms.gle/enM9rGoPBGB89kd4A",
      "ol_link_track": "OnboardingCarouselClick|Feedback",
      "attribution": 'Reading by Chattapat from the Noun Project'
    }
  ]

<div class="carousel-section">
  <div class="carousel-section-header">
    <h2 class="home-h2">$_("Welcome to Open Library")</h2>
  </div>

  <div class="carousel-container">
    <div
      class="carousel carousel--progressively-enhanced"
      data-config="$json_encode({'booksPerBreakpoint': [3, 3, 3, 2, 1, 1]})"
    >
      $for card in onboarding_cards:
        $:render_template('home/onboarding_card', card['title'], card['body'], card['img_src'], card['href'], card['ol_link_track'], attribution=card.get('attribution'))
    </div>
  </div>
</div>
