$def with (test=False)

<div class="carousel-section">
  <div class="carousel-section-header">
    <h2 class="home-h2">$_("Welcome to Open Library")</h2>
  </div>

  <div class="carousel-container">
    <div
      class="carousel carousel--progressively-enhanced"
      id="welcome_carousel"
      data-config="$json_encode(['#welcome_carousel', 3, 3, 2, 1, 1])"
    >
      <div class="carousel__item tutorial__item">
        <a
          href="/help/faq/borrow"
          tabindex="0"
          data-ol-link-track="OnboardingCarouselClick|Read"
        >
          <img src="/static/images/onboarding/read.png" />
          <div class="card__text">
            <p>$_("Read Free Library Books Online")</p>
            <p class="small">$_("Millions of books available through Controlled Digital Lending")</p>
          </div>
        </a>
      </div>

      <div class="carousel__item tutorial__item show-modal">
        <a
          href="/help/faq/reading-log"
          tabindex="0"
          data-ol-link-track="OnboardingCarouselClick|Organize"
        >
          <img src="/static/images/onboarding/track.png" />
          <div class="card__text">
            <p>$_("Keep Track of your Favorite Books")</p>
            <p class="small">$_("Organize your Books using Lists & the Reading Log")</p>
          </div>
        </a>
      </div>

      <div class="carousel__item tutorial__item">
        <a
          href="/explore"
          tabindex="0"
          data-ol-link-track="OnboardingCarouselClick|Explore"
        >
          <img src="/static/images/onboarding/library_explorer.png" />
          <div class="card__text">
            <p>$_("Try the virtual Library Explorer")</p>
            <p class="small">$_("Digital shelves organized like a physical library")</p>
          </div>
        </a>
      </div>

      <div class="carousel__item tutorial__item">
        <a
        href="/search/inside"
        tabindex="0"
        data-ol-link-track="OnboardingCarouselClick|FulltextSearch"
        >
          <img src="/static/images/onboarding/fulltext.png" />
          <div class="card__text">
            <p>$_('Try Fulltext Search')</p>
            <p class="small">$_('Find matching results within the text of millions of books')</p>
          </div>
        </a>
      </div>

      <div class="carousel__item tutorial__item">
        <a
          href="/librarians"
          tabindex="0"
          data-ol-link-track="OnboardingCarouselClick|Librarians"
        >
          <img src="/static/images/onboarding/librarian.png" />
          <div class="card__text">
            <p>$_("Be an Open Librarian")</p>
            <p class="small">$_("Dozens of ways you can help improve the library")</p>
          </div>
        </a>
      </div>

      <div class="carousel__item tutorial__item">
        <a
          href="https://forms.gle/enM9rGoPBGB89kd4A"
          tabindex="0"
          data-ol-link-track="OnboardingCarouselClick|Feedback"
        >
          <img attribution="Reading by Chattapat from the Noun Project" src="/static/images/onboarding/feedback.png" />
          <div class="card__text">
            <p>$_("Send us feedback")</p>
            <p class="small">$_("Your feedback will help us improve these cards")</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
