$def with (page, redirect=None)

$var title: $page.name

$putctx("robots", "noindex,nofollow")

<div id="contentHead">
    $:macros.databarEdit(page)

    <h1>$_("Edit Tag")</h1>
</div>


<div id="contentBody">

    <form id="edittag" name="edit" method="post" action="" class="olform">
        $if redirect:
            <input type="hidden" name="redir" value="$redirect">
        $:render_template("type/tag/tag_form_inputs", page, type_picker_options={"show_picker": False})
        <div class="clearfix"></div>

        <div class="formElement bottom">
            $:macros.EditButtons(comment=page.comment_)
        </div>
    </form>
</div>
