$def with (page)

$var title: $page.name

$putctx("robots", "noindex,nofollow")

<div id="contentHead">
    $:macros.databarEdit(page)

    <h1>$_("Edit Tag")</h1>
</div>


<div id="contentBody">

    <form id="edittag" name="edit" method="post" action="" class="olform">
        $:render_template("type/tag/tag_form_inputs", tag_name=page.name, tag_type=page.tag_type, tag_description=page.tag_description, fkey=page.fkey, body=page.body)
        <div class="clearfix"></div>

        <div class="formElement bottom">
            $:macros.EditButtons(comment=page.comment_)
        </div>
    </form>
</div>
