$def with (page, type_picker_options={"show_picker": True, "subjects_only": False})

$ tag_name = page and page.get('name', '')
<div class="formElement">
    <div class="label">
        <label for="tag_name">$_("Tag Name")</label>*<span class="tip">$_("Required field")</span>
    </div>
    <div class="input">
        <input type="text" name="name" id="tag_name" value="$tag_name" required/>
    </div>
</div>

$ tag_description = page and page.get('tag_description', '')
<fieldset class="major">
    <div class="formElement">
        <div class="label">
            <label for="tag_description">$_("Tag Description")</label>
        </div>
        <div class="input">
            <textarea id="tag_description" name="tag_description" rows="5" cols="80">$tag_description</textarea>
        </div>
    </div>
</fieldset>

$ hidden = 'hidden' if not type_picker_options.get("show_picker") else ''
$ tag_type = page and page.get('tag_type', '')
<div class="formElement $hidden">
    <div class="label"><label for="tag_type">$_("Tag type")</label></div>
    <div class="input">
        <select name="tag_type" id="tag_type" required>
            <option value="">$_("Select")</option>
            $ subjects_only = type_picker_options.get("subjects_only")
            $ tag_types = get_subject_tag_types() if subjects_only else get_tag_types()
            $for t_type in tag_types:
                $if t_type == tag_type:
                    <option value="$t_type" selected>$t_type</option>
                $else:
                    <option value="$t_type">$t_type</option>
        </select>
    </div>
</div>

$if type_picker_options.get("subjects_only", False):
    <div class="sub-type-inputs">
        <div class="sub-type-inputs__input-set" data-input-type="subject">
            $:render_template("type/tag/subject/edit_form_inputs", page)
        </div>
    </div>
$else:
    <div class="sub-type-inputs">
        <div class="sub-type-inputs__input-set" data-input-type="subject">
            $:render_template("type/tag/subject/edit_form_inputs", page)
        </div>
        <div class="sub-type-inputs__input-set" data-input-type="collection">
            $:render_template("type/tag/collection/edit_form_inputs", page)
        </div>
    </div>

    <script>
        const SUBJECT_TYPES = ["subject", "person", "place", "time"]
        const tagTypeSelector = document.querySelector('#tag_type')
        const subTypeInputs = document.querySelectorAll(".sub-type-inputs__input-set")
        const inputContainer = document.querySelector(".sub-type-inputs")
        const inputSetMapping = {}

        function initTagTypeSelector(selector) {
            subTypeInputs.forEach((input) => {
                inputSetMapping[input.dataset.inputType] = input
            })
            inputContainer.textContent = ""

            if (selector.value) {
                if (SUBJECT_TYPES.includes(selector.value)) {
                    showSubTypeInputs('subject')
                } else {
                    showSubTypeInputs(selector.value)
                }
            }

            selector.addEventListener("change", (event) => {
                const selectedValue = event.target.value
                let selectedType
                if (SUBJECT_TYPES.includes(selectedValue)) {
                    selectedType = 'subject'
                } else {
                    selectedType = selectedValue
                }

                hideSubTypeInputs()
                if (selectedType) {
                    showSubTypeInputs(selectedType)
                }
            })
        }

        function hideSubTypeInputs() {
            inputContainer.textContent = ""
        }

        function showSubTypeInputs(inputsToShow) {
            inputContainer.appendChild(inputSetMapping[inputsToShow])
        }

        initTagTypeSelector(tagTypeSelector)
    </script>
