$def with (work, editions=None, edition=None)

$ book_keys = []
<table id="editions" class="editions-table editions-table--progressively-enhanced">
    <thead>
    <tr>
        <th class="title" title=""><a href="javascript:;">$_('Edition')<span></span></a></th>
        <th class="read" title=""><a href="javascript:;">$_('Availability')<span></span></a></th>
    </tr>
    </thead>
    <tbody>
        $ edition_list_start = time()
        $ editions = editions or work.get_sorted_editions()
        $ index_padding = len(str(len(editions)))
        $if edition:
            <tr class="highlight">
                $:render_template("books/edition-sort", edition, 0)
            </tr>
        $for book in editions:           
            $ book_keys.append(book['key'].replace('/books/', ''))
            $ sort_key = str(loop.index0+1).zfill(index_padding)  
            $if not(book==edition): 
                <tr>
                    $:render_template("books/edition-sort", book, sort_key)
                </tr>
        $ edition_list_secs = time() - edition_list_start
    </tbody>
</table>
<div class="small sansserif brown">
  <a href="/books/add?work=$work.key" title="$_('Add another edition of %(work)s', work=work.title)">$_("Add another edition")</a>?
</div>

<!-- Admin only text doesn't need to be translated -->
$if ctx.user and ctx.user.is_admin() and query_param('debug'):
    <div class="clearfix"></div>
    <div class="small sansserif"><span class="adminOnly">Getting list of editions took $("%.2f" % edition_list_secs) seconds</span></div>
