$def with (page)
<div class="head">
    <h2>
    $ungettext("1 edition", "%(count)s editions", page.edition_count, count=page.edition_count)
    $if page.first_publish_year:
        <span class="count">$_("First published in %(year)s", year=page.first_publish_year)</span>
    </h2>
    <div class="small sansserif brown">
      <a href="/books/add?work=$page.key" title="$_('Add another edition of %(work)s', work=page.title)">$_("Add another")</a>?
    </div>
</div>

$ book_keys = []

<table id="editions" class="editions-table editions-table--progressively-enhanced">
    <thead>
    <tr>
        <th class="title" title=""><a href="javascript:;">$_('Edition')<span></span></a></th>
        <th class="read" title=""><a href="javascript:;">$_('Read')<span></span></a></th>
        <th class="locate" title=""><a href="javascript:;">$_('Locate')<span></span></a></th>
        <th class="buy" title=""><a href="javascript:;">$('Buy')<span></span></a></th>
    </tr>
    </thead>
    <tbody>
        $ edition_list_start = time()
        $ editions = page.get_sorted_editions()
        $ index_padding = len(str(len(editions)))
        $for book in editions:
            $ book_keys.append(book['key'].replace('/books/', ''))
            $ sort_key = str(loop.index0).zfill(index_padding)
            <tr>$:render_template("books/edition-sort", book, sort_key)</tr>
        $ edition_list_secs = time() - edition_list_start
    </tbody>
</table>

$# Added here instead of LoanStatus to avoid the js being bound to every item
$# in a work's edition listing

$if ctx.user and ctx.user.is_admin():
    <div class="clearfix"></div>
    <div class="small sansserif"><span class="adminOnly"><a href="/books/merge?$'&'.join('key=' + k for k in book_keys)">$_('Merge editions')</a></span></div>

<!-- Admin only text doesn't need to be translated -->
$if ctx.user and ctx.user.is_admin():
    <div class="clearfix"></div>
    <div class="small sansserif"><span class="adminOnly">Getting list of editions took $("%.2f" % edition_list_secs) seconds</span></div>
