$def with (stats)

<div id="contentHead">
$if stats.region:    
    <h1><a href="/stats/lending">Lending Stats</a> / regions / $stats.region</h1>
$elif stats.library:
    <h1><a href="/stats/lending">Lending Stats</a> / libraries / $stats.library.split("/")[-1]</h1>
$elif stats.collection:
    <h1><a href="/stats/lending">Lending Stats</a> / Collections / $stats.collection</h1>    
$elif stats.subject:
    <h1><a href="/stats/lending">Lending Stats</a> / Subjects / $stats.subject</h1>
$else:
    <h1>Lending Stats</h1>
    <p class="collapse sansserief"><strong class="black">for last 30 days</strong></p>

    Show stats for: <a href="$:changequery(t='30days')">30 days</a> | <a href="$:changequery(t='60days')">60 days</a> | <a href="$:changequery(t='120days')">120 days</a> | <a href="$:changequery(t='99999days')">Entire duration</a>
</div>

$ facet_urls = {"libraries": "/stats/lending/libraries/%(slug)s", "regions": "/stats/lending/regions/%(slug)s", "collections": "/stats/lending/collections/%(slug)s", "subjects": "/stats/lending/subjects/%(slug)s", "places": "/stats/lending/subjects/place:%(slug)s", "people": "/stats/lending/subjects/person:%(slug)s", "time": "/stats/lending/subjects/time:%(slug)s", "popular books": "%(slug)s", "popular authors": "%(slug)s"}

$def render_counts(label, counts, klass="contentQuarter"):
    <div class="$klass">
        <h6 class="black collapse uppercase">$label</h6>
        <div class="unordered">
            <div class="tag">
            $for facet in counts:
                $ url = facet_urls.get(label.lower(), '#') % facet
                <span class="count" style="text-align:right; min-width: 50px;">$commify(facet.count)</span> <a href="$url">$facet.title</a><br/>
            </div>
        </div>
    </div>
    
<div id="contentBody">
    <h2>Loans Per Day</h2>

    <div class="chart">
        <div id="loans-per-day" class="graph">
            <noscript>$_("You need to have JavaScript turned on to see the nifty chart!")</noscript>
        </div>
    </div>

    Total Loans during this period: $commify(stats.get_total_loans())

    <h2>Loans Per Type</h2>
    <div class="left">
        <div id="loans-types-pie-chart" class="pie">
            <noscript>$_("You need to have JavaScript turned on to see the nifty chart!")</noscript>
        </div>
    </div>
    <div class="clearfix"></div>    

    <h2>Loans by Published Year</h2>
    <div class="chart">
        <div id="loans-by-published-year" class="graph">
            <noscript>$_("You need to have JavaScript turned on to see the nifty chart!")</noscript>
        </div>
    </div>

    <br/>
    <br/>

    $if not stats.library and not stats.region:
        <div>
            $:render_counts("Libraries", stats.get_facet_counts("library_s"), klass="contentHalf")
            <div class="contentSpacer"></div>  
            $:render_counts("Regions", stats.get_facet_counts("region_s"), klass="contentHalf")
        </div>
        <div class="clearfix"></div>    

    <div>
        $:render_counts("Popular Books", stats.get_facet_counts("book_key_s"), klass="contentHalf")
        $:render_counts("Popular Authors", stats.get_facet_counts("author_keys_id"), klass="contentHalf")
    </div>
    <div class="clearfix"></div>
    <br/>
    <br/>

    $if not stats.subject:
        <div>
            $:render_counts("Subjects", stats.get_facet_counts("subject_facet"), klass="")
        </div>
        <div class="clearfix"></div>    
    <br/>
    <br/>


    $if not stats.collection:
        <div>
            $:render_counts("Collections", stats.get_facet_counts("ia_collections_id"))
            <div class="contentSpacer"></div>        
            $:render_counts("Scanning Sponsor", stats.get_facet_counts("sponsor_s"))
            <div class="contentSpacer"></div>
            $:render_counts("Contributor", stats.get_facet_counts("contributor_s"))
        </div>
        <div class="clearfix"></div>    



</div>

<script type="text/javascript">
\$(function () {
    \$.plot("#loans-per-day", [
        {
            "data": $:json_encode(stats.get_loans_per_day("bookreader")), 
            "label": "bookreader",
            bars: { "fillColor": "#fffdcd" },
            color: "#fffdcd"
        }, {
            "data": $:json_encode(stats.get_loans_per_day("pdf")), 
            "label": "pdf",
            bars: { "fillColor": "#ffa337" },
            color: "#ffa337"
        }, {
            "data": $:json_encode(stats.get_loans_per_day("epub")), 
            "label": "epub",
            bars: { "fillColor": "#748d36" },
            color: "#748d36"
        }
    ], {
        series: {
            stack: 0,
            bars: {
                show: true,
                align: "left",
                barWidth: 20 * 60 * 60 * 1000,
            },
        },
        grid: {
            hoverable: true,
            show: true,
            borderWidth: 1, 
            borderColor: "#d9d9d9"
        },
        xaxis: {
            mode: "time"
        }, 
        yaxis: {position: "right"},
        legend: {
            show: true,
            position: "nw"
        }
    });

    \$.plot("#loans-types-pie-chart", $:json_encode(stats.get_loans_per_type()), {
        series: {
            pie: {
                show: true,
                label: {
                    show: true,
                }
            }
        },
        legend: {
            show: false
        }
    });

    \$.plot("#loans-by-published-year", [{data: $:json_encode(stats.get_loans_by_published_year())}], {
        series: {
            bars: {
                show: true,
                fill: 0.6,
                color: "#ffa337",
                align: "center"
            },
            points: {
                show: true
            },
            color: "#ffa337"
        },
        grid: {
            /*
            hoverable: true,
            clickable: true,
            autoHighlight: true,
            */
            tickColor: "#d9d9d9",
            borderWidth: 1,
            borderColor: "#d9d9d9",
            backgroundColor: "#fff"
        },
        xaxis: { tickDecimals: 0 },
        yaxis: { tickDecimals: 0 }
        /*
        selection: { mode: "xy", color: "#00636a" },
        crosshair: {
            mode: "xy",
            color: "rgba(000, 099, 106, 0.4)",
            lineWidth: 1
        }
        */
    });
});
</script>

<style type="text/css">
div.graph, div.chart{
    width:838px;
    height:180px;
    float:none;
    background-image:none;
}
div.pie {
    width: 350px;
    height: 250px;
}
.chartYaxis{
    width:180px;
    top:85px;
    left:-85px;
}
</style>