$def with (stats)

$var title: Waiting List Stats

<div id="contentHead">
    <h1>Waiting List Stats</h1>
</div>

<div id="contentBody">
    <h6 class="black collapse uppercase">Popular Books</h6>
    <div class="unordered">
        <div class="tag">
            $for row in stats.get_popular_books():
                <span class="count" style="text-align:right; min-width: 50px;"><strong title="$commify(row.count) people waiting">$commify(row.count)</strong></span> <a href="$row.book.key">$row.book.title</a>
                <br/>
        </div>
    </div>
</div>