$def with (q, solr_result, mapped_results)

$var title: Search Results

<form>
<input type="text" name="q" value="$q"/>
<input type="hidden" name="offset" value="$solr_result.begin"/>
<input type="submit" value="Search"/>
</form>

<p>Results $solr_result.begin to $solr_result.end 
of $solr_result.total_results:<p>

$for p in mapped_results:
    <p><a href="/$p.name">$p.get('title', '')</a></p>

<!-- start with most rudimentary pagination, get this working first
     before doing something better. -->
$if int(offset) > 20: 
    <a href="$changequery(offset=solr_result.begin-20)">previous page</a>
<a href="$changequery(offset=solr_result.end)">next page</a>
