clone_book = None
go = None
move_up = None
save = u'\u0c2d\u0c26\u0c4d\u0c30\u0c2a\u0c30\u0c1a\u0c41'
add_image = None
modify_template = None
move_down = None
page_type = None
type_search = None
edit_summary = None
add_property = None
modify_edit = None
change_type = None
edit_pretitle = None
editing = None
change = None
pretitle = None
preview = None
modify_view = None
history = u'\u0c1a\u0c30\u0c3f\u0c24\u0c4d\u0c30'
edit_title = None
view = u'\u0c1a\u0c42\u0c21\u0c41'
delete = None