$def with (page)

$var title: $page.key

<div id="contentHead">
    <div class="head">
        <h1>$_("This page has been deleted")</h1>
    </div>
</div>

<div id="contentBody">
    <p><strong>$_("What would you like to do?")</strong></p>

    <p><a href="$url(v=page.revision - 1)">$_("View the previous version")</a><br/>
    <a href="$url(m='edit', v=page.revision - 1)">$_("Recreate it")</a><br/>
    <a href="$url(m='history')">$_("See the page's history")</a><br/>
    <a href="javascript:;" onclick="history.go(-1);">$_("Go back where I came from")</a></p>
</div>