$def with (page)

$var title: $page.key

<div id="contentHead">
    <div class="head">
        <h1>$_("This page has been deleted")</h1>
    </div>
</div>

<div id="contentBody">
    <p><strong>$_("What would you like to do?")</strong></p>

    <ul>
      <li><a href="javascript:;" class="go-back-link">$_("Go back where I came from")</a></li>
      $if ctx.user and ctx.user.is_admin():
        <li><a href="$url(v=page.revision - 1)">$_("View the previous version")</a></li>
        <li><a href="$url(m='edit', v=page.revision - 1)">$_("Recreate it")</a></li>
        <li><a href="$url(m='history')">$_("See the page's history")</a></li>
    </ul>
</div>
