/*MAIN TEXT ELEMENTS*/

	body { margin: 0; border: 0; background-color:#fff; font-family: georgia, times new roman, times, serif; font-size:12px; color: #000000; padding : 0; }

	#footer { clear: both; color: #FFF; padding: 0px 0px 0px 10px; background: #625E25; height: 25px; line-height: 25px; vertical-align: middle; }
	#toolbar { background: #625E25; color: #FFF; padding: 0px 0px 0px 10px; height: 25px; }
	#databar-top { clear: both; padding-right: 8px; background-color: #F1EFED; height: 28px; border-bottom: 1px solid #fff; }
	#databar-bottom { clear: both; padding-right: 8px; background-color: #F1EFED; height: 28px; border-bottom: 1px solid #BEBE7C; }
	#databar { clear: both; padding-right: 8px; background-color: #F1EFED; height: 28px; border-bottom: 1px solid #BEBE7C;  vertical-align: middle; }
	.widgetlabel { color: #919070; padding: 8px 8px 4px 8px; font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; float: left; }

	#title { font-size: 28px; color: #919070; padding-top: 4px; padding-bottom: 8px; }
	.pretitle { font-size: 18px; line-height: 24px; color: #666; }
	.posttitle { font-size: 18px; line-height: 8px; color: #666; }

	p.maintext { padding-left: 30px; }
	.statement { font-size: 18px; line-height: 24px; color: #666; margin-bottom: -16px; }
	#statement { font-size: 18px; line-height: 24px; color: #666; margin-bottom: -16px; }
	#error { font-size: 18px; line-height: 24px; color: #900; padding: 20px; }

	.abstract { font-size:22px; line-height:30px; font-style: italic; color: #999; margin: 11px 14px 14px 14px; text-align : left; }
	.maintext { font-size:14px; line-height:20px; margin: 11px 34px 14px 14px; text-align : left; }
	.contenttext { font-size:14px; line-height:20px; margin: 11px 54px 54px 54px; text-align : left; }
	.hometext { font-size:18px; line-height:28px; margin: 11px 14px 14px 14px; text-align : left; }
	#searchtext { font-size:16px; line-height:28px; margin: 11px 60px 14px 225px; text-align : left; color: #000; }

	.newbook { padding: 0px 20px 20px 0px; border: 0px solid #666; margin-left: 170px; margin-right: 225px; }
	.excerpt { padding: 0px 20px 20px 20px; border: 0px solid #666; margin-left: 190px; }
	.quote-left { float: left; }
	.quote-right { float: right; }

	.summary { font-size:14px; line-height:20px; margin: 11px 0px 14px 0px; padding: 10px 0px 6px 14px; text-align : left; background-color : #fff; border-top: 1px solid #cccccc; }
	.content { margin: 11px 14px 14px 0px; font-size:14px; line-height:20px; }

	.subhead { font-size:18px; line-height:20px; margin: 0px 8px 0px 0px; text-align : left; color: #633; }
	.attribution { color: #666; font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; }
	.indent { margin-left: 25px; }
	.indent-user { margin-left: 54px; color: #000; }

	p { margin-right: 40px; }

	th { text-align: right; padding: 6px; }
	td {color: #000}

	hr { border: 0; text-align: center; color: #999; background: #fff url(/static/images/rule.png) no-repeat scroll left; height: 40px; }
	hr:after { content: ""; }

	img { border: none }

	li { }

     H2 { color: #625E25; font-size: 22px; font-weight: normal;  margin-left: 0px }
     H3 { color: #666666; font-size: 16px; line-height: 16px; text-transform: uppercase; }
     H4 { color: #999; font-size: 14px; margin-left: 35px; }

		

/*LINKS*/
	a 					{ color: #A05629; text-decoration: none; }
	a:visited 			{ color: #6F320D; text-decoration: none; }	
	a:hover 			{ text-decoration: underline; }

	a.copyright 			{ color: #999; text-decoration: underline; }
	a.copyright:visited 	{ color: #999; text-decoration: underline; }	
	a.copyright:hover 		{ text-decoration: underline; }

	a.attentionlink 			{ color: #666; text-decoration: underline; }
	a.attentionlink:visited 	{ color: #666; text-decoration: underline; }	
	a.attentionlink:hover 		{ text-decoration: underline; }

	a.navlink 			{ color: #000; text-decoration: underline; }
	a.navlink:visited 	{ color: #000; text-decoration: underline; }	
	a.navlink:hover 		{ text-decoration: underline; }

	a.selected 			{ color: #669; text-decoration: underline; font-weight: bold }
	a.selected:visited 	{ color: #6F320D; text-decoration: underline; font-weight: bold }	
	a.selected:hover 		{ text-decoration: underline; font-weight: bold }

	a.notselected 			{ color: #999; text-decoration: underline; }
	a.notselected:visited 	{ color: #999; text-decoration: underline; }	
	a.notselected:hover 		{ text-decoration: underline; }

	a.optionlink 			{ color: #669; text-decoration: underline; }
	a.optionlink:visited 	{ color: #6F320D; text-decoration: underline; }	
	a.optionlink:hover 		{ text-decoration: underline; }

	a.datalink 			{ color: #6F320D; text-decoration: underline; }
	a.datalink:visited 	{ color: #6F320D; text-decoration: underline; }	
	a.datalink:hover 		{ text-decoration: underline; }

	a.truncate 			{ color: #6F320D; float:left; white-space: nowrap; }
	a.truncate:visited 	{ color: #6F320D; }	
	a.truncate:hover 		{ }

	a.showall 			{ color: #669; text-decoration: underline; }
	a.showall:visited 	{ color: #669; text-decoration: underline; }	
	a.showall:hover 		{ text-decoration: underline; }

	a.author 			{ color: #A05629; text-decoration: underline; }
	a.author:visited 	{ color: #6F320D; text-decoration: underline; }	
	a.author:hover 		{ text-decoration: underline; }

	a.white 			{ color: #fff; text-decoration: underline; }
	a.white:visited 	{ color: #fff; text-decoration: underline; }	
	a.white:hover 		{ text-decoration: underline; }

	a.editlink 			{ color: #900; text-decoration: underline;  }
	a.editlink:visited 	{ color: #900; text-decoration: underline; }	
	a.editlink:hover 		{ text-decoration: underline; }




/*PAGE ELEMENTS*/

	#author-photo {  position: relative; top: 5px; left: 0px; }

	#bibliography { clear: both; }

	#book-art { width: 205px; height: 325px; text-align: center; float: left; padding-top: 21px; padding-left: 13px; background: #fff url(/static/images/front.page.png) top center no-repeat; }
	#book-art-home { width: 205px; height: 285px; text-align: center; float: left; padding-top: 27px; padding-left: 18px; background: #fff url(/static/images/front.page.png) top center no-repeat;}

	#browse-rule { border-top: 1px solid #ccc; }
	.brown { color: #625E25; font-weight: bold; }
	.book-details-italic { font-style: italic; padding: 0px 10px 0px 10px; font-family: georgia; font-size: 14px; color: #999; }

	#content-bottom { margin-right: 40px; margin-left: 40px; clear: left; }
	#contentwrapper{ min-width: 650px; }
	#contentcolumn {
		margin-right: 0px; /*Set right margin to RightColumnWidth*/
		clear: both;
		}

	#header { padding: 35px 0px 10px 20px; }
	#header-fullpage { padding: 20px 0px 20px 30px; }

	.info { padding: 4px 5px 0px 0px; float: left; }

	#nav{
	  float:right;
	  padding: 0px 20px 0px 0px;
	  width: 220px;
	  margin: 0px 0px 30px 30px;
	/*  min-height: 370px; */
	  border-left: 1px solid #fff;
	  border-bottom: 1px solid #fff;
	/*	text-align: center   */
	}

	.navinner { background-color: #F9F8D0; width: 190px; border: 1px solid #ccc; }
	.navinner-padding { background-color: #F9F8D0; width: 178px; padding: 10px 0px 10px 0px; border: 6px solid #fff; text-align: center; }
	.homenav { margin-left: 10px; margin-right: 10px; color: #666; font-style: bold; text-align: left; }

	.navlinks{ float:right; padding-right: 20px; height: 25px; line-height: 25px; vertical-align: middle; }
	.navlinks-top { float:right; padding-right: 20px; height: 25px; line-height: 25px; vertical-align: middle; margin-top: -4px; }
	.navtext{ padding-left: 10px; padding-right: 10px; }
	.navinner-border { border: 1px solid #ccc; width: 190px; }
	.navouter { width: 184px; margin-left: 18px; padding-top: 30px; padding-bottom: 20px; }
	.navouter-biblio { background-color: #F9F8D0; width: 164px; margin-left: 18px; }

	#options { width: 200px; min-height: 190px; margin: 0px 10px 10px 10px; }
	#options-biblio { width: 200px; min-height: 290px; margin: 0px 10px 10px 10px; background-color: #F9F8D0; float: right; }

	#result-container { padding: 0px 0px 10px 30px; }

	#rightcolumn {
		float: left;
		width: 0px; /*Width of right column in pixels*/
		height: 1300px;
		margin-left: -0px; /*Set left margin to -(RightColumnWidth) */
		background: #F9F8D0 url(/static/art/beige.jpg) top center repeat-y;
		border-left: 1px solid #919070;
		z-index: 10000;
		}

	td.optionlink { padding-right: 4px; text-align: right }

	#toc { float:right; padding: 0px 20px 0px 0px; width: 160px; margin: 10px 0px 10px 30px; height: 370px; border-left: 1px solid #ccc; background-color: #F9F8D0; }

	#viewthisbook { position: relative; top: 169px; left: -13px; z-index: 1000px; font-family: georgia; font-size: 14px; color: #999; }
	#viewthisbook-oln { position: relative; margin-left: -20px; top: 5px; left: 0px; }

	.logotype { float:left; font-weight: bold; height: 25px; line-height: 25px; vertical-align: middle; }
	.related { padding: 4px 20px 4px 20px; }


/*FORM CONTAINER*/

	#form-border { border: 1px solid #ccc; padding: 10px; margin: 10px 30px 30px 30px; }
	#browse-body { clear: both; background-color: #F9F8D0; min-height: 300px; margin: 10px; padding: 10px; }
	#biblio-form-body { clear: both; background-color: #F9F8D0; padding: 20px 30px 20px 30px; margin-top: 7px; }
	#biblio-results { width: 600px; min-height: 290px; margin: 0px 10px 10px 10px; float: left; }
	#form-body { clear: both; background-color: #F9F8D0; padding: 20px 30px 20px 30px; margin-top: 10px; }
	#metadata-body { clear: both; background-color: #F9F8D0; padding: 20px 30px 20px 30px; }

	td.button { padding-left: 2px; }
	td.delete { padding: 2px 4px 2px 4px; background-color: #eeeeee; border-bottom: 1px solid #ffffff }




/*HISTORY - RECENT CHANGES*/

	.history { height: 24px; font-size: 12px; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; white-space: nowrap }
	.path { height: 24px; font-size: 12px; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; }
	.displayname { height: 24px; font-size: 12px; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; }
	.buttons { height: 24px; font-size: 12px; padding-left: 24px; border-bottom: 1px solid #fff; white-space: nowrap; ; color: #919070; }
	.compare { height: 24px; font-size: 12px; padding-left: 2px; padding-right: 2px; border-bottom: 1px solid #fff; border-right: 1px solid #fff; }
	.comment { height: 24px; font-size: 12px; padding-left: 24px; padding-right: 2px; border-bottom: 1px solid #fff; color: #919070; }

	.truncatedisplayname { 
	width: 10em;            /* constrain width try 20em */
    height: 1em;            /* constrain height */
    line-height:1em;        /* to be adjusted */
    overflow: hidden;       /* hide excess */
    position:relative;      /* Fix IE missing overflow bug of r.p. span */
    background: #F9F8D0;     
	}

	.truncatepath { 
	width: 20em;            /* constrain width try 20em */
    height: 1em;            /* constrain height */
    line-height:1em;        /* to be adjusted */
    overflow: hidden;       /* hide excess */
    position:relative;      /* Fix IE missing overflow bug of r.p. span */
    background: #F9F8D0;     
	}

	.truncatepath span:after {
    content: "\A0(...)";  /* hex nbsp*/
    color: #919070
    }	

	.truncatedisplayname span:after {
    content: "\A0(...)";  /* hex nbsp*/
    color: #919070
    }	
    

span.ellipsis {
    float: right;      /* shall drop when the link is too long */
    position:relative; /* move after page flow is done */
    margin-top:-1em;   /* adjust */
    z-index:1;         /* higher layer */
    background: #F9F8D0 /* url(/static/images/ellipsis.png) */ ;  
    width:25px;  /* any width will match */
    color: #919070
    }

	.historyheader { height: 24px; font-size: 12px; font-weight: bold; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; }
	.preferenceheader { height: 24px; font-size: 12px; font-weight: bold; padding-right: 14px; }
	.number { padding-left: 12px; padding-right: 9px; height: 24px; width: 24px; font-size: 12px; text-align: right; font-weight: bold; border-bottom: 1px solid #fff;   border-right: 1px solid #fff; color: #919070 }
	.numberhead { padding-left: 12px; padding-right: 9px; height: 24px; width: 24px; font-size: 12px; text-align: center; font-weight: bold; border-bottom: 1px solid #fff; }
	.time { padding-left: 12px; padding-right: 9px; height: 24px; font-size: 12px; text-align: right; font-weight: bold; border-bottom: 1px solid #fff;   border-right: 1px solid #fff; color: #919070;  white-space: nowrap }

	.edit { padding-left: 8px; padding-top: 3px; float: left;}

	#tempmetadata { padding-top: 12px; font-style: italic; height: 24px; margin-bottom: -6px; }
	.tempmetatitle { float: left; padding-right: 3px; }

	.book { margin-left: 70px; float: right; width: 300px; text-align: right; border: 0px solid #666 }
	.book-temp { margin-left: 70px; float: right; width: 300px; text-align: right; padding-right: 1px; border: 0px solid #666 }

	.result-text-home { padding-bottom: 6px; padding-left: 10px; padding-right: 10px; color: #919070; font-size: 16px; line-height: 20px; }

	.formnote { padding-left: 0px; }



/*LOGIN FORM STYLES*/

	.login-message { padding-left: 20px; padding-right: 150px; }	
	#login-form { padding: 20px; background-color: #F7FAEB; min-height: 200px; }
	.login-text { font-size: 13px; line-height: 18px; }
	#login-openid-form { padding: 20px; background-color: #F9F8D0; min-height: 200px; }
	#login-form-border { border: 1px solid #ccc; padding: 10px; }



/*GENERAL FORM STYLES*/

	input { font-family: georgia, times new roman, times, serif; font-size: 12px; }
	select, option, textarea { font-family: georgia, times new roman, times, serif; font-size: 12px; }
	textarea { width: 100%; height: 600px; margin-top: 20px; }

	.search { color: #919070; font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; padding: 0px; }
	.simplesearch { float: right; margin-top: -6px; height: 28px; font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; }
	.simple-search-form { padding-top: 4px; padding-right: 8px; float:left; }
	.go-button { padding-top: 4px; padding-left: 4px; border: 0; background-color: transparent; }

	button { border: 0; background-color: transparent; padding: 4px 0 0 0; 	font-family: georgia, times new roman, times, serif; font-size:12px; } 
	button.white { margin-top: -4px; border: 0; background-color: transparent; padding: 4px 0 0 0; 	font-family: georgia, times new roman, times, serif; font-size:12px; } 


/*ALERT STYLES*/
	#violator { position: absolute; top: 54px; left: 0px; z-index: 100000 } 
	.attention { font-size: 14px; line-height: 20px; color: #666; background-color: #fff; border: 1px solid #fff; padding: 10px; max-width: 410px; margin-left: 223px; margin-bottom: 10px; font-style: italic; }
	.attention-fullpage { font-size: 14px; line-height: 20px; color: #666; background-color: #f8f8f8; border-bottom: 1px solid #ccc; padding: 10px 25px 10px 25px; font-style: italic; padding-left: 180px; }

	.subhead-emphasis-dark { font-size: 14px; line-height: 20px; color: #333; font-weight: bold; }
	.subhead-emphasis { font-size: 14px; line-height: 20px; color: #666; font-style: italic; }
	.attention-emphasis { color: #900;  }

	.copyright { font-size: 14px; line-height: 20px; color: #999; font-style: italic; }
	.copyright-footer { font-size: 14px; line-height: 20px; color: #666; background-color: #f8f8f8; border-top: 1px solid #ccc; padding: 10px 25px 10px 25px; font-style: italic; }
	.wp {  line-height: 16px;	background:#EBF6FF; padding: 10px; border: 1px dotted #336699; margin: 0px 50px 0px 50px }
	.alert {  line-height: 16px; 	background:#ffffcc; padding: 10px; border: 1px dotted #990000; }


/*MAILMAN APPENDED STYLES*/
	table.password { border: 1px solid #ccc; width: 550px; padding: 12px; background-color: #f8f8f8; }
	table.username { border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; width: 100%; padding: 12px; background-color: #f8f8f8; }
	.mailman-option 			{ font-size: 18px; color: #6F320D; padding-bottom: 6px; }