/*MAIN TEXT ELEMENTS*/
body {
	margin: 0;
	border: 0;
	background-color:#fff;
	font-family: georgia, times new roman, times, serif;
	font-size:12px;
	color: #000000;
	padding : 0;
}

p.maintext { padding-left: 30px; }

#title {
	font-size: 28px;
	color: #919070;
	padding-top: 4px;
	padding-bottom: 8px;
}

.title {
	font-size: 28px;
	color: #919070;
	padding-top: 4px;
	padding-bottom: 8px;
}

.pretitle {
	font-size: 18px;
	line-height: 24px;
	color: #666;
}

.posttitle {
	font-size: 18px;
	line-height: 8px;
	color: #666;
}

#statement {
	font-size: 18px;
	line-height: 24px;
	color: #666;
}

#error {
	font-size: 18px;
	line-height: 24px;
	color: #900;
}

.abstract {
	font-size:22px;
	line-height:30px;
	font-style: italic;
	color: #999;
	margin: 11px 14px 14px 14px;
	text-align : left;
}
.maintext {
	font-size:14px;
	line-height:20px;
	margin: 11px 34px 14px 14px;
	text-align : left;
}

.contenttext {
	font-size:14px;
	line-height:20px;
	margin: 11px 54px 54px 54px;
	text-align : left;
}


.hometext {
	font-size:18px;
	line-height:28px;
	margin: 11px 14px 14px 14px;
	text-align : left;
}

.searchtext {
	font-size:16px;
	line-height:28px;
	margin: 11px 60px 14px 14px;
	text-align : left;
	color: #000;
}

.newbook {
	padding: 0px 20px 20px 0px;
	border: 0px solid #666;
	margin-left: 170px;
	margin-right: 225px;
}


.excerpt {
	padding: 0px 20px 20px 20px;
	border: 0px solid #666;
	margin-left: 190px;
}

.quote-left {
	float: left;
}

.quote-right {
	float: right;
}

.summary {
	font-size:14px;
	line-height:20px;
	margin: 11px 0px 14px 0px;
	padding: 10px 0px 6px 14px;
	text-align : left;
	background-color : #fff;
	border-top: 1px solid #cccccc;
/*	border-bottom: 1px solid #cccccc; */
}


.content {
	margin: 11px 14px 14px 0px;
	font-size:14px;
	line-height:20px;
}


.subhead {
	font-size:18px;
	line-height:20px;
	margin: 0px 8px 0px 0px;
	text-align : left;
	color: #633;
}
.attribution {
	color: #666;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}
.indent {
	margin-left: 25px;
}
.indent-user {
	margin-left: 54px;
	color: #000;
}

.arrow-ratings {
	float: left;
}
		
/*LINKS*/
a 					{ color: #A05629; text-decoration: none; }
a:visited 			{ color: #6F320D; text-decoration: none; }	
a:hover 			{ text-decoration: underline; }

a.attentionlink 			{ color: #666; text-decoration: underline; }
a.attentionlink:visited 	{ color: #666; text-decoration: underline; }	
a.attentionlink:hover 		{ text-decoration: underline; }

a.navlink 			{ color: #000; text-decoration: underline; }
a.navlink:visited 	{ color: #000; text-decoration: underline; }	
a.navlink:hover 		{ text-decoration: underline; }

a.selected 			{ color: #669; text-decoration: underline; font-weight: bold }
a.selected:visited 	{ color: #6F320D; text-decoration: underline; font-weight: bold }	
a.selected:hover 		{ text-decoration: underline; font-weight: bold }

a.notselected 			{ color: #999; text-decoration: underline; }
a.notselected:visited 	{ color: #999; text-decoration: underline; }	
a.notselected:hover 		{ text-decoration: underline; }

a.optionlink 			{ color: #669; text-decoration: underline; }
a.optionlink:visited 	{ color: #6F320D; text-decoration: underline; }	
a.optionlink:hover 		{ text-decoration: underline; }

a.datalink 			{ color: #6F320D; text-decoration: underline; }
a.datalink:visited 	{ color: #6F320D; text-decoration: underline; }	
a.datalink:hover 		{ text-decoration: underline; }

a.showall 			{ color: #669; text-decoration: underline; }
a.showall:visited 	{ color: #669; text-decoration: underline; }	
a.showall:hover 		{ text-decoration: underline; }

a.isbnlink 			{ color: #669;  }
a.isbnlink:visited 	{ color: #6F320D;  }	
a.isbnlink:hover 		{ text-decoration: underline; }

a.author 			{ color: #A05629; text-decoration: underline; }
a.author:visited 	{ color: #6F320D; text-decoration: underline; }	
a.author:hover 		{ text-decoration: underline; }

a.review-author 			{ color: #669; text-decoration: underline; }
a.review-author:visited 	{ color: #6F320D; text-decoration: underline; }	
a.review-author:hover 		{ text-decoration: underline; }

a.reviews 			{ color: #A05629; text-decoration: underline; }
a.reviews:visited 	{ color: #6F320D; text-decoration: underline; }	
a.reviews:hover 		{ text-decoration: underline; }

a.white 			{ color: #fff; text-decoration: underline; }
a.white:visited 	{ color: #fff; text-decoration: underline; }	
a.white:hover 		{ text-decoration: underline; }

a.editlink 			{ color: #900; text-decoration: underline;  }
a.editlink:visited 	{ color: #900; text-decoration: underline; }	
a.editlink:hover 		{ text-decoration: underline; }



/*WIDGETS*/
.widgetheader {
	color: #fff;
	background-color: #D2D19E;
	padding: 5px 8px 5px 8px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.widgetsubheader {
	color: #fff;
	background-color: #B0AF82;
	padding: 5px 8px 5px 8px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.widgetlabel {
	color: #919070;
	padding: 8px 8px 4px 8px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	float: left;
}

.navoptiontext {
	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

#widget-databar { 
clear: both;
padding-right: 5px;
padding-top: 5px;
background: #ffffff url(../images/bkg.png) top center repeat-x;
height: 21px;
}

#widget-body { 
clear: both;
background-color: #F9F8D0;
min-height: 300px;
}


#info-body { 
clear: both;
background-color: #F1EFED;
min-height: 300px;
}

.widget-text {
	padding: 20px;
	font-family: georgia, times new roman, times, serif;
	font-size:14px;
}

.tagcloud-text {
	padding: 20px;
	font-family: georgia, times new roman, times, serif;
	font-size:14px;
}

.widgetdata {
	padding: 4px 8px 4px 8px;
}

.widgetbutton {
	padding-top: 3px;
}


/*METADATA*/
.metalabel {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:11px;
	color:#6C6B42;
	padding: 4px 8px 4px 8px;
	white-space: nowrap;
	text-align: right;
}

.browselabel {
/*	font-family: verdana, arial, helvetica, sans-serif;
	font-size:11px;
	color:#6C6B42;  */
	background-color: #ffffff; 
	padding: 4px 8px 4px 8px;
	text-align: right;
}

p.metadata {
	color: #000000;
	padding: 2px 8px 2px 8px;
	margin-right: 20px;
}

.metadata {
	font-size:12px;
	color: #000000;
	padding: 2px 8px 2px 8px;
	font-family: georgia, times new roman, times, serif;	
}

.metahead {
	color: #6C6B42;
	font-weight: bold;
}

.metaentry {
	padding-right: 6px;
}

#metadata {
	background-color: #fff;
	border-top: 1px solid #F1EFED;
	border-bottom: 1px solid #BEBE7C;
	padding: 0px 40px 12px 60px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
/*	float: right;
	width: 200px;  */
	margin-right: 0px; 
	margin-left: 0px; 
	clear: left;
	min-height: 90px;
}

#footnotes {
	background-color: #fff;
	border-top: 1px solid #ccc;  
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
/*	float: right;
	width: 200px;  */
	margin: 11px 14px 14px 14px;
	min-height: 90px;
}




/*CONTAINMENT STYLES*/

#contentwrapper{
	min-width: 650px;
}

#contentcolumn{
margin-right: 0px; /*Set right margin to RightColumnWidth*/
clear: both;
}


#add-cover {
	position: relative;
	top: 80px;
	left: 38px;
	width: 103px;
	height: 100px;
		border: 1px solid #ccc;  
			background-color: #F7FAEB;
}

#book {
	margin-left: -20px;
	height: 275px;
}

#book-art {
	width: 205px;
	height: 325px;
	text-align: center;
	float: left;
	padding-top: 21px;
	padding-left: 13px;
	background: #fff url(../images/front.page.png) top center no-repeat;	
}

#book-art-home {
	width: 205px;
	height: 285px;
	text-align: center;
	float: left;
	padding-top: 27px;
	padding-left: 18px;
	background: #fff url(../images/front.page.png) top center no-repeat;	
}

#insignia {
	width: 275px;
	height: 325px;
	text-align: center;
	float: left;
	padding-top: 27px;
	padding-left: 18px;
	background: #fff url(../images/insignia.png) top center no-repeat;	
}

#book-details {
	position: relative;
	top: 130px;
	left: 0px;
	width: 275px;
	text-align: center;
	padding-top: 37px;
	font-family: georgia;
	font-size: 14px;
	color: #999;
}

#book-details-oln {
	position: relative;
margin-top: -40px;
margin-left: -45px;
	left: 0px;
	width: 275px;
	text-align: center;
	padding-top: 37px;
	font-family: georgia;
	font-size: 14px;
	color: #999;
}

#author-details {
	position: relative;
	left: 0px;
/*	top: 250px; */
	width: 275px;
	text-align: center;
/*	padding-top: 27px;  */
	padding-top: 10px;  
	font-family: georgia;
	font-size: 14px;
	line-height: 22px;
	color: #999;
}

.brown
	{ 
	color: #625E25;
	font-weight: bold;
	}

.book-details-italic
	{ font-style: italic;
	  padding: 0px 10px 0px 10px;
	  	font-family: georgia;
	font-size: 14px;
	color: #999;

	}

#viewthisbook { 
position: relative;
top: 169px;
left: -13px;
z-index: 1000px;
	  	font-family: georgia;
	font-size: 14px;
	color: #999;
}

#viewthisbook-oln { 
position: relative;
margin-left: -20px;
top: 5px;
left: 0px;
}


#author-photo { 
position: relative;
/* top: 169px; */
top: 5px;
left: 0px;
}

#content-left {
	width: 300px;
	float: left;
	padding-left: 20px;
}

#content-right {
	margin-right: 0px;
	margin-left: 40px;
/*	min-height: 380px; */
}

#content-oca {
	margin-right: 40px;
	margin-left: 40px;
	min-height: 380px;
	font-size: 13px;
}


#full-page-text {
	margin-right: 300px;
	margin-left: 40px;
	float: left;
	border: 1px solid #666;
}

#content-home {
	margin-right: 40px;
	margin-left: 40px;
}


#content-bottom {
	margin-right: 40px;
	margin-left: 40px;
	clear: left;
}

#content-fullpage {
	margin-right: 40px;
	margin-left: 40px;
	clear: left;
}

#content-form {
	clear: both;
}

#upload-form {
	clear: both;
	position: absolute;
	top: 354px;
	left: 0px;
}

#bibliography {
	clear: both;
}

#rightcolumn{
float: left;
width: 0px; /*Width of right column in pixels*/
height: 1300px;
margin-left: -0px; /*Set left margin to -(RightColumnWidth) */
background: #F9F8D0 url(../art/beige.jpg) top center repeat-y;
border-left: 1px solid #919070;
z-index: 10000;
}

#footer{
clear: both;
color: #FFF;
padding: 4px 0px 4px 10px;
background: #625E25;
height: 17px;
}

#toolbar { 
background: #625E25;
color: #FFF;
padding: 4px 0px 4px 10px;
height: 17px;
}


#databar-top { 
	clear: both;
	padding-right: 8px;
	background-color: #F1EFED;
	height: 28px;
	border-bottom: 1px solid #fff;
}

#databar-bottom { 
	clear: both;
	padding-right: 8px;
	background-color: #F1EFED;
	height: 28px;
	border-bottom: 1px solid #BEBE7C;
}

#databar { 
	clear: both;
	padding-right: 8px;
	background-color: #F1EFED;
	height: 28px;
	border-bottom: 1px solid #BEBE7C;
}

#header { 
padding: 20px 0px 10px 20px;
}

#header-fullpage { 
padding: 20px 0px 20px 30px;
}


#result-container { 
padding: 0px 0px 10px 30px;
}

.info { 
padding: 4px 5px 0px 0px;
float: left;
}


#toc{
  float:right;
  padding: 0px 20px 0px 0px;
  width: 160px;
  margin: 10px 0px 10px 30px;
  height: 370px;
  border-left: 1px solid #ccc;
  background-color: #F9F8D0;
}

#nav{
  float:right;
  padding: 0px 20px 0px 0px;
  width: 200px;
  margin: 10px 0px 30px 30px;
/*  min-height: 370px; */
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
/*	text-align: center   */
}


.navouter{
  background-color: #F9F8D0;
  width: 164px;
  margin-left: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.navouter-biblio{
  background-color: #F9F8D0;
  width: 164px;
  margin-left: 18px;
}

.navinner{
  background-color: #ffffff;
  width: 164px;
}


.navtext{
  padding-left: 10px;
  padding-right: 10px;
/*	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;  */
}

td.optionlink{
  padding-right: 4px;
  text-align: right
}

#options{
  width: 200px;
  min-height: 290px;
  margin: 0px 10px 10px 10px;
  background-color: #F9F8D0;
}

#options-biblio{
  width: 200px;
  min-height: 290px;
  margin: 0px 10px 10px 10px;
  background-color: #F9F8D0;
  float: right;
}

#biblio-results {
  width: 600px;
  min-height: 290px;
  margin: 0px 10px 10px 10px;
  float: left;
}


.navlinks{
  float:right;
  padding-right: 20px;
}

.logotype{
  float:left;
  font-weight: bold;
}

.related { 
padding: 4px 20px 4px 20px;
}


li {
/*	list-style: none;  */
}




#browsebooks  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }
#tableofcontents  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }	
#pricecheck  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }	
#metadatalayer  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }	
#scanthisbook  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }		
#searchlayer  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }			
#tagcloud  
	{ position: absolute; top: 81px; left: 280px; height: 376px; margin-right: 10px; border: 1px solid #ccc; }				
	
	



#browse-related {
	padding-top: 8px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: 2px solid #fff;
}

#browse-rule {
border-top: 1px solid #ccc;

}

#form-border {
border: 1px solid #ccc;
padding: 10px;
margin: 10px 30px 30px 30px;
}

#browse-body { 
clear: both;
background-color: #F9F8D0;
min-height: 300px;
margin: 10px;
padding: 10px;
}

#biblio-form-body { 
clear: both;
background-color: #F9F8D0;
padding: 20px 30px 20px 30px;
margin-top: 10px;
/* width: 670px; */
}

#form-body { 
clear: both;
background-color: #F9F8D0;
padding: 20px 30px 20px 30px;
margin-top: 10px;
}

#metadata-body { 
clear: both;
background-color: #F9F8D0;
padding: 20px 30px 20px 30px;
}

td.button { padding-left: 2px; }
td.delete { padding: 2px 4px 2px 4px; background-color: #eeeeee; border-bottom: 1px solid #ffffff }






.navinner-search {
  background-color: #ffffff;
  width: 144px;
  padding: 10px;
}
.refinesearch { font-weight: bold }
.refineindent { padding-left: 15px; }


.attention { color: #666; background-color: #eee; border: 1px solid #ccc; padding: 10px; max-width: 390px; }

.history { height: 24px; font-size: 12px; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; white-space: nowrap }
.compare { height: 24px; font-size: 12px; padding-left: 2px; padding-right: 2px; border-bottom: 1px solid #fff; border-right: 1px solid #fff; }
.comment { height: 24px; font-size: 12px; padding-left: 24px; padding-right: 2px; border-bottom: 1px solid #fff; color: #919070; }

.historyheader { height: 24px; font-size: 12px; font-weight: bold; padding-left: 24px; padding-right: 14px; border-bottom: 1px solid #fff; }

.number { padding-left: 12px; padding-right: 9px; height: 24px; width: 24px; font-size: 12px; text-align: right; font-weight: bold; border-bottom: 1px solid #fff;   border-right: 1px solid #fff; color: #919070 }
.numberhead { padding-left: 12px; padding-right: 9px; height: 24px; width: 24px; font-size: 12px; text-align: center; font-weight: bold; border-bottom: 1px solid #fff; }

.search {
	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
}


.simplesearch {
	float: right;
	height: 28px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

.edit {
	padding-left: 8px;
	padding-top: 3px;
	float: left;
}

#tempmetadata {
	padding-top: 12px;
	font-style: italic;
	height: 24px;
	margin-bottom: -6px;
}

.tempmetatitle {
	float: left;
	padding-right: 3px;
}


input { 
	font-family: georgia, times new roman, times, serif;
	font-size: 12px;
}

select, option, textarea { 	
	font-family: georgia, times new roman, times, serif;
	font-size: 12px;
	}
	
.login-message { padding-left: 20px; padding-right: 150px; }	

.book { margin-left: 70px; float: right; width: 300px; text-align: right; border: 0px solid #666 }
.book-temp { margin-left: 70px; float: right; width: 300px; text-align: right; padding-right: 1px; border: 0px solid #666 }

#oca_edit {
	position: absolute;
	top: 130px;
	left: 50px;
	z-index: 1000;
	padding-left: 6px;
}
#mag {
	position: absolute;
	top: 120px;
	left: 50px;
	z-index: 1000;
	padding-left: 6px;
}
#mag-icon-on {
	position: relative;
	top: 0px;
	left: 0px;	
	padding-left: 6px;
}
#mag-icon-off {
	position: relative;
	top: 0px;
	left: 0px;	
	z-index: 1000;
	padding-left: 6px;
}

#page-nav {
	float: right;
	z-index: 1000;
	padding-left: 6px;
}


#edit-button {
	z-index: 1000;
	position: absolute;
	top: 92px;
	left: 60px;		
}


#save-button {
	z-index: 1000;
	position: absolute;
	top: 92px;
	left: 60px;		
}

#hide_me {}

.note { background-color: #900; color: #fff; padding-left: 4px; padding-right: 4px;}

.edited { background-color: #ccc; color: #000; padding-left: 4px; padding-right: 4px;}

.result-text-home {
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: #919070;
	font-size: 16px;
	line-height: 20px;
}

.result-item-user {
	border-top: 1px solid #ccc;
	border-bottom: 0px solid #ccc; 
	padding: 6px 10px 6px 10px;
	color: #000;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
	clear: left;
}


a.advancedsearch 			{ color: #999; text-decoration: underline; }
a.advancedsearch:visited 	{ color: #999; text-decoration: underline; }	
a.advancedsearch:hover 		{ text-decoration: underline; }

.formnote { padding-left: 0px; }

#coverbelt {
	border: 1px solid #ccc;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: #919070;
	font-size: 13px;
	line-height: 20px;
	background-color: #f8f8f8;
	margin-left: 250px;
}

#login-form {
  padding: 20px;
  background-color: #F7FAEB;
  min-height: 200px;
}

.login-text {
	font-size: 13px;
	line-height: 18px;
}

#login-openid-form {
  padding: 20px;
  background-color: #F9F8D0;
  min-height: 200px;
}

#login-form-border {
border: 1px solid #ccc;
padding: 10px;
}

#header-view { padding-bottom: 10px; }

.thumbnail-cs { padding-bottom: 10px; border-top: 1px solid #ccc; }

td {color: #000}



/*SEARCH RESULTS ELEMENTS*/

a.result 			{ font-size: 18px; color: #669; }
a.result:visited 	{ font-size: 18px; color: #6F320D; }	
a.result:hover 		{ font-size: 18px; }

a.resultlink 			{ color: #919070; text-decoration: underline; }
a.resultlink:visited 	{ color: #919070; text-decoration: underline; }	
a.resultlink:hover 		{ text-decoration: underline; }

a.editionlink 			{ color: #625E25; text-decoration: underline; font-size: 11px; }
a.editionlink:visited 	{ color: #625E25; text-decoration: underline; font-size: 11px;  }	
a.editionlink:hover 		{ text-decoration: underline; font-size: 11px;  }


a.fulltext 			{ color: #625E25; text-decoration: underline; font-size: 11px; }
a.fulltext:visited 	{ color: #625E25; text-decoration: underline; font-size: 11px;  }	
a.fulltext:hover 		{ text-decoration: underline; font-size: 11px;  }


.result-text {
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
}


.result-small { 
	margin-left: 10px; 
	margin-top: 2px; 
	line-height: 20px;
	}


.arrow-search {
	padding-right: 14px;
}

.search {
	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

#search-results {
	margin-right: 0px;
	margin-left: 40px;
	float: left;
	width: 900px;
}

#search-nav{
  float:right;
  padding: 0px 20px 0px 0px;
  width: 200px;
  margin: 10px 0px 10px 30px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}

#search-form{
  padding: 10px 0px 0px 0px;
  margin: 10px 0px 10px 30px;
  min-height: 370px;
  width: 92%;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

#search-form-center{
  margin: 0px 260px 10px 220px;
  padding: 20px;
  background-color: #F7FAEB;
}


#search-form-right{
  margin: 0px 10px 10px 0px;
  background-color: #F9F8D0;
  float: right;
  position: absolute;
  top: 143px;
  left: 790px;
  height: 529px;  
}

.search-form-title{
	white-space: nowrap;
	text-align: right;
	color: #919070;
	font-size: 14px;
}

.search-form-result{
	white-space: nowrap;
	color: #919070;
	font-size: 14px;
	}
	
.pagination { 	border-top: 1px solid #ccc;  margin-bottom: 0px; 	background-color: #fff; }

.paginate { 
	padding-right: 5px;
	padding-top: 4px;
	color: #999;
	height: 20px;
}

.moreresults{
	text-align: right;
	padding-left: 0px;
	padding-right: 13px;
	padding-top: 4px;
	color: #666;
	float: left;
	width: 100px; 
	}

.number{
	text-align: right;
	padding-right: 10px;
	color: #666;
	float: left;
	width: 15px;
}


.result-item {
	border-top: 1px solid #ccc;  
/*	border-bottom: 1px solid #ccc; */
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
	clear: left;
}

.result-item-fulltext {
/*	border-top: 1px solid #ccc;  */
/*	border-bottom: 1px solid #ccc; */
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
	clear: left;
}

.result-item-author {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ccc; 
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
}

.result-item-author-top {
	border-bottom: 1px solid #fff;
	padding: 0px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	min-height: 72px;
	background-color: #fff;
}

.result-selected {
	border: 1px solid #ccc;
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	background-color: #f8f8f8;
	min-height: 62px;
}

.cover {
	float: left;
	height: 60px;	
/*	text-align: center  */
	padding-right: 12px;
	}

.bookmark {
	float: left;
	width: 20px;
	height: 60px;	
/*	text-align: center  */
	}

.bookmarks { padding-bottom: 6px; padding-left: 22px; padding-top: 3px; color: #000; line-height: 16px; background-color: #eee; 	border-top: 1px solid #ccc;  }

.expand{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 40px 6px 90px;
	margin-bottom: 9px;
	color: #919070;
	font-size: 14px;
	line-height: 18px;
	background-color: #F7FAEB;
}


.slider{
	background: #ffffff url(../buttons/slider.png) top center no-repeat;
	width: 20px;
}
	


#search-options{
  width: 200px;
  min-height: 370px;
  margin: 0px 10px 10px 10px;
  background-color: #F9F8D0;
  float: left;
  height: 529px;  
}

#navinner-search {
  background-color: #ffffff;
  width: 144px;
  padding: 10px;
}

#fulltext-search {
  background-color: #ffffff;
  width: 344px;
  padding: 10px;
}

.searchterm { background-color: #ffc;  color: #6F320D; }
.searchterm-oca { background-color: #6F320D;  color: #fff; padding-left: 3px; padding-right: 3px; }

.refinesearch { font-weight: bold }
.refineindent { padding-left: 15px; line-height: 16px; }
.editions { padding-top: 6px; padding-bottom: 6px; }

.go-button { padding-top: 4px; padding-left: 4px; }
.simple-search-form { padding-top: 4px; padding-right: 8px; float:left; }

#user-header{
  padding: 5px;
  background-color: #F7FAEB;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}






th { text-align: right; padding: 6px; }

textarea { width: 100%; height: 600px; margin-top: 20px; }

p { margin-right: 40px; }