<!--
body { margin: 0 8px; }

#metaMgrNav {
  margin: 0.5em 0;
  padding: 8px 4px;
  background: darkkhaki; /* #bdb76b; */
  background: #CCCC99;   /* archive sub-heading */
  background: #eeeecc;
  border-top: 1px solid dimgray;
}

#fieldSelectElement {
  margin:  1em;
  padding: 1em;
}

#dbqResults,#srchResults,#updResults {
  margin: 0;
  padding: 4px;
  background:lavender;
  /* border: 1px solid silver; */
  border-top: 1px solid cornflowerblue;
}

#opForm,#queryForm {
  margin: 0;
  padding: 4px;
  background: Whitesmoke;
  border-top: 1px solid silver;
}

#dbqFormTable {
  margin: 1em 0em;
}

TABLE.inputForm {
  margin: 1em;
  padding: 2px 0px;
  border-collapse: collapse;
  background-color: Ivory;
  border: 1px solid silver;
  font: 10pt Verdana;
}
.inputForm INPUT {  margin:0; padding:0; font: 9pt Verdana; }
.inputForm SELECT { font: 9pt Verdana; }
.inputForm TH { background-color: #e5e5e5; border: 1px solid #696969; }
.inputForm TD { margin:0; padding:2px; border: 1px solid silver; }


table.dbFieldSelect {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid silver;
  font: 8pt verdana,geneva,arial,helvetica,sans-serif;
}
th.dbFieldSelect {
  padding: 4px;
  border: 1px solid dimgray;
  background: silver;
}
td.dbFieldSelect {
  margin: 0;
  padding: 0 0 0 1em;
  border: 1px solid silver;
}
input.idOp
{
  margin:0;
  padding:0;
  font: 9pt verdana,geneva,arial,helvetica,sans-serif;
}

TABLE.dbq {
  margin: 0px 32px 0px 0px;
  border: 1px solid silver;
  border-collapse: collapse;
  border-top: 1px solid cornflowerblue;
  font: 8pt verdana,geneva,arial,helvetica,sans-serif;
}

TH.dbq { 
  margin:0;
  padding: 0px;
  border: 1px solid #696969;
  background: #e5e5e5;
  text-align: center;
}

TD.dbq  { 
  margin: 0;
  padding: 0px 2px;
  border: 1px solid silver; 
}

TD.dbqf { 
  margin: 0;
  padding: 2px 4px;
  border: 1px solid silver;
}

TR.dbq:hover { 
  background: khaki; 
}

.dbq A { text-decoration: none; }
.dbq A:hover{ text-decoration: underline; }

TABLE.dbqHdgTable { 
  margin:0;
  padding:0; 
  border:none;
  font: 8pt verdana,geneva,arial,helvetica,sans-serif;
}

TR.filter { 
  margin: 0;
  padding: 0;
  background: #eeeedd;
}

TD.filter { 
  margin: 0;
  padding: 0 0 0 0;
  border: 1px solid silver; 
}

input.filterBox,.queryBox {
  width:  100%;
  height: 100%;
  margin: 0px -2px;
/*
  padding: 0px;
  border: 1px solid silver;
  font: 8pt verdana,geneva,arial,helvetica,sans-serif;
*/
  color: purple;
}

input.filterBtn {
  margin: 0;
  padding: 0;
  font: 8pt verdana,geneva,arial,helvetica,sans-serif;
}
input.chkBx {
  margin: 0;
  padding: 0;
}


TABLE.processResults {
  border-collapse: collapse;
  margin: 1em;
  padding: 0;
  font: 8pt Verdana;
} 
.processResults TH { border: 1px solid #696969; background-color: #e5e5e5; }
.processResults TD { border: 1px solid silver; padding: 4px; }

TABLE.statsTable {
  border-collapse: collapse;
  margin: 1em;
  padding: 0;
  border: none;
  font: 8pt Verdana;
}
.statsTable TH { border: 1px solid #696969; background-color:#e5e5e5; }
.statsTable TD { border: 1px solid silver;  }
.totalRow { border-top: 2px solid black; }

TABLE.curateDetailsTable {
  margin: 0;
  padding: 0;
  border: none;
}
.curateDetailsTable TD { margin:0; padding:0; border: none; }

/* redrow class */

.redrow { color:red; }
.redrow a:link { color:red; }
.redrow a:visited { color:red; }
.redrow a:active { color:red; }
.redrow:hover { background:pink; }

/* element class which should also have JavaScript event attributes
 * that toggle() the visibility of 'fullCellText' elements */

.truncCellText { }

/* make an element of this class to toggle() floating visibility, yea! */

.fullCellText  {
  display: none;
  padding: 2px;
  position: absolute;
  float: inherit;
  border: 1px solid black;
  background: cornsilk;
  font-size: larger;
}                                                                             

HL {
  padding: 0em 0.1em;
  background-color: khaki;
  font-weight: bold;
}

.infoBarDiv {
  margin: 0;
  padding: 2px 4px;
  background: #efefef;
  border-top:1px solid silver;
  font:8pt verdana,geneva,arial,helvetica,sans-serif;
}


#searchForm {
}

TABLE.searchFormTable {
  background: whitesmoke;
  border-collapse: collapse;
}

.searchFormTable TH { 
  border: 1px solid #999999;
  background: #e5e5e5;
}
.searchFormTable TD { 
  border: 1px solid silver;
}


-->
