/*SEARCH RESULTS LINKS*/



.arrow-search {
	padding-right: 14px;
}

.search {
	color: #919070;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

#search-results {
	margin-right: 0px;
	margin-left: 40px;
	float: left;
	width: 900px;
}


#search-form{
  padding: 10px 0px 0px 0px;
  margin: 10px 0px 10px 30px;
  min-height: 370px;
  width: 92%;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

#search-form-center{
  margin: 0px 260px 10px 220px;
  padding: 20px;
  background-color: #F7FAEB;
}


#search-form-right{
  margin: 0px 10px 10px 0px;
  background-color: #F9F8D0;
  float: right;
  position: absolute;
  top: 143px;
  left: 790px;
  height: 529px;  
}

.search-form-title{
	white-space: nowrap;
	text-align: right;
	color: #919070;
	font-size: 14px;
}

.search-form-result{
	white-space: nowrap;
	color: #919070;
	font-size: 14px;
	}
	
.pagination { padding-top: 12px; border-top: 0px solid #ccc;  margin-bottom: 0px;  }

.paginate { 
	padding-right: 5px;
	padding-top: 4px;
	color: #999;
}

.moreresults{
	text-align: right;
	padding-left: 0px;
	padding-right: 13px;
	padding-top: 4px;
	color: #666;
	float: left;
	width: 100px; 
	}

.number{
	text-align: right;
	padding-right: 10px;
	color: #666;
	float: left;
	width: 15px;
}





.result-selected {
	border: 1px solid #ccc;
	padding: 6px 10px 6px 10px;
	color: #919070;
	font-size: 14px;
	line-height: 20px;
	background-color: #f8f8f8;
	min-height: 62px;
}


.bookmark {
	float: left;
	width: 20px;
	height: 60px;	
/*	text-align: center  */
	border-bottom: 1px solid #ccc;
	}



.result-option {
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	color: #666;
	font-style: italic;
	background-color: #f8f8f8;
	font-size: 14px;
	line-height: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.bookmarks { padding-bottom: 6px; padding-left: 22px; padding-top: 3px; color: #000; line-height: 16px; background-color: #eee; 	border-top: 1px solid #ccc;  }

.expand{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 40px 6px 90px;
	margin-bottom: 9px;
	color: #919070;
	font-size: 14px;
	line-height: 18px;
	background-color: #F7FAEB;
}


	


#navinner-search {
  background-color: #ffffff;
  width: 144px;
  padding: 10px;
}

#fulltext-search {
  background-color: #ffffff;
  width: 344px;
  padding: 10px;
}

.searchterm { background-color: #ffc;  color: #6F320D; }
.searchterm-oca { background-color: #6F320D;  color: #fff; padding-left: 3px; padding-right: 3px; }

.editions { padding-top: 6px; padding-bottom: 6px; }
