/*FACETED RESULTS LINKS*/

.cover { height: 60px; width: 100px; text-align: center; padding-right: 18px; padding-top: 6px; padding-bottom: 6px; border-bottom: 1px solid #ccc; }
.search-outer { background-color: #F9F8D0; margin-left: 18px; margin-right: 18px; margin-bottom: 18px; padding-top: 30px; }
.search-inner { background-color: #ffffff; padding: 10px; }
.result-text { padding-bottom: 6px; padding-left: 10px; padding-right: 10px; color: #919070; font-size: 14px; line-height: 20px; padding-top: 6px; padding-bottom: 6px; border-bottom: 1px solid #ccc; }
.result-item { border-top: 1px solid #ccc; padding: 0px; color: #919070; font-size: 14px; line-height: 20px; min-height: 72px; background-color: #fff; clear: left; }
.result-small { margin-left: 0px; margin-top: 2px; line-height: 20px; }
.refinesearch { font-weight: bold }
.refineindent { padding-left: 15px; line-height: 16px; }
.pagination { font-size: 14px; line-height: 20px; color: #666; background-color: #f8f8f8; border-top: 1px solid #ccc; padding: 10px 25px 10px 25px; font-style: italic; margin-top: 20px; }
.paginate { padding-right: 5px; padding-top: 4px; color: #999; }
.moreresults { text-align: right; padding-left: 0px; padding-right: 13px; padding-top: 4px; color: #666; float: left; width: 130px; }

#search-nav { float:right; padding: 0px 0px 0px 0px; margin: 10px 0px 10px 30px; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; background-color: #ffffff; width: 240px; }
#search-options { margin: 0px 10px 10px 10px; padding-bottom: 10px; background-color: #F9F8D0; }

td.paginate { padding-right: 5px; padding-top: 2px; color: #999; background-color: #eee; height: 20px; }
td.moreresults { text-align: right; padding-left: 5px; padding-right: 5px; padding-top: 2px; color: #666; background-color: #eee; }
td.totalresults { font-size: 14px; line-height: 20px; color: #666; font-style: italic; text-align: right; }




/*SEARCH RESULTS LINKS*/

a.result 			{ font-size: 18px; color: #669; }
a.result:visited 	{ font-size: 18px; color: #6F320D; }	
a.result:hover 		{ font-size: 18px; }

a.resultlink 			{ color: #919070; text-decoration: underline; }
a.resultlink:visited 	{ color: #919070; text-decoration: underline; }	
a.resultlink:hover 		{ text-decoration: underline; }

a.editionlink 			{ color: #625E25; text-decoration: underline; font-size: 11px; }
a.editionlink:visited 	{ color: #625E25; text-decoration: underline; font-size: 11px;  }	
a.editionlink:hover 		{ text-decoration: underline; font-size: 11px;  }

a.fulltext 			{ color: #625E25; text-decoration: underline; font-size: 11px; }
a.fulltext:visited 	{ color: #625E25; text-decoration: underline; font-size: 11px;  }	
a.fulltext:hover 		{ text-decoration: underline; font-size: 11px;  }







