$var title: $_("The Open Library Team")
$ _x = ctx.setdefault('cssfile', 'team')

<div class="teamPage__top">
	<h1 class="teamPageroledescription__role">The Open Library Team</h1>
	<p class="teamPageTagLine">
		Open Library is made possible because of a dedicated team of staff and
		over 100 volunteers from around the globe.
		<a href="https://openlibrary.org/volunteer"> Want to join us?</a>
	</p>
	<div class="teamPage__selectElements">
		<div class="selectElement">
			<label for="roles">Role:</label>
			<select name="roles" id="role">
				<option value="All" selected>All</option>
				<option value="staff">Staff</option>
				<option value="fellow">Fellows</option>
				<option value="volunteer">Volunteers</option>
			</select>
	    </div>
		<div>
			<label for="departments">Department:</label>
			<select name="departments" id="department">
				<option value="All" selected>All</option>
				<option value="communication">Communications</option>
				<option value="design">Design</option>
				<option value="engineer">Engineering</option>
				<option value="librarian">Librarianship</option>
			</select>
		</div>
	</div>
</div>

<div class="teamCards_container"></div>

<div class="teamPage__bottom">
	<p class="teamPageTagLine">
		If you volunteer with Open Library and would like to be listed as part
		of the team, then complete the
		<a href="https://forms.gle/zPyuXGf4Bg6RzbDA7"
			>Open Library team information form</a
		>.
	</p>
</div>
