$var title: $_("The Open Library Team")
<link
	href="$static_url('build/page-team.css')"
	rel="stylesheet"
	type="text/css" />

<div class="teamPage__top">
	<h1 class="teamPageroledescription__role">The Open Library Team</h1>
	<p class="teamPageTagLine">
		Open Library is made possible because of a dedicated team of staff and over
		100 volunteers from around the globe.
		<a href="https://openlibrary.org/volunteer"> Want to join us?</a>
	</p>
</div>

<div class="container">
	<!-- Alphabetical by last name -->

	<!-- -----------AAA----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Mike Ang</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">BookReader Engineer</h3>
				<p class="description__bio">
					An engineer by trade and an artist by aspiration, Michael came to the
					Internet Archive to further its goal of Universal Access To All
					Knowledge. In addition to a degree in Computer Engineering from...
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Lance Arthur</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">HTML & Pixel Wrangler</h3>
				<p class="description__bio">
					Lance has been running around virtually naked on the web since 1996.
					His personal site was instrumental in influencing the first generation
					of web designers to explore the limits of web design...
				</p>
			</div>
		</div>
	</div>

	<!-- -----------BBB----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Ariel Backenroth</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Programmer</h3>
				<p class="description__bio">
					Ariel received his degree in Computer Science at Rice University. Most
					recently he comes from Metaweb Technologies where he was the lead
					engineer on the user interface for freebase...
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""> <h2 class="description__name">Edward Betts</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Chief Data Munger</h3>
				<p class="description__bio">
					Edward has a long and storied career importing data for everything
					from travel agencies to television networks. And, when he comes home
					at night, he has a side project: importing data...
				</p>
			</div>
		</div>
	</div>

	<!-- -----------CCC----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Drini Cami</h2></a>
				<h4 class="description__status">Active Team -- Staff</h4>
				<h3 class="description__role">Open Library Lead Software Engineer</h3>
				<p class="description__bio">Test</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Winnie Chen</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">QA Master</h3>
				<p class="description__bio">
					Winnie discovered Mosiac while doing research to finish up a degree in
					Radio/TV from San Francisco State University. Between school, friends,
					and community got sucked into the...
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""> <h2 class="description__name">Brenton Cheng</h2></a>
				<h4 class="description__status">Support Staff</h4>
				<h3 class="description__role">Internet Archive UX Team Manager</h3>
				<p class="description__bio"></p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Simon Chetrit</h2></a>
				<h4 class="description__status">Volunteer</h4>
				<h3 class="description__role">Contributor</h3>
				<p class="description__bio">
					Photographed the image we use on the home page.
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""> <h2 class="description__name">Anand Chitipothu</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Lead Engineer</h3>
				<p class="description__bio">
					Anand received his Masters in Computational Science from the Indian
					Institute of Science before becoming technical leader at Strand Life
					Sciences. Working full-time for Open Library from...
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Jude Coelho</h2></a>
				<h4 class="description__status">Support Staff</h4>
				<h3 class="description__role">Books Digitization & Process Manager</h3>
				<p class="description__bio">
					Jude coordinates and translates the needs and wants of 33 global
					digitization centers into actionable projects for the technical team.
					He also writes code.
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Karen Coyle</h2></a>
				<h4 class="description__status">Advisor</h4>
				<h3 class="description__role">Metadata Czar</h3>
				<p class="description__bio">
					When we asked around for librarians we could trust on this project,
					everyone said the same thing: Karen Coyle. Coyle spent twenty years at
					the California Digital Library at the University...
				</p>
			</div>
		</div>
	</div>

	<!-- -----------DDD----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Giovanni Damiola</h2></a>
				<h4 class="description__status">Support Staff</h4>
				<h3 class="description__role">
					Internet Archive Senior Software Engineer & Former Open Library Tech
					Lead
				</h3>
				<p class="description__bio">
					Lead engineer, Giovanni keeps Open Library up and running.
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">A.S.L. Devi</h2></a>
				<h4 class="description__status">Volunteer</h4>
				<h3 class="description__role">Contributor</h3>
				<p class="description__bio">
					Contributed the AJAX autocomplete and other fun features.
				</p>
			</div>
		</div>
	</div>

	<!-- -----------EEE----------- -->

	<!-- -----------FFF----------- -->

	<!-- -----------GGG----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""> <h2 class="description__name">Daniel Giffin</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Programmer</h3>
				<p class="description__bio">
					After a career moving between computer science academia and computer
					science startups, Giffin was in charge of importing catalog data, as
					he worked for Open Library from New York. He...
				</p>
			</div>
		</div>
	</div>

	<!-- -----------HHH----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Charles Horn</h2></a>
				<h4 class="description__status">Active Team -- Staff</h4>
				<h3 class="description__role">Open Library Lead Data Engineer</h3>
				<p class="description__bio">
					Interested in early printed classical Greek works, Greek typography,
					and classical languages and literature.
				</p>
			</div>
		</div>
	</div>

	<!-- -----------III----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""> <h2 class="description__name">Noufal Ibrahim</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Engineer</h3>
				<p class="description__bio">
					Noufal is a freelance consultant and trainer based out of Bangalore
					who worked on the back end of the website. He is an active member of
					the Python programming language community in India and abroad.
				</p>
			</div>
		</div>
	</div>

	<!-- -----------JJJ----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Allan Jardine</h2></a>
				<h4 class="description__status">Volunteer</h4>
				<h3 class="description__role">Contributor</h3>
				<p class="description__bio">
					Developed dataTables, and helped integrate some new features just for
					Open Library.
				</p>
			</div>
		</div>
	</div>

	<!-- -----------KKK----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""> <h2 class="description__name">Brewster Kahle</h2></a>
				<h4 class="description__status">Support Staff</h4>
				<h3 class="description__role">
					Internet Archive Founder, Open Library Co-Founder
				</h3>
				<p class="description__bio">
					Kahle is the founder of WAIS, Alexa Internet, and Internet Archive,
					which he currently runs. He oversees the project, flies around the
					country promoting it, and cuts (some of) the checks.
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Mek</h2></a>
				<h4 class="description__status">Active Team -- Staff</h4>
				<h3 class="description__role">Open Library Program Lead</h3>
				<p class="description__bio">
					Over 70% of the world lives on less than $10 a day. This means up to
					2/3 of our neighbors can't afford all the resources they need to reach
					their full potential. Because of this, we're letting billions of...
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Raj Kumar</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Engineer</h3>
				<p class="description__bio">
					Raj writes open source software for the book scanning, BookServer,
					Open Library, and Petabox projects.
				</p>
			</div>
		</div>
	</div>

	<!-- -----------LLL----------- -->

	<!-- -----------MMM----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Rebecca Malamud</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Designer</h3>
				<p class="description__bio">
					Malamud is the design genius behind media.org, invisible.net,
					mappa.mundi.net, betterdogfood.com, resource.org, and dozens of other
					brilliantly named and designed sites. She...
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Mike McCabe</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Engineer</h3>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Robert Miller</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Global Director of Books</h3>
				<p class="description__bio">
					Robert manages the global books division. He wishes he had more time
					for pleasure reading!
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Tom Morris</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Engineer</h3>
				<p class="description__bio">
					Software engineer with interests in search, MARC, and
					internationalization. Ex-internationalization lead.
				</p>
			</div>
		</div>
	</div>

	<!-- -----------NNN----------- -->

	<!-- -----------OOO----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">George Oates</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Project Lead, Designer</h3>
				<p class="description__bio">
					George has worked on the web since 1996. Before she joined the Open
					Library team, she was responsible for creating the Flickr Commons
					(flickr.com/commons) and was the award-winning lead...
				</p>
			</div>
		</div>
	</div>

	<!-- -----------PPP----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Werner Popken</h2></a>
				<h4 class="description__status">Volunteer</h4>
				<h3 class="description__role">Contributor</h3>
				<p class="description__bio">
					Contributed to the German translations and testing our i8n user
					interface.
				</p>
			</div>
		</div>
	</div>

	<!-- -----------QQQ----------- -->

	<!-- -----------RRR----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Tommi Raivio</h2></a>
				<h4 class="description__status">Volunteer</h4>
				<h3 class="description__role">Contributor</h3>
				<p class="description__bio">Contributed our review system.</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Alexis Rossi</h2></a>
				<h4 class="description__status">Support Staff</h4>
				<h3 class="description__role">
					Internet Archive, Director of Collections & Open Library Co-Founder
				</h3>
				<p class="description__bio">
					Rossi has worked as a news content manager at ClariNet, the first
					online news aggregator, as editorial director at Alexa Internet, and
					in the collections group at Internet Archive. She...
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Brad Rubenstein</h2></a>
				<h4 class="description__status">Advisor</h4>
				<h3 class="description__role">Project Management Executive Advisor</h3>
				<p class="description__bio"></p>
			</div>
		</div>
	</div>

	<!-- -----------SSS----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""> <h2 class="description__name">Lisa S.</h2></a>
				<h4 class="description__status">Active Team -- Volunteer</h4>
				<h3 class="description__role">Open Library Lead Community Librarian</h3>
				<p class="description__bio">
					Lead Community Librarian <br />Editing questions? <br />Slack me @Lisa
					(aka Sapphire)<br />Or email me via
					https://openlibrary.org/contact.<br />Favorite genres: good books
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Tabish Shaikh</h2></a>
				<h4 class="description__status">Active Team -- Volunteer</h4>
				<h3 class="description__role">
					Open Library Software Engineer & Special Projects
				</h3>
				<p class="description__bio"></p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Solrize</h2></a>
				<h4 class="description__status">Former Developer</h4>
				<h3 class="description__role">Search Programmer</h3>
				<p class="description__bio">
					One day, some other Archive people were trying to write a program
					using rm, the Unix ability to delete things, when they checked its
					main page. They quickly spun around. "Hey Paul,"...
				</p>
			</div>
		</div>
	</div>

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Aaron Swartz</h2></a>
				<h4 class="description__status">In Memoriam</h4>
				<h3 class="description__role">Open Library Co-Founder</h3>

				<p class="description__bio">
					The Open Library wouldn't exist without Aaron. He wrote the backbone
					of the system you see today. He has also worked on specs like RSS,
					startups like Reddit.com, and software...
				</p>
			</div>
		</div>
	</div>

	<!-- -----------TTT----------- -->

	<!-- -----------UUU----------- -->

	<!-- -----------VVV----------- -->

	<!-- -----------WWW----------- -->

	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="description__name">Jessamyn C. West</h2></a>
				<h4 class="description__status">Advisor</h4>
				<h3 class="description__role">Library Specialist</h3>
				<p class="description__bio">
					Jessamyn single-handedly supported the user community by answering
					questions and guiding users to a more enjoyable online book reading
					experience.
				</p>
			</div>
		</div>
	</div>

	<!-- -----------XXX----------- -->

	<!-- -----------YYY----------- -->

	<!-- -----------ZZZ----------- -->
</div>
