<link
	href="$static_url('build/page-team.css')"
	rel="stylesheet"
	type="text/css" />
$var title: $_('The Team')

<h1 class="teamPageTitle">The Open Library Team</h1>
<div class="container">
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="teamCard__description__name">Frodo</h2></a>
				<h3 class="teamCard__description__title">Lead Engineer</h3>
				<p class="teamCard__description__bio">
					Frodo Baggins was a hobbit of the Third Age, the most famous of all
					Hobbits in the histories for his leading role in the Quest of the
					Ring. During this epic quest, he bore the One Ring to Mount Doom.
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="teamCard__description__name">Gollum</h2></a>
				<h3 class="teamCard__description__title">Lead Engineer</h3>
				<p class="teamCard__description__bio">
					Frodo Baggins was a hobbit of the Third Age, the most famous of all
					Hobbits in the histories for his leading role in the Quest of the
					Ring. During this epic quest, he bore the One Ring to Mount Doom.
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="teamCard__description__name">Arwen</h2></a>
				<h3 class="teamCard__description__title">Lead Engineer</h3>
				<p class="teamCard__description__bio">
					Frodo Baggins was a hobbit of the Third Age, the most famous of all
					Hobbits in the histories for his leading role in the Quest of the
					Ring. During this epic quest, he bore the One Ring to Mount Doom.
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href="http://localhost:8080/about/teammember">
					<h2 class="teamCard__description__name">Galadriel</h2></a
				>
				<h3 class="teamCard__description__title">Lead Engineer</h3>
				<p class="teamCard__description__bio">
					Frodo Baggins was a hobbit of the Third Age, the most famous of all
					Hobbits in the histories for his leading role in the Quest of the
					Ring. During this epic quest, he bore the One Ring to Mount Doom.
				</p>
			</div>
		</div>
	</div>
</div>
