<link
	href="$static_url('build/page-teamMember.css')"
	rel="stylesheet"
	type="text/css" />
$var title: $_("Team Member's Name")

<h2 class="teamPageTitle">The Open Library Team</h2>
<h1 class="teamMember__name">Arwen</h1>
<h3 class="teamMember__title">Lead Engineer</h3>
<div class="container">
	<div class="teamMember__sideBar__container">
		<div class="sideBar">
			<div class="sideBar__photoContainer">
				<img
					src="../../../static/images/team-arwen.jpg"
					alt=""
					class="photoContainer__photo" />
			</div>
			<h2>Contact</h2>
			<div class="sideBar__contactInfo">
				<div>
					<p><strong>Email:</strong></p>
					<p>arwen@openlibrary.org</p>
				</div>
				<div>
					<p><strong>Website:</strong></p>
					<p>arwen@openlibrary.org</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bio">
		<p>
			Arwen was born in T.A. 241 and was the younger sister of Elladan and
			Elrohir. From her mother she inherited the Elfstone. As one of the
			half-elven, she shared the right of her father to choose her fate. She
			lived most of her life in Imladris, or in Lothlorien with her
			grandparents.
		</p>
		<p>
			Her father fostered the sons of the Chieftains of the Dunedain, who were
			the exiled Heirs of Isildur. It was in T.A. 2952 when she returned from
			Lothlorien to Rivendell when she met a young foster-son of her father,
			Aragorn. The young Dunadan fell in love when he first saw her, though as
			he was still a youth, Arwen did not return his love.
		</p>
		<p>
			Elrond insisted that Arwen could not marry Aragorn until he became king of
			both Gondor and Arnor. Whether Arwen chose to marry him and become mortal,
			or remain with her kin as one of the Elves, she would be parted from
			either Elrond or Aragorn forever.
		</p>
		<p>
			It was not until they met many years later in Lorien that Arwen returned
			Aragorn's love, and in T.A. 2980 they plighted their troth on Cerin
			Amorth. Aragorn gave her the Ring of Barahir.
		</p>
	</div>
</div>
