<link
	href="$static_url('build/page-team.css')"
	rel="stylesheet"
	type="text/css" />
$var title: $_('The Team')

<div class="teamPageTop">
	<h1 class="teamPageTitle">The Open Library Team</h1>
	<p class="teamPageTagLine">
		Open Library is made possible because of a dedicated team of staff and over
		100 volunteers from around the globe. Want to join us?
	</p>
</div>
<h2 class="teamPage__inMemorySectionTitle">In Memory Of</h2>
<div class="container">
	<div class="teamCard__inMemoryContainer">
		<div class="teamCard__inMemory">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<h2 class="teamCard__inMemory__name">Aaron Swartz</h2>
				<h3 class="teamCard__inMemory__title">Open Library Co-Founder</h3>
				<p class="teamCard__inMemory__bio">
					The Open Library wouldn't exist without Aaron. He wrote the backbone
					of the system you see today. He has also worked on specs like RSS,
					startups like Reddit.com, and software projects like web.py. He worked
					from San Francisco to architect the site, put together the team, and
					attempt to keep things organized, and we couldn't have come this far
					without his crucial expertise.
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Active Team -->
<h2 class="teamPageSectionTitle">Active Team</h2>
<div class="container">
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="teamCard__description__name">Mek</h2></a>
				<h3 class="teamCard__description__title">
					Open Library Program Lead<br />
					(Staff)
				</h3>
				<p class="teamCard__description__bio">
					Over 70% of the world lives on less than $10 a day. This means up to
					2/3 of our neighbors can't afford all the resources they need to reach
					their full potential. Because of this, we're letting billions of...
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="teamCard__description__name">Charles Horn</h2></a>
				<h3 class="teamCard__description__title">
					Open Library Lead Data Engineer <br />
					(Staff)
				</h3>
				<p class="teamCard__description__bio">
					Interested in early printed classical Greek works, Greek typography,
					and classical languages and literature.
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href="http://localhost:8080/about/teammember"
					><h2 class="teamCard__description__name">Drini Cami</h2></a
				>
				<h3 class="teamCard__description__title">
					Open Library Lead Software Engineer<br />
					(Staff)
				</h3>
				<p class="teamCard__description__bio">Test</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href="http://localhost:8080/about/teammember">
					<h2 class="teamCard__description__name">Lisa S.</h2></a
				>
				<h3 class="teamCard__description__title">
					Open Library Lead Community Librarian <br />
					(Volunteer)
				</h3>
				<p class="teamCard__description__bio">
					Lead Community Librarian <br />Editing questions? <br />Slack me @Lisa
					(aka Sapphire)<br />Or email me via
					https://openlibrary.org/contact.<br />Favorite genres: good books
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""
					><h2 class="teamCard__description__name">Tabish Shaikh</h2></a
				>
				<h3 class="teamCard__description__title">
					Open Library Software Engineer & Special Projects <br />
					(Volunteer)
				</h3>
				<p class="teamCard__description__bio"></p>
			</div>
		</div>
	</div>
</div>

<!-- Advisors -->
<h2 class="teamPageSectionTitle">Advisors</h2>
<div class="container">
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<h2 class="teamCard__description__name">Brad Rubenstein</h2>
				<h3 class="teamCard__description__title">
					Project Management Executive Advisor
				</h3>
				<p class="teamCard__description__bio"></p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<h2 class="teamCard__description__name">Jessamyn C. West</h2>
				<h3 class="teamCard__description__title">Library Specialist</h3>
				<p class="teamCard__description__bio">
					Jessamyn single-handedly supported the user community by answering
					questions and guiding users to a more enjoyable online book reading
					experience.
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href="http://localhost:8080/about/teammember"
					><h2 class="teamCard__description__name">Karen Coyle</h2></a
				>
				<h3 class="teamCard__description__title">Metadata Czar</h3>
				<p class="teamCard__description__bio">
					When we asked around for librarians we could trust on this project,
					everyone said the same thing: Karen Coyle. Coyle spent twenty years at
					the California Digital Library at the University...
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Supporting Staff -->
<h2 class="teamPageSectionTitle">Supporting Staff</h2>
<div class="container">
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="teamCard__description__name">Alexis Rossi</h2></a>
				<h3 class="teamCard__description__title">
					Internet Archive, Director of Collections & Open Library Co-Founder
				</h3>
				<p class="teamCard__description__bio">
					Rossi has worked as a news content manager at ClariNet, the first
					online news aggregator, as editorial director at Alexa Internet, and
					in the collections group at Internet Archive. She...
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<h2 class="teamCard__description__name">Jude Coelho</h2>
				<h3 class="teamCard__description__title">
					Books Digitization & Process Manager
				</h3>
				<p class="teamCard__description__bio">
					Jude coordinates and translates the needs and wants of 33 global
					digitization centers into actionable projects for the technical team.
					He also writes code.
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<h2 class="teamCard__description__name">Brenton Cheng</h2>
				<h3 class="teamCard__description__title">
					Internet Archive UX Team Manager
				</h3>
				<p class="teamCard__description__bio"></p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<h2 class="teamCard__description__name">Brewster Kahle</h2>
				<h3 class="teamCard__description__title">
					Internet Archive Founder, Open Library Co-Founder
				</h3>
				<p class="teamCard__description__bio">
					Kahle is the founder of WAIS, Alexa Internet, and Internet Archive,
					which he currently runs. He oversees the project, flies around the
					country promoting it, and cuts (some of) the checks.
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<h2 class="teamCard__description__name">Giovanni Damiola</h2>
				<h3 class="teamCard__description__title">
					Internet Archive Senior Software Engineer & Former Open Library Tech
					Lead
				</h3>
				<p class="teamCard__description__bio">
					Lead engineer, Giovanni keeps Open Library up and running.
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Former Developers and Alumni -->
<h2 class="teamPageSectionTitle">Former Developers & Alumni</h2>
<div class="container">
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="teamCard__description__name">Mek</h2></a>
				<h3 class="teamCard__description__title">
					Open Library Program Lead<br />
					(Staff)
				</h3>
				<p class="teamCard__description__bio">
					Over 70% of the world lives on less than $10 a day. This means up to
					2/3 of our neighbors can't afford all the resources they need to reach
					their full potential. Because of this, we're letting billions of...
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-gollum.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""><h2 class="teamCard__description__name">Charles Horn</h2></a>
				<h3 class="teamCard__description__title">
					Open Library Lead Data Engineer <br />
					(Staff)
				</h3>
				<p class="teamCard__description__bio">
					Interested in early printed classical Greek works, Greek typography,
					and classical languages and literature.
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-arwen.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href="http://localhost:8080/about/teammember"
					><h2 class="teamCard__description__name">Drini Cami</h2></a
				>
				<h3 class="teamCard__description__title">
					Open Library Lead Software Engineer<br />
					(Staff)
				</h3>
				<p class="teamCard__description__bio">Test</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-galadriel.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href="http://localhost:8080/about/teammember">
					<h2 class="teamCard__description__name">Lisa S.</h2></a
				>
				<h3 class="teamCard__description__title">
					Open Library Lead Community Librarian <br />
					(Volunteer)
				</h3>
				<p class="teamCard__description__bio">
					Lead Community Librarian <br />Editing questions? <br />Slack me @Lisa
					(aka Sapphire)<br />Or email me via
					https://openlibrary.org/contact.<br />Favorite genres: good books
				</p>
			</div>
		</div>
	</div>
	<div class="teamCard__container">
		<div class="teamCard">
			<div class="teamCard__photoContainer">
				<img
					class="teamCard__photo"
					src="../../../static/images/team-frodo.jpg"
					alt="" />
			</div>
			<div class="teamCard__description">
				<a href=""
					><h2 class="teamCard__description__name">Tabish Shaikh</h2></a
				>
				<h3 class="teamCard__description__title">
					Open Library Software Engineer & Special Projects <br />
					(Volunteer)
				</h3>
				<p class="teamCard__description__bio"></p>
			</div>
		</div>
	</div>
</div>
