name: pr_update_labeler
on:
  pull_request_target:
    types:
      - synchronize
    branches:
      - master
jobs:
  labeler:
    if: github.repository_owner == 'internetarchive'
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/labeler@v6
        with:
          sync-labels: true
