name: python_tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    paths-ignore:
      - '.github/workflows/javascript_tests.yml'
      - 'vendor/js/**'
      - 'package*.json'
      - '**.js'
      - '**.vue'
      - '**.less'
      - '**.css'
      - '**.md'
permissions:
  contents: read

jobs:
  python_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml
      - uses: actions/cache@v5
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-venv-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml', 'uv.lock') }}
      - if: "contains(matrix.python-version, '-dev')"
        run: |
          sudo apt-get update
          # https://lxml.de/installation.html#requirements
          sudo apt-get install -y libxml2 libxslt-dev
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        env:
          UV_SYSTEM_PYTHON: 1
          PYTHONPATH: "/openlibrary:/openlibrary/vendor/infogami:$PYTHONPATH"
        run: |
          uv sync --all-groups
      - run: make git
      - name: Run make i18n
        run: |
          uv run make i18n
          uv run make test-i18n
      - name: Run tests
        run: |
          git fetch --no-tags --prune --depth=1 origin master
          uv run make test-py
          uv run sh scripts/run_doctests.sh
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
